{
 "openapi": "3.0.3",
 "info": {
  "title": "Accounts Payable",
  "version": "1",
  "description": "Accounts Payable (AP) enables you to keep track of your vendor accounts and bills. Basically, you enter and edit your vendor transactions, and then pay them."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Accounts_Payable_Account labels",
   "x-displayName": "Account labels",
   "description": "Account labels give accounts more descriptive names that are displayed anywhere the accounts are referenced in the product and in reports. Account labels is an optional feature that must be enabled when configuring Accounts Payable."
  },
  {
   "name": "Accounts_Payable_Adjustments",
   "x-displayName": "Adjustments",
   "description": "Accounts payable adjustments represent vendor debit or credit memo transactions that increase or decrease the amount owed to a vendor. They help keep vendor balances accurate when corrections, credits, write-offs, or other adjustments are needed outside the standard bill process.\n\n**When to use**: Use this object when an integration needs to create, retrieve, or manage adjustments to vendor balances without changing the original bill. It is useful for workflows that apply credits, record debit memos, correct payable amounts, or synchronize adjustment activity from another system.\n\n**Relationships**: Each adjustment is associated with a vendor and can include adjustment lines that capture the individual transaction details. For VAT-enabled transactions, adjustment tax entries provide tax information for the related adjustment line.\n\n**Lifecycle context**: This object participates in the payable adjustment workflow from draft or submission through posting and payment application. Its state reflects where the adjustment is in processing, such as draft, posted, partially paid, paid, reversed, or selected for payment.  \n"
  },
  {
   "name": "Accounts_Payable_Adjustment lines",
   "x-displayName": "Adjustment lines",
   "description": "Adjustment lines represent the individual line items within an AP adjustment, capturing the specific amounts, accounts, and details that make up the overall adjustment. They provide the transactional breakdown needed for accurate accounting, reporting, and tax handling.\n\n**When to use**: Use this object when creating or retrieving the detailed components of an adjustment, such as distributing amounts across accounts, dimensions, or projects. It is essential when integrations need line-level accuracy for financial processing or reconciliation.\n\n**Relationships**: Adjustment lines belong to a parent accounts payable adjustment and inherit key context such as the associated vendor and transaction header. They can also be linked to tax entries in VAT-enabled environments, which provide tax details tied to each line.\n\n**Lifecycle context**: This object is used during the processing and posting stages of the adjustment workflow, where line-level details are defined, validated, and ultimately posted to the general ledger. It supports downstream reporting by preserving the granular breakdown of each adjustment.  "
  },
  {
   "name": "Accounts_Payable_Adjustment tax entries",
   "x-displayName": "Adjustment tax entries",
   "description": "For VAT enabled transactions, adjustment tax entries represent the tax details associated with an accounts payable adjustment. Tax entries capture how tax amounts are calculated, applied, and reported for the transaction. Tax entries ensure that adjustments reflect accurate tax treatment for compliance and financial reporting.\n\n**When to use**: Use this object when creating or retrieving AP adjustments that include tax impacts, especially in regions or scenarios where tax must be explicitly calculated or itemized. It is also relevant when validating or auditing the tax breakdown applied to an adjustment. Create and maintain adjustment tax entries from the owning [AP adjustment line](accounts-payable.adjustment-line) object.\n\n**Relationships**: Tax entries belong to an owning accounts payable adjustment line and define the full financial and tax composition of the transaction. They rely on tax configuration objects such as tax solutions, tax codes, and jurisdictions to determine the correct tax treatment.\n\n**Lifecycle context**: Tax entries are established during adjustment creation and calculation, and they are finalized when the adjustment is posted. They continue to play a role in downstream reporting, compliance, and audit processes.  "
  },
  {
   "name": "Accounts_Payable_Adjustment summaries",
   "x-displayName": "Adjustment summaries",
   "description": "Adjustment summaries are collections of similar transactions grouped together for streamlined processing in Accounts Payable."
  },
  {
   "name": "Accounts_Payable_Advances",
   "x-displayName": "Advances",
   "description": "Advances allow you to make a payment to a vendor in advance of receiving a bill. For example, if a vendor requires an up-front deposit, create an advance payment and post it to an established prepayment account."
  },
  {
   "name": "Accounts_Payable_Advance lines",
   "x-displayName": "Advance lines",
   "description": "Line items in an advance represent transactions such as down payments or deposits."
  },
  {
   "name": "Accounts_Payable_Bills",
   "x-displayName": "Bills",
   "description": "Bills represent Accounts Payable transactions that record amounts owed to a vendor for goods or services. This object is the primary record used to track, manage, and settle amounts owed to vendors within the AP workflow.\n\n**When to use**: Use this object when creating or managing vendor invoices in Sage Intacct, including importing bills from external systems or maintaining payable balances. It is commonly used in integrations that automate invoice ingestion or synchronize purchasing activity into Accounts Payable.\n\n**Relationships**: Bills are associated with vendor records and include one or more bill lines that capture detailed charges, distributions, and tax information. They are also linked to downstream payment and adjustment objects that act on the payable after it is created.\n\n**Lifecycle context**: Participates in the core processing stage of the procure-to-pay lifecycle, starting when a vendor charge is recorded and continuing through approval, payment, and posting. It acts as the central transaction that bridges purchasing activity and payment execution in Accounts Payable."
  },
  {
   "name": "Accounts_Payable_Bill lines",
   "x-displayName": "Bill lines",
   "description": "Bill lines are line items that represent charges for purchased items or services on a bill.\nUse bill lines to record individual amounts, dimensions, and other details that roll up to the bill.\n\nBill lines represent the individual line items within a bill, capturing the detailed charges for goods or services, including amounts, accounts, and dimensional allocations. These records define how the total payable is distributed for accounting and reporting purposes.\n\n**When to use**: Use this object when creating or updating detailed charges on a bill, such as specifying GL accounts, amounts, or dimensions for each expense line. It is commonly used in integrations that need to map itemized invoice data into accurate financial distributions.\n\n**Relationships**: Bill lines are child records of a bill and inherit context such as vendor and transaction details from the parent. They are associated with GL accounts, dimensions, and tax entries, which provide the accounting and compliance details required for each charge.\n\n**Lifecycle context**: Participates in the transaction processing stage by defining the detailed composition of a payable before approval and posting. These records directly influence how expenses are recognized in the general ledger once the bill is processed."
  },
  {
   "name": "Accounts_Payable_Bill tax entries",
   "x-displayName": "Bill tax entries",
   "description": "Bill tax entries represent the tax details associated with a bill line on VAT-enabled transactions, including calculated or specified tax amounts, rates, and applicable tax rules. These records ensure that taxes on vendor charges are accurately captured for compliance and financial reporting. Create and maintain bill tax entries from the owning [AP bill line](accounts-payable.bill-line) object.\n\n**When to use**: Use this object when your integration needs to apply, calculate, or override taxes on bill line items in VAT-enabled environments. It is commonly used when importing invoices that include tax breakdowns or when precise tax control is required.\n\n**Relationships**: Bill tax entries are child records of bill lines and derive context from the parent bill and its associated vendor transaction. They also reference tax configuration objects such as tax details, which define the applicable tax type, rate, and posting behavior.\n\n**Lifecycle context**: Participates in the transaction processing stage by defining tax amounts before the bill is approved and posted. These records directly impact how tax liabilities are calculated, recorded, and ultimately reported in the general ledger and tax filings."
  },
  {
   "name": "Accounts_Payable_Bill summaries",
   "x-displayName": "Bill summaries",
   "description": "Bill summaries are collections of the same type of transactions, grouped together for processing."
  },
  {
   "name": "Accounts_Payable_Amortization templates",
   "x-displayName": "Amortization templates",
   "description": "An amortization template defines the default configuration for amortizing prepaid or deferred expenses across accounting periods, including how and when amounts are recognized. It ensures consistent and automated expense allocation from source transactions.\n\n**When to use**: Use this object to manage the predefined amortization rules that should be applied when creating prepaid expense schedules from AP transactions or other sources. It is useful when your integration needs to standardize and automate expense recognition over time.\n\n**Relationships**: Works with Accounts Payable transactions, such as bills, that supply the source amounts for amortization. It supports the creation of downstream prepaid expense schedules and entries that drive periodic journal postings.\n\n**Lifecycle context**: Used during setup to define amortization behavior before transactions are processed. Its configuration drives the generation, scheduling, and posting of expense recognition entries over time."
  },
  {
   "name": "Accounts_Payable_Joint payees",
   "x-displayName": "Joint payees",
   "description": "The joint payee object tracks AP bills and joint payees to allow for joint check payments. See [Joint check basics](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Constr_JointCheck-basics) in the Sage Intacct Help Center for more information."
  },
  {
   "name": "Accounts_Payable_Payments",
   "x-displayName": "Payments",
   "description": "An AP payment represents a payment transaction applied to one or more outstanding (AP) balances, such as vendor bills, credit adjustments, or advances. This object captures how payment amounts are allocated across specific AP documents, including support for partial payments, discounts, credits, and multi-document settlements.\n\n**When to use**: Use this object when recording new vendor payments, retrieving payment activity, or reconciling outstanding AP balances as part of an automated or manual payment workflow.\n\n**Relationships**: Linked to AP transactions such as bills, debit and credit adjustments, and advances, with line-level payment allocations.\n\n**Lifecycle context**: Captures the payment stage of the AP lifecycle, reducing outstanding liabilities and completing the vendor payment process."
  },
  {
   "name": "Accounts_Payable_Payment lines",
   "x-displayName": "Payment lines",
   "description": "A payment line represents an individual line item within an AP payment. Each payment line records a portion of a payment, enabling detailed tracking of how payment amounts are structured and applied within a payment object.\n\n**When to use**: Use to retrieve or analyze individual entries that make up a payment.\n\n**Relationships**: Owned by the AP payment object and associated with payment details that link to underlying AP transactions.\n\n**Lifecycle context**: Created during payment processing and retained as part of the final payment record for reporting and reconciliation."
  },
  {
   "name": "Accounts_Payable_Payment details",
   "x-displayName": "Payment details",
   "description": "AP payment details represent how a payment is applied to specific accounts payable (AP) transactions, including bills, adjustments, and advances, with optional line-level detail.\n\n**When to use**: Use to retrieve or validate how payment amounts are allocated across AP transactions.\n\n**Relationships**: Owned by the AP payment object and linked to underlying AP transactions and their line items.\n\n**Lifecycle context**: Created during payment processing to define allocation of payment amounts and retained for reconciliation and audit purposes."
  },
  {
   "name": "Accounts_Payable_Recurring bills",
   "x-displayName": "Recurring bills",
   "description": "An AP recurring bill provides the ability to schedule and automate the process of creating AP bills. It is commonly used for regularly-recurring, fixed-amount bills. For more information, refer to [Recurring bills](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_recurring_bills) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Payable_Recurring bill lines",
   "x-displayName": "Recurring bill lines",
   "description": "Line items in a recurring bill represent transactions captured in that recurring bill. For more information, see [Recurring bills](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_recurring_bills) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Payable_Recurring bill tax entries",
   "x-displayName": "Recurring bill tax entries",
   "description": "For VAT enabled transactions, recurring bill lines include tax entries. Create and update tax entries by creating and updating the [recurring-bill-line objects](accounts-payable.recurring-bill-line) that contain the entries. \n"
  },
  {
   "name": "Accounts_Payable_Summaries",
   "x-displayName": "Summaries",
   "description": "Summaries are collections of the same type of transactions grouped together for processing. To learn more, see [Accounts Payable summary overview](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=AP_summary_overview) in the Sage Intacct Help Center.     "
  },
  {
   "name": "Accounts_Payable_Terms",
   "x-displayName": "Terms",
   "description": "An Accounts Payable term is a rule that a vendor establishes for extending credit to your company. Terms can be associated with transactions or with specific vendors."
  },
  {
   "name": "Accounts_Payable_Check runs",
   "x-displayName": "Check runs",
   "description": "Use a check run to process up to 1,000 checks at a time in an offline process. First create a check run, then add payment requests to the check run. A check run's configuration determines how the checks for the payments in a run are processed.\n\nFor more information, see [Check run overview](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Check_run_overview) in the Sage Intacct Help Center.  \n"
  },
  {
   "name": "Accounts_Payable_Vendors",
   "x-displayName": "Vendors",
   "description": "Vendors are individuals or companies that you pay for goods and services. \n\nWhen you create a vendor, you provide a name and a unique identifier (unless the company is configured to auto-generate identifiers). \n\nYou can also designate a credit limit, set a payment priority, establish the payment method for the vendor, and so forth. For more information, see [Create a vendor](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_a_Vendor) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Accounts_Payable_Vendor account numbers",
   "x-displayName": "Vendor account numbers",
   "description": "The account number that a vendor assigns to an entity in a multi-entity company. For example, a telephone company might assign a phone number as a vendor account number. Account numbers help match payment information to bills being paid."
  },
  {
   "name": "Accounts_Payable_Vendor bank file setups",
   "x-displayName": "Vendor bank file setups",
   "description": "A bank file enables electronic payments to be made to vendors using a local bank file format. Bank files are standard files used by banks to make multiple payments. For more information, see [About bank files](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Bank_file_payment) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Payable_Vendor contacts",
   "x-displayName": "Vendor contacts",
   "description": "Use contacts to manage multiple addresses for individuals and locations associated with a vendor. To learn more, see [Vendor contact information](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Vendor_contact_information) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Payable_Vendor email templates",
   "x-displayName": "Vendor email templates",
   "description": "Vendor email templates are an efficient way to automate sending document attachments with a standard message to multiple vendors. For more information, see [Email templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Creating_an_email_template) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Payable_Vendor payment providers",
   "x-displayName": "Vendor payment providers",
   "description": "Models a payment provider associated with a vendor. You can link a vendor with a payment provider using the create and update operations for this object.\nPayment provider services, like Vendor Payments powered by CSI, are only for US vendors accepting USD. See [Compare payment methods](https://www.intacct.com/ia/docs/en_US/help_action/Cash_Management/Payment_Methods/select-a-payment-method.htm) for more information.\n"
  },
  {
   "name": "Accounts_Payable_Vendor restricted departments",
   "x-displayName": "Vendor restricted departments",
   "description": "In shared multi-entity companies, vendors can be restricted to specific departments or department groups to prevent the vendor from being used in the wrong entity. \n\nCreate and maintain vendor restricted departments from the owning [vendor](accounts-payable.vendor) object.\n"
  },
  {
   "name": "Accounts_Payable_Vendor restricted locations",
   "x-displayName": "Vendor restricted locations",
   "description": "In shared multi-entity companies, vendors can be restricted to specific locations or location groups to prevent the vendor from being used in the wrong entity.\n\nCreate and maintain vendor restricted locations from the owning [vendor](accounts-payable.vendor) object.\n"
  },
  {
   "name": "Accounts_Payable_Vendor types",
   "x-displayName": "Vendor types",
   "description": "Vendor types organize vendors into categories that are used for reporting. To share vendor types across entities, create vendor types at the top level. Creating vendor types in an entity restricts them to that entity. For more information, see [Vendor types](https://www.intacct.com/ia/docs/en_US/help_action/Accounts_Payable/Setup/Vendor_Types/aa-TOC-vendor-types.htm?tocpath=Applications%7CAccounts%20Payable%7CVendors%7CVendors%20list%7CVendor%20types%7C_____0).\n"
  },
  {
   "name": "Accounts_Payable_Vendor groups",
   "x-displayName": "Vendor groups",
   "description": "A vendor group categorizes vendor dimension records, mainly for the purpose of structuring financial reports. For more information, see [Vendor groups](https://www.intacct.com/ia/docs/en_US/help_action/Purchasing/Setting_up_Purchasing/vendor-dimension-groups-po-ns.htm?tocpath=Applications%7CPurchasing%7CSetup%7C_____12) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Payable_Vendor totals",
   "x-displayName": "Vendor totals",
   "description": "A vendor total object provides information about how much is owed to a vendor."
  }
 ],
 "paths": {
  "/objects/accounts-payable/account-label": {
   "get": {
    "summary": "List account labels",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each label. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Accounts_Payable_Account labels"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account-label objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account labels": {
          "value": {
           "ia::result": [
            {
             "key": "32",
             "id": "Ref Matls",
             "href": "/objects/accounts-payable/account-label/32"
            },
            {
             "key": "33",
             "id": "Rent",
             "href": "/objects/accounts-payable/account-label/33"
            },
            {
             "key": "34",
             "id": "Repairs and Maintenance",
             "href": "/objects/accounts-payable/account-label/34"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "operationId": "list-accounts-payable-account-label",
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account label",
    "description": "Creates a new account label.",
    "tags": [
     "Accounts_Payable_Account labels"
    ],
    "operationId": "create-accounts-payable-account-label",
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New account-label",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create an account label": {
          "value": {
           "ia::result": {
            "key": "37",
            "id": "Sales",
            "href": "/objects/accounts-payable/account-label/37"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.account-label"
         },
         {
          "$ref": "#/components/schemas/accounts-payable-account-labelRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an account label": {
         "value": {
          "id": "Sales",
          "description": "Sales team expenses",
          "status": "active",
          "glAccount": {
           "id": "4000--Sales"
          },
          "offsetGLAccount": {
           "id": "4001--Miscellaneous - Sales"
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/account-label/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the account label.",
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an account label",
    "description": "Returns detailed information for a specified account label.",
    "operationId": "get-accounts-payable-account-label-key",
    "tags": [
     "Accounts_Payable_Account labels"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the account-label",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-payable.account-label"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account label": {
          "value": {
           "ia::result": {
            "key": "8",
            "id": "Accounting Fees",
            "description": "Accounting Fees",
            "glAccount": {
             "id": "6600.01--Accounting Fees",
             "key": "318",
             "href": "/objects/general-ledger/account/318"
            },
            "status": "active",
            "offsetGLAccount": {
             "id": null,
             "key": null
            },
            "audit": {
             "modifiedDateTime": "2025-09-17T00:00:00Z",
             "createdDateTime": "2025-09-18T00:00:00Z",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1"
            },
            "form1099Type": "DIV",
            "form1099Box": "1B",
            "href": "/objects/accounts-payable/account-label/8"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an account label",
    "operationId": "update-accounts-payable-account-label-key",
    "description": "Updates an existing account label by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Accounts_Payable_Account labels"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated account-label",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Update an account label": {
          "value": {
           "ia::result": {
            "key": "37",
            "id": "Sales",
            "href": "/objects/accounts-payable/account-label/37"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.account-label"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an account label": {
         "value": {
          "description": "This is Sales Account label",
          "status": "active",
          "offsetGLAccount": {
           "id": "4000.03--Sales-Others"
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an account label",
    "description": "Deletes an account label.",
    "tags": [
     "Accounts_Payable_Account labels"
    ],
    "operationId": "delete-accounts-payable-account-label-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment": {
   "get": {
    "summary": "List adjustments",
    "description": "Returns a collection with a key, ID, and link for each adjustment. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Payable_Adjustments"
    ],
    "operationId": "list-accounts-payable-adjustment",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of adjustment objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List adjustments": {
          "value": {
           "ia::result": [
            {
             "key": "186",
             "id": "186",
             "href": "/objects/accounts-payable/adjustment/186"
            },
            {
             "key": "187",
             "id": "187",
             "href": "/objects/accounts-payable/adjustment/187"
            },
            {
             "key": "319",
             "id": "319",
             "href": "/objects/accounts-payable/adjustment/319"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an adjustment",
    "description": "Creates a new adjustment.",
    "tags": [
     "Accounts_Payable_Adjustments"
    ],
    "operationId": "create-accounts-payable-adjustment",
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new adjustment": {
          "value": {
           "ia::result": {
            "key": "26",
            "id": "26",
            "href": "/objects/accounts-payable/adjustment/26"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.adjustment"
         },
         {
          "$ref": "#/components/schemas/accounts-payable-adjustmentRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an adjustment": {
         "value": {
          "adjustmentNumber": "ADJ124",
          "vendor": {
           "id": "GK183"
          },
          "createdDate": "2026-03-05",
          "currency": {
           "baseCurrency": "USD",
           "txnCurrency": "USD"
          },
          "lines": [
           {
            "glAccount": {
             "id": "2200"
            },
            "txnAmount": "150.00",
            "dimensions": {
             "department": {
              "id": "11"
             },
             "location": {
              "id": "CA"
             }
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the adjustment.",
     "example": "67"
    }
   ],
   "get": {
    "summary": "Get an adjustment",
    "description": "Returns detailed information for a specified adjustment.",
    "tags": [
     "Accounts_Payable_Adjustments"
    ],
    "operationId": "get-accounts-payable-adjustment-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-payable.adjustment"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment": {
          "value": {
           "ia::result": {
            "id": "67",
            "key": "67",
            "recordType": "pa",
            "adjustmentNumber": "credit-001",
            "state": "posted",
            "vendor": {
             "id": "1099 Int",
             "key": "1099 Int",
             "name": "1099 Int",
             "totalDue": "28.94",
             "href": "/objects/accounts-payable/vendor/1099 Int"
            },
            "referenceNumber": "Bill-001-02",
            "description": "Adj for Bil -001",
            "createdDate": "2026-03-05",
            "audit": {
             "createdDateTime": "2026-03-05T06:57:38Z",
             "modifiedDateTime": "2026-03-05T06:57:38Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "adjustmentSummary": {
             "glPostingDate": "2026-03-05",
             "name": "Adjustments: 2026/03/05 Batch",
             "id": "45",
             "key": "45",
             "state": "open",
             "preventGLPosting": false,
             "href": "/objects/accounts-payable/adjustment-summary/45"
            },
            "currency": {
             "baseCurrency": "AUD",
             "txnCurrency": "USD",
             "exchangeRateDate": "2026-03-08",
             "exchangeRateTypeId": "Intacct Daily Rate",
             "exchangeRate": 1.5154
            },
            "totalEntered": "7.58",
            "totalBaseAmountDue": "7.58",
            "txnTotalEntered": "5.00",
            "txnTotalDue": "5.00",
            "contacts": {
             "payTo": {
              "id": "1099 Int",
              "key": "299",
              "href": "/objects/company-config/contact/299"
             },
             "returnTo": {
              "id": "1099 Int",
              "key": "299",
              "href": "/objects/company-config/contact/299"
             }
            },
            "attachment": {
             "id": "Adj_Bill_001",
             "key": "8",
             "href": "/objects/company-config/attachment/8"
            },
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "moduleKey": "3.AP",
            "isTaxInclusive": false,
            "lines": [
             {
              "id": "700",
              "key": "700",
              "apAdjustment": {
               "id": "67",
               "key": "67",
               "href": "/objects/accounts-payable/adjustment/67"
              },
              "glAccount": {
               "key": "246",
               "id": "6000",
               "name": "G&A Salaries",
               "href": "/objects/general-ledger/account/246"
              },
              "adjustmentAsset": {
               "key": "1",
               "id": "Asset 1",
               "name": "Asset 1",
               "href": "/objects/fixed-assets/asset/1"
              },
              "overrideOffsetGLAccount": {
               "key": "109",
               "id": "2000",
               "name": "Accounts Payable",
               "href": "/objects/general-ledger/account/109"
              },
              "accountLabel": {
               "key": null,
               "id": null
              },
              "baseAmount": "7.58",
              "txnAmount": "5.00",
              "dimensions": {
               "department": {
                "key": "9",
                "id": "11",
                "name": "Accounting",
                "href": "/objects/company-config/department/9"
               },
               "location": {
                "key": "4",
                "id": "4",
                "name": "Australia",
                "href": "/objects/company-config/location/4"
               },
               "project": {
                "key": "8",
                "id": "8",
                "name": "Client Services - Power Aerospace Materials",
                "href": "/objects/projects/project/8"
               },
               "customer": {
                "key": "1",
                "id": "1",
                "name": "Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               },
               "vendor": {
                "key": "43",
                "id": "1099 Int",
                "name": "1099 Int",
                "href": "/objects/accounts-payable/vendor/43"
               },
               "employee": {
                "key": "1",
                "id": "1",
                "name": "Reser",
                "href": "/objects/company-config/employee/1"
               },
               "item": {
                "key": "1",
                "id": "1",
                "name": "PC Computer",
                "href": "/objects/inventory-control/item/1"
               },
               "class": {
                "key": "1",
                "id": "3",
                "name": "Heath Care",
                "href": "/objects/company-config/class/1"
               }
              },
              "memo": "Adj for Bil -001",
              "currency": {
               "exchangeRate": {
                "date": "2026-03-08",
                "typeId": "-1",
                "rate": "1.5154"
               },
               "txnCurrency": "USD",
               "baseCurrency": "AUD"
              },
              "lineNumber": "1",
              "paymentInformation": {
               "totalBaseAmountPaid": "0.00",
               "txnTotalPaid": "0.00",
               "totalBaseAmountSelected": "0.00",
               "txnTotalSelected": "0.00"
              },
              "adjustmentType": "pa",
              "audit": {
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "modifiedBy": "1",
               "createdDateTime": "2026-03-05T06:57:38Z",
               "modifiedDateTime": "2026-03-06T06:50:38Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "createdBy": "1"
              },
              "hasForm1099": "false",
              "href": "/objects/accounts-payable/adjustment-line/700"
             }
            ],
            "href": "/objects/accounts-payable/adjustment/67"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an adjustment",
    "operationId": "update-accounts-payable-adjustment-key",
    "description": "Updates an existing adjustment by setting field values. Any fields not provided remain unchanged.\nWith appropriate permissions, you can edit an adjustment if it is in the `posted` state and the books are not yet closed. For more information, see [Edit an AP adjustment](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=edit_AP_adjustment) in the Sage Intacct Help Center.",
    "tags": [
     "Accounts_Payable_Adjustments"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated adjustment": {
          "value": {
           "ia::result": {
            "key": "26",
            "id": "26",
            "href": "/objects/accounts-payable/adjustment/625459"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.adjustment"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "adjustmentType": {
            "readOnly": true
           },
           "state": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an adjustment": {
         "value": {
          "description": "Bill -001 adjustment-1"
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an adjustment",
    "description": "Deletes an adjustment. Adjustments not applied to a bill can be deleted.",
    "tags": [
     "Accounts_Payable_Adjustments"
    ],
    "operationId": "delete-accounts-payable-adjustment-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-payable/adjustment/submit": {
   "post": {
    "summary": "Submit an adjustment",
    "description": "You can submit a draft adjustment to post it. Draft adjustments are adjustments that have been created, but were not yet ready to post.\n\nWhen you submit a draft adjustment, the state of the adjustment changes from `draft` to `posted`.\n",
    "tags": [
     "Accounts_Payable_Adjustments"
    ],
    "operationId": "submit-accounts-payable-adjustment",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-payable-adjustment-actions-submit-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "11"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-payable-adjustment-actions-submit-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "11",
            "id": "11",
            "href": "/objects/accounts-payable/adjustment/11",
            "state": "posted"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-payable/adjustment/reverse": {
   "post": {
    "summary": "Reverse an adjustment",
    "description": "To cancel a posted adjustment, reverse it. To cancel a paid adjustment, void the payment and then reverse the adjustment. When you reverse an adjustment, the state changes from `posted` or `paid` to `reversed`.\n\nReversals are intended to serve as a documented record of the transaction history. For more information, see [Reverse an AP credit memo adjustment](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Reverse_AP_credit_memo_adjustment) in the Sage Intacct Help Center.\n",
    "tags": [
     "Accounts_Payable_Adjustments"
    ],
    "operationId": "reverse-accounts-payable-adjustment",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-payable-adjustment-actions-reverse-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "22",
          "reverseDate": "2026-03-15",
          "memo": "Reversed the adjustment for duplicate entry"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-payable-adjustment-actions-reverse-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "23",
            "href": "/objects/accounts-payable/adjustment/23",
            "state": "reversed"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment-line": {
   "get": {
    "summary": "List adjustment lines",
    "description": "Returns a collection with a key, ID, and link for each adjustment line. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Payable_Adjustment lines"
    ],
    "operationId": "list-accounts-payable-adjustment-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of adjustment-line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List adjustment lines": {
          "value": {
           "ia::result": [
            {
             "key": "5336",
             "id": "5336",
             "href": "/objects/accounts-payable/adjustment-line/5336"
            },
            {
             "key": "5348",
             "id": "5348",
             "href": "/objects/accounts-payable/adjustment-line/5348"
            },
            {
             "key": "5296",
             "id": "5296",
             "href": "/objects/accounts-payable/adjustment-line/5296"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an adjustment line",
    "description": "Creates a new adjustment line.",
    "tags": [
     "Accounts_Payable_Adjustment lines"
    ],
    "operationId": "create-accounts-payable-adjustment-line",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.adjustment-line"
         },
         {
          "$ref": "#/components/schemas/accounts-payable-adjustment-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an adjustment line": {
         "value": {
          "apAdjustment": {
           "key": "89"
          },
          "accountLabel": {
           "id": "Bank Fees"
          },
          "txnAmount": "-1800.00",
          "totalTxnAmount": "-1800.00",
          "dimensions": {
           "location": {
            "id": "1"
           },
           "department": {
            "id": "4"
           }
          },
          "hasForm1099": "true",
          "form1099": {
           "type": "NEC",
           "box": "7"
          },
          "memo": "Created memo for adjustment line charges"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new adjustment line": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "href": "/objects/accounts-payable/adjustment-line/5",
            "ia::meta": {
             "totalCount": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment-line/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "example": "5296",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the adjustment line."
    }
   ],
   "get": {
    "summary": "Get an adjustment line",
    "description": "Returns detailed information for a specified adjustment line.",
    "tags": [
     "Accounts_Payable_Adjustment lines"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the adjustment-line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-payable.adjustment-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment line": {
          "value": {
           "ia::result": {
            "id": "146",
            "key": "146",
            "apAdjustment": {
             "id": "24",
             "key": "24",
             "href": "/objects/accounts-payable/adjustment/24"
            },
            "glAccount": {
             "key": "246",
             "id": "6000",
             "name": "G&A Salaries",
             "href": "/objects/general-ledger/account/246"
            },
            "adjustmentAsset": {
             "key": "1",
             "id": "Asset 1",
             "name": "Asset 1",
             "href": "/objects/fixed-assets/asset/1"
            },
            "overrideOffsetGLAccount": {
             "key": "109",
             "id": "2000",
             "name": "Accounts Payable",
             "href": "/objects/general-ledger/account/109"
            },
            "accountLabel": {
             "key": null,
             "id": null
            },
            "baseAmount": "-318.23",
            "txnAmount": "-210.00",
            "dimensions": {
             "department": {
              "key": "9",
              "id": "11",
              "name": "Accounting",
              "href": "/objects/company-config/department/9"
             },
             "location": {
              "key": "4",
              "id": "4",
              "name": "Australia",
              "href": "/objects/company-config/location/4"
             },
             "project": {
              "key": "8",
              "id": "8",
              "name": "Client Services - Power Aerospace Materials",
              "href": "/objects/projects/project/8"
             },
             "customer": {
              "key": "1",
              "id": "1",
              "name": "Power Aerospace Materials",
              "href": "/objects/accounts-receivable/customer/1"
             },
             "vendor": {
              "key": "43",
              "id": "1099 Int",
              "name": "1099 Int",
              "href": "/objects/accounts-payable/vendor/43"
             },
             "employee": {
              "key": "1",
              "id": "1",
              "name": "Reser",
              "href": "/objects/company-config/employee/1"
             },
             "item": {
              "key": "12",
              "id": "12",
              "name": "PC Computer",
              "href": "/objects/inventory-control/item/12"
             },
             "class": {
              "key": "21",
              "id": "3",
              "name": "Health Care",
              "href": "/objects/company-config/class/21"
             }
            },
            "memo": "Adj for Bil -001",
            "currency": {
             "exchangeRate": {
              "date": "2026-03-08",
              "typeId": "-1",
              "rate": "1.5154"
             },
             "txnCurrency": "USD",
             "baseCurrency": "AUD"
            },
            "lineNumber": "1",
            "paymentInformation": {
             "totalBaseAmountPaid": "0.00",
             "txnTotalPaid": "0.00",
             "totalBaseAmountSelected": "0.00",
             "txnTotalSelected": "0.00"
            },
            "adjustmentType": "pa",
            "audit": {
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1",
             "createdDateTime": "2026-03-09T06:57:38Z",
             "modifiedDateTime": "2026-03-10T06:50:38Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1"
            },
            "hasForm1099": "false",
            "form1099": {
             "type": null,
             "box": null
            },
            "href": "/objects/accounts-payable/adjustment-line/146"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "operationId": "get-accounts-payable-adjustment-line-key",
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an adjustment line",
    "description": "Updates an existing adjustment line by setting field values. Any fields not provided remain unchanged.\n",
    "tags": [
     "Accounts_Payable_Adjustment lines"
    ],
    "operationId": "update-accounts-payable-adjustment-line",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.adjustment-line"
         }
        ]
       },
       "examples": {
        "Update an adjustment line": {
         "value": {
          "txnAmount": "-12.00",
          "totalTxnAmount": "-12.00",
          "accountLabel": {
           "id": "Bank Interest Earned"
          },
          "dimensions": {
           "department": {
            "id": "3"
           },
           "location": {
            "id": "2"
           }
          },
          "memo": "Updated memo for adjustment-line"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated adjustment line": {
          "value": {
           "ia::result": {
            "key": "315783",
            "id": "315783",
            "href": "/objects/accounts-payable/adjustment-line/315783"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an adjustment line",
    "description": "Deletes an adjustment line.",
    "tags": [
     "Accounts_Payable_Adjustment lines"
    ],
    "operationId": "delete-accounts-payable-adjustment-line",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment-tax-entry": {
   "get": {
    "summary": "List adjustment tax entries",
    "description": "Returns a collection with a key, ID, and link for each adjustment tax entry. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Payable_Adjustment tax entries"
    ],
    "operationId": "list-accounts-payable-adjustment-tax-entry",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of adjustment tax entry objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List adjustment tax entries": {
          "value": {
           "ia::result": [
            {
             "key": "8",
             "id": "8",
             "href": "/objects/accounts-payable/adjustment-tax-entry/8"
            },
            {
             "key": "9",
             "id": "9",
             "href": "/objects/accounts-payable/adjustment-tax-entry/9"
            },
            {
             "key": "10",
             "id": "10",
             "href": "/objects/accounts-payable/adjustment-tax-entry/10"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment-tax-entry/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the adjustment tax entry.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "33"
    }
   ],
   "get": {
    "summary": "Get an adjustment tax entry",
    "description": "Returns detailed information for a specified adjustment tax entry.",
    "tags": [
     "Accounts_Payable_Adjustment tax entries"
    ],
    "operationId": "get-accounts-payable-adjustment-tax-entry-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the adjustment tax entry",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-payable.adjustment-tax-entry"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment tax entry": {
          "value": {
           "ia::result": {
            "key": "300",
            "id": "300",
            "baseTaxAmount": "100",
            "txnTaxAmount": "100",
            "taxRate": 5.5,
            "purchasingTaxDetail": {
             "id": "UK Export Reduced Rate",
             "key": "24",
             "href": "/objects/tax/purchasing-tax-detail/24"
            },
            "adjustmentLine": {
             "id": "148",
             "key": "148",
             "href": "/objects/accounts-payable/adjustment-line/148"
            },
            "href": "/objects/accounts-payable/adjustment-tax-entry/300"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment-summary": {
   "get": {
    "summary": "List adjustment summaries",
    "description": "Returns a collection with a key, ID, and link for each adjustment summary. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Payable_Adjustment summaries"
    ],
    "operationId": "list-accounts-payable-adjustment-summary",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "accounts-payable-adjustment-summary Collection",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List adjustment summaries": {
          "value": {
           "ia::result": [
            {
             "key": "13",
             "id": "13",
             "href": "/objects/accounts-payable/adjustment-summary/13"
            },
            {
             "key": "26",
             "id": "26",
             "href": "/objects/accounts-payable/adjustment-summary/26"
            },
            {
             "key": "20",
             "id": "20",
             "href": "/objects/accounts-payable/adjustment-summary/20"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/adjustment-summary/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the adjustment summary.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an adjustment summary",
    "description": "Returns detailed information for a specified adjustment summary.",
    "tags": [
     "Accounts_Payable_Adjustment summaries"
    ],
    "operationId": "get-accounts-payable-adjustment-summary-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the adjustment-summary",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-payable.adjustment-summary"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment summary": {
          "value": {
           "ia::result": {
            "key": "13",
            "id": "13",
            "name": "Adjustments: 2019/01/18 Batch",
            "glPostingDate": "2019-01-18",
            "status": "active",
            "recordType": "apAdjustments",
            "totalAmount": "43.00",
            "state": "open",
            "parent": {
             "key": "null",
             "id": "null"
            },
            "preventGLPosting": false,
            "bankAccountId": {
             "key": "null",
             "id": "null"
            },
            "summaryCreationType": "system",
            "isQuickPaymentSummary": false,
            "audit": {
             "createdDateTime": "2019-01-18T11:10:49Z",
             "modifiedDateTime": "2019-01-19T10:10:49Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/accounts-payable/adjustment-summary/13"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/advance": {
   "get": {
    "summary": "List advances",
    "description": "Returns a collection with a key, ID, and link for each advance. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Payable_Advances"
    ],
    "operationId": "list-accounts-payable-advance",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of advance objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List advances": {
          "value": {
           "ia::result": [
            {
             "key": "625510",
             "id": "625510",
             "href": "/objects/accounts-payable/advance/625510"
            },
            {
             "key": "558105",
             "id": "558105",
             "href": "/objects/accounts-payable/advance/558105"
            },
            {
             "key": "558543",
             "id": "558543",
             "href": "/objects/accounts-payable/advance/558543"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an advance",
    "description": "Creates a new advance.",
    "tags": [
     "Accounts_Payable_Advances"
    ],
    "operationId": "create-accounts-payable-advance",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.advance"
         },
         {
          "$ref": "#/components/schemas/accounts-payable-advanceRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an advance": {
         "value": {
          "description": "Advance for new equipment",
          "paymentMethod": "cash",
          "financialEntity": {
           "entityId": "BOA"
          },
          "advanceDate": "2023-07-23",
          "vendor": {
           "id": "1099 Int"
          },
          "lines": [
           {
            "baseAmount": "12.34",
            "memo": "Advance payment to vendor for retainer fee - to be applied against future invoices.",
            "txnAmount": "1.23",
            "dimensions": {
             "department": {
              "id": "11"
             },
             "location": {
              "id": "1"
             },
             "project": {
              "id": "8"
             },
             "customer": {
              "id": "1"
             },
             "vendor": {
              "id": "1099 Int"
             },
             "employee": {
              "id": "1"
             },
             "item": {
              "id": "1"
             },
             "class": {
              "id": "3"
             }
            },
            "glAccount": {
             "id": "6000"
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New advance",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new advance": {
          "value": {
           "ia::result": {
            "key": "625530",
            "id": "625530",
            "href": "/objects/accounts-payable/advance/625530"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/advance/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the advance.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an advance",
    "description": "Returns detailed information for a specified advance.",
    "tags": [
     "Accounts_Payable_Advances"
    ],
    "operationId": "get-accounts-payable-advance-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the advance",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-payable.advance"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an advance": {
          "value": {
           "ia::result": {
            "id": "20",
            "key": "20",
            "recordType": "pr",
            "paymentMethod": "eft",
            "description": null,
            "advanceNumber": "Advance-001",
            "advanceSummary": {
             "id": "399",
             "key": "399",
             "name": "Advances(Bank-BOA) 2024/10/23 21:21:03:5361 Batch",
             "href": "/objects/accounts-payable/summary/399"
            },
            "vendor": {
             "name": "1099 Int",
             "id": "1099 Int",
             "key": "43",
             "totalDue": "-120.00",
             "href": "/objects/accounts-payable/vendor/43"
            },
            "totalEntered": "120.00",
            "paymentInformation": {
             "totalPaid": "0.00",
             "totalSelected": "0.00",
             "paidDate": "2024-05-20",
             "txnTotalPaid": "0.00",
             "txnTotalSelected": "0.00"
            },
            "totalDue": "120.00",
            "state": "advancePaid",
            "audit": {
             "createdDateTime": "2024-05-20T11:16:41Z",
             "modifiedDateTime": "2024-05-20T11:16:41Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "entity": {
             "id": "1",
             "key": "1",
             "name": "United States of America"
            },
            "dueDate": "2024-05-20",
            "referenceNumber": "Advace for 1099 Int",
            "reconciliationGroup": {
             "cleared": "false",
             "clearingDate": null
            },
            "isSystemGenerated": "false",
            "currency": {
             "txnCurrency": "USD",
             "baseCurrency": "USD",
             "exchangeRate": {
              "date": null,
              "typeId": null,
              "rate": null
             }
            },
            "txnTotalEntered": "120.00",
            "txnTotalDue": "120.00",
            "location": {
             "key": "1"
            },
            "financialEntity": {
             "entityId": "BOA",
             "currency": "USD",
             "txnAmount": "120.00",
             "baseAmount": "120.00",
             "baseCurrency": "USD"
            },
            "advanceDate": "2024-05-20",
            "attachment": {
             "id": "Invc-001",
             "key": "2",
             "href": "/objects/company-config/attachment/2"
            },
            "lines": [
             {
              "id": "39",
              "key": "39",
              "apAdvance": {
               "id": "20",
               "key": "20",
               "recordType": "pr",
               "href": "/objects/accounts-payable/advance/20"
              },
              "glAccount": {
               "key": "81",
               "id": "1304",
               "name": "Vendor Advances",
               "href": "/objects/general-ledger/account/81"
              },
              "accountLabel": {
               "id": null
              },
              "baseAmount": "120.00",
              "txnAmount": "120.00",
              "dimensions": {
               "department": {
                "key": "9",
                "id": "11",
                "name": "Accounting",
                "href": "/objects/company-config/department/9"
               },
               "location": {
                "key": "1",
                "id": "1",
                "name": "United States of America",
                "href": "/objects/company-config/location/1"
               },
               "project": {
                "key": "8",
                "id": "8",
                "name": "Client Services - Power Aerospace Materials",
                "href": "/objects/projects/project/8"
               },
               "customer": {
                "key": "1",
                "id": "1",
                "name": "Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               },
               "vendor": {
                "key": "43",
                "id": "1099 Int",
                "name": "1099 Int",
                "href": "/objects/accounts-payable/vendor/43"
               },
               "employee": {
                "key": "1",
                "id": "1",
                "name": "Reser",
                "href": "/objects/company-config/employee/1"
               },
               "item": {
                "key": "1",
                "id": "1",
                "name": "PC Computer",
                "href": "/objects/inventory-control/item/1"
               },
               "class": {
                "key": "1",
                "id": "3",
                "name": "Heath Care",
                "href": "/objects/company-config/class/1"
               },
               "nsp::refcode_gl": {
                "key": "10004",
                "href": "/objects/platform-apps/nsp::refcode_gl/10004"
               },
               "nsp::vssn": {
                "key": "10008",
                "href": "/objects/platform-apps/nsp::vssn/10008"
               },
               "nsp::restriction": {
                "key": null
               }
              },
              "baseLocation": {
               "name": "United States of America",
               "key": "1",
               "href": "/objects/company-config/location/1"
              },
              "memo": "Invc-001",
              "currency": {
               "exchangeRate": {
                "date": "2024-05-20",
                "typeId": null,
                "rate": "1"
               },
               "baseCurrency": "USD",
               "txnCurrency": "USD"
              },
              "lineNumber": 1,
              "paymentInformation": {
               "totalPaid": "0.00",
               "txnTotalPaid": "0.00",
               "totalSelected": "0.00",
               "txnTotalSelected": "0.00"
              },
              "audit": {
               "createdDateTime": "2024-05-20T11:16:41Z",
               "modifiedDateTime": "2024-05-21T10:57:23Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "createdBy": "1",
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "modifiedBy": "1"
              },
              "href": "/objects/accounts-payable/advance-line/39"
             }
            ],
            "href": "/objects/accounts-payable/advance/20"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an advance",
    "description": "Updates an existing advance by setting field values. Any fields not provided remain unchanged. You can only update advances in a draft state or advances that were declined during the approval process.",
    "tags": [
     "Accounts_Payable_Advances"
    ],
    "operationId": "update-accounts-payable-advance-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.advance"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an advance": {
         "value": {
          "description": "Updated description of advance"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated advance",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated advance": {
          "value": {
           "ia::result": {
            "key": "625529",
            "id": "625529",
            "href": "/objects/accounts-payable/advance/625529"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an advance",
    "description": "Deletes an advance. Only draft advances can be deleted.",
    "tags": [
     "Accounts_Payable_Advances"
    ],
    "operationId": "delete-accounts-payable-advance-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-payable/advance/submit": {
   "post": {
    "summary": "Submit an advance",
    "description": "You can submit a draft advance to post it. Draft advances are advances that have been created, but were not yet ready to post.\n\nWhen you submit a draft advance, the state of the advance changes from `draft` to `posted`.\n",
    "tags": [
     "Accounts_Payable_Advances"
    ],
    "operationId": "submit-accounts-payable-advance",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-payable-advance-actions-submit-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "11"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-payable-advance-actions-submit-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "11",
            "id": "11",
            "href": "/objects/accounts-payable/advance/11",
            "state": "posted"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-payable/advance/reverse": {
   "post": {
    "summary": "Reverse an AP advance",
    "description": "To cancel a posted advance, reverse it. To cancel a paid advance, void the payment and then reverse the advance. When you reverse an advance, the state changes from `posted` or `paid` to `reversed`.\n\nReversals are intended to serve as a documented record of the transaction history.\n",
    "tags": [
     "Accounts_Payable_Advances"
    ],
    "operationId": "reverse-accounts-payable-advance",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-payable-advance-actions-reverse-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "22",
          "reversedDate": "2026-03-15",
          "memo": "Reversed the advance due to duplicate entry"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-payable-advance-actions-reverse-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "23",
            "href": "/objects/accounts-payable/advance/23",
            "state": "reversed"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/advance-line": {
   "get": {
    "summary": "List advance lines",
    "description": "Returns a collection with a key, ID, and link for each advance line. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Payable_Advance lines"
    ],
    "operationId": "list-accounts-payable-advance-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of advance line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List advance lines": {
          "value": {
           "ia::result": [
            {
             "key": "1103722",
             "id": "1103722",
             "href": "/objects/accounts-payable/advance-line/1103722"
            },
            {
             "key": "5145328",
             "id": "5145328",
             "href": "/objects/accounts-payable/advance-line/5145328"
            },
            {
             "key": "5145339",
             "id": "5145339",
             "href": "/objects/accounts-payable/advance-line/5145339"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-payable/advance-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the advance line.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an advance line",
    "description": "Returns detailed information for a specified advance line.",
    "tags": [
     "Accounts_Payable_Advance lines"
    ],
    "operationId": "get-accounts-payable-advance-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the advance line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-payable.advance-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an advance line": {
          "value": {
           "ia::result": {
            "id": "39",
            "key": "39",
            "apAdvance": {
             "id": "20",
             "key": "20",
             "recordType": "pr",
             "href": "/objects/accounts-payable/advance/20"
            },
            "bank": {
             "amount": "120",
             "txnAmount": "120",
             "txnCurrency": "USD",
             "baseCurrency": "USD",
             "bankExchangeRate": {
              "date": "2025-01-23",
              "rate": 1,
              "typeId": "-1"
             }
            },
            "glAccount": {
             "key": "81",
             "id": "1304",
             "name": "Vendor Advances",
             "href": "/objects/general-ledger/account/81"
            },
            "accountLabel": {
             "id": null
            },
            "baseAmount": "120.00",
            "txnAmount": "120.00",
            "dimensions": {
             "department": {
              "key": "9",
              "id": "11",
              "name": "Accounting",
              "href": "/objects/company-config/department/9"
             },
             "location": {
              "key": "1",
              "id": "1",
              "name": "United States of America",
              "href": "/objects/company-config/location/1"
             },
             "project": {
              "key": "8",
              "id": "8",
              "name": "Client Services - Power Aerospace Materials",
              "href": "/objects/projects/project/8"
             },
             "customer": {
              "key": "1",
              "id": "1",
              "name": "Power Aerospace Materials",
              "href": "/objects/accounts-receivable/customer/1"
             },
             "vendor": {
              "key": "43",
              "id": "1099 Int",
              "name": "1099 Int",
              "href": "/objects/accounts-payable/vendor/43"
             },
             "employee": {
              "key": "1",
              "id": "1",
              "name": "Reser",
              "href": "/objects/company-config/employee/1"
             },
             "item": {
              "key": "1",
              "id": "1",
              "name": "PC Computer",
              "href": "/objects/inventory-control/item/1"
             },
             "class": {
              "key": "1",
              "id": "3",
              "name": "Heath Care",
              "href": "/objects/company-config/class/1"
             },
             "nsp::refcode_gl": {
              "key": "10004",
              "href": "/objects/platform-apps/nsp::refcode_gl/10004"
             },
             "nsp::vssn": {
              "key": "10008",
              "href": "/objects/platform-apps/nsp::vssn/10008"
             },
             "nsp::restriction": {
              "key": null
             }
            },
            "baseLocation": {
             "name": "United States of America",
             "key": "1",
             "href": "/objects/company-config/location/1"
            },
            "memo": "Invc-001",
            "currency": {
             "exchangeRate": {
              "date": "2024-05-20",
              "typeId": null,
              "rate": "1"
             },
             "baseCurrency": "USD",
             "txnCurrency": "USD"
            },
            "lineNumber": 1,
            "paymentInformation": {
             "totalPaid": "0.00",
             "txnTotalPaid": "0.00",
             "totalSelected": "0.00",
             "txnTotalSelected": "0.00"
            },
            "audit": {
             "createdDateTime": "2024-05-20T11:16:41Z",
             "modifiedDateTime": "2024-05-21T10:57:23Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "href": "/objects/accounts-payable/advance-line/39"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Creates advance lines",
    "description": "Creates new advance lines\n",
    "tags": [
     "Accounts_Payable_Advance lines"
    ],
    "operationId": "create-accounts-payable-advance-line",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.advance-line"
         },
         {
          "$ref": "#/components/schemas/accounts-payable-advance-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an advance line": {
         "value": {
          "apAdvance": {
           "key": "89"
          },
          "txnAmount": "2500.00",
          "baseAmount": "2500.00",
          "accountLabel": {
           "id": "Bank Fees"
          },
          "dimensions": {
           "location": {
            "id": "1"
           },
           "department": {
            "id": "4"
           }
          },
          "memo": "Created memo for advance line charges"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New advance line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new advance line": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "href": "/objects/accounts-payable/advance-line/5",
            "ia::meta": {
             "totalCount": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update advance lines",
    "description": "Updates advance lines\n",
    "tags": [
     "Accounts_Payable_Advance lines"
    ],
    "operationId": "update-accounts-payable-advance-line",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-payable.advance-line"
         }
        ]
       },
       "examples": {
        "Update a single advance line": {
         "value": {
          "txnAmount": "1300.00"
         }
        },
        "Update advance lines": {
         "value": {
          "txnAmount": "1300.00",
          "baseAmount": "1300.00",
          "accountLabel": {
           "id": "Bank Interest Earned"
          },
          "dimensions": {
           "department": {
            "id": "3"
           },
           "location": {
            "id": "2"
           }
          },
          "memo": "Updated memo for advance-line"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New advance line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new advance line": {
          "value": {
           "ia::result": {
            "key": "5",
[...]
