{
 "openapi": "3.0.3",
 "info": {
  "title": "Accounts Receivable",
  "version": "1",
  "description": "Accounts Receivable (AR) is used to manage a full AR cycle, including customers, receivables transactions, and generating reports."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Accounts_Receivable_Account labels",
   "x-displayName": "Account labels",
   "description": "Account labels give accounts more descriptive names that are displayed anywhere the accounts are referenced in the product and in reports. Account labels is an optional feature that must be turned on in Accounts Receivable. See [Enable functionality](https://www.intacct.com/ia/docs/en_US/help_action/Accounts_Receivable/Setup/configure-accounts-receivable.htm#Enable) for more information.\n"
  },
  {
   "name": "Accounts_Receivable_Adjustments",
   "x-displayName": "Adjustments",
   "description": "An adjustment is a transaction that applies a credit or debit in order to modify the amount owed by a customer."
  },
  {
   "name": "Accounts_Receivable_Adjustment lines",
   "x-displayName": "Adjustment lines",
   "description": "Line items in an adjustment represent debits or credits to modify the amount owed by a customer. Create and maintain adjustment lines from the owning [adjustment object](accounts-receivable.adjustment)."
  },
  {
   "name": "Accounts_Receivable_Adjustment tax entries",
   "x-displayName": "Adjustment tax entries",
   "description": "For VAT enabled transactions, an adjustment tax entry provides tax information about the adjustment line item it is associated with. Create and maintain adjustment tax entries from the owning [AR adjustment line](accounts-receivable.adjustment-line) object."
  },
  {
   "name": "Accounts_Receivable_Advances",
   "x-displayName": "Advances",
   "description": "Advances record an advance payment from a customer before creating an invoice, for example, when a customer provides a retainer."
  },
  {
   "name": "Accounts_Receivable_Advance lines",
   "x-displayName": "Advance lines",
   "description": "An advance line item is associated with a particular advance. Each advance can have any number of line items. Create and maintain advance lines from the owning [advance object](accounts-receivable.advance)."
  },
  {
   "name": "Accounts_Receivable_Bill back templates",
   "x-displayName": "Bill back templates",
   "description": "Create a bill back template for each recurring bill back transaction. The template provides line item information needed in the bill back transaction, including invoice line items and corresponding line items in the system-generated bill."
  },
  {
   "name": "Accounts_Receivable_Bill back template lines",
   "x-displayName": "Bill back template lines",
   "description": "Line items in a bill back template provide the GL accounts and departments to use for line items in corresponding invoices and bills. Create and maintain bill back template lines from the owning [bill back template object](accounts-receivable.billback-template)."
  },
  {
   "name": "Accounts_Receivable_Customers",
   "x-displayName": "Customers",
   "description": "A customer is any company to which you sell goods and services. Sage Intacct applications use the customer information for record-keeping purposes, printing the names and addresses on forms, such as invoices, and for determining the ship-to contact so tax can be computed.\n"
  },
  {
   "name": "Accounts_Receivable_Customer contacts",
   "x-displayName": "Customer contacts",
   "description": "Contact information for a customer. Create and maintain customer contacts from the owning [customer object](accounts-receivable.customer)."
  },
  {
   "name": "Accounts_Receivable_Customer email templates",
   "x-displayName": "Customer email templates",
   "description": "Customer email templates can be used to standardize messages sent to multiple customers."
  },
  {
   "name": "Accounts_Receivable_Customer item cross references",
   "x-displayName": "Customer item cross references",
   "description": "Customer item cross references match the customer identifier for an item to the item ID your company uses, which makes transaction entry easier and more robust."
  },
  {
   "name": "Accounts_Receivable_Customer restricted departments",
   "x-displayName": "Customer restricted departments",
   "description": "In shared multi-entity companies, customers can be restricted to specific departments or department groups to prevent the customer from being used in the wrong entity. Create and maintain restricted departments from the owning [customer object](accounts-receivable.customer)."
  },
  {
   "name": "Accounts_Receivable_Customer restricted locations",
   "x-displayName": "Customer restricted locations",
   "description": "In shared multi-entity companies, customers can be restricted to specific locations or location groups to prevent the customer from being used in the wrong entity. Create and maintain restricted locations from the owning [customer object](accounts-receivable.customer)."
  },
  {
   "name": "Accounts_Receivable_Customer messages",
   "x-displayName": "Customer messages",
   "description": "This object represents a message associated with a customer. The customer message field on invoices that are created for the associated customer are populated with the message contained in this object. A customer is associated with a message using the `customerMessage` property in the [customer](accounts-receivable.customer) object."
  },
  {
   "name": "Accounts_Receivable_Customer types",
   "x-displayName": "Customer types",
   "description": "Customer types provide a way to group customers into categories, such as reseller and end user. Setting up meaningful customer types streamlines management and analysis of customer information."
  },
  {
   "name": "Accounts_Receivable_Customer totals",
   "x-displayName": "Customer totals",
   "description": "Provides information about the total amount due from a customer."
  },
  {
   "name": "Accounts_Receivable_Customer electronic payments",
   "x-displayName": "Customer electronic payments",
   "description": "This object represents customer payments made electronically, including online payments made by credit card or ACH wire transfer. These payments are processed by PayPal or Authorize.Net."
  },
  {
   "name": "Accounts_Receivable_Customer groups",
   "x-displayName": "Customer groups",
   "description": "A customer group categorizes customer dimension records, mainly for the purpose of structuring financial reporting."
  },
  {
   "name": "Accounts_Receivable_Delivery histories",
   "x-displayName": "Delivery histories",
   "description": "History of invoices delivered to a customer by print or email. Each delivery history object represents a single delivered invoice."
  },
  {
   "name": "Accounts_Receivable_Invoices",
   "x-displayName": "Invoices",
   "description": "An invoice object represents an invoice sent to a customer for goods or services provided."
  },
  {
   "name": "Accounts_Receivable_Invoice lines",
   "x-displayName": "Invoice lines",
   "description": "Line items in an invoice represent transactions captured in that invoice. Create and maintain invoice lines from the owning [invoice object](accounts-receivable.invoice)."
  },
  {
   "name": "Accounts_Receivable_Invoice tax entries",
   "x-displayName": "Invoice tax entries",
   "description": "For VAT enabled transactions, an invoice tax entry provides tax information about the invoice line item it is associated with. Create and maintain adjustment tax entries from the owning [AR invoice line](accounts-receivable.invoice-line) object."
  },
  {
   "name": "Accounts_Receivable_Invoice summaries",
   "x-displayName": "Invoice summaries",
   "description": "Invoice summaries are collections of the same type of transactions grouped together for processing. AR invoice summaries can be either open or closed. Invoices can be added to open summaries."
  },
  {
   "name": "Accounts_Receivable_Payments",
   "x-displayName": "Payments",
   "description": "A payment is a transaction used to record a payment against an invoice or an adjustment/debit memo. For more information, see [Payments from customers](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_payments) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Receivable_Payment details",
   "x-displayName": "Payment details",
   "description": "A payment detail object can specify either an object, like an invoice or an adjustment, as a whole (header level), or it can specify a line item. A payment detail object also provides the transaction amount that was received.\n\nCreate and maintain AR payment details from the owning [payment object](accounts-receivable.payment).\n"
  },
  {
   "name": "Accounts_Receivable_Payment lines",
   "x-displayName": "Payment lines",
   "description": "Line items in an AR payment represent charges for items or services included in an invoice or adjustment.\n\nCreate and maintain AR payment lines from the owning [payment object](accounts-receivable.payment).\n"
  },
  {
   "name": "Accounts_Receivable_Payment summaries",
   "x-displayName": "Payment summaries",
   "description": "AR payment summaries are collections of payments received from customers, such as invoice payments, grouped together for processing. AR payment summaries can be either open or closed. Payments can be added to open summaries."
  },
  {
   "name": "Accounts_Receivable_Recurring invoices",
   "x-displayName": "Recurring invoices",
   "description": "Recurring invoices are invoices that repeat at periods and durations that you define in the recurrence schedule."
  },
  {
   "name": "Accounts_Receivable_Recurring invoice lines",
   "x-displayName": "Recurring invoice lines",
   "description": "Line items in a recurring invoice represent transactions captured in that recurring invoice. Create and maintain recurring invoice lines from the owning [recurring invoice object](accounts-receivable.recurring-invoice)."
  },
  {
   "name": "Accounts_Receivable_Recurring invoice tax entries",
   "x-displayName": "Recurring invoice tax entries",
   "description": "For VAT enabled transactions, an invoice tax entry provides tax information about the invoice line item it is associated with. Create and maintain adjustment tax entries from the owning [AR recurring invoice line](accounts-receivable.recurring-invoice-line) object."
  },
  {
   "name": "Accounts_Receivable_Revenue recognition templates",
   "x-displayName": "Revenue recognition templates",
   "description": "Revenue recognition templates define how to amortize deferred revenue. Each template is associated with an Accounts Receivable label or Order Entry Item GL group. For more information, see [Revenue recognition templates - AR or Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Defining_Revenue_Recognition_Templates) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Receivable_Summaries",
   "x-displayName": "Summaries",
   "description": "Summaries are collections of the same type of transactions, grouped together for processing. Summaries can be either opened or closed. Invoices, adjustments, and deposits can be added to open summaries."
  },
  {
   "name": "Accounts_Receivable_Terms",
   "x-displayName": "Terms",
   "description": "Accounts Receivable (AR) terms are the rules a company establishes for extending credit to customers. Terms can be associated with AR transactions and with customers."
  },
  {
   "name": "Accounts_Receivable_Territories",
   "x-displayName": "Territories",
   "description": "Territories are optionally included in customer records and are used with Accounts Receivable reports. They can be useful for filtering and categorizing data, assuming your company has multiple territories.\n"
  },
  {
   "name": "Accounts_Receivable_Territory groups",
   "x-displayName": "Territory groups",
   "description": "Territory groups are useful when generating reports. Create territory groups when reports that contain data for a particular set of territories are needed. For more information, see [Territory groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Territory_Group_Information) in the Sage Intacct Help Center."
  },
  {
   "name": "Accounts_Receivable_Shipping methods",
   "x-displayName": "Shipping methods",
   "description": "A shipping method is a specific way to transport goods, such as UPS or FedEx."
  },
  {
   "name": "Accounts_Receivable_Manual deposits",
   "x-displayName": "Manual deposits",
   "description": "Manual deposits can be used to record receipt of money that's not related to an invoice (for example, an over-the-counter cash sale). For more information, see [AR manual deposits](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_ar_deposits) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Accounts_Receivable_Manual deposit lines",
   "x-displayName": "Manual deposit lines",
   "description": "Line items in a manual deposit represent payments included in the deposit. Create and maintain AR manual deposit lines from the owning [manual deposit object](accounts-receivable.manual-deposit)."
  },
  {
   "name": "Accounts_Receivable_Manual deposit summaries",
   "x-displayName": "Manual deposit summaries",
   "description": "A manual deposit summary is a collection of payments received from customers, such as quick or manual deposit payments, grouped together for processing. Manual deposit summaries can be either opened or closed. Manual deposits can be added to open summaries."
  },
  {
   "name": "Accounts_Receivable_Dunning levels",
   "x-displayName": "Dunning levels",
   "description": "Dunning is the process of communicating with customers to collect overdue balances. Dunning levels define the levels of notices that are sent during the collection process. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Accounts_Receivable_Dunning customers",
   "x-displayName": "Dunning customers",
   "description": "Information about a customer receiving a dunning notice. A dunning notice is a notification sent to customers who have overdue invoices. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. Create and maintain dunning customers from the owning [dunning notice](accounts-receivable.dunning-notice) object.\n"
  },
  {
   "name": "Accounts_Receivable_Dunning invoices",
   "x-displayName": "Dunning invoices",
   "description": "Dunning invoices are part of a generated dunning notice when a customer fails to pay an invoice by the due date. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. Create and maintain dunning invoices from the owning [dunning customer](accounts-receivable.dunning-customer) object.\n"
  },
  {
   "name": "Accounts_Receivable_Dunning notices",
   "x-displayName": "Dunning notices",
   "description": "Dunning is the process of communicating with customers to collect overdue balances. A dunning notice is a notification sent to customers who have overdue invoices. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Accounts_Receivable_Customer refunds",
   "x-displayName": "Customer refunds",
   "description": "Customer refunds can be issued to pay a customer who has a negative balance, pay an advance that was never used, pay a credit that was never used. Issue a refund when another invoice will not be created for the customer or the customer would like their money back."
  },
  {
   "name": "Accounts_Receivable_Customer refund lines",
   "x-displayName": "Customer refund lines",
   "description": "Customer refund line items represent entries in a customer refund object. Customer refund line is an owned object of AR customer refund."
  },
  {
   "name": "Accounts_Receivable_Customer refund details",
   "x-displayName": "Customer refund details",
   "description": "A customer refund detail object includes an advance, adjustment, or invoice to pay and other details about the refund, including its state. Customer refund detail is an owned object of customer refund."
  }
 ],
 "paths": {
  "/objects/accounts-receivable/account-label": {
   "get": {
    "summary": "List account labels",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each label. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Receivable_Account labels"
    ],
    "operationId": "list-accounts-receivable-account-label",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of ar-account-label objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account labels": {
          "value": {
           "ia::result": [
            {
             "key": "9",
             "id": "Retail Sales",
             "href": "/objects/accounts-receivable/account-label/9"
            },
            {
             "key": "41",
             "id": "Retail Sales 2",
             "href": "/objects/accounts-receivable/account-label/41"
            },
            {
             "key": "10",
             "id": "Sales",
             "href": "/objects/accounts-receivable/account-label/10"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account label",
    "description": "Creates a new AR account label.",
    "tags": [
     "Accounts_Receivable_Account labels"
    ],
    "operationId": "create-accounts-receivable-account-label",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.account-label"
         },
         {
          "$ref": "#/components/schemas/accounts-receivable-account-labelRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an account label": {
         "value": {
          "id": "Wholesale Sales",
          "description": "Wholesale sales north america",
          "glAccount": {
           "id": "2050"
          },
          "status": "active",
          "offsetGLAccount": {
           "id": "1200.01"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New ar-account-label",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create an account label": {
          "value": {
           "ia::result": {
            "key": "110",
            "id": "Wholesale Sales",
            "href": "/objects/accounts-receivable/account-label/110"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/account-label/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the account label.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "integer",
      "example": 110
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an account label",
    "description": "Returns detailed information for a specified AR account label.",
    "tags": [
     "Accounts_Receivable_Account labels"
    ],
    "operationId": "get-accounts-receivable-account-label-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the ar-account-label",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-receivable.account-label"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account label": {
          "value": {
           "ia::result": {
            "key": "68",
            "id": "Wholesale Sales",
            "description": "Wholesale Sales north America",
            "glAccount": {
             "id": "000007.10.90--Check_Petty Cash",
             "key": "445",
             "href": "/objects/general-ledger/account/445"
            },
            "status": "active",
            "offsetGLAccount": {
             "id": "000007.10.90--Check_Petty Cash",
             "key": "445",
             "href": "/objects/general-ledger/account/445"
            },
            "isTaxable": false,
            "isTax": true,
            "isSubtotal": true,
            "taxGroup": {
             "id": "Auto Account Label Tax",
             "key": "14",
             "href": "/objects/tax/account-label-tax-group/14"
            },
            "taxCode": "CST",
            "deferredRevenueGLAccount": {
             "id": "000007.10.90",
             "key": "445",
             "href": "/objects/general-ledger/account/445"
            },
            "revenueRecognitionTemplate": {
             "id": "Straight Line",
             "templateTitle": "Straight Line",
             "key": "28",
             "href": "/objects/accounts-receivable/revenue-recognition-template/28"
            },
            "audit": {
             "modifiedDateTime": "2024-08-02T00:00:00Z",
             "createdDateTime": "2024-08-02T00:00:00Z",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1"
            },
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "href": "/objects/accounts-receivable/account-label/68"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an account label",
    "description": "Updates an existing AR account label by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Accounts_Receivable_Account labels"
    ],
    "operationId": "update-accounts-receivable-account-label-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.account-label"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a single value": {
         "value": {
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated account label",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated label": {
          "value": {
           "ia::result": {
            "key": "68",
            "id": "Wholesale Sales",
            "href": "/objects/accounts-receivable/account-label/68"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an account label",
    "description": "Deletes an AR account label.",
    "tags": [
     "Accounts_Receivable_Account labels"
    ],
    "operationId": "delete-accounts-receivable-account-label-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/adjustment": {
   "get": {
    "summary": "List adjustments",
    "description": "Returns a collection with a key, ID, and link for each adjustment. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "list-accounts-receivable-adjustment",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of adjustment objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List adjustments": {
          "value": {
           "ia::result": [
            {
             "key": "259",
             "id": "259",
             "href": "/objects/accounts-receivable/adjustment/259"
            },
            {
             "key": "295",
             "id": "295",
             "href": "/objects/accounts-receivable/adjustment/295"
            },
            {
             "key": "296",
             "id": "296",
             "href": "/objects/accounts-receivable/adjustment/296"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an adjustment",
    "description": "Creates a new adjustment.",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "create-accounts-receivable-adjustment",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.adjustment"
         },
         {
          "$ref": "#/components/schemas/accounts-receivable-adjustmentRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an adjustment": {
         "value": {
          "customer": {
           "id": "C-00005"
          },
          "createdDate": "2023-06-28",
          "description": "Lyon USD Adj",
          "adjustmentSummary": {
           "id": "AR Summary: 2022/01/01 Batch"
          },
          "baseCurrency": {
           "paidDate": "2022-11-15",
           "currency": "USD"
          },
          "txnCurrency": {
           "currency": "USD"
          },
          "lines": [
           {
            "txnCurrency": {
             "amount": "120.03",
             "currency": "USD"
            },
            "glAccount": {
             "id": "2990"
            },
            "dimensions": {
             "location": {
              "id": "CA"
             }
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new adjustment": {
          "value": {
           "ia::result": {
            "id": "270",
            "key": "270",
            "href": "/objects/accounts-receivable/adjustment/270"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/adjustment/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the adjustment.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an adjustment",
    "description": "Returns detailed information for a specified adjustment.",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "get-accounts-receivable-adjustment-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-receivable.adjustment"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment": {
          "value": {
           "ia::result": {
            "id": "288",
            "key": "288",
            "txnType": "ra",
            "adjustmentNumber": "adj-1",
            "state": "posted",
            "customer": {
             "id": "1",
             "key": "1",
             "name": "Power Aerospace Materials",
             "totalDue": "-17909.55",
             "href": "/objects/accounts-receivable/customer/1"
            },
            "documentNumber": "ADJ008567",
            "description": "Adjustment 3",
            "createdDate": "2024-09-24",
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "entity": {
             "key": "1",
             "id": "1",
             "name": "United States of America",
             "href": "/objects/company-config/entity/1"
            },
            "glPostingDate": "2024-09-24",
            "adjustmentSummary": {
             "id": "AR Summary: 2022/01/01 Batch",
             "key": 280,
             "href": "/objects/accounts-receivable/summary/280"
            },
            "baseCurrency": {
             "paidDate": "2024-07-19",
             "currency": "AUD",
             "totalAmountEntered": "-150.00",
             "totalSelected": "0.00",
             "totalPaid": "0.00",
             "totalDue": "-150.00"
            },
            "txnCurrency": {
             "currency": "AUD",
             "totalEntered": "-150.00",
             "totalSelected": "0.00",
             "totalPaid": "0.00",
             "totalDue": "-150.00"
            },
            "exchangeRate": {
             "date": "2024-07-17",
             "typeId": "Intacct Daily Rate",
             "rate": "1"
            },
            "contacts": {
             "billTo": {
              "id": "Power Aerospace Materials(C1)",
              "key": "152",
              "href": "/objects/company-config/contact/152"
             },
             "shipTo": {
              "id": "Power Aerospace Materials(C1)",
              "key": "152",
              "tax": {
               "group": {
                "id": null,
                "key": null
               },
               "taxId": null
              },
              "href": "/objects/company-config/contact/152"
             }
            },
            "moduleKey": "4.AR",
            "audit": {
             "createdDateTime": "2024-09-24T13:19:27Z",
             "modifiedDateTime": "2024-09-24T14:01:12Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "taxSolution": {
             "key": "1",
             "id": "Australia - GST",
             "href": "/objects/tax/tax-solution/1"
            },
            "attachment": {
             "id": "atch1",
             "key": "1",
             "href": "/objects/company-config/attachment/1"
            },
            "lines": [
             {
              "id": "2686",
              "key": "2686",
              "arAdjustment": {
               "id": "288",
               "key": "288",
               "href": "/objects/accounts-receivable/adjustment/288"
              },
              "glAccount": {
               "key": "254",
               "id": "6103",
               "name": "Bonuses",
               "href": "/objects/general-ledger/account/254"
              },
              "accountLabel": {
               "key": "35",
               "id": "Bonuses",
               "href": "/objects/accounts-receivable/account-label/35"
              },
              "baseCurrency": {
               "amount": "-125",
               "currency": "AUD"
              },
              "txnCurrency": {
               "amount": "-125",
               "currency": "AUD"
              },
              "dimensions": {
               "department": {
                "key": "9",
                "id": "11",
                "name": "Accounting",
                "href": "/objects/company-config/department/9"
               },
               "location": {
                "key": "4",
                "id": "4",
                "name": "Australia",
                "href": "/objects/company-config/location/4"
               },
               "project": {
                "key": "8",
                "id": "8",
                "name": "Client Services - Power Aerospace Materials",
                "href": "/objects/projects/project/8"
               },
               "customer": {
                "key": "1",
                "id": "1",
                "name": "Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               },
               "vendor": {
                "key": "43",
                "id": "1099 Int",
                "name": "1099 Int",
                "href": "/objects/accounts-payable/vendor/43"
               },
               "employee": {
                "key": "1",
                "id": "1",
                "name": "Reser",
                "href": "/objects/company-config/employee/1"
               },
               "item": {
                "key": "1",
                "id": "1",
                "name": "PC Computer",
                "href": "/objects/inventory-control/item/1"
               },
               "class": {
                "key": "1",
                "id": "3",
                "name": "Health Care",
                "href": "/objects/company-config/class/1"
               },
               "warehouse": {
                "key": null,
                "id": null,
                "name": null
               }
              },
              "memo": "adjustment memo",
              "exchangeRate": {
               "date": "2025-06-19",
               "typeId": "Intacct Daily Rate",
               "rate": "1"
              },
              "lineNumber": "1",
              "adjustmentType": "ra",
              "isTax": false,
              "audit": {
               "createdDateTime": "2024-09-24T13:19:27Z",
               "modifiedDateTime": "2024-09-24T14:01:12Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "createdBy": "1",
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "modifiedBy": "1"
              },
              "taxEntries": [
               {
                "txnTaxAmount": "-25.00",
                "baseTaxAmount": "-25.00",
                "orderEntryTaxDetail": {
                 "id": "AUS Standard1",
                 "key": "89",
                 "href": "/objects/tax/order-entry-tax-detail/89"
                },
                "id": "2688",
                "key": "2688",
                "taxRate": 20,
                "adjustmentLine": {
                 "id": "2686",
                 "key": "2686",
                 "href": "/objects/accounts-receivable/adjustment-line/2686"
                },
                "href": "/objects/accounts-receivable/adjustment-tax-entry/2688"
               }
              ],
              "href": "/objects/accounts-receivable/adjustment-line/2686"
             }
            ],
            "href": "/objects/accounts-receivable/adjustment/288"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an adjustment",
    "description": "Updates an existing adjustment by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "update-accounts-receivable-adjustment-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.adjustment"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an adjustment": {
         "value": {
          "description": "May 2023 Refund"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated adjustment": {
          "value": {
           "ia::result": {
            "id": "16855",
            "key": "16855",
            "href": "/objects/accounts-receivable/adjustment/16855"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an adjustment",
    "description": "Deletes an adjustment. An adjustment can be deleted if it has not yet been applied to an invoice.",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "delete-accounts-receivable-adjustment-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-receivable/adjustment/submit": {
   "post": {
    "summary": "Submit an adjustment",
    "description": "You can submit a draft adjustment to post it. Draft adjustments are adjustments that have been created, but were not yet ready to post. For more information, see [Save an adjustment as draft](https://www.intacct.com/ia/docs/en_US/help_action/Accounts_Receivable/Adjustments/How_Do_I/create-an-adjustment-htm?tocpath=Applications%7CAccounts%20Receivable%7CCredits%20and%20refunds%20%7C_____2#Saveanadjustmentasadraft).\n\nWhen you submit a `draft` adjustment, the state changes to `posted`, indicating that the adjustment has been posted to the General Ledger.\n",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "submit-accounts-receivable-adjustment",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-receivable-adjustment-actions-submit-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "11"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-receivable-adjustment-actions-submit-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "11",
            "id": "11",
            "href": "/objects/accounts-receivable/adjustment/11",
            "state": "posted"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-receivable/adjustment/reclassify": {
   "post": {
    "summary": "Reclassify an adjustment",
    "description": "You can reclassify a `posted` adjustment to update it. Only authorized users can reclassify an adjustment and the option to reclassify must be enabled for your company.\n\nWhen an adjustment reclassification is complete the `posted` state does not change, but the adjustment is updated. Only those fields listed for the reclassify operation can be edited when you reclassify an adjustment.\n",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "reclassify-accounts-receivable-adjustment",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-receivable-adjustment-actions-reclassify-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "11",
          "id": "11",
          "adjustmentNumber": "ADJ001",
          "documentNumber": "INV-1602",
          "description": "Computer Hardware & Software Expenses 03/01/24 - 08/31/25 Subscription charges.",
          "attachment": {
           "key": "1",
           "id": "Sales01"
          },
          "lines": [
           {
            "memo": "50 USD credit",
            "txnCurrency": {
             "currency": "INR",
             "amount": "145"
            },
            "exchangeRate": {
             "date": "2021-01-23",
             "rate": "1.0789",
             "typeId": "1"
            },
            "accountLabel": {
             "key": "1",
             "id": "1"
            },
            "taxEntries": [
             {
              "baseTaxAmount": "100.00",
              "txnTaxAmount": "100.00",
              "taxRate": 1.0299,
              "orderEntryTaxDetail": {
               "key": "1",
               "id": "Alaska Tax Detail"
              }
             }
            ],
            "arAdjustment": {
             "key": "10",
             "id": "10"
            },
            "dimensions": {
             "location": {
              "key": "1",
              "id": "1"
             },
             "department": {
              "key": "1",
              "id": "1"
             },
             "employee": {
              "key": "10",
              "id": "EMP-10"
             },
             "project": {
              "key": "2",
              "id": "NET-XML30-2"
             },
             "customer": {
              "key": "13",
              "id": "CUST-13"
             },
             "vendor": {
              "key": "357",
              "id": "1605212096809"
             },
             "item": {
              "key": "13",
              "id": "Case 13"
             },
             "warehouse": {
              "key": "6",
              "id": "WH01"
             },
             "class": {
              "key": "731",
              "id": "REST_CLS_001"
             },
             "task": {
              "id": "1",
              "key": "1"
             },
             "costType": {
              "id": "2",
              "key": "2"
             },
             "asset": {
              "id": "A001",
              "key": "1"
             },
             "contract": {
              "id": "CON-0045-1",
              "key": "12"
             },
             "affiliateEntity": {
              "key": "23",
              "id": "AFF-23"
             },
             "loanAccount": {
              "id": "LN001",
              "key": "852"
             },
             "workOrder": {
              "key": "18",
              "id": "WO-0017"
             }
            },
            "glAccount": {
             "key": "144",
             "id": "1112"
            },
            "overrideOffsetGLAccount": {
             "key": "384",
             "id": "1200"
            }
           }
          ]
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-receivable-adjustment-actions-reclassify-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "132",
            "id": "132",
            "href": "/objects/accounts-receivable/adjustment/11",
            "state": "posted"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-receivable/adjustment/reverse": {
   "post": {
    "summary": "Reverse an adjustment",
    "description": "Reversing an adjustment tracks the changes and maintains an audit trail. You can reverse `posted` or `paid` adjustments.\n\nWhen an adjustment reversal is complete, the state changes from `posted` or `paid` to `reversed`.\n",
    "tags": [
     "Accounts_Receivable_Adjustments"
    ],
    "operationId": "reverse-accounts-receivable-adjustment",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-receivable-adjustment-actions-reverse-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "23",
          "reversedDate": "2025-04-15",
          "memo": "Reversed the adjustment due to duplicate entry"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-receivable-adjustment-actions-reverse-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "23",
            "href": "/objects/accounts-receivable/adjustment/23",
            "state": "reversal"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/adjustment-line": {
   "get": {
    "summary": "List adjustment lines",
    "description": "Returns a collection with a key, ID, and link for each adjustment line. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Receivable_Adjustment lines"
    ],
    "operationId": "list-accounts-receivable-adjustment-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of adjustment-line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "Get adjustments": {
          "value": {
           "ia::result": [
            {
             "key": "2651",
             "id": "2651",
             "href": "/objects/accounts-receivable/adjustment-line/2651"
            },
            {
             "key": "2563",
             "id": "2563",
             "href": "/objects/accounts-receivable/adjustment-line/2563"
            },
            {
             "key": "3481",
             "id": "3481",
             "href": "/objects/accounts-receivable/adjustment-line/3481"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "ageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an adjustment line",
    "description": "Creates a new adjustment line.",
    "tags": [
     "Accounts_Receivable_Adjustment lines"
    ],
    "operationId": "create-accounts-receivable-adjustment-line",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.adjustment-line"
         },
         {
          "$ref": "#/components/schemas/accounts-receivable-adjustment-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an adjustment line": {
         "value": {
          "arAdjustment": {
           "key": "350"
          },
          "txnCurrency": {
           "amount": "50"
          },
          "glAccount": {
           "id": "4000"
          },
          "dimensions": {
           "location": {
            "key": "1"
           },
           "department": {
            "id": "4"
           },
           "project": {
            "key": "9"
           },
           "customer": {
            "key": "42"
           },
           "item": {
            "key": "1"
           },
           "employee": {
            "key": "11"
           },
           "class": {
            "key": "3"
           }
          },
          "memo": "Created memo for adjustment line charges"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new adjustment line": {
          "value": {
           "ia::result": {
            "key": "1088",
            "id": "1088",
            "href": "/objects/accounts-receivable/adjustment-line/1088",
            "ia::meta": {
             "totalCount": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/adjustment-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the adjustment line.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an adjustment line",
    "description": "Returns detailed information for a specified adjustment line.",
    "tags": [
     "Accounts_Receivable_Adjustment lines"
    ],
    "operationId": "get-accounts-receivable-adjustment-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-receivable.adjustment-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment line": {
          "value": {
           "ia::result": {
            "id": "2686",
            "key": "2686",
            "arAdjustment": {
             "id": "288",
             "key": "288",
             "href": "/objects/accounts-receivable/adjustment/288"
            },
            "glAccount": {
             "key": "254",
             "id": "6103",
             "name": "Bonuses",
             "href": "/objects/general-ledger/account/254"
            },
            "overrideOffsetGLAccount": {
             "key": "36",
             "id": "1200",
             "name": "Accounts Receivable",
             "href": "/objects/general-ledger/account/36"
            },
            "accountLabel": {
             "key": "35",
             "id": "Bonuses",
             "href": "/objects/accounts-receivable/account-label/35"
            },
            "baseCurrency": {
             "amount": "-125.00",
             "currency": "AUD"
            },
            "txnCurrency": {
             "amount": "-125.00",
             "currency": "AUD"
            },
            "dimensions": {
             "department": {
              "key": null,
              "id": null,
              "name": null
             },
             "location": {
              "key": "4",
              "id": "4",
              "name": "Australia",
              "href": "/objects/company-config/location/4"
             },
             "project": {
              "key": null,
              "id": null,
              "name": null
             },
             "customer": {
              "key": "1",
              "id": "1",
              "name": "Power Aerospace Materials",
              "href": "/objects/accounts-receivable/customer/1"
             },
             "vendor": {
              "key": null,
              "id": null,
              "name": null
             },
             "employee": {
              "key": null,
              "id": null,
              "name": null
             },
             "item": {
              "key": null,
              "id": null,
              "name": null
             },
             "class": {
              "key": null,
              "id": null,
              "name": null
             },
             "warehouse": {
              "key": null,
              "id": null,
              "name": null
             }
            },
            "memo": "adjustment one",
            "exchangeRate": {
             "date": "2024-09-24",
             "typeId": "Intacct Daily Rate",
             "rate": "1"
            },
            "lineNumber": "1",
            "adjustmentType": "ra",
            "isTax": false,
            "audit": {
             "createdDateTime": "2024-09-24T13:19:27Z",
             "modifiedDateTime": "2024-09-24T14:01:12Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "taxEntries": [
             {
              "id": "2688",
              "key": "2688",
              "adjustmentLine": {
               "id": "2686",
               "key": "2686",
               "href": "/objects/accounts-receivable/adjustment-line/2686"
              },
              "baseTaxAmount": "-25.00",
              "txnTaxAmount": "-25.00",
              "taxRate": 20,
              "orderEntryTaxDetail": {
               "id": "AUS Standard1",
               "key": "89",
               "href": "/objects/tax/order-entry-tax-detail/89"
              },
              "href": "/objects/accounts-receivable/adjustment-tax-entry/2688"
             }
            ],
            "href": "/objects/accounts-receivable/adjustment-line/2686"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an adjustment line",
    "description": "Updates an existing adjustment line by setting field values. Any fields not provided remain unchanged.\n",
    "tags": [
     "Accounts_Receivable_Adjustment lines"
    ],
    "operationId": "update-accounts-receivable-adjustment-line",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.adjustment-line"
         }
        ]
       },
       "examples": {
        "Update adjustment line with multiple fields": {
         "value": {
          "txnCurrency": {
           "amount": "10"
          },
          "glAccount": {
           "id": "1003"
          },
          "dimensions": {
           "department": {
            "id": "3"
           },
           "location": {
            "key": "2"
           }
          },
          "memo": "Updated memo for adjustment-line"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated adjustment line": {
          "value": {
           "ia::result": {
            "key": "315783",
            "id": "315783",
            "href": "/objects/accounts-receivable/adjustment-line/315783"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an adjustment line.",
    "description": "Deletes an adjustment line.",
    "tags": [
     "Accounts_Receivable_Adjustment lines"
    ],
    "operationId": "delete-accounts-receivable-adjustment-line",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/adjustment-tax-entry": {
   "get": {
    "summary": "List adjustment tax entries",
    "description": "Returns a collection with a key, ID, and link for each adjustment tax entry. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Receivable_Adjustment tax entries"
    ],
    "operationId": "list-accounts-receivable-adjustment-tax-entry",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of adjustment tax entry objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List adjustment tax entries": {
          "value": {
           "ia::result": [
            {
             "key": "8",
             "id": "8",
             "href": "/objects/accounts-receivable/adjustment-tax-entry/8"
            },
            {
             "key": "9",
             "id": "9",
             "href": "/objects/accounts-receivable/adjustment-tax-entry/9"
            },
            {
             "key": "10",
             "id": "10",
             "href": "/objects/accounts-receivable/adjustment-tax-entry/10"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/adjustment-tax-entry/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the adjustment tax entry.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "33"
    }
   ],
   "get": {
    "summary": "Get an adjustment tax entry",
    "description": "Returns detailed information for a specified adjustment tax entry.",
    "tags": [
     "Accounts_Receivable_Adjustment tax entries"
    ],
    "operationId": "get-accounts-receivable-adjustment-tax-entry-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the adjustment tax entry",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-receivable.adjustment-tax-entry"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment tax entry": {
          "value": {
           "ia::result": {
            "id": "2688",
            "key": "2688",
            "adjustmentLine": {
             "id": "2686",
             "key": "2686",
             "href": "/objects/accounts-receivable/adjustment-line/2686"
            },
            "baseTaxAmount": "-25.00",
            "txnTaxAmount": "-25.00",
            "taxRate": 20,
            "orderEntryTaxDetail": {
             "id": "AUS Standard1",
             "key": "89",
             "href": "/objects/tax/order-entry-tax-detail/89"
            },
            "href": "/objects/accounts-receivable/adjustment-tax-entry/2688"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/advance": {
   "get": {
    "summary": "List advances",
    "description": "Returns a collection with a key, ID, and link for each advance. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Receivable_Advances"
    ],
    "operationId": "list-accounts-receivable-advance",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of advance objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List advances": {
          "value": {
           "ia::result": [
            {
             "key": "621",
             "id": "621",
             "href": "/objects/accounts-receivable/advance/621"
            },
            {
             "key": "777",
             "id": "777",
             "href": "/objects/accounts-receivable/advance-line/777"
            },
            {
             "key": "802",
             "id": "802",
             "href": "/objects/accounts-receivable/advance-line/802"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an advance",
    "description": "Creates a new advance.\nIf Accounts Receivable automatic summaries are enabled, you must include either a `financialEntity` in `paymentInformation` or a `glAccount` with an `undepositedGLAccountNumber` to successfully create an advance. \nIf the Accounts Receivable application is configured to Enable Account Labels, you must include an `accountLabel` in the items array to create an advance.\n",
    "tags": [
     "Accounts_Receivable_Advances"
    ],
    "operationId": "create-accounts-receivable-advance",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.advance"
         },
         {
          "$ref": "#/components/schemas/accounts-receivable-advanceRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an advance": {
         "value": {
          "customer": {
           "id": "C-00019"
          },
          "paymentInformation": {
           "paymentDate": "2024-06-13",
           "receiptDate": "2024-06-13",
           "paymentMethod": "printedCheck",
           "financialEntity": {
            "id": "BOA"
           }
          },
          "advanceSummary": {
           "id": "511"
          },
          "items": [
           {
            "glAccount": {
             "id": "2200"
            },
            "accountLabel": {
             "id": "Travel",
             "key": "14",
             "href": "/objects/accounts-receivable/account-label/14"
            },
            "txnAmount": "500",
            "dimensions": {
             "location": {
              "id": "CA"
             }
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New advance",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new advance": {
          "value": {
           "ia::result": {
            "key": "799",
            "id": "799",
            "href": "/objects/accounts-receivable/advance/799",
            "ia::meta": {
             "totalCount": 1,
             "totalSuccess": 1,
             "totalError": 0
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/advance/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the advance.",
     "in": "path",
     "required": true,
     "example": "757",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get an advance",
    "description": "Returns detailed information for a specified advance.",
    "tags": [
     "Accounts_Receivable_Advances"
    ],
    "operationId": "get-accounts-receivable-advance-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the advance",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-receivable.advance"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an advance": {
          "value": {
           "ia::result": {
            "id": "1169",
            "key": "1169",
            "advanceSummary": {
             "id": "300",
             "key": "300",
             "href": "/objects/accounts-receivable/summary/300"
            },
            "paymentInformation": {
             "financialEntity": {
              "currency": "USD",
              "txnAmount": "10.00",
              "baseAmount": "10.00",
              "baseCurrency": "USD",
              "id": "SBME",
              "key": "13",
              "href": "/objects/cash-management/bank-account/13"
             },
             "paymentMethod": "cash",
             "currency": {
              "baseCurrency": "USD",
              "txnCurrency": "USD",
              "exchangeRateDate": "2024-01-10",
              "exchangeRateTypeId": "Standard rate",
              "exchangeRate": 1
             },
             "receiptDate": "2024-06-13",
             "paymentDate": "2024-06-13",
             "totalSelected": "0.00",
             "txnTotalSelected": "0.00",
             "totalPaid": "0.00",
             "txnTotalPaid": "0.00",
             "totalDue": "10.00",
             "totalTxnAmountDue": "10.00"
            },
            "glAccount": {
             "undepositedGLAccountNumber": "1070"
            },
            "customer": {
             "id": "Cust_ForInvoice_0021",
             "name": "Cust_ForInvoice_0021"
            },
            "referenceNumber": "Number10",
            "description": "Advance 10",
            "advanceNumber": "Advance-001",
            "recordType": "rr",
            "state": "posted",
            "totalEntered": "10.00",
            "txnTotalEntered": "10.00",
            "audit": {
             "createdDateTime": "2024-06-13T00:00:00Z",
             "modifiedDateTime": "2024-06-26T05:51:05Z",
             "createdByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "createdDate": "2024-06-13",
            "reconciliationGroup": {
             "cleared": "false",
             "clearingDate": "2024-06-13"
            },
            "isSystemGenerated": false,
            "attachment": {
             "id": "10"
            },
            "deposit": {
             "id": "234",
             "key": "234"
            },
            "items": [
             {
              "id": "2596",
              "key": "2596",
              "arAdvance": {
               "id": "1169",
               "key": "1169",
               "recordType": "rr",
               "href": "/objects/accounts-receivable/advance/1169"
              },
              "glAccount": {
               "key": "259",
               "id": "6254",
               "name": "Travel",
               "href": "/objects/general-ledger/account/259"
              },
              "accountLabel": {
               "id": "10",
               "key": "10",
               "href": "/objects/accounts-receivable/account-label/10"
              },
              "baseAmount": "10.00",
              "txnAmount": "10.00",
              "dimensions": {
               "department": {
                "key": "14",
                "id": "77",
                "name": "Quality Assurance",
                "href": "/objects/company-config/department/14"
               },
               "location": {
                "key": "42",
                "id": "WDH",
                "name": "West Delhi",
                "href": "/objects/company-config/location/42"
               },
               "project": {
                "key": null,
                "id": null,
                "name": "null"
               },
               "nsp::jurisdiction": {
                "key": null
               }
              },
              "baseLocation": {
               "name": "West Delhi",
               "key": "42",
               "href": "/objects/company-config/location/42"
              },
              "memo": "null",
              "currency": {
               "exchangeRate": {
                "date": "2024-06-13",
                "typeId": "null",
                "rate": 1
               },
               "baseCurrency": "USD",
               "txnCurrency": "USD"
              },
              "lineNumber": 1,
              "paymentInformation": {
               "totalPaid": "0.00",
               "txnTotalPaid": "0.00",
               "totalSelected": "0.00",
               "txnTotalSelected": "0.00"
              },
              "audit": {
               "createdDateTime": "2024-06-26T05:51:05Z",
               "modifiedDateTime": "2024-06-26T05:51:05Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "href": "/objects/accounts-receivable/advance-line/2596\""
             }
            ],
            "href": "/objects/accounts-receivable/advance/1169"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an advance",
    "description": "Updates an existing advance by setting field values. Any fields not provided remain unchanged. Advances that have not yet been applied to an invoice can be updated. The General Ledger account book for the advance must also be open. If an advance was applied to an invoice and later unapplied, it cannot be updated.",
    "tags": [
     "Accounts_Receivable_Advances"
    ],
    "operationId": "update-accounts-receivable-advance-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.advance"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "state": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an advance": {
         "value": {
          "referenceNumber": "DOC1234"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated advance",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated advance": {
          "value": {
           "ia::result": {
            "key": "799",
            "id": "799",
            "href": "/objects/accounts-receivable/advance/799",
            "ia::meta": {
             "totalCount": 1,
             "totalSuccess": 1,
             "totalError": 0
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an advance",
    "description": "Deletes an advance.",
    "tags": [
     "Accounts_Receivable_Advances"
    ],
    "operationId": "delete-accounts-receivable-advance-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-receivable/advance/submit": {
   "post": {
    "summary": "Submit an advance",
    "description": "Submit a draft AR advance when it is ready to be posted. When an advance is submitted, the state changes from `draft` to `posted`.",
    "tags": [
     "Accounts_Receivable_Advances"
    ],
    "operationId": "submit-accounts-receivable-advance",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-receivable-advance-actions-submit-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "11"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-receivable-advance-actions-submit-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "11",
            "id": "11",
            "href": "/objects/accounts-receivable/advance/11",
            "state": "posted"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/accounts-receivable/advance/reverse": {
   "post": {
    "summary": "Reverse an advance",
    "description": "Reversing an advance tracks the changes and maintains an audit trail. You can reverse `posted` or `paid` advances.\n\nWhen an advance reversal is complete, the state changes from `posted` or `paid` to `reversed`.\n",
    "tags": [
     "Accounts_Receivable_Advances"
    ],
    "operationId": "reverse-accounts-receivable-advance",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/accounts-receivable-advance-actions-reverse-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "23",
          "reversedDate": "2025-04-15",
          "memo": "Reversed the advance due to duplicate entry"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/accounts-receivable-advance-actions-reverse-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "23",
            "href": "/objects/accounts-receivable/advance/23",
            "state": "reversal"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/advance-line": {
   "get": {
    "summary": "List advance lines",
    "description": "Returns a collection with a key, ID, and link for each advance line item. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Receivable_Advance lines"
    ],
    "operationId": "list-accounts-receivable-advance-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List advance lines",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List advance lines": {
          "value": {
           "ia::result": [
            {
             "key": "2031",
             "id": "2031",
             "href": "/objects/accounts-receivable/advance-line/2031"
            },
            {
             "key": "2067",
             "id": "2067",
             "href": "/objects/accounts-receivable/advance-line/2067"
            },
            {
             "key": "856",
             "id": "856",
             "href": "/objects/accounts-receivable/advance-line/856"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an advance line",
    "description": "Creates a new advance line.\n",
    "tags": [
     "Accounts_Receivable_Advance lines"
    ],
    "operationId": "create-receivable-advance-line",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.advance-line"
         },
         {
          "$ref": "#/components/schemas/accounts-receivable-advance-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an advance line": {
         "value": {
          "arAdvance": {
           "key": "89"
          },
          "glAccount": {
           "id": "2200"
          },
          "txnAmount": "2500.00",
          "accountLabel": {
           "id": "Bank Fees"
          },
          "dimensions": {
           "location": {
            "key": "1"
           },
           "department": {
            "key": "4"
           },
           "project": {
            "key": "8"
           },
           "employee": {
            "key": "24"
           },
           "item": {
            "key": "1"
           },
           "class": {
            "key": "1"
           }
          },
          "memo": "Created memo for advance line charges"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New advance line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new advance line": {
          "value": {
           "ia::result": {
            "key": "795",
            "id": "795",
            "href": "/objects/accounts-receivable/advance-line/795",
            "ia::meta": {
             "totalCount": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/advance-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the advance line.",
     "example": "41",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get an advance line",
    "description": "Returns detailed information for a specified advance line.",
    "tags": [
     "Accounts_Receivable_Advance lines"
    ],
    "operationId": "get-accounts-receivable-advance-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the advance line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.accounts-receivable.advance-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an advance line": {
          "value": {
           "ia::result": {
            "key": "2067",
            "id": "2067",
            "advance": {
             "id": "799",
             "key": "799",
             "recordType": "rr",
             "href": "/objects/accounts-receivable/advance/799"
            },
            "bank": {
             "amount": "100.00",
             "txnAmount": "100.00",
             "txnCurrency": "USD",
             "baseCurrency": "USD",
             "bankExchangeRate": {
              "date": "2025-01-23",
              "rate": 1,
              "typeId": "-1"
             }
            },
            "glAccount": {
             "key": "156",
             "id": "2200",
             "name": "Customer Advances",
             "href": "/objects/general-ledger/account/156"
            },
            "accountLabel": {
             "key": "14",
             "id": "westsa",
             "href": "/objects/accounts-receivable/account-label/14"
            },
            "baseAmount": "100.00",
            "txnAmount": "100.00",
            "dimensions": {
             "department": {
              "key": "9",
              "id": "11",
              "name": "Accounting",
              "href": "/objects/company-config/department/9"
             },
             "location": {
              "key": "1",
              "id": "1",
              "name": "United States of America",
              "href": "/objects/company-config/location/1"
             },
             "project": {
              "key": null,
              "id": null,
              "name": null
             },
             "contract": {
              "key": null,
              "id": null,
              "name": null
             },
             "customer": {
              "key": "36",
              "id": "C-00045",
              "name": "Metro Artic, Inc.",
              "href": "/objects/accounts-receivable/customer/36"
             },
             "vendor": {
              "key": null,
              "id": null,
              "name": null
             },
             "employee": {
              "key": null,
              "id": null,
              "name": null
             },
             "item": {
              "key": null,
              "id": null,
              "name": null
             },
             "class": {
              "key": null,
              "id": null,
              "name": null
             }
            },
            "baseLocation": {
             "id": "United States of America",
             "key": "1",
             "href": "/objects/company-config/location/1"
            },
            "memo": "New contract down payment",
            "currency": {
             "exchangeRate": {
              "date": "2024-04-25",
              "typeId": "-1",
              "rate": 0.04937
             },
             "baseCurrency": "USD",
             "txnCurrency": "USD"
            },
            "lineNumber": 1,
            "paymentInformation": {
             "totalPaid": "100.00",
             "txnTotalPaid": "100.00",
             "totalSelected": "100.00",
             "txnTotalSelected": "100.00"
            },
            "audit": {
             "createdDateTime": "2024-06-13T06:42:36Z",
             "modifiedDateTime": "2024-06-13T07:31:51Z",
             "createdByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "href": "/objects/accounts-receivable/advance-line/2067"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an advance line",
    "description": "Updates an advance line.\n",
    "tags": [
     "Accounts_Receivable_Advance lines"
    ],
    "operationId": "update-accounts-receivable-advance-line",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.accounts-receivable.advance-line"
         }
        ]
       },
       "examples": {
        "Update a single advance line": {
         "value": {
          "txnAmount": "1300.00"
         }
        },
        "Update advance lines": {
         "value": {
          "txnAmount": "1300.00",
          "glAccount": {
           "id": "2200"
          },
          "accountLabel": {
           "id": "Bank Interest Earned"
          },
          "dimensions": {
           "department": {
            "key": "9"
           },
           "location": {
            "key": "1"
           },
           "project": {
            "key": "8"
           },
           "customer": {
            "key": "1"
           },
           "vendor": {
            "key": "43"
           },
           "employee": {
            "key": "24"
           },
           "item": {
            "key": "1"
           },
           "class": {
            "key": "1"
           }
          },
          "memo": "Updated memo for advance-line"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated advance line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated advance line": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "href": "/objects/accounts-receivable/advance-line/5",
            "ia::meta": {
             "totalCount": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/accounts-receivable/billback-template": {
   "get": {
    "summary": "List bill back templates",
    "description": "Returns a collection with a key, ID, and link for each bill back template. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Accounts_Receivable_Bill back templates"
    ],
    "operationId": "list-accounts-receivable-billback-template",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of billback-template objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List bill back templates": {
          "value": {
           "ia::result": [
            {
             "key": "11",
             "id": "BBT-AU2I",
             "href": "/objects/accounts-receivable/billback-template/11"
            },
            {
             "key": "14",
             "id": "BBT-AU2US",
             "href": "/objects/accounts-receivable/billback-template/14"
            },
            {
             "key": "25",
             "id": "BBT-FR2US",
             "href": "/objects/accounts-receivable/billback-template/25"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a bill back template",
    "description": "Creates a new bill back template. Several configuration steps must be completed before creating bill back templates. For more information, see [Set up inter-entity bill back](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_bill_back) in the Sage Intacct Help Center.",
    "tags": [
     "Accounts_Receivable_Bill back templates"
    ],
    "operationId": "create-accounts-receivable-billback-template",
    "requestBody": {
[...]
