{
 "openapi": "3.0.3",
 "info": {
  "title": "Cash Management",
  "version": "1",
  "description": "Cash Management is used to manage your cash accounts, including banks, savings institutions, and charge cards—all in one centralized location."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Cash_Management_Financial institutions",
   "x-displayName": "Financial institutions",
   "description": "A financial institution serves as an umbrella object for bank accounts that use the same sign-in process to connect to bank feeds.\n"
  },
  {
   "name": "Cash_Management_Bank accounts",
   "x-displayName": "Bank accounts",
   "description": "This object provides information about a bank account, which can be a checking, savings, or a credit card account."
  },
  {
   "name": "Cash_Management_Checking accounts",
   "x-displayName": "Checking accounts",
   "description": "A checking account represents a specific type of cash account used to manage day-to-day transactions, such as vendor payments, customer deposits, payroll and reconciliations.\n\nFor more information, read about [checking accounts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_set_up_checking_accounts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Credit card accounts",
   "x-displayName": "Credit card accounts",
   "description": "Sage Intacct defines credit card accounts as including both credit cards and debit cards. In Accounts Payable, there's a difference between the two.\n\n* A credit card is a cash account that's related to a credit card vendor. The credit card account in Sage Intacct represents the actual credit card in the real world. Record charges made on this card in the Cash Management application.\n\n* A debit card is associated with a checking account and is another way to debit that account. When a debit card charge is recorded, the bank account is debited and the transaction is final.\n\nAlthough treated differently in Accounts Payable, credit and debit cards are treated the same way in Accounts Receivable. A customer payment made with either type of credit card debits that customer account and deposits the payment into your account.\n"
  },
  {
   "name": "Cash_Management_Savings accounts",
   "x-displayName": "Savings accounts",
   "description": "Provides the relevant information for a savings account, including account ID, number, and so on."
  },
  {
   "name": "Cash_Management_Bank transactions",
   "x-displayName": "Bank transactions",
   "description": "Bank transactions represent individual bank account or credit card transactions recorded in a bank feed. They can be matched to existing transactions in Sage Intacct or created as new transactions for reconciliation.\n\nFor more information, read about [bank transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_bank_transactions) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Bank transaction rule sets",
   "x-displayName": "Bank transaction rule sets",
   "description": "Bank transaction rule sets act as containers for matching and creating rules. The rules determine how to match incoming bank transactions or create new transactions for reconciliation in Sage Intacct.\n\nFor more information, read about [bank transaction rule set run details](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_rules_rule_sets) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank transaction rule set run logs",
   "x-displayName": "Bank transaction rule set run logs",
   "description": "Bank transaction rule set run logs are used to view how well a rule set, or the match and create rules within it, are performing. They provide detailed information about each execution of a bank transaction rule set, including the number of transactions processed, matched, and created, as well as any errors encountered during the run.\n\nFor more information, read about [bank transaction rule set run logs](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_rules_rule_sets) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank transaction rule set run details",
   "x-displayName": "Bank transaction rule set run details",
   "description": "Bank transaction rule set run details records contain information about the execution of individual rules within a bank transaction rule set during a specific run. They are part of a bank transaction rule set run log which provides an overview of the execution of a bank transaction rule set against bank transactions.\n\nFor more information, read about [bank transaction rule set run details](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_rules_rule_sets) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank transaction rules",
   "x-displayName": "Bank transaction rules",
   "description": "Bank transaction rules determine whether incoming bank transactions are matched to existing Sage Intacct transactions or used to create new transactions. A `match` rule matches incoming bank transactions to existing Sage Intacct transactions. A `create` rule uses incoming bank transactions to create new Sage Intacct transactions.\n"
  },
  {
   "name": "Cash_Management_Bank transaction rule filters",
   "x-displayName": "Bank transaction rule filters",
   "description": "Filters define which transactions a bank transaction rule considers when attempting to find a match. You can filter by Intacct transactions or bank transactions. For `match` rules, filters are optional. For `create` rules, a filter must be based on bank transaction posting dates. `Create` rules can only filter by bank transactions. \n"
  },
  {
   "name": "Cash_Management_Bank transaction rule groups",
   "x-displayName": "Bank transaction rule groups",
   "description": "Grouping (optional) organizes transactions within a bank transaction rule. A rule first applies any defined filters. After filtering, the rule attempts to create a group. A rule can group either bank transactions or Intacct transactions. For `match` rules, only Intacct transactions can be grouped. \n"
  },
  {
   "name": "Cash_Management_Bank transaction rule maps",
   "x-displayName": "Bank transaction rule maps",
   "description": "A bank transaction rule map links a bank transaction rule to a rule set."
  },
  {
   "name": "Cash_Management_Bank transaction rule matches",
   "x-displayName": "Bank transaction rule matches",
   "description": "Bank transaction rule matches, used within bank transaction rules, determine how incoming bank transactions are automatically matched to existing Intacct transactions. Incoming transactions may originate from a bank feed or an import file.\n"
  },
  {
   "name": "Cash_Management_Bank transaction assignment rules",
   "x-displayName": "Bank transaction assignment rules",
   "description": "Bank transaction assignment rules automatically assign a customer to an unmatched bank deposit transaction in a checking or savings account based on pre-defined criteria. Assignment rules run for incoming and existing unmatched bank transaction credits so payment type transactions are assigned to a customer.\n\nFor more information, read about [bank transaction assignment rules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_assignment_rules) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank transaction assignment rule filters",
   "x-displayName": "Bank transaction assignment rule filters",
   "description": "Bank transaction assignment rule filters are used in bank transaction assignment rules. They define criteria for automatically assigning customers to unmatched bank deposit transactions based on specific attributes such as transaction type, amount, or description. Assignment rules run for incoming and existing unmatched bank transaction credits so payment type transactions are assigned to a customer. \n\nFor more information, read about [bank transaction assignment rules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_assignment_rules) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank fees",
   "x-displayName": "Bank fees",
   "description": "Bank fees are financial transactions that capture charges or incentives incurred in connection with bank account activity.\n\nFor more information, read [about bank interest and charges](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_bank_interest) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Bank fee lines",
   "x-displayName": "Bank fee lines",
   "description": "Bank fee lines represent interest and bank charges assoicated with a bank fee. Create and maintain bank fee lines from the owning bank fee."
  },
  {
   "name": "Cash_Management_Bank fee tax entries",
   "x-displayName": "Bank fee tax entries",
   "description": "Bank fee tax entries contain tax entry details for VAT enabled bank fee lines. Create and maintain bank fee tax entries from the owning bank fee line.\n\nFor more information, read about [entering taxable transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Enter_taxable_transactions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank files",
   "x-displayName": "Bank files",
   "description": "Bank files are generated files that contain payment information for electronic payments. Sage Intacct supports bank files in a local bank file format that can be uploaded to the company's banking portal to provide the bank with the required payment data. The bank can then process payments using the bank file. \n\nFor more information, read about [bank files](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Bank_file_payment) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Bank file details",
   "x-displayName": "Bank file details",
   "description": "Bank file details are associated with a bank file and provide detailed information about a bank file payment transaction, such as payment details and bank file errors.\n\nFor more information, read about [bank files](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Bank_file_payment) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank feeds",
   "x-displayName": "Bank feeds",
   "description": "A bank feed is a connection between Sage Intacct and your bank. Sage Intacct receives transactions from the bank and automatically matches them using reconciliation rules during the month-end close. Bank feeds allow you to access transaction records for bank reconciliations directly using Sage Cloud Services, or you can provide your own transaction records as XML elements.\n\nBank feeds are currently supported for checking account reconciliation. When you create a bank feed, the bank transactions become available for matching against existing transactions during reconciliation.\n\nFor more information, read [an overview of bank feeds](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Bank_rec_bank_feeds) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Bank reconciliations",
   "x-displayName": "Bank reconciliations",
   "description": "Bank account reconciliation is where you can match bank transactions throughout the month or even perform daily or \"soft\" reconciliations to help eliminate your month-end close. There are three ways to reconcile an account in Sage Intacct, manually, by importing a bank file, or by connecting to a bank feed.\n\nFor more information, read about [bank reconciliation](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Bank_rec_converting_over) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Bank reconciliation records",
   "x-displayName": "Bank reconciliation records",
   "description": "A bank reconciliation record contains detailed information about a single bank transaction. It is either manually added from the owning bank reconciliation object or imported from a file or bank feed. During the reconciliation process, the bank reconciliation record is matched to a transaction previously posted in the General Ledger (GL). Bank reconciliation records are created and updated in the owning bank reconciliation object.\n\nFor more information, read [about reconciliation](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_reconciliations) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Account reconciliation source records",
   "x-displayName": "Account reconciliation source records",
   "description": "An account reconciliation source record represents a single imported external transaction, such as a bank or credit card entry. It is used to match against posted transactions during the reconciliation process.\n\nFor more information, read about [reconciliation](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_reconciliations) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Initial open items",
   "x-displayName": "Initial open items",
   "description": "Initial open items consist of outstanding checks, deposits, or other transactions that had not cleared the bank when you last reconciled the account but that were included in your opening General Ledger balances in Sage Intacct.\n\nFor more information, read about [initial open items](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_initial_open_items) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Credit card transactions",
   "x-displayName": "Credit card transactions",
   "description": "Credit card transaction records contain comprehensive details about each credit card transaction, for example, payment amounts, exchange rate information and applicable taxes. Each record can contain multiple line items, each with individual amounts, currency information, payment amounts and tax details.\n"
  },
  {
   "name": "Cash_Management_Credit card transaction lines",
   "x-displayName": "Credit card transaction lines",
   "description": "Line items in a credit card transaction represent individual charges, adjustments or credits applied to credit and debit cards. Each line item contains detailed information such as amounts, currency, exchange rate, and tax information."
  },
  {
   "name": "Cash_Management_Credit card transaction tax entries",
   "x-displayName": "Credit card transaction tax entries",
   "description": "Tax entry details for VAT enabled credit card transactions, each line item will have applicable tax entry information. Providing multiple entries is allowed if the tax solution supports it (AU, GB, FR). For ZA, only one tax entry is allowed."
  },
  {
   "name": "Cash_Management_Credit card transaction templates",
   "x-displayName": "Credit card transaction templates",
   "description": "Credit card transaction templates provide a predefined structure to standardize credit card transactions. By applying a transaction template to each credit card transaction, you ensure the transaction is recorded consistently, with fields such as payee and tax implications automatically populated.\n"
  },
  {
   "name": "Cash_Management_Credit card transaction line templates",
   "x-displayName": "Credit card transaction line templates",
   "description": "Credit card transaction line templates provide a predefined structure to standardize credit card transaction line items.\n"
  },
  {
   "name": "Cash_Management_Credit card fees",
   "x-displayName": "Credit card fees",
   "description": "Credit card fees are financial transactions that capture finance charges and other fees for a credit card, such as late charges or monthly interest fees. \n\nFor more information, read [about credit card finance charges and fees](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_charge_card_fees) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Credit card fee lines",
   "x-displayName": "Credit card fee lines",
   "description": "Credit card fee lines represent credit card finance charges and other fees associated with a credit card fee. Create and maintain credit card fee lines from the owning credit card fee."
  },
  {
   "name": "Cash_Management_Credit card fee tax entries",
   "x-displayName": "Credit card fee tax entries",
   "description": "Credit card fee tax entries contain tax entry details for VAT enabled credit card fee lines. Create and maintain bank fee tax entries from the owning bank fee line.\n\nFor more information, read about [entering taxable transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Enter_taxable_transactions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Credit card reconciliations",
   "x-displayName": "Credit card reconciliations",
   "description": "Credit card reconciliation records and matches bank statement activity with internal accounting transactions to ensure accuracy and align balances. There are three ways to reconcile a credit card in Sage Intacct, manually or by using bank files or bank feeds to automatically match transactions based on the rule set applied to the credit card.\n\nFor more information, watch the video, [reconcile a credit card account with bank feeds](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Video_reconcile_cc_bank_feeds) in the Sage Intacct Help Center."
  },
  {
   "name": "Cash_Management_Credit card reconciliation records",
   "x-displayName": "Credit card reconciliation records",
   "description": "A credit card reconciliation record represents a single external credit card transaction. It contains detailed information about the transaction and is either manually added from the owning credit card reconciliation object or imported from a file or bank feed. During the reconciliation process it is matched to a transaction previously posted in the General Ledger (GL).\n\nFor more information, read [about reconciliation](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_reconciliations) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Deposits",
   "x-displayName": "Deposits",
   "description": "Deposit transactions capture information about the deposit, such as the bank account, deposit date, and total amount. A deposit can have one or more deposit lines that represent the individual payments included in the deposit. \n\nFor more information, read about [deposits](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_ar_deposits) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Deposit lines",
   "x-displayName": "Deposit lines",
   "description": "Deposit lines represent individual customer payments included in a deposit transaction, including information needed to apply the payment to Accounts Receivable (AR). Create and maintain deposit lines in the owning [deposit](cash-management.deposit) object.\n\nFor more information, read [about deposits](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_ar_deposits) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Deposit details",
   "x-displayName": "Deposit details",
   "description": "Deposit details represent additional deposit information for individual customer payments included in a deposit transaction. Create and maintain deposit details in the owning [deposit](cash-management.deposit) object.\n\nFor more information, read [about deposits](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_ar_deposits) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Undeposited funds",
   "x-displayName": "Undeposited funds",
   "description": "An undeposited funds object represents a temporary holding account used to record customer payments, such as checks and cash payments, before they are deposited into a bank account. It allows you to record receipts without immediately assigning them to a specific deposit date or bank. \n\nFor more information read [about deposits](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_ar_deposits) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Cash_Management_Funds transfers",
   "x-displayName": "Funds transfers",
   "description": "A funds transfer is a transaction that records the movement of funds from one cash account to another. Cash accounts include checking accounts and savings accounts.\n\nFor more information, read [about funds transfers](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Funds_transfers_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Funds transfer lines",
   "x-displayName": "Funds transfer lines",
   "description": "Funds transfer lines are automatically generated when a funds transfer is created. Each line item is posted to the general ledger when the transaction is created. Create and maintain funds transfer lines in the owning [funds transfer](cash-management.funds-transfer) object.\n\nFor more information, read [about funds transfers](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Funds_transfers_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Other receipts",
   "x-displayName": "Other receipts",
   "description": "Other receipts represent incoming payments that are not linked to specific customers or invoices. They are typically used to record miscellaneous income or non-invoice related deposits. These transactions may include cash deposits, credit card payments, bank transfers or check receipts.\n\nFor more information, read [about other receipts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_other_receipts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Other receipt lines",
   "x-displayName": "Other receipt lines",
   "description": "Other receipt lines represent the individual postings in an other receipt object. Each line includes details like amount, account and dimensions, such as location or department, along with information about the associated General Ledger (GL) posting. Create and maintain other receipt lines in the owning [other-receipt](cash-management.other-receipt) object.\n\nFor more information, see [other receipts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_other_receipts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Other receipt tax entries",
   "x-displayName": "Other receipt tax entries",
   "description": "Other receipt tax entries contain tax details for the associated order entry and other receipt line. Create and maintain other receipt tax entries in the owning [other-receipt-line](cash-management.other-receipt-line) object.\n\nFor more information, see [tax details](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Tax_details_vat) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Received payments",
   "x-displayName": "Received payments",
   "description": "Received payments provide the ability to receive and record a full or partial payment made by a customer against specific invoices. You can also create advance payments when no invoices match the bank transactions or save the payment as draft if you are not ready to post the payment. You can create and update received payment lines in the owning received payment object.\n\nFor more information, read about [received payments](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Receive_payments) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Received payment lines",
   "x-displayName": "Received payment lines",
   "description": "Line items represent details for each received payment or advance, including the bank transaction record and the Sage Intacct transaction record.\n\nFor more information, read about [received payments](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Receive_payments) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_AR advance transaction templates",
   "x-displayName": "AR advance transaction templates",
   "description": "AR advance transaction templates define how to create new advance transactions in Sage Intacct based on data from an import file or bank feed. When you receive a payment, you have the option to create an advance, these templates determine how to create the advance.\n\nFor more information, read about [AR advance transaction templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=AR_advance_transaction_template) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_AR advance transaction line templates",
   "x-displayName": "AR advance transaction line templates",
   "description": "AR advance transaction line templates define the line-level details for AR advance transactions. Each line template specifies how portions of an AR advance transaction are recorded in the General Ledger (GL), including account and dimension assignments.\n\nFor more information, read about [AR advance transaction templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=AR_advance_transaction_template) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Cash_Management_Journal entry templates",
   "x-displayName": "Journal entry templates",
   "description": "Journal entry templates store predefined information used to populate journal entries generated from them. They include journal entry line templates, which define the individual lines of a journal entry created from the template, specifying information such as account details and amounts.\n\nIf using a creation rule for reconciliation, the rule must reference a journal entry template. \n"
  },
  {
   "name": "Cash_Management_Journal entry line templates",
   "x-displayName": "Journal entry line templates",
   "description": "Journal entry line templates store predefined information to quickly populate the lines of a journal entry generated from a journal entry template. Create and maintain journal entry line templates from the owning journal entry template object."
  },
  {
   "name": "Cash_Management_Payment providers",
   "x-displayName": "Payment providers",
   "description": "Provides information about subscribed payment providers. For example, if an account includes a subscription to Vendor Payments powered by CSI, you can use these operations to retrieve information for that payment provider.\nPayment provider services, like Vendor Payments powered by CSI, are only for US vendors accepting USD. See [Compare payment methods](https://www.intacct.com/ia/docs/en_US/help_action/Cash_Management/Payment_Methods/select-a-payment-method.htm) for more information.\n"
  },
  {
   "name": "Cash_Management_Payment provider bank accounts",
   "x-displayName": "Payment provider bank accounts",
   "description": "Models the bank accounts associated with a payment provider for electronic payments. After the subscription status for a payment provider is Subscribed, you can add bank accounts for that payment provider. Subscribed status is set after your company's application has been received by the payment provider and all required paperwork has been signed.\nPayment provider services, like Vendor Payments powered by CSI, are only for US vendors accepting USD. See [Compare payment methods](https://www.intacct.com/ia/docs/en_US/help_action/Cash_Management/Payment_Methods/select-a-payment-method.htm) for more information.\n"
  },
  {
   "name": "Cash_Management_Provider payment methods",
   "x-displayName": "Provider payment methods",
   "description": "Provides relevant information for a subscribed payment provider's supported payment methods. After confirming a payment provider's information, you can associate a vendor and a bank account with that payment provider. See [Payment provider bank accounts](cash-management.payment-provider-bank-account) and [Vendor payment providers](accounts-payable.vendor-payment-provider) to learn more. \nPayment provider services, like Vendor Payments powered by CSI, are only for US vendors accepting USD. See [Compare payment methods](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=HDI_Select_Payment_Method) for more information.\n"
  }
 ],
 "paths": {
  "/objects/cash-management/financial-institution": {
   "get": {
    "summary": "List financial institutions",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each financial institution. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Cash_Management_Financial institutions"
    ],
    "operationId": "list-cash-management-financial-institution",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of  Financial Institutions objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List financial institutions": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "FinInst1",
             "href": "/objects/cash-management/financial-institution/1"
            },
            {
             "key": "2",
             "id": "FinInst2",
             "href": "/objects/cash-management/financial-institution/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a financial institution",
    "description": "Creates a new financial institution.",
    "tags": [
     "Cash_Management_Financial institutions"
    ],
    "operationId": "create-cash-management-financial-institution",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.cash-management.financial-institution"
         },
         {
          "$ref": "#/components/schemas/cash-management-financial-institutionRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a financial institution": {
         "summary": "Create a financial institution",
         "value": {
          "financialInstitutionId": "FinInst-BOA",
          "name": "FinOn4ss5e",
          "addOnServices": [
           {
            "name": "MAL",
            "serviceContract": {
             "key": "129",
             "accountType": "checking"
            }
           }
          ],
          "checkingAccounts": [
           {
            "key": "72",
            "externalBankAccount": {
             "id": "a421d6c8-ed48-454d-a60e-7b697c67b956",
             "name": "Plaid Saving"
            },
            "requestedStartDate": "2021-01-23"
           },
           {
            "key": "69",
            "externalBankAccount": {
             "id": "412f0837-c236-4917-9796-84ec52cd3edb",
             "name": "Plaid CD"
            },
            "requestedStartDate": "2021-01-23"
           }
          ],
          "savingsAccounts": [
           {
            "key": "33",
            "externalBankAccount": {
             "id": "d6c05270-66f0-4d1b-8c1e-d35b4914e991",
             "name": "Plaid IRA"
            },
            "requestedStartDate": "2021-01-23"
           },
           {
            "key": "30",
            "externalBankAccount": {
             "id": "11dd5715-2585-43e5-8a6c-501923ca72ec",
             "name": "Plaid 401k"
            },
            "requestedStartDate": "2021-01-23"
           }
          ],
          "creditCards": [
           {
            "key": "60",
            "externalBankAccount": {
             "id": "be157d12-d181-4409-958f-1d8fb95b504f",
             "name": "Plaid Credit Card"
            },
            "requestedStartDate": "2021-01-23"
           },
           {
            "key": "7",
            "externalBankAccount": {
             "id": "41650f07-0f3f-432d-9d57-e56a6286bdf0",
             "name": "Plaid Money Market"
            },
            "requestedStartDate": "2021-01-23"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New financial-institution",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new financial institution": {
          "value": {
           "ia::result": {
            "key": "103",
            "id": "103",
            "href": "/objects/cash-management/financial-institution/103"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/financial-institution/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the financial institution.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a financial institution",
    "description": "Returns detailed information for a specified financial institution.",
    "tags": [
     "Cash_Management_Financial institutions"
    ],
    "operationId": "get-cash-management-financial-institution-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Detail of the financial institutions",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.cash-management.financial-institution"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "Get a financial institution": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "1",
            "financialInstitutionId": "FinInst1",
            "name": "FinOn4ddss5e",
            "totalAccounts": 7,
            "checkingAccounts": [
             {
              "key": "129",
              "href": "/objects/cash-management/checking-account/129"
             },
             {
              "key": "72",
              "href": "/objects/cash-management/checking-account/72"
             },
             {
              "key": "69",
              "href": "/objects/cash-management/checking-account/69"
             }
            ],
            "savingsAccounts": [
             {
              "key": "33",
              "href": "/objects/cash-management/savings-account/33"
             },
             {
              "key": "30",
              "href": "/objects/cash-management/savings-account/30"
             }
            ],
            "creditCards": [
             {
              "key": "7",
              "href": "/objects/cash-management/credit-card-account/7"
             },
             {
              "key": "60",
              "href": "/objects/cash-management/credit-card-account/60"
             }
            ],
            "addOnServices": [
             {
              "name": "MAL",
              "serviceContract": {
               "key": "129",
               "accountType": "checking"
              }
             }
            ],
            "href": "/objects/cash-management/financial-institution/96"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a financial institution",
    "description": "Updates an existing financial institution by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Cash_Management_Financial institutions"
    ],
    "operationId": "update-cash-management-financial-institution-key",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.cash-management.financial-institution"
       },
       "examples": {
        "Update a financial institution": {
         "value": {
          "financialInstitutionId": "FinInst-BOA",
          "checkingAccounts": [
           {
            "key": "99",
            "externalBankAccount": {
             "id": "a532e7d9-ed59-565d-a71e-8b718c7c167",
             "name": "Corp Saving"
            },
            "requestedStartDate": "2021-01-23"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated financial-institution",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated financial institution": {
          "value": {
           "ia::result": {
            "key": "96",
            "id": "96",
            "href": "/objects/cash-management/financial-institution/96"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a financial institution",
    "description": "Deletes a financial institution.",
    "tags": [
     "Cash_Management_Financial institutions"
    ],
    "operationId": "delete-cash-management-financial-institution-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/bank-account": {
   "get": {
    "summary": "List bank accounts",
    "description": "Returns a collection with a key, ID, and link for each bank account.",
    "tags": [
     "Cash_Management_Bank accounts"
    ],
    "operationId": "list-cash-management-bank-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of bank accounts",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List bank accounts": {
          "value": {
           "ia::result": [
            {
             "key": "29",
             "id": "CITI",
             "href": "/objects/cash-management/bank-account/29"
            },
            {
             "key": "30",
             "id": "BOA",
             "href": "/objects/cash-management/bank-account/30"
            }
           ],
           "ia::meta": {
            "totalCount": 2
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/bank-account/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the bank account.",
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a bank account",
    "description": "Returns detailed information for a specified bank account.",
    "tags": [
     "Cash_Management_Bank accounts"
    ],
    "operationId": "get-cash-management-bank-account-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Detail of the bank account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.cash-management.bank-account"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "Get a bank account": {
          "value": {
           "ia::result": {
            "key": "29",
            "referenceKey": "90",
            "id": "CITI",
            "name": "CitiBank12",
            "currency": "USD",
            "accountType": "checking",
            "connectionStatus": "inProgress",
            "supportMultiAccountLinking": true,
            "financialInstitution": {
             "id": "8",
             "key": "8",
             "href": "/objects/cash-management/financial-institution/8"
            },
            "href": "/objects/cash-management/bank-account/29"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/checking-account": {
   "get": {
    "summary": "List checking accounts",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each checking account. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Cash_Management_Checking accounts"
    ],
    "operationId": "list-cash-management-checking-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of checking accounts",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List checking accounts": {
          "value": {
           "ia::result": [
            {
             "key": "84",
             "id": "AUDCHK",
             "href": "/objects/cash-management/checking-account/84"
            },
            {
             "key": "85",
             "id": "BDF",
             "href": "/objects/cash-management/checking-account/85"
            },
            {
             "key": "60",
             "id": "BOA",
             "href": "/objects/cash-management/checking-account/60"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a checking account",
    "description": "Creates a new checking account.",
    "tags": [
     "Cash_Management_Checking accounts"
    ],
    "operationId": "post-objects-checking-account",
    "requestBody": {
     "description": "Create a new checking account",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.cash-management.checking-account"
         },
         {
          "$ref": "#/components/schemas/cash-management-checking-accountRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a checking account": {
         "value": {
          "id": "BOA",
          "bankAccountDetails": {
           "accountNumber": "890000088",
           "bankName": "Bank of America",
           "routingNumber": "123456789",
           "branchId": "00-1355",
           "phoneNumber": "9007780000",
           "bankAddress": {
            "addressLine1": "40714",
            "addressLine2": "Grimmer Blvd",
            "addressLine3": "West Cameron",
            "city": "Fremont",
            "country": "United States",
            "postCode": "98765",
            "state": "CA"
           },
           "currency": "USD",
           "accountHolderName": "ACME Software"
          },
          "accounting": {
           "glAccount": {
            "id": "9090.09.90-RestNextGenGL"
           },
           "apJournal": {
            "id": "AR ADJ-AR Adjustment Journal"
           },
           "arJournal": {
            "id": "RCPT-Receipts Journal"
           },
           "bankingTimeZone": "GMT+02:00 Central Europe Summer Time",
           "serviceChargeAccountLabel": {
            "key": "15"
           },
           "interestAccountLabel": {
            "id": "Sales"
           },
           "disableInterEntityTransfer": false
          },
          "checkPrinting": {
           "addressSettings": {
            "addressToPrint": "company",
            "printAddress": true,
            "printLogo": true,
            "address": {
             "addressLine1": "75688 Post st",
             "addressLine2": "456",
             "addressLine3": "West Cameron",
             "city": "San Jose",
             "country": "United States",
             "countryCode": "US",
             "postCode": "94536",
             "state": "CA",
             "phone": "6609336532"
            },
            "name": "Zine Inc."
           },
           "micrSettings": {
            "regionalSettings": {
             "positionOfOnUsSymbol": "position31",
             "printCode45": true,
             "printOnUsSymbol": true,
             "printUSFundsUnderCheckAmount": false
            },
            "accountNumberAlignment": "right",
            "accountNumberPositioning": 1,
            "minCheckNumberLength": "6"
           },
           "printSettings": {
            "additionalText": "Pay to check holder",
            "paperFormat": "top",
            "printLineItems": true,
            "printLocation": "id",
            "printingFormat": "standard",
            "nextCheckNumber": "1012",
            "numberOfChecksInPreview": "One",
            "printOn": "blankCheckStock"
           },
           "signatures": {
            "firstSignature": "sigimg1_g.gif",
            "limitForFirstSignatureAmount": "20",
            "limitForSecondSignatureAmount": "30",
            "secondSignature": "sigimg2_g.gif",
            "thresholdForSecondSignatureAmount": "99.00"
           },
           "disablePrinting": false
          },
          "reconciliation": {
           "matchSequence": {
            "key": "48"
           },
           "useMatchSequenceForAutoMatch": true,
           "useMatchSequenceForManualMatch": true
          },
          "ach": {
           "bankId": "ACH-1",
           "companyName": "origin",
           "companyIdentification": "originid",
           "originatingFinancialInstitution": "8909",
           "companyEntryDescription": "entry desc",
           "companyDiscretionaryData": "disc",
           "serviceClassCode": "220",
           "batchId": "BOA_ACH_BatchNo",
           "traceNumberSequence": "BOA_ACH_TraceNo",
           "paymentNumberSequence": "CONTINVOICE",
           "useTraceNumber": "T",
           "enableACH": true,
           "useRecommendedSetup": true
          },
          "ruleSet": {
           "key": "53",
           "id": "MatchDateAmountGrpbyDateRuleSet"
          },
          "restrictions": {
           "restrictionType": "restricted",
           "locations": [
            "1-United States of America",
            "200-My New Entity"
           ]
          },
          "location": {
           "key": "1",
           "id": "1-United States of America"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created checking account",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New checking-account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new checking account": {
          "value": {
           "id": "BOA-000987g",
           "bankAccountDetails": {
            "accountNumber": "890000088",
            "bankName": "Bank of America",
            "routingNumber": "123456789",
            "branchId": "00-1355",
            "phoneNumber": "9007780000",
            "bankAddress": {
             "addressLine1": "40714",
             "addressLine2": "Grimmer Blvd",
             "addressLine3": null,
             "city": "Fremont",
             "country": "United States",
             "postCode": "98765",
             "state": "CA"
            },
            "currency": "GBP",
            "accountHolderName": "ACME Software"
           },
           "accounting": {
            "glAccount": {
             "id": "9090.09.90-RestNextGenGL"
            },
            "apJournal": {
             "id": "AR ADJ-AR Adjustment Journal"
            },
            "arJournal": {
             "id": "CHASE D-CHASE BANK DISB"
            },
            "bankingTimeZone": "GMT+05:30 Bombay, Calcutta, Madras, New Delhi",
            "serviceChargeAccountLabel": {
             "key": "15"
            },
            "interestAccountLabel": {
             "id": "Sales"
            },
            "disableInterEntityTransfer": false
           },
           "checkPrinting": {
            "addressSettings": {
             "addressToPrint": "company",
             "printAddress": true,
             "printLogo": true,
             "address": {
              "addressLine1": "75688 Post st",
              "addressLine2": "456",
              "addressLine3": null,
              "city": "San Jose",
              "country": "United States",
              "countryCode": "US",
              "postCode": "94536",
              "state": "CA",
              "phone": "6609336532"
             },
             "name": "Zine Inc."
            },
            "micrSettings": {
             "regionalSettings": {
              "positionOfOnUsSymbol": "position31",
              "printCode45": true,
              "printOnUsSymbol": true,
              "printUSFundsUnderCheckAmount": false
             },
             "accountNumberAlignment": "right",
             "accountNumberPositioning": 1,
             "minCheckNumberLength": "6"
            },
            "printSettings": {
             "additionalText": "Pay to check holder",
             "paperFormat": "top",
             "printLineItems": true,
             "printLocation": "id",
             "printingFormat": "standard",
             "nextCheckNumber": "1012",
             "// \"printPreview\"": "One",
             "printOn": "blankCheckStock"
            },
            "signatures": {
             "firstSignature": "sigimg1_g.gif",
             "limitForFirstSignatureAmount": null,
             "limitForSecondSignatureAmount": null,
             "secondSignature": "sigimg2_g.gif",
             "thresholdForSecondSignatureAmount": "99.00"
            },
            "disablePrinting": false
           },
           "reconciliation": {
            "matchSequence": {
             "key": "48"
            },
            "useMatchSequenceForAutoMatch": true,
            "useMatchSequenceForManualMatch": true
           },
           "department": {
            "id": "11-Accounting"
           },
           "location": {
            "id": "1-United States of America"
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/checking-account/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the checking account.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "539"
    }
   ],
   "get": {
    "summary": "Get a checking account",
    "description": "Returns detailed information for a specified checking account.",
    "tags": [
     "Cash_Management_Checking accounts"
    ],
    "operationId": "get-cash-management-checking-account-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a checking account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.cash-management.checking-account"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "Get a checking account": {
          "value": {
           "ia::result": {
            "id": "BOA-000987g",
            "bankAccountDetails": {
             "accountNumber": "890000088",
             "bankName": "Bank of America",
             "routingNumber": "123456789",
             "branchId": "00-1355",
             "phoneNumber": "9007780000",
             "bankAddress": {
              "addressLine1": "40714",
              "addressLine2": "Grimmer Blvd",
              "addressLine3": null,
              "city": "Fremont",
              "country": "United States",
              "postCode": "98765",
              "state": "CA"
             },
             "currency": "GBP",
             "accountHolderName": "ACME Software"
            },
            "accounting": {
             "glAccount": {
              "id": "9090.09.90-RestNextGenGL",
              "key": "584",
              "name": "RestNextGenGL",
              "href": "/objects/general-ledger/account/584"
             },
             "apJournal": {
              "id": "AR ADJ-AR Adjustment Journal",
              "key": "17",
              "href": "/objects/general-ledger/journal/17"
             },
             "arJournal": {
              "id": "CHASE D-CHASE BANK DISB",
              "key": "12",
              "href": "/objects/general-ledger/journal/12"
             },
             "bankingTimeZone": "GMT+05:30 Bombay, Calcutta, Madras, New Delhi",
             "serviceChargeGLAccount": {
              "key": null,
              "id": null
             },
             "serviceChargeAccountLabel": {
              "key": "15",
              "id": "Car Payment",
              "href": "/objects/accounts-payable/account-label/15"
             },
             "interestGLAccount": {
              "key": null,
              "id": null
             },
             "interestAccountLabel": {
              "key": null,
              "id": null
             },
             "disableInterEntityTransfer": false
            },
            "checkPrinting": {
             "addressSettings": {
              "addressToPrint": "company",
              "printAddress": true,
              "printLogo": true,
              "address": {
               "addressLine1": "75688 Post st",
               "addressLine2": "456",
               "addressLine3": null,
               "city": "San Jose",
               "country": "United States",
               "countryCode": "US",
               "postCode": "94536",
               "state": "CA",
               "phone": "6609336532"
              },
              "name": "Zine Inc."
             },
             "micrSettings": {
              "regionalSettings": {
               "positionOfOnUsSymbol": "position31",
               "printCode45": true,
               "printOnUsSymbol": true,
               "printUSFundsUnderCheckAmount": false
              },
              "accountNumberAlignment": "right",
              "accountNumberPositioning": 1,
              "minCheckNumberLength": "6"
             },
             "printSettings": {
              "additionalText": "Pay to check holder",
              "paperFormat": "top",
              "printLineItems": true,
              "printLocation": "id",
              "printingFormat": "standard",
              "nextCheckNumber": "1012",
              "numberOfChecksInPreview": "one",
              "printOn": "blankCheckStock"
             },
             "signatures": {
              "firstSignature": "sigimg1_g.gif",
              "limitForFirstSignatureAmount": null,
              "limitForSecondSignatureAmount": null,
              "secondSignature": "sigimg2_g.gif",
              "thresholdForSecondSignatureAmount": "99.00"
             },
             "disablePrinting": false
            },
            "reconciliation": {
             "matchSequence": {
              "key": "48",
              "id": "48-bankseq-1",
              "href": "/objects/company-config/document-sequence/48"
             },
             "useMatchSequenceForAutoMatch": true,
             "useMatchSequenceForManualMatch": true,
             "lastReconciledBalance": null,
             "lastReconciledDate": null,
             "cutOffDate": null,
             "inProgressBalance": null,
             "inProgressDate": null
            },
            "department": {
             "key": "9",
             "id": "11-Accounting",
             "href": "/objects/company-config/department/9"
            },
            "location": {
             "key": "1",
             "id": "1-United States of America",
             "href": "/objects/company-config/location/1"
            },
            "status": "active",
            "audit": {
             "createdDateTime": "2024-03-07T19:39:43Z",
             "modifiedDateTime": "2024-03-07T19:39:43Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "key": "291",
            "ach": {
             "bankId": null,
             "companyName": null,
             "companyIdentification": null,
             "originatingFinancialInstitution": null,
             "companyEntryDescription": null,
             "companyDiscretionaryData": null,
             "recordTypeCode": "5",
             "serviceClassCode": "220",
             "originatorStatusCode": "1",
             "batchId": null,
             "traceNumberSequence": null,
             "paymentNumberSequence": null,
             "useTraceNumber": "useAsPayment",
             "enableACH": null,
             "useRecommendedSetup": null
            },
            "bankingCloudConnection": {
             "status": "notConnected",
             "importStatus": null,
             "bankName": null,
             "name": null,
             "lastBankTxnDateTime": null,
             "lastRefreshedDateTime": null,
             "refreshStatus": null,
             "supportMultiAccountLinking": null,
             "availableBalance": {
              "amount": null,
              "date": null
             },
             "ledgerBalance": {
              "amount": null,
              "date": null
             }
            },
            "bankFile": {
             "enableBankFile": false,
             "bankFileFormat": null,
             "bankCode": null,
             "apcaNumber": null,
             "sunNumber": null,
             "bsbNumber": null,
             "sortCode": null,
             "seedValue": null,
             "userReference": null,
             "clientCode": null,
             "serviceType": null,
             "originatorId": null,
             "businessIdCode": null,
             "processingDataCenterCode": null,
             "debtorBankNumber": null,
             "returnAccountNumber": null,
             "branchTransitNumber": null,
             "messageIdPrefix": null,
             "immediateDestinationId": null,
             "immediateOriginId": null,
             "immediateDestinationName": null,
             "immediateOriginName": null,
             "companyName": null,
             "paymentNumberSequence": null,
             "fileIdSequence": null,
             "companyEntryDescription": null,
             "postalAddress": {
              "addressLine1": null,
              "addressLine2": null,
              "postCode": null,
              "county": null,
              "countryCode": null
             }
            },
            "financialInstitution": {
             "key": null,
             "id": null
            },
            "ruleSet": {
             "id": "53-MatchDateAmountGrpbyDateRuleSet",
             "key": "53",
             "name": "MatchDateAmountGrpbyDateRuleSet",
             "href": "/objects/cash-management/bank-txn-rule-set/53"
            },
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "paymentProviderBankAccounts": [],
            "href": "/objects/cash-management/checking-account/291"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Get a checking account enabled for bank files for United States (US)": {
          "value": {
           "ia::result": {
            "id": "USBankfileAccount001",
            "bankAccountDetails": {
             "accountNumber": "890000088",
             "bankName": "Bank of America",
             "routingNumber": "123456789",
             "branchId": 6578,
             "phoneNumber": "9007780000",
             "bankAddress": {
              "addressLine1": "40714",
              "addressLine2": "Grimmer Blvd",
              "addressLine3": null,
              "city": "Fremont",
              "country": "United States",
              "postCode": "98765",
              "state": "CA"
             },
             "currency": "GBP",
             "accountHolderName": "ACME Software"
            },
            "accounting": {
             "glAccount": {
              "id": "9090.09.90-RestNextGenGL",
              "key": "584",
              "href": "/objects/general-ledger/account/584"
             },
             "apJournal": {
              "id": "AR ADJ-AR Adjustment Journal",
              "key": "17",
              "href": "/objects/general-ledger/journal/17"
             },
             "arJournal": {
              "id": "CHASE D-CHASE BANK DISB",
              "key": "12",
              "href": "/objects/general-ledger/journal/12"
             },
             "bankingTimeZone": "GMT+05:30 Bombay, Calcutta, Madras, New Delhi",
             "serviceChargeGLAccount": {
              "key": null,
              "id": null
             },
             "serviceChargeAccountLabel": {
              "key": "15",
              "id": "Car Payment",
              "href": "/objects/accounts-payable/account-label/15"
             },
             "interestGLAccount": {
              "key": null,
              "id": null
             },
             "interestAccountLabel": {
              "key": null,
              "id": null
             },
             "disableInterEntityTransfer": false
            },
            "checkPrinting": {
             "addressSettings": {
              "addressToPrint": "company",
              "printAddress": true,
              "printLogo": true,
              "address": {
               "addressLine1": "75688 Post st",
               "addressLine2": "456",
               "addressLine3": null,
               "city": "San Jose",
               "country": "United States",
               "countryCode": "US",
               "postCode": "94536",
               "state": "CA",
               "phone": "6609336532"
              },
              "name": "Zine Inc."
             },
             "micrSettings": {
              "regionalSettings": {
               "positionOfOnUsSymbol": "position31",
               "printCode45": true,
               "printOnUsSymbol": true,
               "printUSFundsUnderCheckAmount": false
              },
              "accountNumberAlignment": "right",
              "accountNumberPositioning": 1,
              "minCheckNumberLength": "6"
             },
             "printSettings": {
              "additionalText": "Pay to check holder",
              "paperFormat": "top",
              "printLineItems": true,
              "printLocation": "id",
              "printingFormat": "standard",
              "nextCheckNumber": "1012",
              "numberOfChecksInPreview": "one",
              "printOn": "blankCheckStock"
             },
             "signatures": {
              "firstSignature": "sigimg1_g.gif",
              "limitForFirstSignatureAmount": null,
              "limitForSecondSignatureAmount": null,
              "secondSignature": "sigimg2_g.gif",
              "thresholdForSecondSignatureAmount": "99.00"
             },
             "disablePrinting": false
            },
            "reconciliation": {
             "matchSequence": {
              "key": "48",
              "id": "48-bankseq-1",
              "href": "/objects/company-config/document-sequence/48"
             },
             "useMatchSequenceForAutoMatch": true,
             "useMatchSequenceForManualMatch": true,
             "lastReconciledBalance": null,
             "lastReconciledDate": null,
             "cutOffDate": null,
             "inProgressBalance": null,
             "inProgressDate": null
            },
            "department": {
             "key": "9",
             "id": "11-Accounting",
             "href": "/objects/company-config/department/9"
            },
            "location": {
             "key": "1",
             "id": "1-United States of America",
             "href": "/objects/company-config/location/1"
            },
            "status": "active",
            "audit": {
             "createdDateTime": "2024-03-07T19:39:43Z",
             "modifiedDateTime": "2024-03-07T19:39:43Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "key": "291",
            "ach": {
             "bankId": null,
             "companyName": null,
             "companyIdentification": null,
             "originatingFinancialInstitution": null,
             "companyEntryDescription": null,
             "companyDiscretionaryData": null,
             "recordTypeCode": "5",
             "serviceClassCode": "220",
             "originatorStatusCode": "1",
             "batchId": null,
             "traceNumberSequence": null,
             "paymentNumberSequence": null,
             "useTraceNumber": "useAsPayment",
             "enableACH": null,
             "useRecommendedSetup": null
            },
            "bankingCloudConnection": {
             "status": "notConnected",
             "importStatus": null,
             "bankName": null,
             "name": null,
             "lastBankTxnDateTime": null,
             "lastRefreshedDateTime": null,
             "refreshStatus": null,
             "supportMultiAccountLinking": null,
             "availableBalance": {
              "amount": null,
              "date": null
             },
             "ledgerBalance": {
              "amount": null,
              "date": null
             }
            },
            "bankFile": {
             "enableBankFile": true,
             "bankFileFormat": "NACHA - Unbalanced",
             "bankCode": null,
             "apcaNumber": null,
             "sunNumber": null,
             "bsbNumber": null,
             "sortCode": null,
             "seedValue": null,
             "userReference": null,
             "clientCode": null,
             "serviceType": null,
             "originatorId": null,
             "businessIdCode": null,
             "processingDataCenterCode": null,
             "debtorBankNumber": null,
             "returnAccountNumber": null,
             "branchTransitNumber": null,
             "messageIdPrefix": null,
             "immediateDestinationId": "984569845",
             "immediateOriginId": "878767675",
             "immediateDestinationName": "BOA",
             "immediateOriginName": "Investment corp",
             "companyName": "Ventura",
             "paymentNumberSequence": "0000006",
             "fileIdSequence": "E",
             "companyEntryDescription": "Investment",
             "postalAddress": {
              "addressLine1": "75688 Post st",
              "addressLine2": "Suite 100",
              "postCode": "94536",
              "county": "North Yorkshire",
              "country": "GB"
             }
            },
            "financialInstitution": {
             "key": null,
             "id": null
            },
            "ruleSet": {
             "id": null,
             "key": null
            },
            "paymentProviderBankAccounts": [],
            "href": "/objects/cash-management/checking-account/143"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a checking account",
    "description": "Updates an existing checking account by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Cash_Management_Checking accounts"
    ],
    "operationId": "patch-objects-checking-account",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.cash-management.checking-account"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a checking account": {
         "value": {
          "bankAccountDetails": {
           "bankName": "Bank of America New"
          },
          "ruleSet": {
           "key": "53",
           "id": "MatchDateAmountGrpbyDateRuleSet"
          },
          "restrictions": {
           "restrictionType": "unrestricted",
           "locations": []
          },
          "reconciliation": {
           "matchSequence": {
            "key": "48"
           },
           "useMatchSequenceForAutoMatch": true,
           "useMatchSequenceForManualMatch": true
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Updated checking account",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New checking-account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated checking account": {
          "value": {
           "ia::result": [
            {
             "key": "84",
             "id": "AUDCHK",
             "href": "/objects/cash-management/checking-account/84"
            }
           ],
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a checking account",
    "description": "Deletes a checking account.",
    "tags": [
     "Cash_Management_Checking accounts"
    ],
    "operationId": "delete-objects-checking-account",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/credit-card-account": {
   "get": {
    "summary": "List credit card accounts",
    "description": "Returns a collection with a key, ID, and link for each credit card account. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Cash_Management_Credit card accounts"
    ],
    "operationId": "list-cash-management-credit-card-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of credit card account objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List credit card accounts": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "MC001",
             "href": "/objects/cash-management/credit-card-account/1"
            },
            {
             "key": "2",
             "id": "MC002",
             "href": "/objects/cash-management/credit-card-account/2"
            },
            {
             "key": "3",
             "id": "AMEX_CARD_1",
             "href": "/objects/cash-management/credit-card-account/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a credit card account",
    "description": "Creates a new credit card account.",
    "tags": [
     "Cash_Management_Credit card accounts"
    ],
    "operationId": "post-objects-credit-card-account",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.cash-management.credit-card-account"
         },
         {
          "$ref": "#/components/schemas/cash-management-credit-card-accountRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a credit card account": {
         "value": {
          "id": "V002",
          "accountDetails": {
           "description": "Card for employee expense",
           "cardType": "visa",
           "expirationMonth": "01",
           "expirationYear": "2028",
           "billingAddress": {
            "addressLine1": "1295",
            "addressLine2": null,
            "addressLine3": "Adobe Ave",
            "city": "San Jose",
            "country": "United States",
            "countryCode": "US",
            "postCode": "978754",
            "state": "CA"
           },
           "accountType": "credit",
           "currency": "USD"
          },
          "status": "active",
          "accounting": {
           "offsetGLAccount": {
            "id": "4564.44.44",
            "key": "561"
           },
           "otherFeesGLAccount": {
            "id": "0077",
            "key": "432"
           },
           "defaultAccrualBasisGLJournal": {
            "id": "DISB",
            "key": "14"
           },
           "disableInterEntityTransfer": false
          },
          "vendor": {
           "id": "First Security - Gold",
           "key": "263"
          },
          "department": {
           "id": "CHS--Channel Sales",
           "key": "34"
          },
          "location": {
           "id": "San Francisco"
          },
          "reconciliation": {
           "matchSequence": {
            "id": "48--bankseq-1"
           },
           "useMatchSequenceForAutoMatch": true,
           "useMatchSequenceForManualMatch": true
          },
          "ruleSet": {
           "key": "35",
           "id": "35--creditcard"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New credit card account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new credit card account object": {
          "value": {
           "ia::result": {
            "key": "34",
            "id": "V002",
            "href": "/objects/cash-management/credit-card-account/34"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/credit-card-account/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string",
      "example": "81"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the credit card account.",
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a credit card account",
    "description": "Returns detailed information for a specified credit card account.",
    "tags": [
     "Cash_Management_Credit card accounts"
    ],
    "operationId": "get-cash-management-credit-card-account-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the credit card account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.cash-management.credit-card-account"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "Get a credit card account": {
          "value": {
           "ia::result": {
            "key": "106",
            "id": "V002",
            "accountDetails": {
             "description": "card for employee expense",
             "cardType": "visa",
             "expirationMonth": "01",
             "expirationYear": "2028",
             "billingAddress": {
              "addressLine1": "1295",
              "addressLine2": null,
              "addressLine3": "Adobe Ave",
              "city": "San Jose",
              "country": "United States",
              "countryCode": "US",
              "postCode": "978754",
              "state": "CA"
             },
             "accountType": "credit",
             "debitCardCheckingAccount": {
              "id": null,
              "key": null
             },
             "currency": "USD"
            },
            "status": "active",
            "accounting": {
             "offsetGLAccount": {
              "id": "8907.89",
              "key": "589",
              "href": "/objects/general-ledger/account/589"
             },
             "otherFeesGLAccount": {
              "id": "6700.01",
              "key": "323",
              "href": "/objects/general-ledger/account/323"
             },
             "defaultAccrualBasisGLJournal": {
              "id": "DISB",
              "key": "14",
              "href": "/objects/general-ledger/journal/14"
             },
             "defaultCashBasisGLJournal": {
              "id": null,
              "key": null
             },
             "bankingTimeZone": "GMT+01:00 Berlin, Stockholm, Rome, Bern, Brussels",
             "disableInterEntityTransfer": false,
             "otherFeesAPAccountLabel": {
              "id": "Bank Service Charge",
              "key": "11",
              "href": "/objects/accounts-payable/account-label/11"
             },
             "financeChargeGLAccount": {
              "id": "6700.02",
              "key": "324",
              "href": "/objects/general-ledger/account/324"
             },
             "financeChargeAPAccountLabel": {
              "id": "Bank Interest Earned",
              "key": "10",
              "href": "/objects/accounts-payable/account-label/10"
             },
             "useInEmployeeExpense": true,
             "employeeExpenseGLAccount": {
              "key": "287",
              "id": "6800.03",
              "href": "/objects/general-ledger/account/287"
             },
             "employeeExpenseAccountLabel": {
              "id": "Gas and Electric",
              "key": "23",
              "href": "/objects/accounts-payable/account-label/23"
             }
            },
            "vendor": {
             "id": "First Security - Gold",
             "key": "35",
             "href": "/objects/accounts-payable/vendor/35"
            },
            "department": {
             "id": "COMP--Compliance",
             "key": "16",
             "href": "/objects/company-config/department/16"
            },
            "location": {
             "id": "San Francisco",
             "key": "24",
             "href": "/objects/company-config/location/24"
            },
            "reconciliation": {
             "lastReconciledDate": null,
             "lastReconciledBalance": null,
             "inProgressDate": null,
             "inProgressBalance": null,
             "matchSequence": {
              "key": "48",
              "id": "48--bankseq-1",
              "href": "/objects/company-config/document-sequence/48"
             },
             "useMatchSequenceForAutoMatch": true,
             "useMatchSequenceForManualMatch": true,
             "cutOffDate": null
            },
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "audit": {
             "modifiedDateTime": "2024-03-12T23:46:56Z",
             "createdDateTime": "2024-03-04T20:33:04Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "bankingCloudConnection": {
             "status": null,
             "importStatus": null,
             "bankName": null,
             "name": null,
             "lastBankTxnDateTime": null,
             "lastRefreshedDateTime": null,
             "refreshStatus": null,
             "supportMultiAccountLinking": null,
             "availableBalance": {
              "amount": null,
              "date": null
             },
             "ledgerBalance": {
              "amount": null,
              "date": null
             }
            },
            "financialInstitution": {
             "key": null,
             "id": null
            },
            "ruleSet": {
             "id": "35--creditcard",
             "key": "35",
             "href": "/objects/cash-management/bank-txn-rule-set/35"
            },
            "href": "/objects/cash-management/credit-card-account/106"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a credit card account",
    "description": "Updates an existing credit card account by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Cash_Management_Credit card accounts"
    ],
    "operationId": "patch-objects-credit-card-account",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.cash-management.credit-card-account"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a credit card account": {
         "value": {
          "accountDetails": {
           "description": "Card for employee expenses",
           "expirationMonth": "01",
           "expirationYear": "2030"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated credit card account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated credit card account": {
          "value": {
           "ia::result": {
            "key": "32",
            "id": "V002",
            "href": "/objects/cash-management/credit-card-account/32"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a credit card account",
    "description": "Deletes a credit card account. You cannot delete a credit card account that has subledger transactions associated with it.",
    "tags": [
     "Cash_Management_Credit card accounts"
    ],
    "operationId": "delete-cash-management-credit-card-account-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/savings-account": {
   "get": {
    "summary": "List savings accounts",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each savings account. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Cash_Management_Savings accounts"
    ],
    "operationId": "list-cash-management-savings-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of savings account objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List savings accounts": {
          "value": {
           "ia::result": [
            {
             "key": "84",
             "id": "AUDCHK",
             "href": "/objects/cash-management/savings-account/84"
            },
            {
             "key": "85",
             "id": "BDF",
             "href": "/objects/cash-management/savings-account/85"
            },
            {
             "key": "60",
             "id": "BOA",
             "href": "/objects/cash-management/savings-account/60"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a savings account",
    "description": "Create a new savings account.",
    "tags": [
     "Cash_Management_Savings accounts"
    ],
    "operationId": "post-objects-savings-account",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.cash-management.savings-account"
         },
         {
          "$ref": "#/components/schemas/cash-management-savings-accountRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a savings account": {
         "value": {
          "id": "SAVINGS455_6780",
          "bankAccountDetails": {
           "accountNumber": "",
           "bankName": "Savings Bank of America New",
           "routingNumber": "565676545",
           "branchId": "123456791",
           "phoneNumber": "6509876545",
           "bankAddress": {
            "addressLine1": "73466 Linkln St",
            "addressLine2": null,
            "addressLine3": null,
            "city": "Montaine View",
            "country": "United States",
            "postCode": "67898",
            "state": "CA"
           },
           "currency": "USD"
          },
          "accounting": {
           "glAccount": {
            "id": "2458.90.33--SAVINGS455 GL"
           },
           "apJournal": {
            "key": "18"
           },
           "arJournal": {
            "id": "ARJ--Accounts Receivable Journal"
           },
           "bankingTimeZone": "GMT+05:30 Bombay, Calcutta, Madras, New Delhi",
           "serviceChargeGLAccount": {
            "key": "417"
           },
           "interestGLAccount": {
            "key": "572"
           },
           "disableInterEntityTransfer": true
          },
          "reconciliation": {
           "matchingSequenceNumber": {
            "key": "48"
           },
           "useSequenceNumberForAutoMatch": false,
           "useMatchSequenceForManualMatch": true
          },
          "department": {
           "id": "11--Accounting"
          },
          "location": {
           "id": "1--United States of America"
          },
          "status": "active",
          "ruleSet": {
           "key": "53"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created savings account",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New savings-account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "201 response example": {
          "value": {
           "ia::result": {
            "key": "12345",
            "id": "ID123",
            "href": "/objects/<application>/<name>/12345"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/cash-management/savings-account/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the savings account.",
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a savings account",
    "description": "Returns detailed information for a specified savings account.",
    "tags": [
     "Cash_Management_Savings accounts"
    ],
    "operationId": "get-cash-management-savings-account-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Detail of the savings account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.cash-management.savings-account"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "Get a savings account": {
          "value": {
           "ia::result": {
            "id": "SAVINGS455_6780",
            "bankAccountDetails": {
             "accountNumber": "789678988",
             "bankName": "Savings Bank of America New",
             "routingNumber": "565676545",
             "branchId": "123456791",
             "phoneNumber": "6509876545",
             "bankAddress": {
              "addressLine1": "73466 Linkln St",
              "addressLine2": null,
              "addressLine3": null,
              "city": "Montaine View",
              "country": "United States",
              "postCode": "67898",
              "state": "CA"
             },
             "currency": "USD"
            },
            "accounting": {
             "glAccount": {
              "id": "2458.90.33--SAVINGS455 GL",
              "key": "543",
              "href": "/objects/general-ledger/account/543"
             },
             "apJournal": {
              "id": "AP ADJ--AP Adjustment Journal",
              "key": "18",
              "href": "/objects/general-ledger/journal/18"
             },
             "arJournal": {
              "id": "ARJ--Accounts Receivable Journal",
              "key": "6",
              "href": "/objects/general-ledger/journal/6"
             },
             "bankingTimeZone": "GMT+05:30 Bombay, Calcutta, Madras, New Delhi",
             "serviceChargeGLAccount": {
              "key": "417",
              "id": "0009--My Ledger Account 39",
              "href": "/objects/general-ledger/account/417"
             },
             "serviceChargeAccountLabel": {
              "id": null,
              "key": null
             },
             "interestGLAccount": {
              "key": "572",
              "id": "0032--My Ledger Account 32",
              "href": "/objects/general-ledger/account/572"
             },
             "interestAccountLabel": {
              "key": null,
              "id": null
             },
             "disableInterEntityTransfer": true
            },
            "reconciliation": {
             "matchingSequenceNumber": {
              "key": "48",
              "id": "48--bankseq-1",
              "href": "/objects/company-config/document-sequence/48"
             },
             "useSequenceNumberForAutoMatch": false,
             "useMatchSequenceForManualMatch": true,
             "lastReconciledBalance": null,
             "lastReconciledDate": null,
             "cutOffDate": null,
             "inProgressBalance": null,
             "inProgressDate": null
            },
            "department": {
             "key": "9",
             "id": "11--Accounting",
             "href": "/objects/company-config/department/9"
            },
            "location": {
             "key": "1",
             "id": "1--United States of America",
             "href": "/objects/company-config/location/1"
            },
            "status": "active",
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "audit": {
             "createdDateTime": "2024-03-07T18:35:38Z",
             "modifiedDateTime": "2024-03-07T18:40:25Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "key": "288",
[...]
