{
 "openapi": "3.0.3",
 "info": {
  "title": "Company Configuration",
  "version": "1",
  "description": "Company configuration objects and services are for creating and managing company-wide resources such as attachments, email templates, dimensions, and users."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Company_Configuration_Dimensions",
   "x-displayName": "Dimensions",
   "description": "Dimensions are a classification system used to organize, sort, and report on company information in meaningful ways. You can think of each dimension as a category with a set of values that you can apply to transactions and entries. Every transaction can be tagged with multiple dimension values to identify and report on it. For example, you can tag transactions with pre-defined locations, and then generate reports to show sales by each location."
  },
  {
   "name": "Company_Configuration_Classes",
   "x-displayName": "Classes",
   "description": "[Class](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_Viewing_Class_Information) is a flexible [dimension](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Dimensions_overview_basics) that can be defined in a company and used to track just about anything. You can rename the class dimension and add custom fields if needed, and then select a class and provide values for the fields in applicable transactions. You can use the data to create custom reports that provide important business insights.\n\nNote that renaming the class dimension in the UI does not change the name of this object in the API. You still use `class` in API requests."
  },
  {
   "name": "Company_Configuration_Class groups",
   "x-displayName": "Class groups",
   "description": "Classes are a dimension used to tag transaction lines for reporting, and a class group is a named set of classes used to filter or aggregate class data in financial reports.\n\n**When to use:** Use when creating report views that group classes together by specific criteria or a curated list, or when retrieving an existing class group configuration.\n\n**Relationships:** Contains class group members that reference individual classes. Can be associated with a specific entity.\n\nFor more information, see [Class groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=about_class_groups) in the Sage Intacct Help Center."
  },
  {
   "name": "Company_Configuration_Departments",
   "x-displayName": "Departments",
   "description": "Department is an optional [dimension](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Dimensions_overview_basics) that can be used for tagging, filtering, and categorizing data in many areas of Sage Intacct.\n\nThe list of departments is shared by all entities in a company. Users can be restricted to only work with and see specific departments, which might affect what data they can see in reports, transactions, and other data records.\n\nYou can create a hierarchy of departments to reflect how departments are organized within a company. To set up a hierarchy, create the parent departments first and then specify the parent department when adding child departments."
  },
  {
   "name": "Company_Configuration_Department groups",
   "x-displayName": "Department groups",
   "description": "A department group is a specified set of departments, or a set of departments that meet certain criteria. You can use groups to filter or display information in multiple ways, for instance by showing data from only certain departments."
  },
  {
   "name": "Company_Configuration_Department group members",
   "x-displayName": "Department group members",
   "description": "Department group member represents a department in a department group."
  },
  {
   "name": "Company_Configuration_Employees",
   "x-displayName": "Employees",
   "description": "An employee in Sage Intacct represents someone who performs work for a company. They may create financial transactions such as timesheet entries or expense reports. If an employee who is also a user is entering time or expenses, they must both be associated with the same Sage Intacct contact.\n\nFor more information, read about [employees](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_te_employees) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Employee types",
   "x-displayName": "Employee types",
   "description": "Employee types are customizable classifications that can be defined in a company and assigned to employees to enhance reporting and insight into the value delivered by different employee categories, such as contractor, full-time, and part-time. Defining and assigning types to different employees allows you to report on and assess the value being delivered to a project, location, or other dimension on a per-employee type basis.\n"
  },
  {
   "name": "Company_Configuration_Employee rates",
   "x-displayName": "Employee rates",
   "description": "Employee rates provide employee compensation details, this can be either an hourly rate or annual salary."
  },
  {
   "name": "Company_Configuration_Employee groups",
   "x-displayName": "Employee groups",
   "description": "Organize employees into employee groups to simplify reporting. Create employee groups that are specific to your business, then assign an employee group to each employee."
  },
  {
   "name": "Company_Configuration_Employee bank file setups",
   "x-displayName": "Employee bank file setups",
   "description": "An employee bank file setup contains the information needed to send electronic payments to a specified employee using bank files. Bank files are standard files used by banks to make multiple payments, they are generated in Sage Intacct and then uploaded to the bank's online banking portal for processing.\n\nFor more information, read [about bank files](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Bank_file_payment) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Earning types",
   "x-displayName": "Earning types",
   "description": "Earning types are a key component in configuring the system to post project labor costs to one or more General Ledger journals. After creating earning types, they must be assigned to employees."
  },
  {
   "name": "Company_Configuration_Locations",
   "x-displayName": "Locations",
   "description": "Location is a [dimension](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Dimensions_overview_basics) that is used to represent the geographic locations of offices or facilities, or to represent divisions in a company. Once you have defined some locations, you can set locations on transactions, and that information can be used to provide new insights in reports.\n      \nYou can create a hierarchy of locations to reflect how locations are organized within your company.\n"
  },
  {
   "name": "Company_Configuration_Location groups",
   "x-displayName": "Location groups",
   "description": "A location group is a named set of locations used to filter or aggregate location data in particular reports and graphs. For example, you can create a location group that contains all active locations or all locations with the same base currency. Location groups are a type of dimension group. \n\n**When to use:** Use when creating report views or financial graphs that group locations together by specific criteria or a curated list.\n\n**Relationships:** Contains location group members that reference individual locations. Can have a primary contact and can be associated with a specific entity.\n\nFor more information, see [Location groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=about_location_groups) in the Sage Intacct Help Center."
  },
  {
   "name": "Company_Configuration_Location group members",
   "x-displayName": "Location group members",
   "description": "A location group member represents an individual location included in a location group.\n\n**When to use:** Use when adding or removing locations from a location group, or when retrieving the locations that belong to a specific group.\n\n**Relationships:** Owned by a location group and linked to an individual location."
  },
  {
   "name": "Company_Configuration_Attachments",
   "x-displayName": "Attachments",
   "description": "An attachment object contains an array of one more files that are stored in Sage Intacct. You can attach multiple files of any type to a transaction using an attachment, such as scanned images, spreadsheets, and word-processor documents. For example, you might add ten scanned images to a single attachment for a bill. You can also add attachments to some other objects, such as customers, vendors, and employees.\n\nIt's important to note that each transaction or object can only have one attachment assigned to it. After you add an attachment, you can add or delete individual files to and from the attachment, ensuring your supporting documents are always up-to-date.\n\nAll attachments are stored in attachment [folders](company-config/folder). The folder to hold an attachment must exist before you create the attachment. You can also move an attachment to a different folder after it's created."
  },
  {
   "name": "Company_Configuration_Files",
   "x-displayName": "Files",
   "description": "A digital file, such as a scanned image, spreadsheet, or word-processor document. You can attach multiple files of any type to a record or a transaction as an [attachment](company-config/attachment). Use `POST` and `PATCH` requests to the owning attachment object to create or modify a file object."
  },
  {
   "name": "Company_Configuration_Folders",
   "x-displayName": "Folders",
   "description": "Folders are used to store [attachments](company-config/attachment) for easy grouping. For example, you can create an attachment folder for a project and store every supporting document for the project in that folder.\n\nAttachment folders can be nested. The folder hierarchy can be as broad or deep as needed."
  },
  {
   "name": "Company_Configuration_Contacts",
   "x-displayName": "Contacts",
   "description": "Contacts serve as a common, shared address book that's used across a company by many people for a variety of purposes. Contacts hold all the information needed to contact an individual or business, including name, email address, phone number, mailing address, and more.\n\nContacts are almost always used with other Sage Intacct objects, such as vendors, customers, or locations. For example, you specify a contact in Order Entry and Purchasing transactions to set a ship-to, bill-to, pay-to, or return-to addresses, and to determine tax on transactions.\n"
  },
  {
   "name": "Company_Configuration_Contact versions",
   "x-displayName": "Contact versions",
   "description": "Contact version captures the history of changes to a [contact](company-config.contact) object. Each time a contact record is updated, the previous version is saved and the new version is added.\nFor AP/AR transactions, Sage Intacct stores a reference to the contact version for the bill-to, ship-to, pay-to, and return-to when the invoice is created.\nIf the contact changes after the invoice is created, the contact version object provides the original contact information when the invoice was created."
  },
  {
   "name": "Company_Configuration_Document sequences",
   "x-displayName": "Document sequences",
   "description": "Use document sequencing to generate new IDs automatically for common transactions and records, such as new customers, vendors, invoices, and more. For example, you can create a document sequence for invoices. This new sequence automatically creates a new ID, such as 'INV-0100' and increments the number each time a new invoice is created.\n\nNote: Document sequences are called \"accounting sequences\" in the General Ledger."
  },
  {
   "name": "Company_Configuration_Generate next value",
   "x-displayName": "Generate next value",
   "description": "Generates a new (incremented) value for a specified document sequence. When `fiscalYear` is specified, it is appended to the document sequence."
  },
  {
   "name": "Company_Configuration_Document sequence rollovers",
   "x-displayName": "Document sequence rollovers",
   "description": "The document sequence rollover configuration holds the next number or alpha values used to generate sequences for each fiscal year. When rollover is enabled for a document sequence, a restart of the document sequence is initiated for each fiscal year.\n\nIf the configuration for a fiscal year is missing, it is automatically generated by the system when the first sequence is generated. When the system generates a configuration, the next number or alpha values from the base start values are used.\n"
  },
  {
   "name": "Company_Configuration_Email templates",
   "x-displayName": "Email templates",
   "description": "Use email templates to organize email content and add style to make emails stand out to customers and vendors. You can create a variety of email templates to use for different types of transactions, different vendors, or different customers. You can add merge fields to populate emails with dynamic data from Sage Intacct, such as the vendor name, contact information, and so on."
  },
  {
   "name": "Company_Configuration_Entities",
   "x-displayName": "Entities",
   "description": "In a multi-entity shared company, entities represent a separate tax identification or a separately secured, fully balancing set of books. Entities typically represent divisions, franchises, affiliates, associations, locations, chapters, self-balancing funds or subsidiaries, with a shared chart of accounts."
  },
  {
   "name": "Company_Configuration_Affiliate entities",
   "x-displayName": "Affiliate entities",
   "description": "Affiliate entities are associated separate legal entities defined within your Sage Intacct company. Affiliate entity is a read-only standard dimension based on the list of entities in your company. You can use an affiliate entity to indicate a related entity in a transaction. Adding affiliate entities to transactions simplifies reporting for inter-entity transactions and consolidation. \n\nFor more information, read about the [affiliate entity standard dimension](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_affiliate_entity_dimension) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Affiliate entity groups",
   "x-displayName": "Affiliate entity groups",
   "description": "An affiliate entity group forms a collection of associated entities for reporting. For example, parent entity E100 is associated with entities E200 and E500, as a reporting group.\n\nFor more information, read about [reporting with affiliate entities](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_reporting_with_AE) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Inter-entity account mappings",
   "x-displayName": "Inter-entity account mappings",
   "description": "Configure inter-entity account mapping for multi-entity shared companies to map entities to accounts which post inter-entity transactions (IETs). You can set up IET accounts for all your entities by configuring an inter-entity account mapping plan, either [basic](company-config-inter-entity-basic-map) or [advanced](company-config.inter-entity-advanced-map). The basic plan defines one common set of inter-entity accounts, while the advanced plan defines separate sets of inter-entity accounts for each entity relationship, or entity pair.\n\nFor more information, read about [inter-entity account mapping plans](https://www.intacct.com/ia/docs/en_US/help_action/Multi-entity/Inter-entity_transactions/inter-entity-account-map-plans.htm) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Inter entity basic maps",
   "x-displayName": "Inter entity basic maps",
   "description": "Basic inter-entity account mapping enables a multi-entity company to map entities to accounts which post inter-entity transactions (IETs). It allows one common inter-entity receivable (IER) account and one inter-entity payable (IEP) account to record all IETs when there is no need to settle separate balances among the entities involved.\n\nFor more information, read about [inter-entity account mapping](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Account_setup_for_interentity_txns) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Inter entity advanced maps",
   "x-displayName": "Inter entity advanced maps",
   "description": "Advanced inter-entity account mapping enables a multi-entity company to map pairs of transacting entities using up to four accounts to record inter-entity transactions (IETs). It allows the mapping of each entity to any combination of separate inter-entity receivable (IER) and inter-entity payable (IEP) accounts that record IETs.\n\nFor more information, read about [inter-entity account mapping](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Account_setup_for_interentity_txns) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Exchange rates",
   "x-displayName": "Exchange rates",
   "description": "Exchange rates convert one currency to another when a company chooses not to use the Intacct Daily Rate. An exchange rate can have multiple entries (lines), each with an effective start date, a conversion rate and its reciprocal rate used when processing currency conversions in transactions.\n\nFor more information, read about [exchange rates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Exchange_rates_and_exchange_rate_types_overview) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Company_Configuration_Exchange rate lines",
   "x-displayName": "Exchange rate lines",
   "description": "Exchange rate lines are entries within an exchange rate object that contain details such as effective start date, exchange rate, and reciprocal rate. Each line is owned by an [exchange rate](company-config.exchange-rate) object.\n\nFor more information, read about [exchange rates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Exchange_rates_and_exchange_rate_types_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Exchange rate types",
   "x-displayName": "Exchange rate types",
   "description": "Exchange rate types control how currency conversions are applied in Sage Intacct, enabling foreign currency transactions to use exchange rates tailored to specific business needs. Use exchange rate types to set an alternative default rate type, create custom types or override the standard Intacct Daily Rate.\n\nFor more information, read about [exchange rate types](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_an_Exchange_Rate_Type) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Users",
   "x-displayName": "Users",
   "description": "Users are individuals who have access to some part of Sage Intacct. Most users are employees, but users might also be external users who are outside of the company, such as accountants, attorneys, bankers, vendors, customers, or auditors.\n\nAny person that wants to log in through the UI or API must have a unique user record."
  },
  {
   "name": "Company_Configuration_User groups",
   "x-displayName": "User groups",
   "description": "User groups help you manage the permissions and access of users that have the same roles or responsibilities in a company.\n\n**When to use:** Use when you need to assign shared permissions and access to multiple users at once, or when retrieving user group configurations.\n\n**Relationships:** Use the user group member object to add and delete users from user groups.\n\n**Lifecycle context:** After you add a user to a user group, they automatically inherit all permissions and access defined by the roles assigned to that user group. \n\nFor more information, see [User groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_user_groups) in the Sage Intacct Help Center. In the case of users assigned to multiple user groups, the access privileges closest to the user prevail. For more information, see [Access privileges for users in multiple groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Access_Privileges_In_Multiple_Groups) in the Sage Intacct Help Center. "
  },
  {
   "name": "Company_Configuration_User group members",
   "x-displayName": "User group members",
   "description": "A user group member represents a user assigned to a user group.\n\n**When to use:** Use when assigning users to a group to manage shared permissions and access, or when retrieving the members of a specific user group.\n\n**Relationships:** Linked to a user and a user group.\n\nFor more information, see [User groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_user_groups) in the Sage Intacct Help Center."
  },
  {
   "name": "Company_Configuration_Roles",
   "x-displayName": "Roles",
   "description": "Roles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.\n\nA role is basically a group of permissions. Roles save time and make it easier to assign the same set of permissions to multiple users and to ensure that permissions are consistent across users. Permissions to perform certain tasks are assigned to specific roles, and roles can then be assigned to users or user groups. You use [role-permission-assignment objects](company-config/role-permission-assignment) to assign permissions to roles.\n\nYou can define roles for various job functions. For example, you can assign all Accounts Receivable clerks the same role instead of assigning permissions to each of them individually. Or when an employee leaves the company, you can assign their role to their replacement. This ensures that the new employee has the same permissions.\n\nYou can assign more than one role to a user. The user will then have all permissions for each role. For example, you assign Role A and Role B to a user. Role A has permissions that Role B does not. The user has all permissions in Role A plus the ones in Role B. A user can be individually assigned roles and also be part of a group that has a role. The user gets the total permissions from all assigned roles.\n\nIf a company uses role-based permissions, you must assign each user to a role or to a user group that's assigned to a role. If a user does not have an associated role, they will not be able to access applications and features.\n"
  },
  {
   "name": "Company_Configuration_Role user maps",
   "x-displayName": "Role user maps",
   "description": "A role user map associates a role with a user. It is an owned object of a [role object](company-config.role). A role-user-map object is created automatically when a role is assigned to a user in the `roles` array of a `user` object. When the array of roles is updated, all role user maps for that user are deleted and new role user maps are created for the updated roles.\n\nRoles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.\n"
  },
  {
   "name": "Company_Configuration_Role user group maps",
   "x-displayName": "Role user group maps",
   "description": "A role user group map associates a role with a user group. It is an owned object of a [role object](company-config.role). A role-user-group-map object is created automatically when a role is assigned to a user group in the `roles` array of a `user-group` object. When the array of roles is updated, all role user group maps for that user group are deleted and new role user group maps are created for the updated roles.\n\nRoles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.\n"
  },
  {
   "name": "Company_Configuration_Permissions",
   "x-displayName": "Permissions",
   "description": "Permissions enable users to perform a particular function or task within a specific area of Sage Intacct. For example, a user might have permission within the General Ledger to view financial reports but not to create, edit, or delete them. \n\nA permission specifies a module, such as `accountsPayable`, a specific permission name, such as `vendors`, and the allowed access rights for that permission, such as `list`, `view`, `add`, and `edit`.\n\nYou use [role-permission-assignment objects](company-config/role-permission-assignment) to assign permissions to roles.\n"
  },
  {
   "name": "Company_Configuration_Role permission assignments",
   "x-displayName": "Role permission assignments",
   "description": "A role permission assignment shows a single permission and set of access rights for a role. It is an owned object of a [role object](company-config.role). You create, update, and delete role permission assignment objects through the `rolePermissionAssignments` array in the owning role object.\n\nRoles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.\n"
  },
  {
   "name": "Company_Configuration_Audit histories",
   "x-displayName": "Audit histories",
   "description": "Audit history provides detailed information about field-level modifications made to particular object."
  },
  {
   "name": "Company_Configuration_Advanced audit histories",
   "x-displayName": "Advanced audit histories",
   "description": "Advanced audit history provides detailed information about access to personal data stored in contact, customer, and vendor objects for compliance with data protection laws, such as HIPAA."
  },
  {
   "name": "Company_Configuration_Cloud storage",
   "x-displayName": "Cloud storage",
   "description": "Use cloud storage to define targets for delivery of report output. See [Cloud Storage for reports](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Setting_up_cloud_storage) in the Sage Intacct Help Center for details."
  },
  {
   "name": "Company_Configuration_Company messages",
   "x-displayName": "Company messages",
   "description": "Use company messages to share short announcement or reminders with users. For example, remind employees to submit weekly timesheets or announce an upcoming company holiday."
  },
  {
   "name": "Company_Configuration_Cover letter templates",
   "x-displayName": "Cover letter templates",
   "description": "A cover letter template is a document you can include in a group of reports. \nWhen you send the group of reports, use the cover letter to introduce the reports and describe what information they contain.\nIn Intacct, you can create a cover letter and include it in a memorized report group."
  },
  {
   "name": "Company_Configuration_Email delivery records",
   "x-displayName": "Email delivery records",
   "description": "The delivery record for the email delivery service lets you check if any sent email encountered errors. See [Enhanced email delivery log](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Enhanced_email_delivery_log) topic in the Sage Intacct Help Center for more information."
  },
  {
   "name": "Company_Configuration_External authorizations",
   "x-displayName": "External authorizations",
   "description": "Use an external authorization record to allow another Sage Intacct company to access your company externally for a specified time period or until you disable the access."
  },
  {
   "name": "Company_Configuration_Holidays",
   "x-displayName": "Holidays",
   "description": "Specifies a holiday established for a company and the schedule to which that holiday belongs."
  },
  {
   "name": "Company_Configuration_Holiday schedules",
   "x-displayName": "Holiday schedules",
   "description": "A holiday schedule consists of a related group of individual holidays. \nBy creating a holiday schedule, you can configure the system to automatically reject timesheets with time worked on a designated holiday or apply a different pay scale for hourly workers who are allowed to work on holidays.\nFor more information, see [Holiday schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_Viewing_a_Schedule_of_Company_Holidays) in the Sage Intacct Help Center."
  },
  {
   "name": "Company_Configuration_Payment provider notifications",
   "x-displayName": "Payment provider notifications",
   "description": "A payment provider notification refers to a notification that Intacct receives and subsequently processes to update an object, depending on the notification type."
  },
  {
   "name": "Company_Configuration_Sandboxes",
   "x-displayName": "Sandboxes",
   "description": "A sandbox is a copy of your production environment that you can use for testing or training without affecting your production data or configuration.\n\n**When to use:** Use when you need an isolated environment to safely develop, test, or validate integrations, configurations, or workflows before deploying changes to production.\n\n**Relationships:** Linked to the company configuration. You can use the [refresh](company-config.company-config.sandbox-refresh) workflow, which updates the sandbox to reflect your latest production environment changes.\n\n**Lifecycle context:** Sandboxes last for the duration of the billing cycle and can be refreshed up to four times annually. When you submit a sandbox creation request, the sandbox state is first `pending`. During the creation process, the sandbox state changes to `inProgress`. Should sandbox creation fail, the state changes to `failed`. After a sandbox is successfully created, its state changes from `inProgress` to `ready`. At this point you can log in to it from the Sandboxes page, update the sandbox, get its details, refresh it, or delete it. For more information, see [Sandboxes](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_sandboxes) in the Sage Intacct Help Center."
  },
  {
   "name": "Company_Configuration_Transaction currencies",
   "x-displayName": "Transaction currencies",
   "description": "The transaction currency object defines the currencies that can be used in company transactions where multiple transaction currencies are enabled. A transaction currency can be either an ISO currency or a custom currency. Sage Intacct provides a list of ISO currencies with predefined properties, and you can create custom currencies with user-defined properties.\n\nFor more information, read about [transaction currencies](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Viewing_and_Managing_the_Transaction_Currency_List) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Company preferences",
   "x-displayName": "Company preferences",
   "description": "Use the company preference object to manage company-wide settings and preferences. See [Company information](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Company_information) in the Intacct Help Center for more information."
  },
  {
   "name": "Company_Configuration_Multi-entity preferences",
   "x-displayName": "Multi-entity preferences",
   "description": "Configure preferences for multi-entity companies. In a multi-entity shared company, entities represent a separate tax identification or a separately secured, fully balancing set of books. Entities typically represent divisions, franchises, affiliates, associations, locations, chapters, self-balancing funds, or subsidiaries, with a shared chart of accounts.\n\nFor more information, read about [multi-entity companies](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_learn_about_me) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Consolidation preferences",
   "x-displayName": "Consolidation preferences",
   "description": "Configure preferences for consolidations in Sage Intacct, including domestic, global, and advanced ownership consolidation. Each consolidation subscription enables you to consolidate books in a multi-entity shared company. You can select a relevant consolidation subscription based on your business needs.\n\nFor more information, read about [consolidation subscriptions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Comparison_consolidation_options) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Advanced consolidation preferences",
   "x-displayName": "Advanced consolidation preferences",
   "description": "Configure preferences for advanced ownership consolidations. Advanced ownership consolidation uses ownership structures to enable multi-level consolidations and automated non-controlling interest entries in a multi-entity company.\n\nFor more information, read about [advanced consolidations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=aa_TOC_advanced_ownership_consolidations) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Company_Configuration_Order Entry preferences",
   "x-displayName": "Order Entry preferences",
   "description": "Use the Order Entry preference object to manage settings and preferences for the Order Entry application. See [Configure Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Configuring_the_Order_Entry_Application) in the Sage Intacct Help Center for details."
  },
  {
   "name": "Company_Configuration_Purchasing preferences",
   "x-displayName": "Purchasing preferences",
   "description": "Use the Purchasing preference object to manage settings and preferences for the Purchasing application. See [Configure the Purchasing application](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Configuring_Purchase_Orders) in the Sage Intacct Help Center for details."
  }
 ],
 "paths": {
  "/services/company-config/dimensions/list": {
   "get": {
    "summary": "List dimensions",
    "description": "Lists all standard and user-defined dimensions in a company along with integration information about each one.",
    "tags": [
     "Company_Configuration_Dimensions"
    ],
    "operationId": "get-company-config-dimensions-list",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/company-config-dimensions-list-response"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Response": {
          "value": {
           "ia::result": [
            {
             "dimensionName": "DEPARTMENT",
             "dimensionLabel": "Department",
             "termName": "Department",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/company-config/department"
            },
            {
             "dimensionName": "LOCATION",
             "dimensionLabel": "Location",
             "termName": "Loc",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/company-config/location"
            },
            {
             "dimensionName": "PROJECT",
             "dimensionLabel": "Project",
             "termName": "Project",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/projects/project"
            },
            {
             "dimensionName": "CUSTOMER",
             "dimensionLabel": "Customer",
             "termName": "Customer",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/accounts-receivable/customer"
            },
            {
             "dimensionName": "VENDOR",
             "dimensionLabel": "Vendor",
             "termName": "Vendor",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/accounts-payable/vendor"
            },
            {
             "dimensionName": "EMPLOYEE",
             "dimensionLabel": "Employee",
             "termName": "Employee",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/company-config/employee"
            },
            {
             "dimensionName": "ITEM",
             "dimensionLabel": "Item",
             "termName": "Item",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/inventory-control/item"
            },
            {
             "dimensionName": "CLASS",
             "dimensionLabel": "Class",
             "termName": "Class",
             "isUserDefinedDimension": false,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/company-config/class"
            },
            {
             "dimensionName": "CONTRACT",
             "dimensionLabel": "Contract",
             "termName": "Contract",
             "isUserDefinedDimension": false,
             "isEnabledInGL": false,
             "dimensionEndpoint": "/objects/contracts/contract"
            },
            {
             "dimensionName": "TASK",
             "dimensionLabel": "Task",
             "termName": "Task",
             "isUserDefinedDimension": false,
             "isEnabledInGL": false,
             "dimensionEndpoint": "/objects/projects/task"
            },
            {
             "dimensionName": "WAREHOUSE",
             "dimensionLabel": "Warehouse",
             "termName": "Warehouse",
             "isUserDefinedDimension": false,
             "isEnabledInGL": false,
             "dimensionEndpoint": "/objects/inventory-control/warehouse"
            },
            {
             "dimensionName": "COSTTYPE",
             "dimensionLabel": "Cost type",
             "termName": "Cost type",
             "isUserDefinedDimension": false,
             "isEnabledInGL": false,
             "dimensionEndpoint": "/objects/construction/cost-type"
            },
            {
             "dimensionName": "AFFILIATEENTITY",
             "dimensionLabel": "Affiliate entity",
             "termName": "Affiliate entity",
             "isUserDefinedDimension": false,
             "isEnabledInGL": false,
             "dimensionEndpoint": "/objects/company-config/affiliate-entity"
            },
            {
             "dimensionName": "FIXEDASSET",
             "dimensionLabel": "Asset",
             "termName": "Asset",
             "isUserDefinedDimension": false,
             "isEnabledInGL": false,
             "dimensionEndpoint": "/objects/fixed-assets/asset"
            },
            {
             "dimensionName": "CHANNEL",
             "dimensionLabel": "Channel",
             "termName": "Channel",
             "isUserDefinedDimension": true,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/platform-apps/nsp::channel"
            },
            {
             "dimensionName": "DACIA",
             "dimensionLabel": "dacia",
             "termName": "dacia",
             "isUserDefinedDimension": true,
             "isEnabledInGL": true,
             "dimensionEndpoint": "/objects/platform-apps/nsp::dacia"
            }
           ],
           "ia::meta": {
            "totalCount": "15",
            "totalSuccess": "15",
            "totalError": "0"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/class": {
   "get": {
    "summary": "List classes",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each object. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Company_Configuration_Classes"
    ],
    "operationId": "list-company-config-class",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of class objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "list classes": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "Class_1",
             "href": "/objects/company-config/class/1"
            },
            {
             "key": "2",
             "id": "Class_2",
             "href": "/objects/company-config/class/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a class",
    "description": "Creates a new class. You can think of this as adding a new value to the dimension that you can use to tag transactions for reporting.",
    "tags": [
     "Company_Configuration_Classes"
    ],
    "operationId": "create-company-config-class",
    "requestBody": {
     "description": "Class object to create",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.class"
         },
         {
          "$ref": "#/components/schemas/company-config-classRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a single class": {
         "value": {
          "id": "SW",
          "name": "Software",
          "description": "All software titles",
          "status": "active"
         }
        },
        "Create a child class": {
         "value": {
          "id": "SW-Office",
          "name": "Office Software",
          "description": "Office productivity software",
          "status": "active",
          "parent": {
           "key": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New class",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new class": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "SW",
            "href": "/objects/company-config/class/1"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/class/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the class.",
     "in": "path",
     "required": true,
     "example": "43",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a class",
    "description": "Returns detailed information for a specified class.",
    "tags": [
     "Company_Configuration_Classes"
    ],
    "operationId": "get-company-config-class-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the class",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.company-config.class"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a class": {
          "value": {
           "ia::result": {
            "key": "2",
            "id": "SS",
            "name": "Software & Services",
            "description": "Software & Services",
            "status": "active",
            "parent": {
             "key": "1",
             "id": "3",
             "name": "Heath Care",
             "href": "/objects/company-config/class/1"
            },
            "audit": {
             "createdDateTime": "2024-06-28T18:11:36Z",
             "modifiedDateTime": "2024-06-28T18:11:36Z",
             "createdByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "locationKey": null,
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "href": "/objects/company-config/class/2"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a class",
    "description": "Updates an existing class by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Company_Configuration_Classes"
    ],
    "operationId": "update-company-config-class-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.company-config.class"
       },
       "examples": {
        "Update a single value": {
         "value": {
          "name": "Root one"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated class",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated class": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Class1",
            "href": "/objects/company-config/class/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a class",
    "description": "Deletes a class. You can delete a class if it is not being used or referenced. Deleted classes cannot be recovered.\n",
    "tags": [
     "Company_Configuration_Classes"
    ],
    "operationId": "delete-company-config-class-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/class-group": {
   "get": {
    "summary": "List class groups",
    "description": "Returns a collection with a key, ID, and link for each class group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Company_Configuration_Class groups"
    ],
    "operationId": "list-company-config-class-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of class-group objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List class groups": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/company-config/class-group/1"
            },
            {
             "key": "3",
             "id": "3",
             "href": "/objects/company-config/class-group/3"
            },
            {
             "key": "5",
             "id": "5",
             "href": "/objects/company-config/class-group/5"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a class group",
    "description": "Creates a new class group. You can create a class group of type `all` or `specific`. If you create a class group of type `all`, you must provide a `memberFilter` to select the classes to include in the group. If you create a class group of type `specific`, you must provide a list of classes in the `groupMembers` array. You can optionally filter the array with the `memberFilter` settings.",
    "tags": [
     "Company_Configuration_Class groups"
    ],
    "operationId": "create-company-config-class-group",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.class-group"
         },
         {
          "$ref": "#/components/schemas/company-config-class-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a class group of type all": {
         "value": {
          "id": "class01",
          "name": "my top 01 class",
          "description": "my top 01 class",
          "groupType": "all",
          "memberFilter": {
           "object": "company-config/class",
           "filterExpression": "and",
           "filters": [
            {
             "$eq": {
              "id": 8
             }
            }
           ],
           "orderBy": [
            {
             "id": "asc"
            }
           ]
          }
         }
        },
        "Create a class group of type specific": {
         "value": {
          "id": "3rd Level Classes",
          "name": "Level 3 Classes",
          "description": "Level 3 Classes",
          "groupType": "specific",
          "groupMembers": [
           {
            "id": "4"
           },
           {
            "id": "9"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New Class group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new class group": {
          "value": {
           "ia::result": {
            "key": "21",
            "id": "class01",
            "href": "/objects/company-config/class-group/19"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/class-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the class group.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get the details of a class group",
    "description": "Returns detailed information for a specified class group.",
    "tags": [
     "Company_Configuration_Class groups"
    ],
    "operationId": "get-company-config-class-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the class-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.company-config.class-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a class group": {
          "value": {
           "ia::result": {
            "key": "3",
            "id": "2nd Level Classes",
            "name": "Level 2 Classes",
            "description": "Level 2 Classes",
            "groupType": "specific",
            "audit": {
             "createdDateTime": "2016-10-26T17:28:09Z",
             "modifiedDateTime": "2016-10-26T17:30:09Z",
             "createdByUser": [
              {
               "key": "1",
               "id": "Admin",
               "href": "/objects/company-config/user/1"
              }
             ],
             "modifiedByUser": [
              {
               "key": "1",
               "id": "Admin",
               "href": "/objects/company-config/user/1"
              }
             ]
            },
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "groupMembers": [
             {
              "key": "3",
              "id": "WSD",
              "name": "Whole Sales Distribution",
              "status": "active",
              "sortOrder": "0"
             },
             {
              "key": "8",
              "id": "CON",
              "name": "Construction",
              "status": "active",
              "sortOrder": "1"
             }
            ],
            "href": "/objects/company-config/class-group/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a class group",
    "description": "Updates an existing class group by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Company_Configuration_Class groups"
    ],
    "operationId": "update-company-config-class-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.class-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a class group": {
         "value": {
          "description": "My Top 001 class"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated Department group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated class group": {
          "value": {
           "ia::result": {
            "key": "7",
            "id": "class01",
            "href": "/objects/company-config/class-group/7"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a class group",
    "description": "Deletes a class group.",
    "tags": [
     "Company_Configuration_Class groups"
    ],
    "operationId": "delete-company-config-class-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/department": {
   "get": {
    "summary": "List departments",
    "description": "Returns up to 100 department references from the collection with a key, ID, and link for each department. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find departments that meet certain criteria and to specify the properties that are returned.\n",
    "tags": [
     "Company_Configuration_Departments"
    ],
    "operationId": "list-company-config-department",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of departments",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of departments": {
          "value": {
           "ia::result": [
            {
             "key": "11",
             "id": "Eng",
             "href": "/objects/company-config/department/1"
            },
            {
             "key": "2",
             "id": "Fin",
             "href": "/objects/company-config/department/2"
            },
            {
             "key": "3",
             "id": "HR",
             "href": "/objects/company-config/department/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "201": {
      "description": "Created"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a department",
    "description": "Creates a new department.",
    "tags": [
     "Company_Configuration_Departments"
    ],
    "operationId": "create-company-config-department",
    "requestBody": {
     "description": "Department to create",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.department"
         },
         {
          "$ref": "#/components/schemas/company-config-departmentRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a department": {
         "value": {
          "id": "ENG",
          "name": "Engineering",
          "reportTitle": "Engineering",
          "status": "active",
          "supervisor": {
           "key": "16"
          }
         }
        },
        "Create a child department": {
         "value": {
          "id": "SW",
          "name": "Software",
          "reportTitle": "Software Development",
          "status": "active",
          "parent": {
           "key": "28"
          },
          "supervisor": {
           "key": "5"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New department",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New department created": {
          "value": {
           "ia::result": {
            "key": "12",
            "id": "ENG",
            "href": "/objects/company-config/department/12"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/department/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the department.",
     "in": "path",
     "required": true,
     "example": "28",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a department",
    "description": "Returns detailed information for a specified department.",
    "tags": [
     "Company_Configuration_Departments"
    ],
    "operationId": "get-company-config-department-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the department",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.company-config.department"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Department details": {
          "value": {
           "ia::result": {
            "id": "PS",
            "key": "28",
            "name": "Professional Services",
            "parent": {
             "key": "7",
             "id": "CS--Client Services",
             "name": "Client Services",
             "href": "/objects/company-config/department/7"
            },
            "supervisor": {
             "key": "5",
             "id": "MGR1--PS Dept - Manager",
             "name": "PS Dept - Manager",
             "href": "/objects/company-config/employee/5"
            },
            "audit": {
             "createdDateTime": "2023-01-08T11:28:12Z",
             "modifiedDateTime": "2023-01-08T11:28:12Z",
             "createdBy": "1",
             "modifiedBy": "95",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "95",
              "id": "Aman",
              "href": "/objects/company-config/user/95"
             }
            },
            "status": "active",
            "reportTitle": "Professional Services",
            "href": "/objects/company-config/department/28"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a department",
    "description": "Updates an existing department by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Company_Configuration_Departments"
    ],
    "operationId": "update-company-config-department-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.company-config.department"
       },
       "examples": {
        "Change department supervisor": {
         "value": {
          "supervisor": {
           "key": "99"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated department",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Department updated": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "SW",
            "href": "/objects/company-config/department/1"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a department",
    "description": "Deletes a department. You can delete a department if it is not being used or referenced. Deleted departments cannot be recovered.",
    "tags": [
     "Company_Configuration_Departments"
    ],
    "operationId": "delete-company-config-department-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/department-group": {
   "get": {
    "summary": "List department groups",
    "description": "Returns up to 100 department groups from the collection with a key, ID, and link for each group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find department groups that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Company_Configuration_Department groups"
    ],
    "operationId": "list-company-config-department-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of department groups",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of department groups": {
          "value": {
           "ia::result": [
            {
             "key": "3",
             "id": "Accounting",
             "href": "/objects/company-config/department-group/3"
            },
            {
             "key": "1",
             "id": "Finance",
             "href": "/objects/company-config/department-group/1"
            },
            {
             "key": "2",
             "id": "HR",
             "href": "/objects/company-config/department-group/2"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a department group",
    "description": "Creates a new department group.",
    "tags": [
     "Company_Configuration_Department groups"
    ],
    "operationId": "create-company-config-department-group",
    "requestBody": {
     "description": "Creates a new department group.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.department-group"
         },
         {
          "$ref": "#/components/schemas/company-config-department-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a department group type all": {
         "value": {
          "id": "HR",
          "name": "Human Resources",
          "groupType": "all",
          "memberFilter": {
           "object": "company-config/department",
           "filterExpression": "and",
           "filters": [
            {
             "$eq": {
              "name": "Accounting"
             }
            }
           ],
           "orderBy": [
            {
             "name": "asc"
            }
           ]
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New department group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new department group": {
          "value": {
           "ia::result": {
            "key": "19",
            "id": "HR",
            "href": "/objects/company-config/department-group/19"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/department-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the department group.",
     "in": "path",
     "required": true,
     "example": "18",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a department group",
    "description": "Returns detailed information for a specified department group.",
    "tags": [
     "Company_Configuration_Department groups"
    ],
    "operationId": "get-company-config-department-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the department group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.company-config.department-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the department group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Top Departments",
            "name": "Top Level Departments",
            "description": "Top Level Departments",
            "groupType": "specific",
            "memberFilter": {
             "object": "company-config/department",
             "filterExpression": "and",
             "orderBy": [
              {
               "name": "asc"
              }
             ]
            },
            "audit": {
             "createdDateTime": "2023-10-26T00:00:00Z",
             "modifiedDateTime": "2023-10-26T00:00:00Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1",
              "createdBy": "1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1",
              "modifiedBy": "1"
             }
            },
            "groupMembers": [
             {
              "key": "32",
              "id": 1004,
              "name": 1004,
              "href": "/objects/company-config/department/32"
             },
             {
              "key": "33",
              "id": 1009,
              "name": 1009,
              "href": "/objects/company-config/department/33"
             }
            ]
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a department group",
    "description": "Updates an existing department group by setting field values. Any fields not provided remain unchanged. New values for any arrays will replace the existing array.",
    "tags": [
     "Company_Configuration_Department groups"
    ],
    "operationId": "update-company-config-department-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.department-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a department group": {
         "value": {
          "description": "My Top departments America",
          "memberFilter": {
           "object": "company-config/department",
           "filterExpression": "and",
           "filters": [
            {
             "$eq": {
              "name": "Accounting"
             }
            }
           ],
           "orderBy": [
            {
             "name": "asc"
            }
           ]
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated department group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated department group": {
          "value": {
           "ia::result": {
            "key": "12",
            "id": "my top department",
            "href": "/objects/company-config/department-group/12"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a department group",
    "description": "Deletes a department group.",
    "tags": [
     "Company_Configuration_Department groups"
    ],
    "operationId": "delete-company-config-department-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/department-group-member": {
   "get": {
    "deprecated": true,
    "summary": "List department group members",
    "description": "Returns a collection with a key, ID, and link for each department group member.",
    "tags": [
     "Company_Configuration_Department group members"
    ],
    "operationId": "list-company-config-department-group-member",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of department-group-member objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of Department group Members": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/company-config/department-group-member/1"
            },
            {
             "key": "3",
             "id": "3",
             "href": "/objects/company-config/department-group-member/3"
            },
            {
             "key": "13",
             "id": "13",
             "href": "/objects/company-config/department-group-member/13"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/department-group-member/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the department group member.",
     "in": "path",
     "required": true,
     "example": "42",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a department group member",
    "description": "Returns detailed information for a specified department group member.",
    "tags": [
     "Company_Configuration_Department group members"
    ],
    "operationId": "get-company-config-department-group-member-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the department-group-member",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.company-config.department-group-member"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the department group member": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "1",
            "departmentGroup": {
             "key": "1",
             "href": "/objects/company-config/department-group/1"
            },
            "department": {
             "id": "8",
             "key": "8",
             "name": "Finance",
             "href": "/objects/company-config/department/8"
            },
            "sortOrder": 0,
            "audit": {
             "createdDateTime": "2016-10-26T17:28:33Z",
             "modifiedDateTime": "2016-10-26T17:28:33Z",
             "createdBy": "1",
             "modifiedBy": "1"
            },
            "href": "/objects/company-config/department-group-member/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/employee": {
   "get": {
    "summary": "List employees",
    "description": "Returns a collection with a key, ID, and link for each employee. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find employees that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Company_Configuration_Employees"
    ],
    "operationId": "list-company-config-employee",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of employees",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employees": {
          "value": {
           "ia::result": [
            {
             "key": "32",
             "id": "jsmith",
             "href": "/objects/company-config/employee/32"
            },
            {
             "key": "52",
             "id": "rdas",
             "href": "/objects/company-config/employee/52"
            },
            {
             "key": "17",
             "id": "ajones",
             "href": "/objects/company-config/employee/17"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee",
    "description": "Creates a new employee. If the employee is also a user in Sage Intacct (which is required if they will be entering time or expenses), set the `primaryContact` to the same contact that is associated with the user.",
    "tags": [
     "Company_Configuration_Employees"
    ],
    "operationId": "create-company-config-employee",
    "requestBody": {
     "description": "Create a new employee.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.employee"
         },
         {
          "$ref": "#/components/schemas/company-config-employeeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a new employee": {
         "value": {
          "id": "mVanitha",
          "SSN": "650125932",
          "jobTitle": "Accountants",
          "startDate": "2021-04-30",
          "birthDate": "1984-04-01",
          "name": "Mary Vanitha",
          "defaultCurrency": "USD",
          "manager": {
           "id": "MGR-CS"
          },
          "location": {
           "id": "1"
          },
          "department": {
           "id": "TS"
          },
          "earningType": {
           "id": "Salaries"
          },
          "postActualCostWithVariance": false,
          "employeeType": {
           "id": "Full Time"
          },
          "primaryContact": {
           "id": "Mary"
          },
          "attachmentFolder": {
           "key": "10"
          },
          "preferredPaymentMethod": "cash"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New employee reference",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee": {
          "value": {
           "ia::result": {
            "key": "59",
            "id": "mVanitha",
            "href": "/objects/company-config/employee/59"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/employee/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the employee.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "63"
    }
   ],
   "get": {
    "summary": "Get an employee",
    "description": "Returns detailed information for a specified employee.",
    "tags": [
     "Company_Configuration_Employees"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get an employee",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.company-config.employee"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an employee": {
          "value": {
           "ia::result": {
            "key": "59",
            "id": "mVanitha",
            "SSN": "650125932",
            "jobTitle": "Accountants",
            "location": {
             "id": "1",
             "key": "1",
             "name": "United States of America",
             "href": "/objects/company-config/location/1"
            },
            "department": {
             "id": "TS",
             "key": "29",
             "name": "Technical Services",
             "href": "/objects/company-config/department/29"
            },
            "manager": {
             "key": "4",
             "id": "MGR-CS",
             "name": "CS Dept - Manager",
             "href": "/objects/company-config/employee/4"
            },
            "birthDate": "1984-04-01",
            "startDate": "2021-04-30",
            "endDate": null,
            "status": "active",
            "employeeType": {
             "id": "Full Time",
             "key": "1",
             "href": "/objects/company-config/employee-type/1"
            },
            "gender": null,
            "terminationType": null,
            "name": "Mary",
            "primaryContact": {
             "mailingAddress": {
              "addressLine1": null,
              "addressLine2": null,
              "addressLine3": null,
              "city": null,
              "country": "United States",
              "isoCountryCode": "US",
              "postCode": null,
              "state": null
             },
             "URL1": null,
             "URL2": null,
             "companyName": null,
             "email1": "mvanitha@intacct.com",
             "email2": null,
             "fax": null,
             "firstName": "Mary",
             "id": "Mary",
             "lastName": "Vanitha",
             "middleName": null,
             "mobile": null,
             "pager": null,
             "phone1": null,
             "phone2": null,
             "prefix": null,
             "printAs": "Vanitha, Mary",
             "key": "270",
             "href": "/objects/company-config/contact/270"
            },
            "attachmentFolder": {
             "id": "JSmithEmployee",
             "key": "10",
             "href": "/objects/company-config/folder/10"
            },
            "defaultCurrency": "USD",
            "form1099": {
             "name": null,
             "type": null,
             "box": null
            },
            "earningType": {
             "key": "1",
             "id": "Salaries",
             "href": "/objects/company-config/earning-type/1"
            },
            "postActualCostWithVariance": false,
            "audit": {
             "createdDateTime": "2025-09-24T17:21:13Z",
             "modifiedDateTime": "2025-09-24T17:21:13Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "class": {
             "id": 3,
             "name": "Health Care",
             "key": "1",
             "href": "/objects/company-config/class/1"
            },
            "defaultCustomer": {
             "id": null,
             "name": null,
             "key": null
            },
            "defaultItem": {
             "id": null,
             "name": null,
             "key": null
            },
            "defaultVendor": {
             "id": null,
             "name": null,
             "key": null
            },
            "defaultTimeAllocation": {
             "id": null,
             "key": null
            },
            "defaultExpenseDistribution": {
             "id": null,
             "key": null
            },
            "preferredPaymentMethod": "cash",
            "bankFile": {
             "paymentCountryCode": null,
             "paymentCurrency": null
            },
            "filePaymentService": "none",
            "ach": {
             "enabled": false,
             "bankRoutingNumber": null,
             "accountNumber": null,
             "accountType": null,
             "remittanceType": null
            },
            "sendAutomaticPaymentNotification": false,
            "isPlaceholderResource": false,
            "mergePaymentRequests": true,
            "employeePosition": {
             "key": null,
             "id": null
            },
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "employeeRates": {
             "key": "116",
             "id": "116",
             "employee": {
              "key": "57",
              "id": "AllFields",
              "name": "Fields, All",
              "href": "/objects/company-config/employee/57"
             },
             "hourlyRate": "50.00",
             "annualSalary": null,
             "startDate": "2025-01-02",
             "endDate": null,
             "audit": {
              "createdDateTime": "2025-11-06T16:55:43Z",
              "modifiedDateTime": "2025-11-06T16:55:43Z",
              "createdByUser": {
               "key": "138",
               "id": "Admin2",
               "href": "/objects/company-config/user/138"
              },
              "createdBy": "138",
              "modifiedByUser": {
               "key": "138",
               "id": "Admin2",
               "href": "/objects/company-config/user/138"
              },
              "modifiedBy": "138"
             },
             "href": "/objects/company-config/employee-rate/116"
            },
            "positionSkills": {
             "key": "1",
             "id": "Surfer",
             "href": "/objects/projects/position-skill/1"
            },
            "bankFileSetup": [],
            "href": "/objects/company-config/employee/59"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalError": 0,
            "totalSuccess": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "operationId": "get-company-config-employee-key",
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee",
    "description": "Updates an existing employee by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Company_Configuration_Employees"
    ],
    "operationId": "update-company-config-employee-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.employee"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an employee": {
         "value": {
          "status": "inactive",
          "endDate": "2023-04-01",
          "terminationType": "voluntary"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated employee",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated employee": {
          "value": {
           "ia::result": {
            "key": "52",
            "id": "Emp2",
            "href": "/objects/company-config/employee/52"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee",
    "description": "Deletes an employee. ",
    "tags": [
     "Company_Configuration_Employees"
    ],
    "operationId": "delete-company-config-employee-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/company-config/employee-type": {
   "get": {
    "summary": "List employee types",
    "description": "Returns a collection with a key, ID, and link for each employee type. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Company_Configuration_Employee types"
    ],
    "operationId": "list-company-config-employee-type",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of employee types",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employee types": {
          "value": {
           "ia::result": [
            {
             "key": "100",
             "id": "Part-time",
             "href": "/objects/company-config/employee-type/100"
            },
            {
             "key": "101",
             "id": "Full-time",
             "href": "/objects/company-config/employee-type/101"
            },
            {
             "key": "102",
             "id": "Contractor",
             "href": "/objects/company-config/employee-type/102"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee type",
    "description": "Creates a new employee type.",
    "tags": [
     "Company_Configuration_Employee types"
    ],
    "operationId": "create-company-config-employee-type",
    "requestBody": {
     "description": "Create a new employee type",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.company-config.employee-type"
         },
         {
          "$ref": "#/components/schemas/company-config-employee-typeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an employee type": {
         "value": {
          "id": "Temporary Worker",
          "parent": {
           "key": "1"
          },
          "status": "active"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New employee type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee type": {
          "value": {
           "ia::result": {
            "key": "8",
            "id": "Temporary Worker",
            "href": "/objects/company-config/employee-type/8"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
[...]
