{
 "openapi": "3.0.3",
 "info": {
  "title": "Construction",
  "version": "1",
  "description": "Use Construction functionality to represent project work in a visual hierarchy (work breakdown structure), using the project, task, and cost type dimensions."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Construction_Project contracts",
   "x-displayName": "Project contracts",
   "description": "Associate a project contract and its corresponding project contract lines with a project to capture a mix of billable details and include those details into your construction project billing."
  },
  {
   "name": "Construction_Project contract lines",
   "x-displayName": "Project contract lines",
   "description": "Project contract line define the products or services included in a project contract. Multiple lines on a contract allow for different types of billing (lump sum, progress, cost plus, T&M) for each line."
  },
  {
   "name": "Construction_Project contract line entries",
   "x-displayName": "Project contract line entries",
   "description": "Use project contract line entries to add pricing to the project contract line at the appropriate workflow type."
  },
  {
   "name": "Construction_Project contract types",
   "x-displayName": "Project contract types",
   "description": "Use project contract types to group or categorize project contract information for reporting purposes."
  },
  {
   "name": "Construction_Project contract line task maps",
   "x-displayName": "Project contract line task maps",
   "description": "Project contract line task maps represent the relationship that links a construction project contract line to an associated project task. Only existing tasks within the project or an associated sub-project can be mapped to a project contract line. Create and maintain project contract line task maps from the owning [construction project contract line](construction.project-contract-line) object. Construction subscription is required for this object.\n\nFor more information, read about [mapping time and material tasks to construction project contract lines](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Map_time_material_tasks_project_contract_lines) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Cost type observed percent completed",
   "x-displayName": "Cost type observed percent completed",
   "description": "A personal estimation of how complete a cost type is as of a specific date. It is used to track percent completion values and dates by entering \"as of dates\" and percentages as the cost type progresses."
  },
  {
   "name": "Construction_Project contract billing invoice details",
   "x-displayName": "Project contract billing invoice details",
   "description": "Project contract billing invoice details hold billing details for a single project contract line."
  },
  {
   "name": "Construction_Project contract billing invoice summaries",
   "x-displayName": "Project contract billing invoice summaries",
   "description": "Project contract billing invoice summaries enable a construction company to properly report on project contract billing totals, and are instrumental in creating industry-standard invoice templates. The fields in these objects contain the detail of the contract value, the amount that has been billed, is left to bill and the retainage held and billed during the contract duration."
  },
  {
   "name": "Construction_Rate tables",
   "x-displayName": "Rate tables",
   "description": "A construction rate table provides markup and pricing information to be used for generating project generated invoices. Every rate table contains lines for each transaction type which identify the criteria to use when applying markup and pricing for that transaction type. The transaction types include timesheets, purchase orders, accounts payable, general ledger, credit cards, and employee expenses.\n\nFor more information, read about [setting up](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_rate_tables) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Rate table accounts payable lines",
   "x-displayName": "Rate table accounts payable lines",
   "description": "Construction rate table accounts payable lines contain criteria for applying a default markup percentage to matching accounts payable transactions during invoicing. They are owned objects of a rate table object. You create, update, and delete accounts payable line objects through operations on the owning rate table.\n\n* Each line requires only 1 value be provided. \n* Lines with the exact same values (excluding description and markup %) are considered duplicates and are not allowed. \n* If no value is given for a property then the line matches on any transaction, otherwise it only matches on transactions with that property. \n* Lines with the most matches is used as the invoice default markup percentage.  \n* If multiple lines have the same number of matches then the one with the most recent start date is used.  \n* If multiple lines have the same number of matches and the same start date (or none at all) then the line with the lowest line number is used.\n\nFor more information, read about [setting up](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_rate_tables) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Rate table credit card lines",
   "x-displayName": "Rate table credit card lines",
   "description": "Construction rate table credit card lines contain criteria for applying a default markup percentage to matching credit card transactions during invoicing. They are owned objects of a rate table object. You create, update, and delete credit card line objects through operations on the owning rate table.\n\n* Each line requires only 1 value be provided. \n* Lines with the exact same values (excluding description and markup %) are considered duplicates and are not allowed. \n* If no value is given for a property then the line matches on any transaction, otherwise it only matches on transactions with that property. \n* Lines with the most matches is used as the invoice default markup percentage.  \n* If multiple lines have the same number of matches then the one with the most recent start date is used.  \n* If multiple lines have the same number of matches and the same start date (or none at all) then the line with the lowest line number is used.\n\nFor more information, read about [setting up](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_rate_tables) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Rate table employee expense lines",
   "x-displayName": "Rate table employee expense lines",
   "description": "Rate table employee expense lines contain criteria for applying a default markup percentage to matching employee expense transactions during invoicing. They are owned objects of a rate table object. You create, update, and delete employee expense line objects through operations on the owning rate table. \n\n* Each line requires only 1 value be provided. \n* Lines with the exact same values (excluding description and markup %) are considered duplicates and are not allowed. \n* If no value is given for a property then the line matches on any transaction, otherwise it only matches on transactions with that property. \n* Lines with the most matches is used as the invoice default markup percentage.  \n* If multiple lines have the same number of matches then the one with the most recent start date is used.  \n* If multiple lines have the same number of matches and the same start date (or none at all) then the line with the lowest line number is used.\n\nFor more information, read about [setting up](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_rate_tables) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Rate table journal lines",
   "x-displayName": "Rate table journal lines",
   "description": "Construction rate table journal lines contain criteria for applying a default markup percentage to matching general ledger transactions during invoicing. They are owned objects of a rate table object. You create, update, and delete journal line objects through operations on the owning rate table. \n\n* Each line requires only 1 value be provided. \n* Lines with the exact same values (excluding description and markup %) are considered duplicates and are not allowed. \n* If no value is given for a property then the line matches on any transaction, otherwise it only matches on transactions with that property. \n* Lines with the most matches is used as the invoice default markup percentage.  \n* If multiple lines have the same number of matches then the one with the most recent start date is used.  \n* If multiple lines have the same number of matches and the same start date (or none at all) then the line with the lowest line number is used.\n\nFor more information, read about [setting up](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_rate_tables) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Rate table purchasing lines",
   "x-displayName": "Rate table purchasing lines",
   "description": "Construction rate table purchasing lines contain criteria for applying a default markup percentage or unit price to matching purchasing transactions during invoicing. They are owned objects of a rate table object. You create, update, and delete purchasing line objects through operations on the owning rate table.\n\n* Each line requires only 1 value be provided. \n* Lines with the exact same values (excluding description and markup %) are considered duplicates and are not allowed. \n* If no value is given for a property then the line matches on any transaction, otherwise it only matches on transactions with that property. \n* Lines with the most matches is used as the invoice default markup percentage.  \n* If multiple lines have the same number of matches then the one with the most recent start date is used.  \n* If multiple lines have the same number of matches and the same start date (or none at all) then the line with the lowest line number is used.\n\nFor more information, read about [setting up](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_rate_tables) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Rate table timesheet lines",
   "x-displayName": "Rate table timesheet lines",
   "description": "Construction rate table timesheet lines contain criteria for applying a default markup percentage or labor rate to matching timesheet transactions during invoicing. They are owned objects of a rate table object. You create, update, and delete timesheet line objects through operations on the owning rate table.\n\n* Each line requires only 1 value be provided. \n* Lines with the exact same values (excluding description and markup %) are considered duplicates and are not allowed. \n* If no value is given for a property then the line matches on any transaction, otherwise it only matches on transactions with that property. \n* Lines with the most matches is used as the invoice default markup percentage.  \n* If multiple lines have the same number of matches then the one with the most recent start date is used.  \n* If multiple lines have the same number of matches and the same start date (or none at all) then the line with the lowest line number is used.\n\nFor more information, read about [setting up](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_rate_tables) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Construction_Project estimates",
   "x-displayName": "Project estimates",
   "description": "A project estimate enables you to approximate how much a project might cost to complete. You can compare the actual costs against your estimate to determine if the project is progressing as expected."
  },
  {
   "name": "Construction_Project estimate lines",
   "x-displayName": "Project estimate lines",
   "description": "Project estimate line is an amount that can be tied to cost types (categories in the work breakdown structure), tasks, items, or other aspects of your project. Project estimate lines can only be added and updated through the owning `project-estimate` object."
  },
  {
   "name": "Construction_Project estimate types",
   "x-displayName": "Project estimate types",
   "description": "Project estimate types categorize project estimates for reporting purposes and for filtering which project estimate entries post to the GL."
  },
  {
   "name": "Construction_Project change orders",
   "x-displayName": "Project change orders",
   "description": "Project change orders provide project managers or contract administrators at construction companies a mechanism to group several change requests together, for the purpose of presenting them to the customer for approval, and ultimately, for billing."
  },
  {
   "name": "Construction_Change requests",
   "x-displayName": "Change requests",
   "description": "Change Requests provide construction companies a way to keep track of changes to their projects in terms of cost, price and markup.\n\nA change request may consist of one or more lines of changes that are captured using the construction work breakdown structure (Project + Task + Cost Type) along with cost and price information. Information about other dimensions may also be captured when relevant.\n\nIn some instances only the cost is captured, when the change is not billed to the customer. \n\nSometimes the cost and price on a change request are the same amount, such as when the cost of a change is simply passed on to the customer.\n\nSometimes, in the early stages of a change request, you may not have all the information at a line item level. In such cases, you may want to create a change request without any line items, and later go back to it to add line item along with cost and/or price information.\n\nOnce a change request is approved, the user would want to update the primary estimate of the project by posting the change request. When the primary estimate is posted to GL budgets, those line items generated by the posting of the change request would also be part of the posting of the project estimate to GL budgets."
  },
  {
   "name": "Construction_Change request lines",
   "x-displayName": "Change request lines",
   "description": "Change request lines describe the specific changes in a change request. Change request lines can only be added, updated, and deleted through the owning change-request object."
  },
  {
   "name": "Construction_Change request types",
   "x-displayName": "Change request types",
   "description": "Construction companies can create custom change request types to categorize and organize change request information for reporting purposes. For example, an `internal` change request type might be used for changes that incur costs to the contractor but are not billed to the customer."
  },
  {
   "name": "Construction_Change request statuses",
   "x-displayName": "Change request statuses",
   "description": "Construction companies can create their own user-defined statuses for change requests. A change request status is mapped to a workflow type, which controls whether change request lines post to the primary project estimate. A workflow type of none (the default) prevents change request lines from posting. Other workflow types, such as pending change, approved change, and so forth, result in posting."
  },
  {
   "name": "Construction_Accumulation types",
   "x-displayName": "Accumulation types",
   "description": "Accumulation types let construction companies report on transaction costs across cost types.\n\nAn accumulation type is typically specified at the level of the standard cost type, but it can also be provided when creating an individual cost type."
  },
  {
   "name": "Construction_Employee positions",
   "x-displayName": "Employee positions",
   "description": "You can define a set of employee positions and use those positions in timesheets and rate tables to bill employee labor out at different rates, depending on the work that an employee does at various times during the day.\n\nFor example, you may want to bill a customer at one rate for the time that an employee spends unloading a truck, but then bill at a different rate when the same employee does work as an electrical apprentice. You can define a set of employee positions to use on [timesheets](time/timesheet) and in [rate table timesheet entries](construction/rate-table-timesheet-line) to accomplish this.\n\n**NOTE**: The `employee-position` object is used for billing labor, and is different from the [position-skill](projects/position-skill) object, which is used to track, categorize, and search for resources according to skills and expertise."
  },
  {
   "name": "Construction_Labor classes",
   "x-displayName": "Labor classes",
   "description": "You can define labor class objects that can be applied to timesheets and used to determine billing rates and markups for employees."
  },
  {
   "name": "Construction_Labor shifts",
   "x-displayName": "Labor shifts",
   "description": "You can define labor shift objects that can be applied to timesheets and used to determine billing rates and markups for employees."
  },
  {
   "name": "Construction_Labor unions",
   "x-displayName": "Labor unions",
   "description": "You can define labor union objects that can be applied to timesheets and used to determine billing rates and markups for employees."
  },
  {
   "name": "Construction_AP releasable retainage",
   "x-displayName": "AP releasable retainage",
   "description": "An AP releasable retainage has information about which records can be released."
  },
  {
   "name": "Construction_AP retainage releases",
   "x-displayName": "AP retainage releases",
   "description": "On an AP bill that has retainage, an AP retainage release is used to release that retainage for payment."
  },
  {
   "name": "Construction_AP retainage release lines",
   "x-displayName": "AP retainage release lines",
   "description": "Line item in an AP retainage release. Create and maintain retainage release lines from the owning [AP retainage release object](construction.ap-retainage-release)."
  },
  {
   "name": "Construction_AR releasable retainage",
   "x-displayName": "AR releasable retainage",
   "description": "An AR releasable retainage has information about which records can be released."
  },
  {
   "name": "Construction_AR retainage releases",
   "x-displayName": "AR retainage releases",
   "description": "On an AR invoice that has retainage, an AR retainage release is used to release that retainage for payment."
  },
  {
   "name": "Construction_AR retainage release lines",
   "x-displayName": "AR retainage release lines",
   "description": "AR retainage release line - detail of the AR retainage release."
  },
  {
   "name": "Construction_Primary document details",
   "x-displayName": "Primary document details",
   "description": "Provides detailed information about calculated totals related to the primary document, including associated transactions, projects, and items."
  },
  {
   "name": "Construction_Primary document summaries",
   "x-displayName": "Primary document summaries",
   "description": "Represents a summary of a primary document in the construction domain, including transaction details, retainage, and associated metadata."
  },
  {
   "name": "Construction_Primary document AP bills",
   "x-displayName": "Primary document AP bills",
   "description": "Primary document AP bills represent the Accounts Payable bills that are generated when purchasing documents are converted through the construction workflow. They link the AP bill to its originating source document, providing access to invoice totals, retainage amounts, and related transaction information for financial tracking and reporting."
  },
  {
   "name": "Construction_Primary document AP payments",
   "x-displayName": "Primary document AP payments",
   "description": "Represents detailed information about Accounts Payable payments, including associated amounts, and related metadata for financial tracking and reporting."
  },
  {
   "name": "Construction_Primary document retainage releases",
   "x-displayName": "Primary document retainage releases",
   "description": "Represents detailed information about retainage release bills, including associated transactions, amounts, and related metadata for financial tracking and reporting."
  },
  {
   "name": "Construction_Compliance records",
   "x-displayName": "Compliance records",
   "description": "A compliance record applies a compliance type to a specified vendor or primary document so that you can track dates, amounts, and documents that show compliance."
  },
  {
   "name": "Construction_Compliance types",
   "x-displayName": "Compliance types",
   "description": "A compliance type is a specific license, insurance, or other document that you want to track for vendors. You can associate multiple compliance types with one compliance definition. See [Vendor compliance types](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Ab_TOC_compliance_types) in the Sage Intacct Help Center for more information."
  },
  {
   "name": "Construction_Compliance definitions",
   "x-displayName": "Compliance definitions",
   "description": "Compliance definitions provide validation rules and notification settings for tracking vendor compliance. See [Vendor compliance definitions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Ab_TOC_compliance_definitions) in the Sage Intacct Help Center for more information."
  },
  {
   "name": "Construction_Compliance definition associations",
   "x-displayName": "Compliance definition associations",
   "description": "Associate compliance definitions with one or more object types, such as vendor type, project type, or document type."
  },
  {
   "name": "Construction_Work orders",
   "x-displayName": "Work orders",
   "description": "Work order is an optional [dimension](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Dimensions_overview_basics) that can be used for tagging, filtering, and categorizing data in many areas of Sage Intacct.\n\nA work order represents a unit of service work to be performed and tracked independently in a construction project.\n\nYou can create a hierarchy of work orders. To set up a hierarchy, create the parent work order first and then specify the parent work order when adding child work orders."
  },
  {
   "name": "Construction_Work order types",
   "x-displayName": "Work order types",
   "description": "The category for the work order service request, such as urgent repair or software installation."
  },
  {
   "name": "Construction_Work order call types",
   "x-displayName": "Work order call types",
   "description": "A subcategory for a work order service request. For example, preventative maintenance or warranty repair."
  },
  {
   "name": "Construction_Work order states",
   "x-displayName": "Work order states",
   "description": "Identifies the current status for a work order service request. For example, in progress, completed, or on hold."
  },
  {
   "name": "Construction_Work order problem codes",
   "x-displayName": "Work order problem codes",
   "description": "A subcategory that describes the source of the work order service issue. For example, parts or electrical."
  },
  {
   "name": "Construction_WIP setups",
   "x-displayName": "WIP setups",
   "description": "Use WIP setup to configure accounts used for your WIP schedules, and a reconciliation method for overbilling and underbilling amounts.\n\nYou cannot delete a WIP setup object."
  },
  {
   "name": "Construction_WIP setup accounts",
   "x-displayName": "WIP setup accounts",
   "description": "Set up accounts for the [WIP setup](construction-forecasting.wip-setup) object."
  },
  {
   "name": "Construction_WIP projects",
   "x-displayName": "WIP projects",
   "description": "Ongoing projects that may be included in a [WIP schedule](construction-forecasting.wip-period), that provide:\n- Project manager and CFO forecasts of project costs, profits, and completion percentage\n- Actual costs and earned revenue\n- Overbilling and underbilling amounts"
  },
  {
   "name": "Construction_WIP forecast details",
   "x-displayName": "WIP forecast details",
   "description": "Provides details such as cost, estimate, and project manager forecast for a WIP project."
  },
  {
   "name": "Construction_WIP project manager forecasts",
   "x-displayName": "WIP project manager forecasts",
   "description": "Project manager forecasts of project costs, profits, and completion percentage."
  },
  {
   "name": "Construction_WIP target projects",
   "x-displayName": "WIP target projects",
   "description": "Use WIP target project to set WIP project settings: `costsCompleteDate`, `billingsCompleteDate`, and `usePrimaryForecast`.\n"
  },
  {
   "name": "Construction_WIP project settings",
   "x-displayName": "WIP project settings",
   "description": "Use WIP project settings to configure WIP schedules."
  },
  {
   "name": "Construction_Calculate WIP projects",
   "x-displayName": "Calculate WIP projects",
   "description": "Calculates CFO or product manager (PM) forecast values based on the specified requested calculation. \n\nFor example, when you request a calculation for `cfoForecastContractValue`, the service calculates the `cfoForecast.costToComplete`, `cfoForecast.costAtCompletion`, and `cfoForecast.percentComplete` fields based on the `cfoContractValue` and other actual values such as `jobToDateCosts`.\n\nThe extended forecast fields such as `costAtCompletionVariance`, `contractVarianceAmount`, `grossProfitPercentOfCost`, and `earnedProfitToDateAmount`, are calculated using only the CFO forecast and the actuals."
  },
  {
   "name": "Construction_WIP periods",
   "x-displayName": "WIP periods",
   "description": "Use WIP schedule periods to monitor profitability and revenue recognition for ongoing projects. The WIP schedule periods are based on the reporting periods in your entity. See [Work in progress (WIP) management](https://www.intacct.com/ia/docs/en_US/help_action/Construction/WIP_management/WIP-management.htm) for details."
  },
  {
   "name": "Construction_Preview WIP periods",
   "x-displayName": "Preview WIP periods",
   "description": "Determine whether a preview of a WIP period is ready to be posted to the GL or contains any problems that must be resolved."
  },
  {
   "name": "Construction_Generate WIP projects",
   "x-displayName": "Generate WIP projects",
   "description": "The generate WIP projects service creates [WIP project](construction-forecasting.wip-project) objects based on calculations of the extended forecast.\n\nActuals are calculated using data from the general ledger cost and revenue, project estimate, and project contract, combined with the CFO forecast from the prior WIP period."
  },
  {
   "name": "Construction_Prior WIP periods",
   "x-displayName": "Prior WIP periods",
   "description": "Retrieve a list of prior WIP periods."
  },
  {
   "name": "Construction_Refresh WIP projects",
   "x-displayName": "Refresh WIP projects",
   "description": "Creates a preview of the WIP schedule for a specified list of projects based on the latest project data.\n\nYou can only refresh the data for a WIP schedule period in an `unposted` state.\n\nIf refreshing the data changes a calculated value for a project that was set as `finalized`, the project is reset to `active`."
  },
  {
   "name": "Construction_WIP period warnings",
   "x-displayName": "WIP period warnings",
   "description": "Perform validation to get the errors and warnings for WIP projects in a specified WIP schedule period."
  },
  {
   "name": "Construction_WIP available periods",
   "x-displayName": "WIP available periods",
   "description": "Get a list of available General Ledger [reporting periods](general-ledger.reporting-period)."
  },
  {
   "name": "Construction_WIP next periods",
   "x-displayName": "WIP next periods",
   "description": "Retrieve the next available reporting period that follows the specified period end date."
  },
  {
   "name": "Construction_WIP posting histories",
   "x-displayName": "WIP posting histories",
   "description": "Provide the posting and reversal activity for a specified WIP period."
  },
  {
   "name": "Construction_Preview WIP postings",
   "x-displayName": "Preview WIP postings",
   "description": "Generate a GL journal entry preview for posting a WIP schedule period."
  },
  {
   "name": "Construction_Post WIP periods",
   "x-displayName": "Post WIP periods",
   "description": "Post a GL journal entry for a WIP schedule period. All projects in the WIP period must be finalized before you can post it. When you post a WIP schedule, the overbilling and underbilling amounts are posted to the accounts specified in [WIP setup](construction-forecasting.wip-setup)."
  },
  {
   "name": "Construction_Revert WIP postings",
   "x-displayName": "Revert WIP postings",
   "description": "Revert the journal transactions that were created when the overbilling or underbilling amount was posted."
  },
  {
   "name": "Construction_WIP rollup projects",
   "x-displayName": "WIP rollup projects",
   "description": "WIP rollup project service"
  },
  {
   "name": "Construction_WIP include projects",
   "x-displayName": "WIP include projects",
   "description": "Include projects as entries in a WIP schedule project. See [Include projects in work in progress (WIP) schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=include_projects_in_wip) for details."
  },
  {
   "name": "Construction_WIP exclude projects",
   "x-displayName": "WIP exclude projects",
   "description": "Exclude from WIP schedules"
  },
  {
   "name": "Construction_WIP include in projects",
   "x-displayName": "WIP include in projects",
   "description": "If a WIP schedule project is at or below the second level of the project hierarchy, you can set some or all of its subprojects to be included as part of it. The selected projects must be in the same project hierarchy. See [Include projects in work in progress (WIP) schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=include_projects_in_wip) for details."
  },
  {
   "name": "Construction_WIP include with root project",
   "x-displayName": "WIP include with root project",
   "description": "If a root project is included in a WIP schedule, you can include some or all of its subprojects as part of it. You can select subprojects from multiple project hierarchies. See [Include projects in work in progress (WIP) schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=include_projects_in_wip) for details."
  }
 ],
 "paths": {
  "/objects/construction/project-contract": {
   "get": {
    "summary": "List project contracts",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each object. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Construction_Project contracts"
    ],
    "operationId": "list-construction-project-contract",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project contract objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "example-result-collection-of-project-contracts": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "BTI-01",
             "href": "/objects/construction/project-contract/1"
            },
            {
             "key": "2",
             "id": "BTI-02",
             "href": "/objects/construction/project-contract/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project contract",
    "description": "Creates a new project contract. You must specify a unique ID when creating a project contract unless document sequencing is configured, in which case the ID is auto-generated.",
    "tags": [
     "Construction_Project contracts"
    ],
    "operationId": "create-construction-project-contract",
    "requestBody": {
     "description": "Project contract to create",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.project-contract"
         },
         {
          "$ref": "#/components/schemas/construction-project-contractRequiredProperties"
         }
        ]
       },
       "examples": {
        "Details of project contract to create": {
         "value": {
          "id": "BTI-05",
          "name": "Berkeley Technology Inc - Contract 05",
          "project": {
           "id": "DIM - BTI"
          },
          "customer": {
           "id": "BTI"
          },
          "contractDate": "2023-09-30",
          "description": "Project contract for Berkeley Technology Inc",
          "architect": {
           "id": "Eberhardt"
          },
          "projectContractType": {
           "id": "COM"
          },
          "attachment": {
           "id": "pc-att-2"
          },
          "isBillable": true,
          "scope": "Project scope only",
          "inclusions": "Per original contract",
          "exclusions": "Plumbing",
          "terms": "Per original contract",
          "schedule": {
           "scheduledStartDate": "2023-06-15",
           "actualStartDate": "2023-06-30",
           "scheduledCompletionDate": "2022-11-15",
           "revisedCompletionDate": "2023-12-15",
           "substantialCompletionDate": "2023-09-30",
           "actualCompletionDate": "2023-12-15",
           "noticeToProceedDate": "2023-05-30",
           "responseDueDate": "2023-06-05",
           "executedOnDate": "2023-06-01",
           "scheduleImpact": "NA"
          },
          "internalReference": {
           "referenceNumber": "INT-01",
           "initiatedBy": {
            "id": "2"
           },
           "verbalApprovalBy": {
            "id": "2"
           },
           "issuedBy": {
            "id": "123"
           },
           "issuedOnDate": "2023-05-30",
           "approvedBy": {
            "id": "1"
           },
           "approvedOnDate": "2023-10-02",
           "signedBy": {
            "id": "Robert"
           },
           "signedOnDate": "2023-05-31",
           "source": "NA",
           "sourceReferenceNumber": "REF-01"
          },
          "externalReference": {
           "referenceNumber": "A23",
           "verbalApprovalBy": {
            "id": "Johnson"
           },
           "approvedBy": {
            "id": "Jagadish"
           },
           "approvedOnDate": "2023-11-03",
           "signedBy": {
            "id": "Modulus Industries"
           },
           "signedOnDate": "2023-12-01"
          },
          "taxSolution": {
           "id": "Advanced Tax India"
          },
          "taxSchedule": {
           "id": "Sale Goods Standard"
          },
          "glBudgetPosting": {
           "isPosted": true,
           "postingPeriodBasedOn": "projectContractDate",
           "originalGLBudget": {
            "id": "KPI Original Budgets"
           },
           "revisionGLBudget": {
            "id": "KPI Revision Budgets"
           },
           "approvedGLBudget": {
            "id": "KPI Approved Budgets"
           },
           "pendingGLBudget": {
            "id": "KPI Pending Budgets"
           },
           "forecastGLBudget": {
            "id": "KPI Forecast Budgets"
           },
           "otherGLBudget": {
            "id": "KPI Other Budgets"
           }
          },
          "billing": {
           "currency": {
            "billingCurrency": "USD",
            "exchangeRate": {
             "date": "2023-09-30",
             "rate": 1.0789
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New project-contract",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project contract": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "BTI-01",
            "href": "/objects/construction/project-contract/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the project contract.",
     "in": "path",
     "required": true,
     "example": "44",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a project contract",
    "description": "Returns detailed information for a specified project contract.",
    "tags": [
     "Construction_Project contracts"
    ],
    "operationId": "get-construction-project-contract-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the project contract",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.construction.project-contract"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Project contract details": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "BTI-01",
            "name": "Berkeley Technology Inc - Contract 01",
            "project": {
             "id": "DIM - BTI",
             "name": "Dimensions - Berkeley Technology Inc",
             "key": "1",
             "href": "/objects/projects/project/1"
            },
            "location": {
             "id": "1",
             "name": "United States of America",
             "key": "1",
             "href": "/objects/company-config/location/1"
            },
            "customer": {
             "id": "BTI",
             "name": "Berkeley Technology Inc",
             "key": "14",
             "href": "/objects/accounts-receivable/customer/14"
            },
            "contractDate": "2023-05-15",
            "description": "BTI Project - Main lobby renovation contract",
            "projectContractType": {
             "id": "COM",
             "key": "2",
             "href": "/objects/construction/project-contract-type/2"
            },
            "architect": {
             "id": "Eberhardt",
             "key": "12",
             "href": "/objects/company-config/contact/12"
            },
            "isBillable": true,
            "attachment": {
             "id": "pc-att-2",
             "key": "7",
             "href": "/objects/company-config/attachment/7"
            },
            "status": "active",
            "summary": {
             "totalPrice": "2810.65",
             "originalPrice": "1100.00",
             "revisionPrice": "210.65",
             "approvedChangePrice": "1500.00",
             "pendingChangePrice": "311.85",
             "otherPrice": "900.00",
             "forecastPrice": "750.00"
            },
            "billing": {
             "billedPrice": "0.00",
             "totalBilledNetRetainage": "0.00",
             "percentBilled": "0.00",
             "percentBilledNetRetainage": "0.00",
             "totalRetainageHeld": "0.00",
             "totalRetainageReleased": "0.00",
             "retainageBalance": "0.00",
             "balanceToBill": "2810.65",
             "balanceToBillNetRetainage": "2810.65",
             "totalPaymentsReceived": "0.00",
             "netTotalBilled": "2810.65",
             "netTotalPaymentsReceived": "1000.00",
             "subtotalBilledAsTax": "0.00",
             "subtotalBilledAsDiscount": "0.00",
             "subtotalBilledAsCharge": "0.00",
             "lastApplicationNumber": "A-122",
             "currency": {
              "billingCurrency": "USD",
              "exchangeRate": {
               "date": "2023-05-15",
               "typeId": "Custom",
               "rate": 1.0789
              }
             }
            },
            "scope": "Project scope only",
            "inclusions": "Per original contract",
            "exclusions": "Plumbing",
            "terms": "Per original contract",
            "schedule": {
             "scheduledStartDate": "2023-06-15",
             "actualStartDate": "2023-06-30",
             "scheduledCompletionDate": "2022-11-15",
             "revisedCompletionDate": "2023-12-15",
             "substantialCompletionDate": "2023-09-30",
             "actualCompletionDate": "2023-12-15",
             "noticeToProceedDate": "2023-05-30",
             "responseDueDate": "2023-06-05",
             "executedOnDate": "2023-06-01",
             "scheduleImpact": "NA"
            },
            "internalReference": {
             "referenceNumber": "INT-01",
             "initiatedBy": {
              "key": "2",
              "id": "2",
              "name": "Hatcher",
              "href": "/objects/company-config/employee/2"
             },
             "verbalApprovalBy": {
              "key": "2",
              "id": "2",
              "name": "Hatcher",
              "href": "/objects/company-config/employee/2"
             },
             "issuedBy": {
              "key": "25",
              "id": "123",
              "name": "Marquess",
              "href": "/objects/company-config/employee/25"
             },
             "issuedOnDate": "2023-05-30",
             "approvedBy": {
              "key": "1",
              "id": "1",
              "name": "Reser",
              "href": "/objects/company-config/employee/1"
             },
             "approvedOnDate": "2023-10-02",
             "signedBy": {
              "key": "32",
              "id": "Robert",
              "name": "Robert",
              "href": "/objects/company-config/employee/32"
             },
             "signedOnDate": "2023-05-31",
             "source": "NA",
             "sourceReferenceNumber": "REF-01"
            },
            "externalReference": {
             "referenceNumber": "A23",
             "verbalApprovalBy": {
              "key": "6",
              "id": "Johnson",
              "href": "/objects/company-config/contact/6"
             },
             "approvedBy": {
              "key": "69",
              "href": "/objects/company-config/contact/69"
             },
             "approvedOnDate": "2023-11-03",
             "signedBy": {
              "key": "200",
              "id": "Modulus Industries",
              "href": "/objects/company-config/contact/200"
             },
             "signedOnDate": "2023-12-01"
            },
            "audit": {
             "modifiedDateTime": "2022-01-19T00:00:00Z",
             "createdDateTime": "2023-12-01T00:00:00Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "glBudgetPosting": {
             "isPosted": true,
             "postingPeriodBasedOn": "projectContractDate",
             "originalGLBudget": {
              "key": "5",
              "id": "KPI Original Budgets",
              "href": "/objects/general-ledger/budget/5"
             },
             "revisionGLBudget": {
              "key": "6",
              "id": "KPI Revision Budgets",
              "href": "/objects/general-ledger/budget/6"
             },
             "approvedGLBudget": {
              "key": "8",
              "id": "KPI Approved Budgets",
              "href": "/objects/general-ledger/budget/8"
             },
             "pendingGLBudget": {
              "key": "7",
              "id": "KPI Pending Budgets",
              "href": "/objects/general-ledger/budget/7"
             },
             "forecastGLBudget": {
              "key": "9",
              "id": "KPI Forecast Budgets",
              "href": "/objects/general-ledger/budget/9"
             },
             "otherGLBudget": {
              "key": "10",
              "id": "KPI Other Budgets",
              "href": "/objects/general-ledger/budget/10"
             }
            },
            "excludeFromWIPReporting": false,
            "taxSolution": {
             "id": "Advanced Tax India",
             "key": "9",
             "href": "/objects/tax/tax-solution/9"
            },
            "taxSchedule": {
             "id": "Sale Goods Standard",
             "key": "19",
             "href": "/objects/tax/order-entry-tax-schedule/19"
            },
            "href": "/objects/construction/project-contract/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project contract",
    "description": "Updates an existing project contract by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Construction_Project contracts"
    ],
    "operationId": "update-construction-project-contract-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.project-contract"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "example-update-project-contract": {
         "value": {
          "name": "Berkeley Technology Inc - Contract 05[Revised]",
          "contractDate": "2023-10-15",
          "description": "BTI Project - Main lobby renovation contract",
          "scope": "Project scope only [updated]",
          "inclusions": "Per original contract [updated]",
          "exclusions": "Plumbing [updated]",
          "terms": "Per revised contract",
          "schedule": {
           "scheduledStartDate": "2023-11-15",
           "scheduledCompletionDate": "2022-11-15"
          },
          "internalReference": {
           "signedBy": {
            "id": "Robert"
           },
           "signedOnDate": "2023-10-15"
          },
          "projectContractType": {
           "id": "COM"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated project contract",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project contract": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "BTI-01",
            "href": "/objects/construction/project-contract/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project contract",
    "description": "Deletes a project contract.",
    "tags": [
     "Construction_Project contracts"
    ],
    "operationId": "delete-construction-project-contract-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-line": {
   "get": {
    "summary": "List project contract lines",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each object. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Construction_Project contract lines"
    ],
    "operationId": "list-construction-project-contract-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project-contract line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "example-result-collection-of-project-contract-lines": {
          "value": {
           "ia::result": [
            {
             "key": "7",
             "id": "7",
             "href": "/objects/construction/project-contract-line/7"
            },
            {
             "key": "4",
             "id": "4",
             "href": "/objects/construction/project-contract-line/4"
            },
            {
             "key": "6",
             "id": "6",
             "href": "/objects/construction/project-contract-line/6"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project contract line",
    "description": "Creates a new project contract line.",
    "tags": [
     "Construction_Project contract lines"
    ],
    "operationId": "create-construction-project-contract-line",
    "requestBody": {
     "description": "Project contract line to be created",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.project-contract-line"
         },
         {
          "$ref": "#/components/schemas/construction-project-contract-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a project contract line": {
         "value": {
          "projectContract": {
           "key": "5"
          },
          "id": "002",
          "name": "line 2",
          "description": "Contract:BTI-05 - Line 2",
          "contractLineDate": "2023-10-05",
          "glAccount": {
           "key": "26"
          },
          "billingSetup": {
           "billingType": "progressBill",
           "maximumBilling": "totalPrice",
           "summarizeBill": false
          },
          "status": "active",
          "dimensions": {
           "project": {
            "key": "11"
           },
           "item": {
            "key": "13"
           }
          },
          "scope": "Initial survey",
          "internalReference": {
           "referenceNumber": "Ref-BTI-05-004",
           "signedBy": {
            "key": "1"
           }
          },
          "isBillable": true,
          "taxSchedule": {
           "id": "Sale Goods Standard"
          }
         }
        },
        "Create a project contract line with line entries": {
         "value": {
          "projectContract": {
           "key": "5"
          },
          "id": "001",
          "name": "line 1",
          "description": "Contract:BTI-05 - Line 1",
          "contractLineDate": "2023-10-05",
          "glAccount": {
           "key": "26"
          },
          "billingSetup": {
           "billingType": "progressBill",
           "maximumBilling": "totalPrice",
           "summarizeBill": false
          },
          "status": "active",
          "dimensions": {
           "project": {
            "key": "11"
           },
           "item": {
            "key": "13"
           }
          },
          "scope": "Initial survey",
          "internalReference": {
           "referenceNumber": "Ref-BTI-03-003",
           "signedBy": {
            "key": "1"
           }
          },
          "isBillable": true,
          "taxSchedule": {
           "id": "Sale Goods Standard"
          },
          "projectContractLineEntries": [
           {
            "workflowType": "revision",
            "dimensions": {
             "project": {
              "key": "11"
             },
             "item": {
              "key": "13"
             }
            },
            "quantity": "1",
            "externalUOM": "each",
            "unitPrice": "97",
            "priceMarkupPercent": "5",
            "memo": "memo",
            "priceEffectiveDate": "2023-10-14"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to new project contract line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project contract line": {
          "value": {
           "ia::result": {
            "key": "7",
            "id": "7",
            "href": "/objects/construction/project-contract-line/7"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the project contract line.",
     "in": "path",
     "required": true,
     "example": "4044",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a project contract line",
    "description": "Returns detailed information for a specified project contract line.",
    "tags": [
     "Construction_Project contract lines"
    ],
    "operationId": "get-construction-project-contract-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the project contract line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.construction.project-contract-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Project contract line details": {
          "value": {
           "ia::result": {
            "key": "4",
            "id": "003",
            "projectContract": {
             "key": "1",
             "id": "BTI-01",
             "name": "Berkeley Technology Inc - Contract 01[Revised]",
             "href": "/objects/construction/project-contract/1"
            },
            "name": "BTI-01: line 3",
            "parent": {
             "key": "2",
             "id": "002",
             "name": "line 2",
             "href": "/objects/construction/project-contract-line/2"
            },
            "description": "additional services",
            "contractLineDate": "2023-10-05",
            "glAccount": {
             "key": "207",
             "id": "5001",
             "name": "Construction",
             "href": "/objects/general-ledger/account/207"
            },
            "retainagePercentage": "0.00",
            "isBillable": true,
            "billingSetup": {
             "billingType": "progressBill",
             "maximumBilling": "totalPrice",
             "maximumBillingAmount": "0.00",
             "summarizeBill": false
            },
            "billing": {
             "billedPrice": "2810.65",
             "billedNetRetainage": "2810.65",
             "percentBilled": "50.00",
             "percentBilledNetRetainage": "50.00",
             "retainageHeld": "0.00",
             "retainageReleased": "0.00",
             "retainageBalance": "0.00",
             "paymentsReceived": "1000.00",
             "previouslyAppliedPrice": "0.00"
            },
            "summary": {
             "originalPrice": "0.00",
             "revisionPrice": "0.00",
             "forecastPrice": "0.00",
             "approvedChangePrice": "0.00",
             "pendingChangePrice": "210.65",
             "otherPrice": "0.00",
             "totalPrice": "0.00"
            },
            "dimensions": {
             "location": {
              "key": "1",
              "id": "1",
              "name": "United States of America",
              "href": "/objects/company-config/location/1"
             },
             "customer": {
              "key": "14",
              "id": "BTI",
              "name": "Berkeley Technology Inc",
              "href": "/objects/accounts-receivable/customer/14"
             },
             "department": {
              "key": "3",
              "id": "3",
              "name": "Engineering",
              "href": "/objects/company-config/department/3"
             },
             "project": {
              "key": "1",
              "id": "DIM - BTI",
              "name": "Dimensions - Berkeley Technology Inc",
              "href": "/objects/projects/project/1"
             },
             "vendor": {
              "key": "43",
              "id": "1099 Int",
              "name": "1099 Int",
              "href": "/objects/accounts-payable/vendor/43"
             },
             "employee": {
              "key": "1",
              "id": "1",
              "name": "Reser",
              "href": "/objects/company-config/employee/1"
             },
             "item": {
              "key": "18",
              "id": "Implementation",
              "name": "Implimentation",
              "href": "/objects/inventory-control/item/18"
             },
             "class": {
              "key": "6",
              "id": "4",
              "name": "Professional Services",
              "href": "/objects/company-config/class/6"
             },
             "excludeFromGLBudget": false,
             "scope": "Initial survey",
             "inclusions": "NA",
             "exclusions": "NA",
             "terms": "Standard",
             "schedule": {
              "scheduledStartDate": "2023-06-12",
              "actualStartDate": "2023-06-15",
              "scheduledCompletionDate": "2023-06-21",
              "revisedCompletionDate": "2023-06-28",
              "substantialCompletionDate": "2023-06-20",
              "actualCompletionDate": "2023-06-28",
              "noticeToProceedDate": "2023-06-01",
              "responseDueDate": "2023-06-05",
              "executedOnDate": "2023-06-08",
              "scheduleImpact": "2 days"
             },
             "internalReference": {
              "referenceNumber": "Ref-BTI-03-003",
              "initiatedBy": {
               "key": "2",
               "id": "2",
               "name": "Hatcher",
               "href": "/objects/company-config/employee/2"
              },
              "verbalApprovalBy": {
               "key": "2",
               "id": "2",
               "name": "Hatcher",
               "href": "/objects/company-config/employee/2"
              },
              "issuedBy": {
               "key": "28",
               "id": "22",
               "name": "Chandler",
               "href": "/objects/company-config/employee/28"
              },
              "issuedOnDate": "2023-06-10",
              "approvedBy": {
               "key": "31",
               "id": "23",
               "name": "Jurasek",
               "href": "/objects/company-config/employee/31"
              },
              "approvedOnDate": "2023-06-11",
              "signedBy": {
               "key": "1",
               "id": "1",
               "name": "Reser",
               "href": "/objects/company-config/employee/1"
              },
              "signedOnDate": "2023-06-11",
              "source": "None",
              "sourceReferenceNumber": "NA"
             },
             "externalReference": {
              "referenceNumber": "E-REF-003",
              "verbalApprovalBy": {
               "key": "94",
               "name": "Aaron",
               "href": "/objects/company-config/contact/94"
              },
              "approvedBy": {
               "key": "115",
               "name": "Ashish",
               "href": "/objects/company-config/contact/115"
              },
              "approvedOnDate": "2023-06-12",
              "signedBy": {
               "key": "224",
               "name": "Able and Sons, Accountants",
               "href": "/objects/company-config/contact/224"
              },
              "signedOnDate": "2023-06-15"
             }
            },
            "attachment": {
             "id": "pc-att-1",
             "key": "6",
             "href": "/objects/company-config/attachment/6"
            },
            "status": "active",
            "audit": {
             "createdDateTime": "2023-12-07T21:26:38Z",
             "modifiedDateTime": "2023-12-18T00:08:31Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "rateTables": {
             "default": {
              "key": "1",
              "id": "rt_main",
              "href": "/objects/construction/rate-table/1"
             },
             "timesheet": {
              "key": "1",
              "id": "rt_main",
              "href": "/objects/construction/rate-table/1"
             },
             "purchasing": {
              "key": "1",
              "id": "rt_main",
              "href": "/objects/construction/rate-table/1"
             },
             "ap": {
              "key": "1",
              "id": "rt_main",
              "href": "/objects/construction/rate-table/1"
             },
             "gl": {
              "key": "1",
              "id": "rt_main",
              "href": "/objects/construction/rate-table/1"
             },
             "creditCard": {
              "key": "1",
              "id": "rt_main",
              "href": "/objects/construction/rate-table/1"
             },
             "employeeExpense": {
              "key": "1",
              "id": "rt_main",
              "href": "/objects/construction/rate-table/1"
             }
            },
            "taxSchedule": {
             "id": "Sale Goods Standard",
             "key": "19",
             "href": "/objects/tax/order-entry-tax-schedule/19"
            },
            "taxSolution": {
             "key": "9",
             "id": "Advanced Tax India",
             "href": "/objects/tax/tax-solution/9"
            },
            "projectContractLineEntries": [
             {
              "key": "5",
              "id": "5",
              "projectContractLine": {
               "key": "4",
               "id": "003",
               "href": "/objects/construction/project-contract-line/4"
              },
              "workflowType": "original",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "name": "United States of America",
                "href": "/objects/company-config/location/1"
               },
               "department": {
                "key": "3",
                "id": "3",
                "name": "Engineering",
                "href": "/objects/company-config/department/3"
               },
               "project": {
                "key": "1",
                "id": "DIM - BTI",
                "name": "Dimensions - Berkeley Technology Inc",
                "href": "/objects/projects/project/1"
               },
               "customer": {
                "key": "14",
                "id": "BTI",
                "name": "Berkeley Technology Inc",
                "href": "/objects/accounts-receivable/customer/14"
               },
               "vendor": {
                "key": "43",
                "id": "1099 Int",
                "name": "1099 Int",
                "href": "/objects/accounts-payable/vendor/43"
               },
               "employee": {
                "key": "27",
                "id": "12",
                "name": "Eberhardt",
                "href": "/objects/company-config/employee/27"
               },
               "item": {
                "key": "240",
                "id": "3",
                "name": "Rebar #10",
                "href": "/objects/inventory-control/item/240"
               },
               "class": {
                "key": "6",
                "id": "4",
                "name": "Professional Services",
                "href": "/objects/company-config/class/6"
               }
              },
              "quantity": "2.50",
              "externalUOM": "box",
              "unitPrice": "95.75",
              "price": "191.50",
              "priceMarkupPercent": "10.00",
              "priceMarkupAmount": "19.15",
              "linePrice": "210.65",
              "memo": "[updated]",
              "priceEffectiveDate": "2023-10-21",
              "href": "/objects/construction/project-contract-line-entry/5"
             }
            ],
            "changeRequestEntries": [
             {
              "key": "6",
              "id": "6",
              "changeRequest": {
               "key": "1",
               "id": "CR1-DIMBTI-CRHSrce",
               "href": "/objects/construction/change-request/1"
              },
              "workflowType": "pendingChange",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "name": "United States of America",
                "href": "/objects/company-config/location/1"
               },
               "department": {
                "key": "3",
                "id": "3",
                "name": "Engineering",
                "href": "/objects/company-config/department/3"
               },
               "project": {
                "key": "1",
                "id": "DIM - BTI",
                "name": "Dimensions - Berkeley Technology Inc",
                "href": "/objects/projects/project/1"
               },
               "customer": {
                "key": "14",
                "id": "BTI",
                "name": "Berkeley Technology Inc",
                "href": "/objects/accounts-receivable/customer/14"
               },
               "vendor": {
                "key": "43",
                "id": "1099 Int",
                "name": "1099 Int",
                "href": "/objects/accounts-payable/vendor/43"
               },
               "employee": {
                "key": "27",
                "id": "12",
                "name": "Eberhardt",
                "href": "/objects/company-config/employee/27"
               },
               "item": {
                "key": "240",
                "id": "3",
                "name": "Rebar #10",
                "href": "/objects/inventory-control/item/240"
               },
               "class": {
                "key": "6",
                "id": "4",
                "name": "Professional Services",
                "href": "/objects/company-config/class/6"
               }
              },
              "numberOfProductionUnits": "500",
              "productionUnitDescription": "sqft",
              "quantity": "2.50",
              "externalUOM": "box",
              "unitCost": "100.00",
              "cost": "1000.00",
              "unitPrice": "100.00",
              "price": "1000.00",
              "priceMarkupPercent": "10.00",
              "priceMarkupAmount": "100.00",
              "linePrice": "1100.00",
              "memo": "change request",
              "projectChangeOrder": {
               "key": "1",
               "id": "PCO1-DIMBTI",
               "href": "/objects/construction/project-change-order/1"
              },
              "projectEstimate": {
               "key": "1",
               "id": "PrimEst-DIMBTI",
               "href": "/objects/construction/project-estimate/1"
              },
              "glAccount": {
               "key": "222",
               "id": "5008",
               "name": "Salaries - Contract",
               "href": "/objects/general-ledger/account/222"
              },
              "projectContract": {
               "key": "1",
               "id": "BTI-01",
               "name": "Berkeley Technology Inc - Contract 01[Revised]",
               "href": "/objects/construction/project-contract/1"
              },
              "projectContractLine": {
               "key": "4",
               "id": "003",
               "name": "003-Billable Labor",
               "href": "/objects/construction/project-contract-line/4"
              },
              "href": "/objects/construction/change-request-line/6"
             }
            ],
            "href": "/objects/construction/project-contract-line/4"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project contract line",
    "description": "Updates an existing project contract line by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Construction_Project contract lines"
    ],
    "operationId": "update-construction-project-contract-line-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.project-contract-line"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "taxSolution": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a line and a line entry": {
         "value": {
          "name": "BTI-01: line 1",
          "description": "additional services",
          "dimensions": {
           "vendor": {
            "key": "24"
           },
           "department": {
            "key": "3"
           },
           "employee": {
            "key": "1"
           },
           "class": {
            "key": "4"
           },
           "item": {
            "key": "15"
           }
          },
          "projectContractLineEntries": [
           {
            "key": "1",
            "workflowType": "original",
            "dimensions": {
             "project": {
              "key": "11"
             },
             "item": {
              "key": "3"
             }
            },
            "quantity": "2.5",
            "externalUOM": "box",
            "unitPrice": "95.75",
            "priceMarkupPercent": "10",
            "price": "191.50",
            "priceMarkupAmount": "19.15",
            "linePrice": "210.65",
            "memo": "updated markup",
            "priceEffectiveDate": "2023-10-21"
           }
          ]
         }
        },
        "Add a line entry": {
         "value": {
          "projectContractLineEntries": [
           {
            "workflowType": "revision",
            "dimensions": {
             "project": {
              "key": "11"
             },
             "item": {
              "key": "3"
             }
            },
            "quantity": "2",
            "externalUOM": "each",
            "unitPrice": "46",
            "priceMarkupPercent": "10",
            "memo": "added new charge",
            "priceEffectiveDate": "2023-10-10"
           }
          ]
         }
        },
        "Delete a line entry": {
         "value": {
          "projectContractLineEntries": [
           {
            "ia::operation": "delete",
            "key": "2"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated project-contract-line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project contract line": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "003",
            "href": "/objects/construction/project-contract-line/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project contract line",
    "description": "Deletes a project contract line.",
    "tags": [
     "Construction_Project contract lines"
    ],
    "operationId": "delete-construction-project-contract-line-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-line-entry": {
   "get": {
    "summary": "List project contract line entries",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each object. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Construction_Project contract line entries"
    ],
    "operationId": "list-construction-project-contract-line-entry",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project-contract-line-entry objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of project contract line entries": {
          "value": {
           "ia::result": [
            {
             "key": "44",
             "id": "44",
             "href": "/objects/construction/project-contract-line-entry/44"
            },
            {
             "key": "40",
             "id": "40",
             "href": "/objects/construction/project-contract-line-entry/40"
            },
            {
             "key": "1",
             "id": "1",
             "href": "/objects/construction/project-contract-line-entry/1"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-line-entry/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the project contract line entry.",
     "in": "path",
     "required": true,
     "example": "5",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a project contract line entry",
    "description": "Returns detailed information for a specified project contract line entry.",
    "tags": [
     "Construction_Project contract line entries"
    ],
    "operationId": "get-construction-project-contract-line-entry-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the project-contract-line-entry",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.construction.project-contract-line-entry"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Project contract line entry details": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "projectContractLine": {
             "key": "4",
             "id": "003",
             "href": "/objects/construction/project-contract-line/4"
            },
            "workflowType": "original",
            "dimensions": {
             "location": {
              "key": "1",
              "id": "1",
              "name": "United States of America",
              "href": "/objects/company-config/location/1"
             },
             "department": {
              "key": "3",
              "id": "3",
              "name": "Engineering",
              "href": "/objects/company-config/department/3"
             },
             "project": {
              "key": "1",
              "id": "DIM - BTI",
              "name": "Dimensions - Berkeley Technology Inc",
              "href": "/objects/projects/project/1"
             },
             "customer": {
              "key": "14",
              "id": "BTI",
              "name": "Berkeley Technology Inc",
              "href": "/objects/accounts-receivable/customer/14"
             },
             "vendor": {
              "key": "43",
              "id": "1099 Int",
              "name": "1099 Int",
              "href": "/objects/accounts-payable/vendor/43"
             },
             "employee": {
              "key": "27",
              "id": "12",
              "name": "Eberhardt",
              "href": "/objects/company-config/employee/27"
             },
             "item": {
              "key": "240",
              "id": "3",
              "name": "Rebar #10",
              "href": "/objects/inventory-control/item/240"
             },
             "class": {
              "key": "6",
              "id": "4",
              "name": "Professional Services",
              "href": "/objects/company-config/class/6"
             }
            },
            "quantity": "2.50",
            "externalUOM": "box",
            "unitPrice": "95.75",
            "price": "191.50",
            "priceMarkupPercent": "10.00",
            "priceMarkupAmount": "19.15",
            "linePrice": "210.65",
            "memo": "[updated]",
            "priceEffectiveDate": "2021-10-21",
            "audit": {
             "createdDateTime": "2021-10-21T21:26:38Z",
             "modifiedDateTime": "2021-10-22T00:08:31Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "href": "/objects/construction/project-contract-line-entry/5"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project contract line entry",
    "description": "Deletes a project contract line entry.",
    "tags": [
     "Construction_Project contract line entries"
    ],
    "operationId": "delete-construction-project-contract-line-entry-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-type": {
   "get": {
    "summary": "List project contract types",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each object. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Construction_Project contract types"
    ],
    "operationId": "list-construction-project-contract-type",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project contract type objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of project contract types": {
          "value": {
           "ia::result": [
            {
             "key": "21",
             "id": "COM",
             "href": "/objects/construction/project-contract-type/21"
            },
            {
             "key": "22",
             "id": "RES",
             "href": "/objects/construction/project-contract-type/22"
            },
            {
             "key": "23",
             "id": "REST-CUST",
             "href": "/objects/construction/project-contract-type/23"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project contract type",
    "description": "Creates a new project contract type.",
    "tags": [
     "Construction_Project contract types"
    ],
    "operationId": "create-construction-project-contract-type",
    "requestBody": {
     "description": "Project contract type to create",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.project-contract-type"
         },
         {
          "$ref": "#/components/schemas/construction-project-contract-typeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a project contract type": {
         "value": {
          "id": "RES",
          "name": "Residential"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to new project contract type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project contract type": {
          "value": {
           "ia::result": {
            "key": "22",
            "id": "RES",
            "href": "/objects/construction/project-contract-type/22"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-type/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key of the project contract type",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a project contract type",
    "description": "Returns detailed information for a specified project contract type",
    "tags": [
     "Construction_Project contract types"
    ],
    "operationId": "get-construction-project-contract-type-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Project contract type details",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.construction.project-contract-type"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project contract type": {
          "value": {
           "ia::result": {
            "key": "22",
            "id": "RES",
            "name": "Residential",
            "status": "active",
            "audit": {
             "createdDateTime": "2023-08-19T00:00:00Z",
             "modifiedDateTime": "2023-08-19T00:00:00Z",
             "createdByUser": {
              "key": "5",
              "id": "John Doe",
              "href": "/objects/company-config/user/5"
             },
             "createdBy": "5",
             "modifiedByUser": {
              "key": "43",
              "id": "Jane Smith",
              "href": "/objects/company-config/user/43"
             },
             "modifiedBy": "43"
            },
            "href": "/objects/construction/project-contract-type/22"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project contract type",
    "description": "Updates an existing project contract type by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Construction_Project contract types"
    ],
    "operationId": "update-construction-project-contract-type-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.project-contract-type"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Change the name of a project contract type": {
         "value": {
          "name": "Temp contract"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated project contract type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project contract type": {
          "value": {
           "ia::result": {
            "key": "29",
            "id": "TEMP",
            "href": "/objects/construction/project-contract-type/29"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project contract type",
    "description": "Deletes a project contract type",
    "tags": [
     "Construction_Project contract types"
    ],
    "operationId": "delete-construction-project-contract-type-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-line-task-map": {
   "get": {
    "summary": "List project contract line task maps",
    "description": "Returns a collection with a key, ID, and link for each project contract line task map. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Construction_Project contract line task maps"
    ],
    "operationId": "list-construction-project-contract-line-task-map",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List project contract line task maps",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List project contract line task maps": {
          "value": {
           "ia::result": [
            {
             "key": "2",
             "id": "2",
             "href": "/objects/construction/project-contract-line-task-map/2"
            },
            {
             "key": "3",
             "id": "3",
             "href": "/objects/construction/project-contract-line-task-map/3"
            },
            {
             "key": "4",
             "id": "4",
             "href": "/objects/construction/project-contract-line-task-map/4"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project contract line task map",
    "description": "Creates a new project contract line task map.",
    "tags": [
     "Construction_Project contract line task maps"
    ],
    "operationId": "create-construction-project-contract-line-task-map",
    "requestBody": {
     "description": "Creates a new project contract line task map.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.project-contract-line-task-map"
         },
         {
          "$ref": "#/components/schemas/construction-project-contract-line-task-mapRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a project contract line task map": {
         "value": {
          "projectContractLine": {
           "key": "4"
          },
          "project": {
           "id": "BTI - 2019"
          },
          "task": {
           "id": "Customer Services"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to project contract line task map",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to project contract line task map": {
          "value": {
           "ia::result": {
            "key": "7",
            "id": "7",
            "href": "/objects/construction/project-contract-line-task-map/7"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/project-contract-line-task-map/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the project contract line task map.",
     "in": "path",
     "required": true,
     "example": "156",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a project contract line task map",
    "description": "Returns detailed information for a specified project contract line task map.",
    "tags": [
     "Construction_Project contract line task maps"
    ],
    "operationId": "get-construction-project-contract-line-task-map-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a project contract line task map",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.construction.project-contract-line-task-map"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project contract line task map": {
          "value": {
           "ia::result": {
            "key": "2",
            "id": "2",
            "project": {
             "key": "1",
             "id": "BTI - 2019",
             "href": "/objects/projects/project/4"
            },
            "task": {
             "key": "4",
             "id": "Customer Services",
             "href": "/objects/projects/task/4"
            },
            "projectContractLine": {
             "key": "4",
             "id": "003",
             "href": "/objects/construction/project-contract-line/4"
            },
            "audit": {
             "createdDateTime": "2025-01-05T00:00:00Z",
             "modifiedDateTime": "2025-01-19T00:00:00Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/construction/project-contract-line-task-map/2"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project contract line task map",
    "description": "Deletes a project contract line task map.",
    "tags": [
     "Construction_Project contract line task maps"
    ],
    "operationId": "delete-construction-project-contract-line-task-map-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
[...]
