{
 "openapi": "3.0.3",
 "info": {
  "title": "Consolidation",
  "version": "1",
  "description": "Consolidation in Sage Intacct supports either multi-entity financial reporting or the aggregation of financial data from multiple entities into a single set of financial statements. This allows organizations to view their overall financial performance across all entities, while still maintaining separate books for each individual entity."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Consolidation_Consolidation books",
   "x-displayName": "Consolidation books",
   "description": "Consolidation books define how to combine the financial and operational information within multi-entity companies. They specify the entities included in the consolidation, the method for translating foreign currency amounts, and other operational details. You can have multiple consolidation books to support different reporting requirements.\n\nFor more information, read about [consolidation books](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Book_setup_GC) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation entities",
   "x-displayName": "Consolidation entities",
   "description": "A consolidation entity represents an entity that is included in a consolidation book. Entities can be added to a consolidation book at any time, whereas they can only be removed before the first consolidation is run.      \nA consolidation book either takes entities that perform their day-to-day operations in different accounting currencies and consolidates them into a single currency for reporting, or consolidates entities that are part of a corporate group structure with a single base currency.\n\nFor more information about consolidation books and entities, read about [setting up a consolidation book](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Book_setup_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation elimination accounts",
   "x-displayName": "Consolidation elimination accounts",
   "description": "Elimination accounts reference the General Ledger (GL) accounts that you use for inter-entity auto-elimination in consolidation books. They post offsetting so that inter-entity transactions do not affect reporting in the consolidated book.\n\nFor more information, read about elimination accounts for [global consolidations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Elimination_accounts_GC) and [domestic consolidations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Elimination_accounts_tab_dchttps://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Elimination_accounts_tab_dc) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation override accounts",
   "x-displayName": "Consolidation override accounts",
   "description": "Override accounts are used to set up specific General Ledger (GL) accounts that require a different currency conversion method than the one defined for the overall consolidation book.\n\nFor more information, read about [accounts to override](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Accts_to_override_GC) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation adjustment journals",
   "x-displayName": "Consolidation adjustment journals",
   "description": "When you first create a consolidation book, Global or Domestic Consolidation creates the proposed journals to be used during consolidation. Consolidation journals are required for compliance, tax, or user-defined books. After you run a consolidation, journals can no longer be modified.\n\nFor more information, read about [journals for global consolidations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Journals_tab_book_setup_GC) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation time periods",
   "x-displayName": "Consolidation time periods",
   "description": "Time periods in consolidation represent standard months or company-defined accounting periods, including the first and last days of each period.\n\nFor more information, read about [time periods when running a consolidation](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Consolidating_Subsidiary_Data) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation run statuses",
   "x-displayName": "Consolidation run statuses",
   "description": "The consolidation run status represents the status of a consolidation process for a specific book, entity, and period. It is required to track the progress and outcome of a consolidation and provides information about whether the consolidation is in progress, successful, failed, or requires re-consolidation.\n\nFor more information, read about [running a consolidation](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Consolidating_Subsidiary_Data) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation ownership structures",
   "x-displayName": "Consolidation ownership structures",
   "description": "Ownership structures define the hierarchical relationships between parent and child (subsidiary) entities in a consolidation. Advanced Ownership Consolidation uses ownership structures to automate combining your business activity across entities over time into a consolidation book.\n\nFor more information, read [about ownership structures](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Overview_Adv_Own_Cons) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation ownership structure periods",
   "x-displayName": "Consolidation ownership structure periods",
   "description": "Ownership structure periods represent time-bound segments within an ownership structure used for consolidation in Sage Intacct. Each period encapsulates the relationships and details of parent and child entities during that specific timeframe.\n\nFor more information, read [about ownership structures](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Overview_Adv_Own_Cons) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Consolidation_Consolidation ownership entities",
   "x-displayName": "Consolidation ownership entities",
   "description": "Ownership entities represent parent entities within an ownership structure, detailing their relationships with subsidiary entities and associated consolidation books. They must have at least one child entity in an active state, where the ownership percentage between parent and child is defined.\n\nFor more information, read about [setting up ownership structures](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=aa_TOC_aoc_setup_ownership_structures).\n"
  },
  {
   "name": "Consolidation_Consolidation ownership subsidiary entities",
   "x-displayName": "Consolidation ownership subsidiary entities",
   "description": "Ownership subsidiary entities represent the child entities within an ownership structure used for consolidation purposes. They cannot exist without a parent entity and an ownership structure. These entities are part of a hierarchical framework that defines how ownership and control are distributed among various subsidiaries under a parent entity.\n\nFor more information, read about [setting up ownership structures](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=aa_TOC_aoc_setup_ownership_structures) in the Sage Intacct Help Center.\n"
  }
 ],
 "paths": {
  "/objects/consolidation/book": {
   "get": {
    "summary": "List consolidation books",
    "description": "Returns a collection with a key, ID, and link for each consolidation book. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation books"
    ],
    "operationId": "list-consolidation-book",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of consolidation books",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List consolidation books": {
          "value": {
           "ia::result": [
            {
             "key": "49",
             "id": "consol_book_US_operations",
             "href": "/objects/consolidation/book/49"
            },
            {
             "key": "65",
             "id": "consol_book_holdings",
             "href": "/objects/consolidation/book/65"
            },
            {
             "key": "89",
             "id": "consolBookApi",
             "href": "/objects/consolidation/book/89"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a consolidation book",
    "description": "Creates a consolidation book.",
    "tags": [
     "Consolidation_Consolidation books"
    ],
    "operationId": "create-consolidation-book",
    "requestBody": {
     "description": "Create a consolidation book.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.book"
         },
         {
          "$ref": "#/components/schemas/consolidation-bookRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a consolidation book": {
         "value": {
          "id": "consol_book_US_entities",
          "description": "Consolidation book for US entities",
          "status": "active",
          "multiCurrency": {
           "currency": "USD",
           "cumulativeTranslationAdjustment": {
            "netAssetGLAccount": {
             "key": "9"
            },
            "netIncomeGLAccount": {
             "key": "10"
            }
           },
           "exchangeRateType": "intacctDailyRate",
           "translationMethod": {
            "balanceSheetTranslationMethod": "endingSpotRate",
            "incomeTranslationMethod": "weightedAverageRate"
           }
          },
          "statisticalJournal": {
           "id": "consol_book_SJ",
           "name": "consol_book statistical journal"
          },
          "budget": {
           "key": "1"
          },
          "department": {
           "key": "1"
          },
          "elimination": {
           "entity": "USDE",
           "enableInterEntityAutoElimination": true,
           "adjustmentGLAccount": {
            "key": "11"
           },
           "enableEliminationByAffiliateEntity": true
          },
          "accountingMethod": "accrual",
          "bookJournal": {
           "id": "consol_book_J",
           "name": "consol_book journal"
          },
          "isLegacyBook": false,
          "historicalRateDateType": "lineLevelExchangeRateDate",
          "consolidateDimensions": [
           "department",
           "location",
           "vendor"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to consolidation book",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to consolidation book": {
          "value": {
           "ia::result": {
            "key": "105",
            "id": "consol_book_EMEA_entities",
            "href": "/objects/consolidation/book/105"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/book/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the consolidation book.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "89"
    }
   ],
   "get": {
    "summary": "Get a consolidation book",
    "description": "Returns detailed information for a specified consolidation book.",
    "tags": [
     "Consolidation_Consolidation books"
    ],
    "operationId": "get-consolidation-book-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a consolidation book",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.book"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a consolidation book": {
          "value": {
           "ia::result": {
            "key": "89",
            "id": "consol_book",
            "description": "Consolidation book for US entities.",
            "status": "active",
            "multiCurrency": {
             "currency": "USD",
             "cumulativeTranslationAdjustment": {
              "netAssetGLAccount": {
               "id": "1000",
               "key": "9",
               "name": "Bank of America A/c.",
               "href": "/objects/general-ledger/account/9"
              },
              "netIncomeGLAccount": {
               "id": "1001",
               "key": "10",
               "name": "CitiBank",
               "href": "/objects/general-ledger/account/10"
              }
             },
             "exchangeRateType": "intacctDailyRate",
             "translationMethod": {
              "balanceSheetTranslationMethod": "endingSpotRate",
              "incomeTranslationMethod": "weightedAverageRate"
             }
            },
            "statisticalJournal": {
             "id": "consol_book_SJ",
             "name": "consol_book statistical journal",
             "key": "161",
             "href": "/objects/general-ledger/statistical-journal/161"
            },
            "budget": {
             "id": "Std_Budget",
             "key": "1",
             "href": "/objects/general-ledger/budget/1"
            },
            "department": {
             "id": "OP",
             "key": "1",
             "name": "Operations",
             "href": "/objects/company-config/department/1"
            },
            "elimination": {
             "entity": "USDE",
             "enableInterEntityAutoElimination": true,
             "adjustmentGLAccount": {
              "id": "1002",
              "key": "11",
              "name": "HSBC - GBP",
              "href": "/objects/general-ledger/account/11"
             },
             "enableEliminationByAffiliateEntity": true
            },
            "bookType": "consolidation",
            "accountingMethod": "accrual",
            "bookJournal": {
             "id": "consol_book_J",
             "name": "consol_book_J",
             "key": "243",
             "href": "/objects/general-ledger/journal/243"
            },
            "isLegacyBook": false,
            "historicalRateDateType": "lineLevelExchangeRateDate",
            "consolidateDimensions": [
             "department",
             "location",
             "vendor"
            ],
            "ownershipStructure": {
             "key": null,
             "id": null,
             "description": null
            },
            "audit": {
             "modifiedDateTime": "2025-04-13T09:19:58Z",
             "modifiedBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdDateTime": "2025-04-13T09:05:08Z",
             "createdBy": "1",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/consolidation/book/89"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Get an advanced ownership consolidation book": {
          "value": {
           "ia::result": {
            "key": "89",
            "id": "us_book",
            "description": "Advanced ownership consolidation book.",
            "status": "active",
            "multiCurrency": {
             "currency": "USD",
             "cumulativeTranslationAdjustment": {
              "netAssetGLAccount": {
               "id": "1000",
               "key": "9",
               "name": "Bank of America A/c.",
               "href": "/objects/general-ledger/account/9"
              },
              "netIncomeGLAccount": {
               "id": "1001",
               "key": "10",
               "name": "CitiBank",
               "href": "/objects/general-ledger/account/10"
              }
             },
             "exchangeRateType": "intacctDailyRate",
             "translationMethod": {
              "balanceSheetTranslationMethod": "endingSpotRate",
              "incomeTranslationMethod": "weightedAverageRate"
             }
            },
            "statisticalJournal": {
             "id": null,
             "name": null,
             "key": null
            },
            "budget": {
             "id": "Std_Budget",
             "key": "1",
             "href": "/objects/general-ledger/budget/1"
            },
            "department": {
             "id": "OP",
             "key": "1",
             "name": "Operations",
             "href": "/objects/company-config/department/1"
            },
            "elimination": {
             "entity": "USDE",
             "enableInterEntityAutoElimination": true,
             "adjustmentGLAccount": {
              "id": "1002",
              "key": "11",
              "name": "HSBC - GBP",
              "href": "/objects/general-ledger/account/11"
             },
             "enableEliminationByAffiliateEntity": true
            },
            "bookType": "tierConsolidation",
            "accountingMethod": "accrual",
            "bookJournal": {
             "id": null,
             "name": null,
             "key": null
            },
            "isLegacyBook": false,
            "historicalRateDateType": "lineLevelExchangeRateDate",
            "consolidateDimensions": [
             "department",
             "location",
             "vendor"
            ],
            "ownershipStructure": {
             "key": "1",
             "id": "North America",
             "description": "All entities in North America."
            },
            "audit": {
             "modifiedDateTime": "2025-04-13T09:19:58Z",
             "modifiedBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdDateTime": "2025-04-13T09:05:08Z",
             "createdBy": "1",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/consolidation/book/89"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a consolidation book",
    "description": "Deletes a consolidation book.",
    "tags": [
     "Consolidation_Consolidation books"
    ],
    "operationId": "delete-consolidation-book-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a consolidation book",
    "description": "Updates an existing consolidation book by setting field values. Any field values not provided remain unchanged.",
    "tags": [
     "Consolidation_Consolidation books"
    ],
    "operationId": "update-consolidation-book-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.book"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "accountingMethod": {
            "readOnly": true
           },
           "multiCurrency": {
            "properties": {
             "exchangeRateType": {
              "readOnly": true
             }
            }
           },
           "bookJournal": {
            "properties": {
             "id": {
              "readOnly": true
             }
            }
           }
          }
         }
        ]
       },
       "examples": {
        "Update a consolidation book": {
         "value": {
          "description": "Consolidation book for GBP entities - updated.",
          "status": "inactive",
          "statisticalJournal": {
           "id": "consol_book_SJ1",
           "name": "consol_book statistical journal-1"
          },
          "budget": {
           "key": "1"
          },
          "department": {
           "key": "1"
          },
          "elimination": {
           "entity": "GBPE",
           "enableInterEntityAutoElimination": true,
           "adjustmentGLAccount": {
            "key": "11"
           },
           "enableEliminationByAffiliateEntity": true
          },
          "historicalRateDateType": "transactionDate",
          "consolidateDimensions": [
           "department",
           "location"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to consolidation book",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to consolidation book": {
          "value": {
           "ia::result": {
            "key": "89",
            "id": "consol_book",
            "href": "/objects/consolidation/book/89"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/services/consolidation/book/consolidate": {
   "post": {
    "summary": "Consolidate a book for a specified period",
    "description": "Service to consolidate a book for a specified period.",
    "tags": [
     "Consolidation_Consolidation books"
    ],
    "operationId": "post-consolidation-book-consolidate",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/consolidation-book-consolidate-request"
       },
       "examples": {
        "Consolidate a book for a new period": {
         "value": {
          "consolidationBook": {
           "id": "consolBook"
          },
          "timePeriod": {
           "id": "Mar 2025"
          },
          "notificationEmail": "john.smith@TechSolutions.com"
         }
        },
        "Consolidate a book for a new period online": {
         "value": {
          "consolidationBook": {
           "id": "consolBook"
          },
          "timePeriod": {
           "id": "Apr 2025"
          },
          "runOffline": false
         }
        },
        "Consolidate a book for a new period with custom rate": {
         "value": {
          "consolidationBook": {
           "id": "consolBook"
          },
          "timePeriod": {
           "id": "May 2025"
          },
          "notificationEmail": "john.smith@TechSolutions.com",
          "entities": [
           {
            "entity": {
             "id": "US"
            },
            "endingSpotRate": "1.3303",
            "weightedAverageRate": "1.3534"
           },
           {
            "entity": {
             "id": "IN"
            },
            "endingSpotRate": "0.0199",
            "weightedAverageRate": "0.02008"
           },
           {
            "entity": {
             "id": "USDE"
            },
            "endingSpotRate": "1",
            "weightedAverageRate": "1"
           }
          ]
         }
        },
        "Re-consolidate a book for the last period with net changes": {
         "value": {
          "consolidationBook": {
           "id": "consolBook"
          },
          "timePeriod": {
           "id": "May 2025"
          },
          "notificationEmail": "john.smith@TechSolutions.com"
         }
        },
        "Delete and re-consolidate a book for the last period": {
         "value": {
          "consolidationBook": {
           "id": "consolBook"
          },
          "timePeriod": {
           "id": "May 2025"
          },
          "updateNetChanges": false,
          "notificationEmail": "john.smith@TechSolutions.com"
         }
        },
        "Re-consolidate a book for a past period and update all subsequent periods": {
         "value": {
          "consolidationBook": {
           "id": "consolBook"
          },
          "timePeriod": {
           "id": "Mar 2025"
          },
          "updateSubsequentPeriods": true,
          "notificationEmail": "john.smith@TechSolutions.com"
         }
        },
        "Re-consolidate a book for a past period with net changes and delete all the subsequent period": {
         "value": {
          "consolidationBook": {
           "id": "consolBook"
          },
          "timePeriod": {
           "id": "Mar 2025"
          },
          "notificationEmail": "john.smith@TechSolutions.com"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Executed",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/consolidation-book-consolidate-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Consolidate book online": {
          "value": {
           "ia::result": {
            "status": "success",
            "message": "The consolidation completed successfully."
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Consolidate book offline": {
          "value": {
           "ia::result": {
            "status": "success",
            "message": "A job has been queued to run an offline consolidation. Go to Company > Offline job queue to view the job status."
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/entity": {
   "get": {
    "summary": "List consolidation entities",
    "description": "Returns a collection with a key, ID, and link for each consolidation entity. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation entities"
    ],
    "operationId": "list-consolidation-entity",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of consolidation entities",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List consolidation entities": {
          "value": {
           "ia::result": [
            {
             "key": "73",
             "id": "73",
             "href": "/objects/consolidation/entity/73"
            },
            {
             "key": "74",
             "id": "74",
             "href": "/objects/consolidation/entity/74"
            },
            {
             "key": "75",
             "id": "75",
             "href": "/objects/consolidation/entity/75"
            },
            {
             "key": "76",
             "id": "76",
             "href": "/objects/consolidation/entity/76"
            }
           ],
           "ia::meta": {
            "totalCount": 4,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a consolidation entity",
    "description": "Creates a consolidation entity.",
    "tags": [
     "Consolidation_Consolidation entities"
    ],
    "operationId": "create-consolidation-entity",
    "requestBody": {
     "description": "Create a consolidation entity.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.entity"
         },
         {
          "$ref": "#/components/schemas/consolidation-entityRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a consolidation entity": {
         "value": {
          "consolidationBook": {
           "key": "49"
          },
          "consolidationEntity": {
           "key": "3"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to consolidation entity",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to consolidation entity": {
          "value": {
           "ia::result": {
            "id": "93",
            "key": "93",
            "href": "/objects/consolidation/entity/93"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/entity/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the consolidation entity.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "74"
    }
   ],
   "get": {
    "summary": "Get a consolidation entity",
    "description": "Returns detailed information for a specified consolidation entity.",
    "tags": [
     "Consolidation_Consolidation entities"
    ],
    "operationId": "get-consolidation-entity-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a consolidation entity",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.entity"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a consolidation entity": {
          "value": {
           "ia::result": {
            "id": "74",
            "key": "74",
            "consolidationBook": {
             "id": "consol_book",
             "key": "49",
             "href": "/objects/consolidation/book/49"
            },
            "consolidationEntity": {
             "id": "2",
             "name": "India",
             "key": "2",
             "href": "/objects/company-config/entity/2"
            },
            "audit": {
             "modifiedDateTime": "2025-04-13T09:19:58Z",
             "modifiedBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdDateTime": "2025-04-13T09:05:08Z",
             "createdBy": "1",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/consolidation/entity/74"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a consolidation entity",
    "description": "Updates an existing consolidation entity by setting field values. Any field values not provided remain unchanged.",
    "tags": [
     "Consolidation_Consolidation entities"
    ],
    "operationId": "update-consolidation-entity-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.entity"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "consolidationBook": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a consolidation entity": {
         "value": {
          "consolidationEntity": {
           "key": "5"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to consolidation entity.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to consolidation entity": {
          "value": {
           "ia::result": {
            "id": "74",
            "key": "74",
            "href": "/objects/consolidation/entity/74"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a consolidation entity",
    "description": "Deletes a consolidation entity.",
    "tags": [
     "Consolidation_Consolidation entities"
    ],
    "operationId": "delete-consolidation-entity-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/elimination-account": {
   "get": {
    "summary": "List elimination accounts",
    "description": "Returns a collection with a key, ID, and link for each elimination account. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation elimination accounts"
    ],
    "operationId": "list-consolidation-elimination-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of elimination accounts",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List elimination accounts": {
          "value": {
           "ia::result": [
            {
             "key": "12",
             "id": "12",
             "href": "/objects/consolidation/elimination-account/12"
            },
            {
             "key": "16",
             "id": "16",
             "href": "/objects/consolidation/elimination-account/16"
            },
            {
             "key": "18",
             "id": "18",
             "href": "/objects/consolidation/elimination-account/18"
            },
            {
             "key": "19",
             "id": "19",
             "href": "/objects/consolidation/elimination-account/19"
            },
            {
             "key": "20",
             "id": "20",
             "href": "/objects/consolidation/elimination-account/20"
            }
           ],
           "ia::meta": {
            "totalCount": 5,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an elimination account",
    "description": "Creates an elimination account.",
    "tags": [
     "Consolidation_Consolidation elimination accounts"
    ],
    "operationId": "create-consolidation-elimination-account",
    "requestBody": {
     "description": "Create an elimination account.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.elimination-account"
         },
         {
          "$ref": "#/components/schemas/consolidation-elimination-accountRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an elimination account": {
         "value": {
          "consolidationBook": {
           "key": "49"
          },
          "glAccount": {
           "key": "10"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to elimination account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to elimination account": {
          "value": {
           "ia::result": {
            "id": "22",
            "key": "22",
            "href": "/objects/consolidation/elimination-account/22"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/elimination-account/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the elimination account.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "22"
    }
   ],
   "get": {
    "summary": "Get an elimination account",
    "description": "Returns detailed information for a specified elimination account.",
    "tags": [
     "Consolidation_Consolidation elimination accounts"
    ],
    "operationId": "get-consolidation-elimination-account-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get an elimination account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.elimination-account"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an elimination account": {
          "value": {
           "ia::result": {
            "id": "22",
            "key": "22",
            "consolidationBook": {
             "id": "consol_book",
             "key": "49",
             "href": "/objects/consolidation/book/49"
            },
            "glAccount": {
             "key": "10",
             "id": "1001",
             "name": "CitiBank",
             "href": "/objects/general-ledger/account/10"
            },
            "audit": {
             "modifiedDateTime": "2025-04-13T09:19:58Z",
             "modifiedBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdDateTime": "2025-04-13T09:05:08Z",
             "createdBy": "1",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/consolidation/elimination-account/22"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an elimination account",
    "description": "Updates an existing elimination account by setting field values. Any field values not provided remain unchanged.",
    "tags": [
     "Consolidation_Consolidation elimination accounts"
    ],
    "operationId": "update-consolidation-elimination-account-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.elimination-account"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "consolidationBook": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an elimination account": {
         "value": {
          "glAccount": {
           "key": "11"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to elimination account.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to elimination account": {
          "value": {
           "ia::result": {
            "id": "22",
            "key": "22",
            "href": "/objects/consolidation/elimination-account/22"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an elimination account",
    "description": "Deletes an elimination account.",
    "tags": [
     "Consolidation_Consolidation elimination accounts"
    ],
    "operationId": "delete-consolidation-elimination-account-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/override-account": {
   "get": {
    "summary": "List override accounts",
    "description": "Returns a collection with a key, ID, and link for each override account. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation override accounts"
    ],
    "operationId": "list-consolidation-override-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of override accounts",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List override accounts": {
          "value": {
           "ia::result": [
            {
             "key": "35",
             "id": "35",
             "href": "/objects/consolidation/override-account/35"
            },
            {
             "key": "36",
             "id": "36",
             "href": "/objects/consolidation/override-account/36"
            },
            {
             "key": "37",
             "id": "37",
             "href": "/objects/consolidation/override-account/37"
            },
            {
             "key": "40",
             "id": "40",
             "href": "/objects/consolidation/override-account/40"
            }
           ],
           "ia::meta": {
            "totalCount": 4,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an override account",
    "description": "Creates an override account.",
    "tags": [
     "Consolidation_Consolidation override accounts"
    ],
    "operationId": "create-consolidation-override-account",
    "requestBody": {
     "description": "Create an override account.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.override-account"
         },
         {
          "$ref": "#/components/schemas/consolidation-override-accountRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an override account": {
         "value": {
          "consolidationBook": {
           "key": "49"
          },
          "glAccount": {
           "key": "11"
          },
          "exchangeRate": {
           "rateType": "endingSpotRate",
           "rate": "Intacct daily rate"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to override account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to override account": {
          "value": {
           "ia::result": {
            "id": "40",
            "key": "40",
            "href": "/objects/consolidation/override-account/40"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/override-account/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the override account.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "40"
    }
   ],
   "get": {
    "summary": "Get an override account",
    "description": "Returns detailed information for a specified override account.",
    "tags": [
     "Consolidation_Consolidation override accounts"
    ],
    "operationId": "get-consolidation-override-account-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get an override account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.override-account"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an override account": {
          "value": {
           "ia::result": {
            "id": "40",
            "key": "40",
            "consolidationBook": {
             "id": "consol_book",
             "key": "49",
             "href": "/objects/consolidation/book/49"
            },
            "glAccount": {
             "key": "11",
             "id": "1002",
             "name": "HSBC - GBP",
             "href": "/objects/general-ledger/account/11"
            },
            "exchangeRate": {
             "rateType": "endingSpotRate",
             "rate": "IDR",
             "useUntilPeriod": null
            },
            "audit": {
             "modifiedDateTime": "2025-04-13T09:19:58Z",
             "modifiedBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdDateTime": "2025-04-13T09:05:08Z",
             "createdBy": "1",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/consolidation/override-account/40"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an override account",
    "description": "Updates an existing override account by setting field values. Any field values not provided remain unchanged.",
    "tags": [
     "Consolidation_Consolidation override accounts"
    ],
    "operationId": "update-consolidation-override-account-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.override-account"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "consolidationBook": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an override account": {
         "value": {
          "glAccount": {
           "key": "16"
          },
          "exchangeRate": {
           "rateType": "historicalRate",
           "rate": "MXN-Rate",
           "useUntilPeriod": "2025-01-31"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to override account.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to override account": {
          "value": {
           "ia::result": {
            "id": "40",
            "key": "40",
            "href": "/objects/consolidation/override-account/40"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an override account",
    "description": "Deletes an override account.",
    "tags": [
     "Consolidation_Consolidation override accounts"
    ],
    "operationId": "delete-consolidation-override-account-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/adjustment-journal": {
   "get": {
    "summary": "List adjustment journals",
    "description": "Returns a collection with a key, ID, and link for each adjustment journal. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation adjustment journals"
    ],
    "operationId": "list-consolidation-adjustment-journal",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of adjustment journals",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List adjustment journals": {
          "value": {
           "ia::result": [
            {
             "key": "22",
             "id": "22",
             "href": "/objects/consolidation/adjustment-journal/22"
            },
            {
             "key": "53",
             "id": "53",
             "href": "/objects/consolidation/adjustment-journal/53"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an adjustment journal",
    "description": "Creates an adjustment journal.",
    "tags": [
     "Consolidation_Consolidation adjustment journals"
    ],
    "operationId": "create-consolidation-adjustment-journal",
    "requestBody": {
     "description": "Create an adjustment journal.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.adjustment-journal"
         },
         {
          "$ref": "#/components/schemas/consolidation-adjustment-journalRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an adjustment journal": {
         "value": {
          "consolidationBookId": "consol_book",
          "userDefinedBookType": "userDefined",
          "glJournal": {
           "id": "consol_book_api",
           "name": "consol_book useradj api"
          },
          "userDefinedBookId": "consol_book_userdef"
         }
        },
        "Create an adjustment journal for a TAX adjustment": {
         "value": {
          "consolidationBookId": "consol_book",
          "userDefinedBookType": "tax",
          "glJournal": {
           "id": "consol_book_tax",
           "name": "consol_book tax api"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to adjustment journal",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to adjustment journal": {
          "value": {
           "ia::result": {
            "id": "55",
            "key": "55",
            "href": "/objects/consolidation/adjustment-journal/55"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/adjustment-journal/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the adjustment journal.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "70"
    }
   ],
   "get": {
    "summary": "Get an adjustment journal",
    "description": "Returns detailed information for a specified adjustment journal.",
    "tags": [
     "Consolidation_Consolidation adjustment journals"
    ],
    "operationId": "get-consolidation-adjustment-journal-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a consolidation-adjustment-journal",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.adjustment-journal"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an adjustment journal": {
          "value": {
           "ia::result": {
            "id": "70",
            "key": "70",
            "consolidationBookId": "consol_book",
            "userDefinedBookType": "gaap",
            "glJournal": {
             "key": "139",
             "id": "consol_book_api",
             "name": "consol_book gaap api",
             "href": "/objects/general-ledger/journal/139"
            },
            "userDefinedBookId": "GAAPADJ",
            "audit": {
             "createdDateTime": "2025-03-20T15:01:23Z",
             "modifiedDateTime": "2025-03-20T15:05:17Z",
             "createdBy": "1",
             "modifiedBy": "1"
            },
            "href": "/objects/consolidation/adjustment-journal/70"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an adjustment journal",
    "description": "Updates an existing adjustment journal by setting field values. Any field values not provided remain unchanged.",
    "tags": [
     "Consolidation_Consolidation adjustment journals"
    ],
    "operationId": "update-consolidation-adjustment-journal-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.adjustment-journal"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "consolidationBookId": {
            "readOnly": true
           },
           "userDefinedBookType": {
            "readOnly": true
           },
           "userDefinedBookId": {
            "readOnly": true
           },
           "glJournal": {
            "type": "object",
            "properties": {
             "key": {
              "readOnly": true
             },
             "id": {
              "readOnly": true
             }
            }
           }
          }
         }
        ]
       },
       "examples": {
        "Update an adjustment journal": {
         "value": {
          "glJournal": {
           "name": "consol_book gaap api - updated"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to adjustment journal",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to adjustment journal": {
          "value": {
           "ia::result": {
            "id": "70",
            "key": "70",
            "href": "/objects/consolidation/adjustment-journal/70"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an adjustment journal",
    "description": "Deletes an adjustment journal.",
    "tags": [
     "Consolidation_Consolidation adjustment journals"
    ],
    "operationId": "delete-consolidation-adjustment-journal-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/time-period": {
   "get": {
    "summary": "List time periods",
    "description": "Returns a collection with a key, ID, and link for each consolidation time period. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation time periods"
    ],
    "operationId": "list-consolidation-time-period",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of consolidation time periods",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List consolidation time periods": {
          "value": {
           "ia::result": [
            {
             "key": "860",
             "id": "Sep 2041",
             "href": "/objects/consolidation/time-period/860"
            },
            {
             "key": "861",
             "id": "Oct 2041",
             "href": "/objects/consolidation/time-period/861"
            },
            {
             "key": "862",
             "id": "Nov 2041",
             "href": "/objects/consolidation/time-period/862"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 3,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/time-period/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the consolidation time period.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "43"
    }
   ],
   "get": {
    "summary": "Get a consolidation time period",
    "description": "Returns detailed information for a specified consolidation time period.",
    "tags": [
     "Consolidation_Consolidation time periods"
    ],
    "operationId": "get-consolidation-time-period-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a consolidation time period",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.time-period"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a consolidation time period": {
          "value": {
           "ia::result": {
            "id": "Sep 2025",
            "key": "620",
            "periodName": "Sep 2025",
            "startDate": "2025-09-01",
            "endDate": "2025-09-30",
            "href": "/objects/consolidation/time-period/620"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/run-status": {
   "get": {
    "summary": "List consolidation run statuses",
    "description": "Returns a collection with a key, ID, and link for each consolidation run status. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation run statuses"
    ],
    "operationId": "list-consolidation-run-status",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of consolidation run statuses",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List consolidation run statuses": {
          "value": {
           "ia::result": [
            {
             "key": "22",
             "id": "22",
             "href": "/objects/consolidation/run-status/22"
            },
            {
             "key": "53",
             "id": "53",
             "href": "/objects/consolidation/run-status/53"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/run-status/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the consolidation run-status.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "70"
    }
   ],
   "get": {
    "summary": "Get a consolidation run-status",
    "description": "Returns detailed information for a specified consolidation run-status.",
    "tags": [
     "Consolidation_Consolidation run statuses"
    ],
    "operationId": "get-consolidation-run-status-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a consolidation run status",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.run-status"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a consolidation run status": {
          "value": {
           "ia::result": {
            "id": "78291",
            "key": "78291",
            "book": {
             "id": "CASE-1",
             "key": "373",
             "href": "/objects/consolidation/book/373"
            },
            "entity": {
             "key": "1",
             "id": "1",
             "name": "United States of America",
             "href": "/objects/company-config/entity/140"
            },
            "period": {
             "key": "600",
             "id": "Jan 2025",
             "href": "/objects/consolidation/time-period/600"
            },
            "consolidationDateTime": "2025-06-04T16:06:22Z",
            "runBy": {
             "key": "1",
             "id": "Admin",
             "href": "/objects/company-config/user/1"
            },
            "exchangeRate": {
             "weightedAverageRate": "71.311800000000",
             "endingSpotRate": "71.585300000000"
            },
            "status": "background",
            "statusMessage": "Offline consolidation in progress",
            "ownershipStructure": {
             "key": "44",
             "id": "struct_US_holdings",
             "description": "Ownership structure for US company holdings.",
             "href": "/objects/consolidation/ownership-structure/44"
            },
            "href": "/objects/consolidation/run-status/70"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/ownership-structure": {
   "get": {
    "summary": "List ownership structures",
    "description": "Returns a collection with a key, ID, and link for each ownership structure. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation ownership structures"
    ],
    "operationId": "list-consolidation-ownership-structure",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of ownership structures",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List ownership structures": {
          "value": {
           "ia::result": [
            {
             "key": "41",
             "id": "global_corporate_structure",
             "href": "/objects/consolidation/ownership-structure/41"
            },
            {
             "key": "25",
             "id": "holding_company_subsidiaries",
             "href": "/objects/consolidation/ownership-structure/25"
            },
            {
             "key": "28",
             "id": "group_consolidation_structure",
             "href": "/objects/consolidation/ownership-structure/28"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": 101,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an ownership structure",
    "description": "Creates an ownership structure.",
    "tags": [
     "Consolidation_Consolidation ownership structures"
    ],
    "operationId": "create-consolidation-ownership-structure",
    "requestBody": {
     "description": "Create an ownership structure.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.ownership-structure"
         },
         {
          "$ref": "#/components/schemas/consolidation-ownership-structureRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an ownership structure": {
         "value": {
          "id": "struct_US_holding_subsidiaries",
          "description": "Ownership structure for US holding company subsidiaries.",
          "status": "active",
          "elimination": {
           "enableInterEntityAutoElimination": true,
           "enableEliminationByAffiliateEntity": true
          },
          "accountingMethod": "accrual",
          "userDefinedBookForEquityMethod": {
           "id": "CE"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to ownership structure",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to ownership structure": {
          "value": {
           "ia::result": {
            "key": "49",
            "id": "struct_US_holding_subsidiaries",
            "href": "/objects/consolidation/ownership-structure/49"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/ownership-structure/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the ownership structure.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "43"
    }
   ],
   "get": {
    "summary": "Get an ownership structure",
    "description": "Returns information for a specified ownership structure.",
    "tags": [
     "Consolidation_Consolidation ownership structures"
    ],
    "operationId": "get-consolidation-ownership-structure-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get an ownership structure",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.ownership-structure"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an ownership structure": {
          "value": {
           "ia::result": {
            "key": "43",
            "id": "struct_US_holdings",
            "description": "Ownership structure for US company holdings.",
            "status": "active",
            "elimination": {
             "enableInterEntityAutoElimination": true,
             "enableEliminationByAffiliateEntity": true
            },
            "accountingMethod": "accrual",
            "userDefinedBookForEquityMethod": {
             "id": "CE",
             "key": "4",
             "href": "/objects/general-ledger/user-defined-book/4"
            },
            "audit": {
             "createdDateTime": "2025-03-14T15:32:47Z",
             "modifiedDateTime": "2025-03-14T15:32:47Z",
             "createdBy": "1",
             "modifiedBy": "1"
            },
            "href": "/objects/consolidation/ownership-structure/43"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an ownership structure",
    "description": "Deletes an ownership structure.",
    "tags": [
     "Consolidation_Consolidation ownership structures"
    ],
    "operationId": "delete-consolidation-ownership-structure-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an ownership structure",
    "description": "Updates an existing ownership structure by setting field values. Any field values not provided remain unchanged.",
    "tags": [
     "Consolidation_Consolidation ownership structures"
    ],
    "operationId": "update-consolidation-ownership-structure-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.ownership-structure"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "type": "string",
            "readOnly": true
           },
           "elimination": {
            "type": "object",
            "properties": {
             "enableInterEntityAutoElimination": {
              "type": "boolean",
              "default": true,
              "readOnly": true
             }
            }
           },
           "userDefinedBookForEquityMethod": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             }
            }
           }
          }
         }
        ]
       },
       "examples": {
        "Update an ownership structure": {
         "value": {
          "description": "Ownership structure for new US company holdings.",
          "status": "active"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to ownership structure.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to ownership structure": {
          "value": {
           "ia::result": {
            "key": "16",
            "id": "igc",
            "href": "/objects/consolidation/ownership-structure/16"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/services/consolidation/ownership-structure/consolidate": {
   "post": {
    "summary": "Consolidate an ownership structure",
    "description": "Consolidate an ownership structure. \n\nThis operation consolidates the ownership structure based on the provided time period and ownership structure. \n\nFor more information, read about [consolidating an ownership structure](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Cons_ownership_struct) in the Sage Intacct Help Center.\n",
    "tags": [
     "Consolidation_Consolidation ownership structures"
    ],
    "operationId": "post-consolidation-ownership-structure-consolidate",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/consolidation-ownership-structure-consolidate-request"
       },
       "examples": {
        "Consolidate an ownership structure": {
         "value": {
          "ownershipStructure": {
           "id": "consolOwnershipStructure"
          },
          "timePeriod": {
           "id": "Apr 2025"
          },
          "notificationEmail": "tom.johnson@techsoma.com"
         }
        },
        "Consolidate and override exchange rates for an ownership structure entities": {
         "value": {
          "ownershipStructure": {
           "id": "consolOwnershipStructure"
          },
          "timePeriod": {
           "id": "Jan 2025"
          },
          "notificationEmail": "tom.johnson@techsoma.com",
          "overrideExchangeRate": [
           {
            "consolidationBook": {
             "id": "us_book"
            },
            "consolidationEntities": [
             {
              "entity": {
               "id": "USA"
              },
              "endingSpotRate": "1",
              "weightedAverageRate": "1"
             },
             {
              "entity": {
               "key": "IND"
              },
              "endingSpotRate": "0.01151",
              "weightedAverageRate": "0.01149"
             },
             {
              "entity": {
               "id": "UK"
              },
              "endingSpotRate": "1.2607",
              "weightedAverageRate": "1.2467"
             },
             {
              "entity": {
               "id": "USDE"
              },
              "endingSpotRate": "1",
              "weightedAverageRate": "1"
             }
            ]
           },
           {
            "consolidationBook": {
             "id": "ind_book"
            },
            "consolidationEntities": [
             {
              "entity": {
               "id": "IND"
              },
              "endingSpotRate": "0.01151",
              "weightedAverageRate": "0.01149"
             },
             {
              "entity": {
               "id": "AUS"
              },
              "endingSpotRate": "0.6352",
              "weightedAverageRate": "0.6279"
             },
             {
              "entity": {
               "id": "INDE"
              },
              "endingSpotRate": "1",
              "weightedAverageRate": "1"
             }
            ]
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Executed",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/consolidation-ownership-structure-consolidate-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Consolidate an ownership structure": {
          "value": {
           "ia::result": {
            "status": "success",
            "message": "A job has been queued to run an offline consolidation. Go to Company > Offline job queue to view the job status."
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/ownership-structure-period/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the ownership structure period.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "43"
    }
   ],
   "get": {
    "summary": "Get an ownership structure period",
    "description": "Returns detailed information for a specified ownership structure period.",
    "tags": [
     "Consolidation_Consolidation ownership structure periods"
    ],
    "operationId": "get-consolidation-ownership-structure-period-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get an ownership structure period",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.consolidation.ownership-structure-period"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an ownership structure period": {
          "value": {
           "ia::result": {
            "key": "125",
            "id": "125",
            "ownershipStructure": {
             "id": "level10",
             "key": "45",
             "href": "/objects/consolidation/ownership-structure/45"
            },
            "fromPeriod": {
             "id": "Apr 2025"
            },
            "comment": "Time period from April 2025.",
            "state": "draft",
            "status": "active",
            "audit": {
             "createdDateTime": "2025-06-30T11:11:26Z",
             "modifiedDateTime": "2025-06-30T11:11:26Z",
             "createdBy": "1",
             "modifiedBy": "1"
            },
            "ownershipEntities": [
             {
              "key": "195",
              "id": "195",
              "ownershipStructurePeriod": {
               "id": "125",
               "key": "125",
               "href": "/objects/consolidation/ownership-structure-period/125"
              },
              "parentEntity": {
               "key": "1",
               "id": "1",
               "name": "United States of America",
               "href": "/objects/company-config/entity/1"
              },
              "consolidationBook": {
               "multiCurrency": {
                "cumulativeTranslationAdjustment": {
                 "netAssetGLAccount": "1000",
                 "netIncomeGLAccount": "1000"
                },
                "translationMethod": {
                 "balanceSheetTranslationMethod": "endingSpotRate",
                 "incomeTranslationMethod": "weightedAverageRate"
                },
                "currency": "USD"
               },
               "elimination": {
                "entity": "USDE",
                "adjustmentGLAccount": "1000"
               },
               "key": "222",
               "id": "conso_book_holdings",
               "description": "Consolidation book for company holdings.",
               "href": "/objects/consolidation/book/222"
              },
              "audit": {
               "createdDateTime": "2025-06-30T11:11:26Z",
               "modifiedDateTime": "2025-06-30T11:11:26Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "ownershipSubsidiaryEntities": [
               {
                "key": "343",
                "id": "343",
                "ownershipEntity": {
                 "id": "195",
                 "key": "195",
                 "href": "/objects/consolidation/ownership-entity/195"
                },
                "subsidiaryEntity": {
                 "id": "2",
                 "name": "India",
                 "key": "2",
                 "href": "/objects/company-config/entity/2"
                },
                "ownershipPercentage": 44,
                "consolidationMethod": "consolidation",
                "allocateSubsidiaryIncome": false,
                "nonControllingInterestGLAccounts": {
                 "investmentInSubsidiaryGLAccount": {
                  "key": "380",
                  "id": "1203.01",
                  "name": "Billed Accounts Receivable",
                  "href": "/objects/general-ledger/account/380"
                 },
                 "subsidiaryRevenueGLAccount": {
                  "key": "380",
                  "id": "1203.01",
                  "name": "Billed Accounts Receivable",
                  "href": "/objects/general-ledger/account/380"
                 },
                 "netIncomeAttributableToNCIGLAccount": {
                  "key": "380",
                  "id": "1203.01",
                  "name": "Billed Accounts Receivable",
                  "href": "/objects/general-ledger/account/380"
                 },
                 "equityAttributableToNCIGLAccount": {
                  "key": "76",
                  "id": "1280.25",
                  "name": "Germany (India) - Inter Entity Receivable",
                  "href": "/objects/general-ledger/account/76"
                 },
                 "contributedCapitalGLAccount": {
                  "key": "380",
                  "id": "1203.01",
                  "name": "Billed Accounts Receivable",
                  "href": "/objects/general-ledger/account/380"
                 }
                },
                "audit": {
                 "createdDateTime": "2025-06-30T11:11:26Z",
                 "modifiedDateTime": "2025-06-30T11:11:26Z",
                 "createdBy": "1",
                 "modifiedBy": "1"
                },
                "href": "/objects/consolidation/ownership-subsidiary-entity/343"
               }
              ],
              "href": "/objects/consolidation/ownership-entity/195"
             }
            ],
            "href": "/objects/consolidation/ownership-structure-period/125"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an ownership structure period",
    "description": "Updates an existing ownership structure period by setting field values. Any field values not provided remain unchanged.",
    "tags": [
     "Consolidation_Consolidation ownership structure periods"
    ],
    "operationId": "update-consolidation-ownership-structure-period-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.consolidation.ownership-structure-period"
         }
        ]
       },
       "examples": {
        "Update an ownership structure period": {
         "value": {
          "ownershipStructure": {
           "key": "45"
          },
          "fromPeriod": {
           "id": "Mar 2025"
          },
          "comment": "Time period from March 2025.",
          "state": "draft",
          "status": "active",
          "ownershipEntities": [
           {
            "key": "194",
            "ownershipStructurePeriod": {
             "key": "124"
            },
            "parentEntity": {
             "key": "1"
            },
            "ownershipSubsidiaryEntities": [
             {
              "key": "342",
              "ownershipEntity": {
               "key": "194"
              },
              "subsidiaryEntity": {
               "key": "2"
              },
              "ownershipPercentage": 44,
              "consolidationMethod": "consolidation",
              "allocateSubsidiaryIncome": true,
              "nonControllingInterestGLAccounts": {
               "investmentInSubsidiaryGLAccount": {
                "key": "380"
               },
               "subsidiaryRevenueGLAccount": {
                "key": "76"
               },
               "netIncomeAttributableToNCIGLAccount": {
                "key": "380"
               },
               "equityAttributableToNCIGLAccount": {
                "key": "76"
               },
               "contributedCapitalGLAccount": {
                "key": "380"
               }
              }
             }
            ]
           }
          ]
         }
        }
       }
      }
     },
     "description": "Updates an ownership structure period."
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to ownership structure period.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to ownership structure period": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/consolidation/ownership-structure-period/124"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an ownership structure period",
    "description": "Deletes an ownership structure period.",
    "tags": [
     "Consolidation_Consolidation ownership structure periods"
    ],
    "operationId": "delete-consolidation-ownership-structure-period-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/consolidation/ownership-structure-period": {
   "get": {
    "summary": "List ownership structure periods",
    "description": "Returns a collection with a key, ID, and link for each ownership structure period. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find account groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "Consolidation_Consolidation ownership structure periods"
    ],
    "operationId": "list-consolidation-ownership-structure-period",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of ownership structure periods",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
[...]
