{
 "openapi": "3.0.3",
 "info": {
  "title": "Contracts and Revenue Management",
  "version": "1",
  "description": "Contracts and Revenue Management provides an automated way to address the sweeping accounting changes included in ASC 606 (Revenue from contracts with customers)."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Contracts_and_Revenue_Management_Contract groups",
   "x-displayName": "Contract groups",
   "description": "A contract group is a logical collection of contracts used to drive reporting and analysis, with contracts as the group members. Contract groups can be defined with specific contracts as members or with filters to dynamically include contracts that meet specified conditions. Contract groups can be used to manage related contracts by grouping them together based on shared characteristics, such as contract type, region, or business unit.\n\nFor more information, read about [contracts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_Contracts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Contract group members",
   "x-displayName": "Contract group members",
   "description": "A contract group member represents a contract that belongs to a contract group. Each member is associated with one contract and one contract group, and the member's properties are determined by the associated contract and contract group. The contract group member object provides information about the contract's membership in the group, such as the sort order of the member within the group and details about the associated contract. Update the contract group member in the owning [contract group](contracts.contract-group) object.\n\nFor more information, read about [contracts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_Contracts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Contract types",
   "x-displayName": "Contract types",
   "description": "Use contract types to categorize contracts and then use them to filter reports, batch invoices, and so on. You can create and maintain contract types that are tailored to your specific business. After creating a contract type, you can then apply it to a contract.\n\nFor more information, read about [contract types](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Contract_types) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Contracts",
   "x-displayName": "Contracts",
   "description": "A contract represents a customer agreement that defines the products or services that are provided to a specified customer. It can control settings such as renewals and terms, capture compliance information, and record the transaction history for all contract lines and expenses.\n\nFor more information, read about [contracts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Contract_records) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Contract renewal templates",
   "x-displayName": "Contract renewal templates",
   "description": "Contract renewal templates define sets of rules and actions that Sage Intacct performs when renewing a contract, for example:\n\n* Specify when to trigger the renewal relative to the contract end date.\n* Determine the pricing source for the renewed contract.\n* Send an email to the customer notifying them of an upcoming renewal.\n* Set the state of the renewed contract (In Progress or Draft).\n\nFor more information, read about [Contract Renewal Templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Renewal_templates_contracts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Contract lines",
   "x-displayName": "Contract lines",
   "description": "A contract line defines a specific performance obligation within a contract, representing the agreed promise to deliver a product or service to the customer. It serves as the header for one or more schedule lines and contains the key details that drive both billing and revenue recognition. \n\nWhen a contract line is created, Sage Intacct automatically generates the billing and revenue schedules based on the data entered.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Contract transaction histories",
   "x-displayName": "Contract transaction histories",
   "description": "A contract transaction history represents a record of a financial transaction related to a contract, such as billing, revenue recognition, or adjustments. It captures details about the transaction, including amounts, dates, types, and related entities like contracts and journal entries. Contract transaction histories are essential for tracking the financial performance of contracts and ensuring accurate accounting and reporting.\n\nFor more information, read about [transaction histories](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Contract_fbf) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Compliance checklists",
   "x-displayName": "Compliance checklists",
   "description": "Contract compliance checklist tasks are the sign-off details for tasks within a specific compliance checklist, providing an audit trail of completions. Each compliance checklist task documents who completed the task, when it was completed, sign-off status, and any associated comments. Each compliance checklist task is linked to exactly one compliance checklist and one compliance task template.\n\nFor more information, read about the [compliance checklist](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Compliance_checklist) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Compliance notes",
   "x-displayName": "Compliance notes",
   "description": "Contract compliance notes represent observations and comments associated with a compliance checklist, providing additional context and commentary. Notes capture general comments, risks, or follow-up items and they can be marked as public or private.\n\nFor more information, read about the [compliance checklist](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Compliance_checklist) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Compliance tasks",
   "x-displayName": "Compliance tasks",
   "description": "Contract compliance tasks are reusable task templates that define what needs to be checked or completed as part of a compliance checklist. Each task contains metadata such as name, description, task number, and status. Compliance tasks can be included in multiple compliance checklists.\n\nFor more information, read about the [compliance checklist](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Compliance_checklist) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing schedules",
   "x-displayName": "Billing schedules",
   "description": "A billing schedule shows when a Flat/Fixed amount for a contract line is expected to be invoiced during the contract term. It shows the scheduled billing date and amount to be billed for each potential invoice. For periods that have been invoiced, it shows the date the invoice posted, the exchange rate associated with the invoice date (if applicable), and the document number. Billing schedules are referenced by [contract lines](contracts.contract-line).\n\nFor more information, read about [billing schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_a_Billing_schedule) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing schedule lines",
   "x-displayName": "Billing schedule lines",
   "description": "Line items in a billing schedule represent a single billing for a contract line. You create, update, and delete billing schedule line objects through operations on the owning [billing schedule](contracts.billing-schedule).\n\nFor more information, read about [billing schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_a_Billing_schedule) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing templates",
   "x-displayName": "Billing templates",
   "description": "A billing template defines the schedule to invoice the flat/fixed amount for a contract line over the contract term. Use billing templates to create non-linear, percent complete, and other types of custom billing schedules.\n\nFor more information, read about [billing templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Billing_templates) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing template lines",
   "x-displayName": "Billing template lines",
   "description": "Line items in a contract billing schedule specify the percentages complete at which you want to invoice. You create, update, and delete billing template line objects through operations on the owning [billing template](contracts.billing-template).\n\nFor more information, read about [billing templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Billing_templates) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Evergreen templates",
   "x-displayName": "Evergreen templates",
   "description": "Evergreen templates define sets of actions Sage Intacct will perform when a recurring billing period on an evergreen contract line ends, for example:\n\n* Determine when to close the contract line for the previous recurring billing period and create the contract line for the next recurring billing period.\n* Determine the pricing source for the recurring billing period\n* Send an email to the customer notifying them that the recurring billing period is ending and a new one is beginning.\n\nFor more information, read about [Evergreen Templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Evergreen_templates) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Contract usage",
   "x-displayName": "Contract usage",
   "description": "Contract usage objects represents the quantity of a contract line item that a customer used or consumed during a specific time period. Contract usage is used for [committed](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Committed_quantity_usage) and [variable](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Variable_quantity_billing) quantity billing, and [quantity based revenue recognition](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Qty_based_revenue_recognition)."
  },
  {
   "name": "Contracts_and_Revenue_Management_Revenue schedules",
   "x-displayName": "Revenue schedules",
   "description": "A revenue schedule defines how and when revenue is recognized for a contract line. For termed contracts, the revenue schedule reflects a fixed recognition period, while for evergreen contracts, it supports ongoing recognition without a specific end date. \n\nFor more information, read about [revenue schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_a_Revenue_schedule) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Revenue schedule lines",
   "x-displayName": "Revenue schedule lines",
   "description": "A revenue schedule line represents a single entry in a revenue schedule, detailing the amount and timing of revenue recognition for a portion of a contract line. Each schedule line corresponds to a specific posting date and amount, and may be linked to billing schedule lines for multi-element arrangements (MEAs). Create, update, and delete revenue schedule line objects through operations on the owning `revenue-schedule` object.\n\nFor more information, read about [revenue schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_a_Revenue_schedule) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Revenue templates",
   "x-displayName": "Revenue templates",
   "description": "A revenue template defines the revenue recognition schedule for the flat/fixed amount associated with a contract line. You can create any number of revenue templates and reuse them across contracts.\n\nFor more information, read about [revenue templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Contract_revenue_templates) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_MEA allocations",
   "x-displayName": "MEA allocations",
   "description": "A multiple-element arrangement (MEA) allocation represents the allocation of revenue to contract lines for a specific MEA allocation, which is used to adjust the revenue recognition schedule for the contract lines included in the MEA allocation. MEA allocations are typically used when there is a change to a contract that requires an adjustment to the revenue recognition schedule, such as adding a new item to the contract or changing the price of an existing item.\n\nFor more information, read about [MEA allocations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_mea_allocations) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Bulk action run summaries",
   "x-displayName": "Bulk action run summaries",
   "description": "A contract bulk action run summary represents the status of a bulk action request for contract management processing, for example posting or clearing revenue/expense recognition. It contains the results of the request, including the count of records processed successfully and with errors.\n\nFor more information, read about [bulk action run summaries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Bulk_action_runs) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Expenses",
   "x-displayName": "Expenses",
   "description": "An expense represents a cost incurred to obtain or fulfill a contract with a customer. The ASC 606 accounting rules require you to amortize contract acquisition expenses over the contract term. The expense object supports termed, evergreen, and kit contract models.\n\nFor more information, read about the [expense workflow](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Contract_expense_workflow) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Expense schedules",
   "x-displayName": "Expense schedules",
   "description": "An expense schedule defines the timing and amounts for expenses related to a contract line. It contains header information and a list of associated expense schedule lines.\n\nFor more information, read about [expense schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_a_Expense_schedule) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Expense schedule lines",
   "x-displayName": "Expense schedule lines",
   "description": "An expense schedule line represents a single scheduled expense occurrence for a contract line. It includes details such as the scheduled amount, posting date, and status of the scheduled expense.\n\nFor more information, read about [expense schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_a_Expense_schedule) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Historical schedule runs",
   "x-displayName": "Historical schedule runs",
   "description": "A historical schedule run is used to build up reporting balances for historical and in-flight contracts when processing contract schedules in Sage Intacct. Each run will have an as-of date, and will calculate schedule lines up to that date. Once the run is complete, the balances can be used in reports and other API calls that need to know the calculated balance for a contract as of a specific date.\n\nFor more information, read about [processing contract schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Process_contract_schedules) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Expense templates",
   "x-displayName": "Expense templates",
   "description": "An expense template defines the schedule to recognize an expense amount for a contract or contract line over the contract term. You can create any number of expense templates and reuse them across contracts.\n\nFor more information, read about [expense templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Expense_templates) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Expense template lines",
   "x-displayName": "Expense template lines",
   "description": "An expense template line defines the percentage of the total expense amount to be recognized at a specific number of months from the expense start date. Create, update, and delete expense template lines in the owning [expense template](contracts.expense-template) object.\n\nFor more information, read about [expense templates](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Expense_templates) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing price lists",
   "x-displayName": "Billing price lists",
   "description": "Use billing price lists to create pricing strategies for items with prices that are determined based on a fixed fee, the quantity used, or the contracted quantity. Billing price lists support several pricing models, including prices per thousands, discount tiers, and minimum flat fees. A company can have multiple billing price lists.\n\nFor more information, read about [billing price lists](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Billing_price_lists) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing price list entries",
   "x-displayName": "Billing price list entries",
   "description": "A billing price list entry contains the pricing for a single item within a specified billing price list. A contract specifies a billing price list, and items from contract lines are priced according to the associated price list.\n\nFor more information, read about [billing price list entries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Billing_price_list_entries) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing price list entry lines",
   "x-displayName": "Billing price list entry lines",
   "description": "Billing price list entry lines define pricing details for an item specified in a billing price list entry. Details include the starting date for a price, the flat amount, and usage rates. Create and maintain billing price list entry lines from the owning [billing price list entry](contracts.billing-price-list-entry) object.\n\nFor more information, read about [billing price list entries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Billing_price_list_entries) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_Billing price list entry line tiers",
   "x-displayName": "Billing price list entry line tiers",
   "description": "A billing price list entry line tier defines the starting quantity and price for a single tier in a billing price list entry line. Create and maintain billing price list entry line tiers from the owning [billing price list entry line](contracts.billing-price-list-entry-line) object.\n\nFor more information, read about [billing price list entries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Billing_price_list_entries) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_MEA price lists",
   "x-displayName": "MEA price lists",
   "description": "MEA price lists contain standalone selling prices for items sold in multiple-element arrangements. A company that provides multiple products and/or services to customers as part of a single arrangement needs to create one or more MEA price lists. A contract that contains multiple-element arrangements can be linked to an MEA price list.\n\nFor more information, read about [MEA price lists](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=MEA_price_lists) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_MEA price list entries",
   "x-displayName": "MEA price list entries",
   "description": "MEA price list entries are used in Multi-Element Arrangements (MEAs) to define fair value pricing for individual products or services included in the arrangement.\n\nFor more information, read about [MEA price list entries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=MEA_price_list_entries) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_MEA price list entry lines",
   "x-displayName": "MEA price list entry lines",
   "description": "An MEA price list entry line contains the standalone selling price, or fair value price, associated with an item when it's included in a multiple-element arrangement. You can enter a fair value price as an amount, percentage, or as a price range. You can also use a price range with a price entered as an amount.\n\nFor more information, read about [MEA price list entries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=MEA_price_list_entries) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Contracts_and_Revenue_Management_MEA categories",
   "x-displayName": "MEA categories",
   "description": "MEA categories are used in Multi-Element Arrangements (MEAs) to label products or services included in the arrangement to categorize them for fair value allocation.\n\nSage Intacct uses fair value categories to distinguish products or services included in an MEA that will be used in the algorithm that determines another item's estimated standalone selling price. \n\nFor more information, read about [MEA fair value categories](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=MEA_fair_value_categories) in the Sage Intacct Help Center.\n"
  }
 ],
 "paths": {
  "/objects/contracts/contract-group": {
   "get": {
    "summary": "List contract groups",
    "description": "Returns a collection with a key, ID, and link for each contract group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract groups"
    ],
    "operationId": "get-objects-contract-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of contract groups",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List contract groups": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "12434444",
             "href": "/objects/contracts/contract-group/1"
            }
           ],
           "ia::meta": {
            "totalCount": 1,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a contract group",
    "description": "Creates a new contract group.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract groups"
    ],
    "operationId": "post-objects-contract-group",
    "requestBody": {
     "description": "Create a contract group.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract-group"
         },
         {
          "$ref": "#/components/schemas/contracts-contract-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a contract group": {
         "value": {
          "id": "CG-NA-RENEW-2026-001",
          "name": "Enterprise SaaS Annual Renewals - North America",
          "description": "Contains active enterprise SaaS contracts in North America that are due for annual renewal in the current fiscal year.",
          "groupType": "all",
          "memberFilter": {
           "object": "contracts/contract",
           "filterExpression": "and",
           "filters": [
            {
             "$eq": {
              "id": "CONT-128"
             }
            }
           ],
           "orderBy": [
            {
             "id": "asc"
            }
           ]
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Create a contract group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create a contract group": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "CG-NA-RENEW-2026-001",
            "href": "/objects/contracts/contract-group/23"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the contract group.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "235"
    }
   ],
   "get": {
    "summary": "Get a contract group",
    "description": "Returns detailed information for a specified contract group.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract groups"
    ],
    "operationId": "get-objects-contract-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the contract group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.contracts.contract-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a contract group": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "CG-NA-RENEW-2026-001",
            "entity": {
             "key": "2",
             "id": "2",
             "name": "North America",
             "href": "/objects/company-config/entity/2"
            },
            "name": "Enterprise SaaS Annual Renewals - North America",
            "description": "Contains active enterprise SaaS contracts in North America that are due for annual renewal in the current fiscal year.",
            "groupType": "all",
            "memberFilter": {
             "object": "contracts/contract",
             "filterExpression": "and",
             "filters": [
              {
               "$eq": {
                "id": "CONT-128"
               }
              }
             ],
             "orderBy": [
              {
               "id": "asc"
              }
             ]
            },
            "audit": {
             "createdDateTime": "2026-01-22T02:33:32Z",
             "modifiedDateTime": "2026-01-22T02:33:32Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "groupMembers": [],
            "href": "/objects/contracts/contract-group/23"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a contract group",
    "description": "Updates an existing contract group by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract groups"
    ],
    "operationId": "patch-objects-contract-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a contract group": {
         "value": {
          "description": "Contains active enterprise SaaS contracts in North America that are due for quarterly renewal in the current fiscal year."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to contract group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to contract group": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "CG-NA-RENEW-2026-001",
            "href": "/objects/contracts/contract-group/23"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a contract group",
    "description": "Deletes a contract group.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract groups"
    ],
    "operationId": "delete-objects-contract-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-group-member": {
   "get": {
    "summary": "List contract group members",
    "description": "Returns a collection with a key, ID, and link for each contract group member. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract group members"
    ],
    "operationId": "get-objects-contract-group-member",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of contract group members",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List contract group members": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/contracts/contract-group-member/1"
            },
            {
             "key": "2",
             "id": "2",
             "href": "/objects/contracts/contract-group-member/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-group-member/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "system-assigned unique key for the contract group member.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a contract group member",
    "description": "Returns detailed information for a specified contract group member.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract group members"
    ],
    "operationId": "get-objects-contract-group-member-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a contract group member",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.contracts.contract-group-member"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a contract group member": {
          "value": {
           "ia::result": {
            "id": "11",
            "key": "11",
            "contractGroup": {
             "key": "5",
             "id": "5",
             "href": "/objects/contracts/contract-group/5"
            },
            "sortOrder": "0",
            "contract": {
             "key": "22",
             "id": "CONT-2026-EMEA-00427",
             "name": "Enterprise Software Subscription and Support Agreement - EMEA - FY2026 Renewal",
             "href": "/objects/contracts/contract/22"
            },
            "audit": {
             "createdDateTime": "2026-01-22T02:33:32Z",
             "modifiedDateTime": "2026-01-22T02:33:32Z",
             "createdBy": "1",
             "modifiedBy": "1"
            },
            "href": "/objects/contracts/contract-group-member/11"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-type": {
   "get": {
    "summary": "List contract types",
    "description": "Returns a collection with a key, ID, and link for each contract type. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract types"
    ],
    "operationId": "list-contracts-contract-type",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of contract types",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List contract types": {
          "value": {
           "ia::result": [
            {
             "key": "2",
             "id": "Service_1",
             "href": "/objects/contracts/contract-type/2"
            },
            {
             "key": "1",
             "id": "API",
             "href": "/objects/contracts/contract-type/1"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a contract type",
    "description": "Creates a new contract type.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract types"
    ],
    "operationId": "create-contracts-contract-type",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract-type"
         },
         {
          "$ref": "#/components/schemas/contracts-contract-typeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a parent contract type": {
         "value": {
          "id": "Auto-renewal",
          "description": "Parent type for automatic renewal contracts",
          "status": "active"
         }
        },
        "Create a child contract type": {
         "value": {
          "id": "Annual",
          "description": "Annual automatic renewals",
          "status": "active",
          "parent": {
           "key": "11"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to new contract type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new contract type": {
          "value": {
           "ia::result": {
            "key": "11",
            "id": "Auto-renewal",
            "href": "/objects/contracts/contract-type/11"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-type/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the contract type.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "1546"
    }
   ],
   "get": {
    "summary": "Get a contract type",
    "description": "Returns detailed information for a specified contract type.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract types"
    ],
    "operationId": "get-contracts-contract-type-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a contract type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.contracts.contract-type"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a contract type": {
          "value": {
           "ia::result": {
            "key": "10",
            "parent": {
             "key": "2",
             "id": "Annual type",
             "href": "/objects/contracts/contract-type/2"
            },
            "id": "Auto-renewal",
            "status": "active",
            "description": "Parent type for automatic renewal contracts",
            "href": "/objects/contracts/contract-type/10",
            "webURL": "https://app.intacct.com/objects/contracts/contract-type/10",
            "audit": {
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159",
             "createdDateTime": "2025-09-04T00:00:00Z",
             "modifiedDateTime": "2025-09-04T00:00:00Z"
            },
            "entity": {
             "key": "2",
             "id": "2",
             "name": "India",
             "href": "/objects/company-config/entity/2"
            }
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a contract type",
    "description": "Updates an existing contract type by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract types"
    ],
    "operationId": "update-contracts-contract-type-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract-type"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "example": {
        "Set status to inactive": {
         "value": {
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated contract type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated contract type": {
          "value": {
           "ia::result": {
            "key": "3",
            "id": "Managed_IT_Service",
            "href": "/objects/contracts/contract-type/3"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a contract type",
    "description": "Deletes a contract type. You cannot delete a contract type that is currently assigned to any contracts.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract types"
    ],
    "operationId": "delete-contracts-contract-type-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract": {
   "get": {
    "summary": "List contracts",
    "description": "Returns a collection with a key, ID, and link for each contract. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "list-contracts-contract",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List contracts",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List contracts": {
          "value": {
           "ia::result": [
            {
             "key": "84",
             "id": "84",
             "href": "/objects/contracts/contract/84"
            },
            {
             "key": "107",
             "id": "107",
             "href": "/objects/contracts/contract/107"
            },
            {
             "key": "108",
             "id": "108",
             "href": "/objects/contracts/contract/108"
            },
            {
             "key": "56",
             "id": "56",
             "href": "/objects/contracts/contract/56"
            }
           ],
           "ia::meta": {
            "totalCount": 4,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a contract",
    "description": "Creates a new contract. If document sequencing is not enabled for contracts, `id` is required. If it is enabled, `id` is optional unless you want to override the system-generated `id`.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "create-contracts-contract",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract"
         },
         {
          "$ref": "#/components/schemas/contracts-contractRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a contract": {
         "value": {
          "id": "ProjectTime_Completed_Flows34_45_4",
          "startDate": "2025-01-01",
          "endDate": "2025-12-31",
          "name": "ProjectTime_Completed_Flows",
          "dimensions": {
           "customer": {
            "key": "6"
           },
           "location": {
            "key": "1"
           },
           "department": {
            "key": "11"
           }
          },
          "currency": {
           "baseCurrency": "USD",
           "txnCurrency": "USD",
           "exchangeRateType": "Intacct Daily Rate"
          },
          "paymentTerm": {
           "key": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to new contract",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new contract": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "ProjectTime_Completed_Flows34_45_4",
            "href": "/objects/contracts/contract/124"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the contract.",
     "in": "path",
     "required": true,
     "example": "24",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a contract",
    "description": "Returns detailed information for a specified contract.",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "get-contracts-contract-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a contract",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.contracts.contract"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a contract": {
          "value": {
           "ia::result": {
            "key": "944",
            "id": "12_122_1",
            "href": "/objects/contracts/contract/944",
            "webURL": "https://app.intacct.com/objects/contracts/contract/944",
            "renewalTemplate": {
             "id": "32",
             "key": "32",
             "contractTermType": "termed",
             "name": "Renew_Contract12",
             "termLength": 12,
             "termPeriod": "years",
             "billInAdvanceLengthRenewal": null,
             "billInAdvancePeriodRenewal": null,
             "triggerDate": null,
             "renewalDate": "2025-01-01",
             "href": "/objects/contracts/contract-renewal-template/944"
            },
            "parent": {
             "key": "59",
             "id": "CON-0012-1",
             "href": "/objects/contracts/contract/59"
            },
            "description": "Contract for customer 12_122",
            "state": "renewed",
            "startDate": "2025-01-01",
            "endDate": "2025-12-31",
            "cancellationDate": null,
            "name": "12_122",
            "entity": {
             "key": "54",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/54"
            },
            "dimensions": {
             "customer": {
              "key": "2",
              "id": "2",
              "name": "Logic Solutions",
              "href": "/objects/accounts-receivable/customer/2"
             },
             "location": {
              "key": "2",
              "id": "2",
              "name": "India",
              "href": "/objects/company-config/location/2"
             },
             "department": {
              "key": "4",
              "id": "4",
              "name": "Human Resources",
              "href": "/objects/company-config/department/4"
             },
             "project": {
              "key": null,
              "id": null,
              "name": null
             },
             "vendor": {
              "key": "54",
              "id": "208",
              "name": "Quick and Easy Payroll",
              "href": "/objects/accounts-payable/vendor/54"
             },
             "employee": {
              "key": "55",
              "id": "EM 2",
              "name": "Ravi",
              "href": "/objects/company-config/employee/55"
             },
             "class": {
              "key": "15",
              "id": "vsoe_class_004_R",
              "name": "vsoe_class_name_004_R",
              "href": "/objects/company-config/class/15"
             }
            },
            "contacts": {
             "billTo": {
              "key": "117",
              "id": "Logic Solutions(C2)",
              "email1": "qa-auto-emails@company.com",
              "email2": "twoaddres@company.com",
              "href": "/objects/company-config/contact/117"
             },
             "shipTo": {
              "key": "117",
              "id": "Logic Solutions(C2)",
              "email1": "qa-auto-emails@company.com",
              "email2": "twoaddres@company.com",
              "href": "/objects/company-config/contact/117"
             },
             "additionalContact": {
              "key": "117",
              "id": "Logic Solutions(C2)",
              "email1": "qa-auto-emails@company.com",
              "email2": "twoaddres@company.com",
              "href": "/objects/company-config/contact/117"
             }
            },
            "billingFrequency": "quarterly",
            "paymentTerm": {
             "key": "16",
             "id": "N90",
             "href": "/objects/accounts-receivable/term/16"
            },
            "billingPriceList": {
             "key": "24",
             "id": "SaaSy Pricing",
             "href": "/objects/contracts/billing-price-list/24"
            },
            "meaPriceList": {
             "id": "2009 VSOE Price List USD_R",
             "key": "2",
             "href": "/objects/contracts/mea-price-list/2"
            },
            "holdBilling": false,
            "holdRevenue": false,
            "holdExpense": false,
            "currency": {
             "baseCurrency": "INR",
             "txnCurrency": "INR",
             "exchangeRateType": "EUR-Rate"
            },
            "billInAdvanceLength": null,
            "billInAdvancePeriod": null,
            "audit": {
             "createdDateTime": "2025-02-15T03:03:31Z",
             "modifiedDateTime": "2025-02-15T03:03:32Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "attachment": {
             "id": null,
             "key": null
            },
            "status": "active",
            "contractType": {
             "key": null,
             "name": null
            },
            "deferEstimatedTimeBasedRevenueBy": null,
            "postMemo": null,
            "contractTotalAmount": "1728",
            "billedAmount": "1728"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a contract",
    "description": "Updates an existing contract by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "update-contracts-contract-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update location and billing contact": {
         "value": {
          "location": {
           "key": "6"
          },
          "contacts": {
           "billTo": {
            "key": "2"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated contract",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated contract": {
          "value": {
           "ia::result": {
            "key": "121",
            "id": "CON-0045-1",
            "href": "/objects/contracts/contract/121"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a contract",
    "description": "Deletes a contract (if there are no related records). You can delete a contract only if there are no related records, such as contract lines, expense lines or other associated records. If related records exist, your must delete them before deleting the contract. If a related record cannot be deleted, cancel the contract instead.",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "delete-contracts-contract-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-renewal-template": {
   "get": {
    "summary": "List contract renewal templates",
    "description": "Returns a collection with a key, ID, and link for each contract renewal template. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract renewal templates"
    ],
    "operationId": "get-objects-contracts-contract-renewal-template",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of contract renewal template objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List contract renewal templates": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/contracts/contract-renewal-template/1"
            },
            {
             "key": "2",
             "id": "1",
             "href": "/objects/contracts/contract-renewal-template/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a contract renewal template",
    "description": "Creates a new contract renewal template.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract renewal templates"
    ],
    "operationId": "post-objects-contracts-contract-renewal-template",
    "requestBody": {
     "description": "Create a contract renewal template",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract-renewal-template"
         },
         {
          "$ref": "#/components/schemas/contracts-contract-renewal-templateRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a contract renewal template": {
         "value": {
          "name": "CNRenewal12Months",
          "description": "Standard 12-month contract renewal",
          "defaultTerm": {
           "length": 12,
           "period": "months"
          },
          "pricing": {
           "type": "sameAsOriginal"
          },
          "status": "active",
          "recurrenceOptions": {
           "daysBeforeAfter": 1,
           "beforeOrAfterDateOfRenewal": "before"
          },
          "renewalNotifications": {
           "customerEmail": {
            "enableNotification": false
           },
           "internalEmail": {
            "enableNotification": false
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New contract renewal template",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new contract renewal template": {
          "value": {
           "ia::result": {
            "key": "42",
            "id": "42",
            "href": "/objects/contracts/contract-renewal-template/42"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-renewal-template/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the contract renewal template.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "42"
    }
   ],
   "get": {
    "summary": "Get a contract renewal template",
    "description": "Returns detailed information for a specified contract renewal template.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract renewal templates"
    ],
    "operationId": "get-objects-contracts-contract-renewal-template-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the contract renewal template",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.contracts.contract-renewal-template"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a contract renewal template": {
          "value": {
           "ia::result": {
            "key": "42",
            "id": "42",
            "name": "CNRenewal12Months",
            "description": "Standard 12-month contract renewal",
            "defaultTerm": {
             "length": 12,
             "period": "months"
            },
            "pricing": {
             "type": "sameAsOriginal",
             "markup": "percentageMarkup",
             "markupValue": null
            },
            "recurrenceOptions": {
             "daysBeforeAfter": 1,
             "beforeOrAfterDateOfRenewal": "before"
            },
            "salesforceOpportunity": {
             "enableSalesforceOpportunity": false,
             "daysBeforeAfter": "10",
             "beforeOrAfterContractRenewal": "before",
             "renewalName": "AnnualContractRenewal",
             "inheritProductsFromParent": false,
             "stageOfOpportunity": "Proposal"
            },
            "renewalNotifications": {
             "customerEmail": {
              "enableNotification": false,
              "daysBeforeAfter": 0,
              "beforeOrAfterContractRenewal": "before",
              "emailTemplate": {
               "key": null,
               "id": null
              }
             },
             "internalEmail": {
              "enableNotification": false,
              "daysBeforeAfter": 10,
              "beforeOrAfterContractRenewal": "before",
              "emailTemplate": {
               "key": null,
               "id": null
              }
             }
            },
            "status": "active",
            "href": "/objects/contracts/contract-renewal-template/42"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a contract renewal template",
    "description": "Updates an existing contract renewal template by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract renewal templates"
    ],
    "operationId": "patch-objects-contracts-contract-renewal-template-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract-renewal-template"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a contract renewal template": {
         "value": {
          "description": "Updated 12-month contract renewal template",
          "renewalNotifications": {
           "customerEmail": {
            "enableNotification": true,
            "daysBeforeAfter": 14,
            "beforeOrAfterContractRenewal": "before"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated contract renewal template",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated contract renewal template": {
          "value": {
           "ia::result": {
            "key": "42",
            "id": "42",
            "href": "/objects/contracts/contract-renewal-template/42"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a contract renewal template",
    "description": "Deletes a contract renewal template. A template cannot be deleted if it is associated with active contracts.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract renewal templates"
    ],
    "operationId": "delete-objects-contracts-contract-renewal-template-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/contracts/contract/post": {
   "post": {
    "summary": "Post a contract",
    "description": "Posts a contract. You can save a contract as a `draft` without affecting the General Ledger (GL) or the Contracts subledger. \n\nPosting a draft contract changes the status of the contract from `draft` to `inProgress` and sets all existing draft contract lines and expense lines to `inProgress` also. It also creates journal entries in the General Ledger (GL) for the flat/fixed amounts and expense amounts.\n\nFor more information, read about [draft contracts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Draft_contracts) in the Sage Intacct Help Center.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "post-contracts-contract",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/contracts-contract-actions-post-request"
       },
       "examples": {
        "Post a contract": {
         "value": {
          "key": "895",
          "glPostingDate": "2024-01-01",
          "postMemo": "Post draft service contract for service delivery tracking and invoicing."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/contracts-contract-actions-post-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to posted contract": {
          "value": {
           "ia::result": {
            "key": "895",
            "state": "inProgress",
            "href": "/objects/contracts/contract/895"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/contracts/contract/renew": {
   "post": {
    "summary": "Renew a contract",
    "description": "Renews an existing contract. Renewable contracts that are current and active, have the `inProgress` status. On the renewal trigger date, Sage Intacct sets the state of the original (source) contract to `renewed` and creates a new child contract, which only contains contract lines that were selected for renewal. The start date of the new contract is the source contract end date plus 1 day.\n\nIf a contract completes its term without being renewed, the contract state changes from `inProgress` to `notRenewed`. You cannot make changes to a contract that is `notRenewed`, but you can continue to generate invoices and recognize revenue and expenses as applicable.\n\nFor more information, read [about contract renewals](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_contract_renewals) in the Sage Intacct Help Center.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "renew-contracts-contract",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/contracts-contract-actions-renew-request"
       },
       "examples": {
        "Renew a contract": {
         "value": {
          "key": "895"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/contracts-contract-actions-renew-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to renewed contract": {
          "value": {
           "ia::result": {
            "key": "895",
            "state": "renewed",
            "href": "/objects/contracts/contract/895"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/contracts/contract/expire": {
   "post": {
    "summary": "Expire a contract",
    "description": "Expires a contract. If a contract completes its term without being renewed, Sage Intacct changes the contract state from `inProgress` to `notRenewed`. You cannot make changes to a contract that is `notRenewed`, but you can continue to generate invoices and recognize revenue and expenses as applicable.\n\nFor more information, read about [cancelling contract schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Canceling_a_contract) in the Sage Intacct Help Center.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "expire-contracts-contract",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/contracts-contract-actions-expire-request"
       },
       "examples": {
        "Expire a contract": {
         "value": {
          "key": "895"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/contracts-contract-actions-expire-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to expired contract": {
          "value": {
           "ia::result": {
            "key": "895",
            "state": "notRenewed",
            "href": "/objects/contracts/contract/895"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/contracts/contract/cancel": {
   "post": {
    "summary": "Cancel a contract",
    "description": "Cancels a contract. This action changes the contract state to `canceled` and unwinds all system-created journal entries related to the contract.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "cancel-contracts-contract",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/contracts-contract-actions-cancel-request"
       },
       "examples": {
        "Cancel contract": {
         "value": {
          "key": "1026",
          "cancelDate": "2025-06-09",
          "cancelLines": [
           {
            "contractLineNo": 1,
            "createAdjustments": false,
            "includeUsage": false,
            "cancelExpenseSchedule": true,
            "autoGeneratePercentComplete": false
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/contracts-contract-actions-cancel-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to canceled contract": {
          "value": {
           "ia::result": {
            "key": "518",
            "state": "canceled",
            "href": "/objects/contracts/contract/518"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/contracts/contract/uncancel": {
   "post": {
    "summary": "Uncancel a contract",
    "description": "Uncancels a contract. When you uncancel a contract, Sage Intacct changes the contract state from `canceled` to `inProgress` and reverts all of the system-created journal entries that resulted from the cancellation.\n\nFor more information, read about [the uncancel process](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Uncancel_a_contract) in the Sage Intacct Help Center.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "uncancel-contracts-contract",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/contracts-contract-actions-uncancel-request"
       },
       "examples": {
        "Uncancel a contract": {
         "value": {
          "key": "895"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/contracts-contract-actions-uncancel-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to uncanceled contract": {
          "value": {
           "ia::result": {
            "key": "895",
            "state": "inProgress",
            "href": "/objects/contracts/contract/895"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/contracts/contract/hold-schedules": {
   "post": {
    "summary": "Hold contract schedules",
    "description": "Placing a contract schedule on hold temporarily pauses the revenue, billing, or expense schedule. This action sets the status of the contract schedule and its entries to `onHold`. The contract status remains `inProgress` when a contract schedule is placed on hold.\n\nFor more information, read about [holding contract schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Hold_resume_contract_schedules) in the Sage Intacct Help Center.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "hold-schedules-contracts-contract",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/contracts-contract-actions-hold-schedules-request"
       },
       "examples": {
        "Place contract schedules on hold": {
         "value": {
          "key": "895",
          "contractLineKeys": "1539,1540",
          "asOfDate": "2024-01-01",
          "memo": "Hold billing and revenue schedule for Logic Solutions.",
          "holdBilling": true,
          "holdRevenue": true,
          "holdExpense": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/contracts-contract-actions-hold-schedules-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated contract": {
          "value": {
           "ia::result": {
            "key": "895",
            "state": "inProgress",
            "href": "/objects/contracts/contract/895"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/contracts/contract/resume-schedules": {
   "post": {
    "summary": "Resume contract schedules",
    "description": "Resumes a contract schedule. This releases the hold on a contract schedule and is effective as of the the resume date. This action sets the status of the contract schedule and its entries back to `inProgress` and allows the open periods to be available for posting or invoicing. The contract status remains `inProgress` when a contract schedule is resumed.\n\nFor more information, read about [resuming contract schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Hold_resume_contract_schedules) in the Sage Intacct Help Center.\n",
    "tags": [
     "Contracts_and_Revenue_Management_Contracts"
    ],
    "operationId": "resume-schedules-contracts-contract",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/contracts-contract-actions-resume-schedules-request"
       },
       "examples": {
        "Resume contract schedules": {
         "value": {
          "key": "895",
          "contractLineKeys": "1539,1540",
          "asOfDate": "2024-01-01",
          "memo": "Resumed billing and revenue schedule for Logic Solutions.",
          "resumeBilling": true,
          "resumeRevenue": true,
          "resumeExpense": false,
          "revenueAdjustmentType": "oneTime"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/contracts-contract-actions-resume-schedules-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated contract": {
          "value": {
           "ia::result": {
            "key": "895",
            "state": "inProgress",
            "href": "/objects/contracts/contract/895"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-line": {
   "get": {
    "summary": "List contract lines",
    "description": "Returns a collection with a key, ID, and link for each contract line. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract lines"
    ],
    "operationId": "list-contracts-contract-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of contract lines",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List contract lines": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/contracts/contract-line/1"
            },
            {
             "key": "2",
             "id": "2",
             "href": "/objects/contracts/contract-line/2"
            },
            {
             "key": "3",
             "id": "3",
             "href": "/objects/contracts/contract-line/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a contract line",
    "description": "Creates a new contract line.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract lines"
    ],
    "operationId": "create-contracts-contract-line",
    "requestBody": {
     "description": "Create a contract line.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.contracts.contract-line"
         },
         {
          "$ref": "#/components/schemas/contracts-contract-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a contract line": {
         "value": {
          "contract": {
           "key": "2001"
          },
          "item": {
           "key": "221"
          },
          "dimensions": {
           "location": {
            "key": "1"
           }
          },
          "startDate": "2025-02-01",
          "endDate": "2025-11-30",
          "billing": {
           "quantity": "12",
           "rate": "12",
           "multiplier": "1",
           "discount": "0",
           "method": "fixedPrice",
           "amountFrequency": "includeWithEveryInvoice",
           "frequency": "monthly",
           "flatFixedAmount": "144",
           "baseFlatFixedAmount": "144"
          },
          "changeType": "newMRR",
          "revenue": {
           "journal1": {
            "revenueTemplate": {
             "key": "3"
            }
           }
          },
          "postingDate": "2025-01-01",
          "historical": {
           "isHistorical": true,
           "billedAmount": "105",
           "recognizedAmount": "106",
           "asOfDate": "2025-02-01",
           "offsetGLAccount": {
            "id": "1000"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to new contract line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new contract line": {
          "value": {
           "ia::result": {
            "id": "2438",
            "key": "2438",
            "href": "/objects/contracts/contract-line/2438"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/contracts/contract-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the contract line.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "134"
    }
   ],
   "get": {
    "summary": "Get a contract line",
    "description": "Returns detailed information for a specified contract line.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract lines"
    ],
    "operationId": "get-contracts-contract-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a contract line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.contracts.contract-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a contract line": {
          "value": {
           "ia::result": {
            "id": "2438",
            "key": "2438",
            "webURL": "https://app.intacct.com/objects/contracts/contract-line/2438",
            "contract": {
             "key": "2001",
             "id": "ProjectTime_Completed_Flows34_45_4",
             "state": "inProgress",
             "name": "ProjectTime_Completed_Flows",
             "href": "/objects/contracts/contract/2001"
            },
            "parent": {
             "id": null,
             "key": null,
             "lineNumber": null
            },
            "state": "inProgress",
            "lineNumber": "1",
            "recurringBillingPeriod": 2,
            "startDate": "2025-02-01",
            "endDate": "2025-11-30",
            "cancelationDate": null,
            "item": {
             "key": "221",
             "id": "CONT-CUSTSUPP24/7",
             "name": "Customer Support Team 24/7",
             "href": "/objects/inventory-control/item/221"
            },
            "itemDescription": "Premium Support Package - with a dedicated Account Manager.",
            "revenueDeferralStatus": "deferRevenueUntilItemIsDelivered",
            "billing": {
             "quantity": "12",
             "rate": "12",
             "multiplier": "1",
             "discount": "0",
             "template": {
              "key": null,
              "id": null,
              "method": ""
             },
             "schedule": {
              "id": "11992",
              "key": "11992",
              "status": "inProgress",
              "href": "/objects/contracts/billing-schedule/11992"
             },
             "startDate": "2025-02-01",
             "endDate": "2025-11-30",
             "method": "fixedPrice",
             "amountFrequency": "includeWithEveryInvoice",
             "frequency": "monthly",
             "flatFixedAmount": "144",
             "baseFlatFixedAmount": "144",
             "totalFlatFixedAmount": "1440",
             "totalBaseFlatFixedAmount": "1440",
             "usageQuantityReset": null,
             "isUsageQuantityRecurring": false,
             "holdDate": null,
             "resumeDate": null,
             "memo": null,
             "durationInPeriods": "10",
             "proratePartialPeriods": false,
             "quantityType": null,
             "committedQuantityEndAction": null,
             "committedQuantityExcess": null
            },
            "currency": {
             "exchangeRateDate": null,
             "exchangeRate": "1.000000000000"
            },
            "contacts": {
             "billTo": {
              "key": "157",
              "id": "Kaba Circuit Co(CMR12)",
              "href": "/objects/company-config/contact/157"
             },
             "shipTo": {
              "key": "157",
              "id": "Kaba Circuit Co(CMR12)",
              "href": "/objects/company-config/contact/157"
             }
            },
            "billToSource": "contractValue",
            "shipToSource": "contractValue",
            "renewal": {
             "renew": false,
             "billingTemplate": {
              "key": null,
              "id": null
             }
            },
            "isRecurring": false,
            "lineType": "sale",
            "revenue": {
             "journal1": {
              "revenueTemplate": {
               "key": "3",
               "id": "STRAIGHTLINE_MANUAL",
               "recognitionMethod": "straightLine",
               "href": "/objects/contracts/revenue-template/3"
              },
              "startDate": "2025-02-01",
              "endDate": "2025-11-30",
              "revenueSchedule": {
               "id": "11994",
               "key": "11994",
               "status": "inProgress",
               "href": "/objects/contracts/revenue-schedule/11994"
              },
              "glJournal": {
               "key": "47",
               "id": "LEGACYREVREC",
               "name": "Legacy Revenue Recognition Journal",
               "href": "/objects/general-ledger/journal/47"
              }
             },
             "journal2": {
              "revenueTemplate": {
               "key": null,
               "id": null,
               "recognitionMethod": null
              },
              "startDate": null,
              "endDate": null,
              "revenueSchedule": {
               "id": null,
               "key": null,
               "status": null
              },
              "glJournal": {
               "key": "49",
               "id": "ASC606REVREC",
               "name": "ASC 606 Revenue Recognition Journal",
               "href": "/objects/general-ledger/journal/49"
              }
             },
             "totalQuantity": null,
             "holdDate": null,
             "resumeDate": null,
             "memo": null
            },
            "dimensions": {
             "location": {
              "key": "1",
              "id": "1",
              "name": "United States of America",
              "href": "/objects/company-config/location/1"
             },
             "department": {
              "key": null,
              "id": null,
              "name": null
             },
             "task": {
              "key": null,
              "name": null,
              "id": null
             },
             "customer": {
              "key": "6",
              "id": "MR12",
              "name": "Kaba Circuit Co",
              "href": "/objects/accounts-receivable/customer/6"
             },
             "vendor": {
              "key": null,
              "id": null,
              "name": null
             },
             "employee": {
              "key": null,
              "id": null,
              "name": null
             },
             "project": {
              "key": null,
              "id": null,
              "name": null
             },
             "class": {
              "key": null,
              "id": null,
              "name": null
             }
            },
            "audit": {
             "createdDateTime": "2025-08-28T17:01:22Z",
             "modifiedDateTime": "2025-08-28T17:01:23Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "changeType": null,
            "priceCalculationMemo": null,
            "deliveryStatus": "delivered",
            "deliveryDate": "2025-02-01",
            "postingDate": "2025-01-01",
            "expense": {
             "holdDate": null,
             "resumeDate": null,
             "memo": null
            },
            "memo": null,
            "renewalTriggerDate": null,
            "lineRenewalDate": null,
            "historical": {
             "isHistorical": true,
             "billedAmount": "101",
             "recognizedAmount": "102",
             "asOfDate": "2025-02-01",
             "offsetGLAccount": {
              "key": "9",
              "id": "1000",
              "name": "Bank of America A/c.",
              "href": "/objects/general-ledger/account/9"
             }
            },
            "customRenewalAmounts": [
             {
              "key": "45",
              "renewalNumber": 1,
              "overrideAmount": "10000"
             },
             {
              "key": "48",
              "renewalNumber": 2,
              "overrideAmount": "900.98"
             }
            ],
            "href": "/objects/contracts/contract-line/2438"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a contract line",
    "description": "Updates an existing contract line by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Contracts_and_Revenue_Management_Contract lines"
    ],
    "operationId": "update-contracts-contract-line-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.contracts.contract-line"
       },
       "examples": {
        "Update a contract line": {
         "value": {
          "item": {
           "key": "221"
          },
          "dimensions": {
           "location": {
            "key": "1"
[...]
