{
 "openapi": "3.0.3",
 "info": {
  "title": "Expenses",
  "version": "1",
  "description": "Employees create and submit expense reports, consisting of individual line items, to receive reimbursement for approved out-of-pocket costs related to their jobs."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Expenses_Employee expenses",
   "x-displayName": "Employee expenses",
   "description": "Expense report header for employee expense lines. Employees create and submit expense reports, consisting of individual line items, to receive reimbursement for approved out-of-pocket costs related to their jobs. \n\nThe employees' managers must then approve the expenses. After approval, the expense reports become reimbursement request candidates for the accounting department to process into pending reimbursements, from which checks are printed.\n"
  },
  {
   "name": "Expenses_Employee expense lines",
   "x-displayName": "Employee expense lines",
   "description": "Details for each expense line on the employee expense report. Employees create and submit expense reports, consisting of individual line items, to receive reimbursement for approved out-of-pocket costs related to their jobs."
  },
  {
   "name": "Expenses_Employee expense summaries",
   "x-displayName": "Employee expense summaries",
   "description": "Expense summaries are collections of the same type of transactions, grouped together for processing. Expense summaries are referenced by [employee expense](expenses.employee-expense) objects. For more information, see [Add, edit, or delete expense summaries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_Expense_Batch_Information) in the Sage Intacct Help Center."
  },
  {
   "name": "Expenses_Employee expense types",
   "x-displayName": "Employee expense types",
   "description": "Expense types give recognizable names to GL accounts and are applied to line items in expense reports or expense adjustments. Expense types also act to restrict employee access to GL accounts to those defined in the expense types. \n\nExpense types can be created for expenses such as Mileage, Relocation, Entertainment, and so on. Expense types are the same for all users company wide. Any GL account can be assigned one or more expense types. A specific offsetting account can be assigned to an expense type as well. If no offsetting account is assigned, the default GL Account for Employee Liabilities is used. For more information, see [Expense types](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_expense_types) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Expenses_Employee expense payment types",
   "x-displayName": "Employee expense payment types",
   "description": "Employee expense payment types track how expenses are paid. Expense payment types can be created for both non-reimbursable and reimbursable expenses. The most common use case is to create expense payment types for company credit cards or checks for non-reimbursable expenses. \n\nExpense payment types are applied to the line items in an employee expense report or an expense adjustment. \n"
  },
  {
   "name": "Expenses_Employee expense adjustments",
   "x-displayName": "Employee expense adjustments",
   "description": "Expense adjustments provide a way to correct the balance for an employee who is overpaid or underpaid for an expense."
  },
  {
   "name": "Expenses_Employee expense adjustment lines",
   "x-displayName": "Employee expense adjustment lines",
   "description": "Expense adjustment lines are individual entries in an employee expense adjustment that represent debits or credits payable to an employee."
  },
  {
   "name": "Expenses_Employee expense approval records",
   "x-displayName": "Employee expense approval records",
   "description": "An employee expense approval record captures a single approval action taken on an employee expense or expense line, recording the approver, approval stage, and outcome.\n\n**When to use:** Use this endpoint to retrieve the approval history for employee expenses, audit approval decisions, or track the current state of expenses moving through an approval workflow.\n\n**Relationships:** Linked to an employee expense and optionally to an employee expense line. References the user who approved or declined the expense, the designated approver, and the user who submitted the expense for approval.\n\n**Lifecycle context:** Created when an employee expense enters the approval workflow. Each record represents one action in a potentially multi-stage approval process, from submission through final approval or decline."
  },
  {
   "name": "Expenses_Unit rates",
   "x-displayName": "Unit rates",
   "description": "When an employee enters a quantity for reimbursement, it's multiplied by the unit rate to\nproduce the reimbursement amount. An employee start date determines when the unit rate takes\neffect. \n\nThe rate applies only to the expense line items that have an expense date on or after the start date. See [Field description, Create expense reports](https://www.intacct.com/ia/docs/en_US/help_action/Time_and_Expenses/Employee_expenses/fbf-create-expense-reports.htm) in the Sage Intacct Help Center for more information. \n"
  },
  {
   "name": "Expenses_Electronic receipts",
   "x-displayName": "Electronic receipts",
   "description": "An electronic receipt is a digital version of a receipt that can be used for employee expense reports. Electronic receipts help to streamline the expense reporting process by allowing employees to easily upload and manage receipts."
  },
  {
   "name": "Expenses_Electronic receipt lines",
   "x-displayName": "Electronic receipt lines",
   "description": "Details for an electronic receipt line on an electronic receipt, including individual expenses and their attributes."
  },
  {
   "name": "Expenses_Expenses to approve",
   "x-displayName": "Expenses to approve",
   "description": "An employee creates and submits an expense report, which is routed to the employee's manager for approval. In some cases, approvals are required from multiple users.\n\nAfter approval, an expense report becomes a reimbursement request, which is processed by accounting.\n"
  },
  {
   "name": "Expenses_Expense lines to approve",
   "x-displayName": "Expense lines to approve",
   "description": "An employee creates and submits an expense report, which is routed to the employee's manager for approval. The individual line items on the expense report can be approved or declined for reimbursement."
  }
 ],
 "paths": {
  "/objects/expenses/employee-expense": {
   "get": {
    "summary": "List employee expenses",
    "description": "Returns up to 100 employee expense objects from the collection with a key, ID, and link for each expense. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find expense objects that meet certain criteria and to specify the properties that are returned.\n",
    "tags": [
     "Expenses_Employee expenses"
    ],
    "operationId": "list-expenses-employee-expense",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of employee expense objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employee expenses": {
          "value": {
           "ia::result": [
            {
             "key": "84",
             "id": "EXP-00001",
             "href": "/objects/expenses/employee-expense/84"
            },
            {
             "key": "85",
             "id": "EXP-00002",
             "href": "/objects/expenses/employee-expense/85"
            },
            {
             "key": "60",
             "id": "EXP-00003",
             "href": "/objects/expenses/employee-expense/60"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 3,
            "totalError": 0,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee expense",
    "description": "Creates a new employee expense. You must specify a unique employee expense ID when creating an employee expense unless document sequencing is configured, in which case the ID is auto-generated.",
    "tags": [
     "Expenses_Employee expenses"
    ],
    "operationId": "create-expenses-employee-expense",
    "requestBody": {
     "description": "Creates an employee expense. Allowed values for the `state` field are `draft`, `submitted`.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense"
         },
         {
          "$ref": "#/components/schemas/expenses-employee-expenseRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an employee expense": {
         "value": {
          "state": "submitted",
          "expenseReportNumber": "EXP-00001",
          "employee": {
           "id": "10"
          },
          "createdDate": "2021-03-11",
          "expenseSummary": {
           "postingDate": "2021-01-31",
           "title": "Expenses - Q1 batch"
          },
          "basePaymentInformation": {
           "baseCurrency": "USD"
          },
          "reimbursementInformation": {
           "reimbursementCurrency": "EUR"
          },
          "description": "Travel expense",
          "memo": "Paid to employee",
          "lines": [
           {
            "account": null,
            "id": "6775.30",
            "paidTo": "paid To",
            "paidFor": "paid For",
            "isBillable": false,
            "form1099": {
             "isForm1099": "true",
             "type": "MISC",
             "box": "3"
            },
            "paymentType": {
             "key": "1",
             "name": "Non-reimburse",
             "isNonreimbursable": false
            },
            "quantity": "10",
            "unitrate": "20",
            "txnCurrency": "INR",
            "txnAmount": "100",
            "transactionToReimburseConversion": {
             "exchangeRateDate": "2021-03-11",
             "exchangeRateTypeId": "Intacct Daily Rate"
            },
            "dimensions": {
             "location": {
              "id": "1"
             },
             "department": {
              "id": "12"
             },
             "class": {
              "id": "REST_CLS_001"
             },
             "item": {
              "id": "Case 13"
             },
             "employee": {
              "id": "10"
             },
             "vendor": {
              "id": "1605212096809"
             },
             "customer": {
              "id": "113"
             },
             "project": {
              "id": "NET-XML30-2"
             },
             "warehouse": {
              "id": "WH01"
             },
             "task": {
              "id": "tet"
             }
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New employee expense",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee expense": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense/124"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the employee-expense.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an employee expense",
    "description": "Returns detailed information for a specified employee expense.",
    "tags": [
     "Expenses_Employee expenses"
    ],
    "operationId": "get-expenses-employee-expense-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the employee expense",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.expenses.employee-expense"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an employee expense": {
          "value": {
           "ia::result": {
            "expenseReportNumber": "ER-0152",
            "employee": {
             "id": "10",
             "key": "10",
             "href": "/objects/company-config/employee/10"
            },
            "employeeContact": {
             "key": "977",
             "id": "Thomas Glenn",
             "firstName": "Thomas",
             "lastName": "Glenn",
             "href": "/objects/company-config/contact/977"
            },
            "key": "124",
            "id": "124",
            "createdDate": "2021-03-11",
            "expenseSummary": {
             "postingDate": "2021-01-31",
             "title": "Expenses - Q1 batch",
             "key": "3",
             "id": "3",
             "state": "open",
             "preventGLPosting": false,
             "href": "/objects/expenses/employee-expense-summary/3"
            },
            "basePaymentInformation": {
             "totalEntered": "1.38",
             "totalPaid": "0",
             "totalSelected": "0",
             "totalDue": "1.38",
             "baseCurrency": "USD"
            },
            "state": "approved",
            "reimbursementInformation": {
             "totalEntered": "1.16",
             "totalSelected": "0",
             "totalPaid": "0",
             "totalDue": "1.16",
             "reimbursementCurrency": "EUR"
            },
            "description": "Supplies for customer training",
            "nonReimbursable": {
             "baseTotalEntered": "0",
             "reimbursementTotalEntered": "0"
            },
            "lines": [
             {
              "key": "288",
              "id": "288",
              "employee-expense": {
               "id": "124",
               "key": "124",
               "href": "/objects/expenses/employee-expense/124"
              },
              "quantity": "0",
              "glAccount": {
               "key": "158",
               "id": "6775.30",
               "name": "Travel",
               "href": "/objects/account/158"
              },
              "entryDate": "2021-03-11",
              "paidTo": "paid To",
              "paidFor": "paid For",
              "baseAmount": "1.38",
              "reimburseToBase": {
               "exchangeRateDate": "2021-03-11",
               "exchangeRateTypeId": "-1",
               "exchangeRate": "1.1899"
              },
              "expenseType": {
               "key": "Meals",
               "id": "6000"
              },
              "reimbursementInformation": {
               "reimbursementAmount": "1.16",
               "totalSelected": "0",
               "totalPaid": "0"
              },
              "isBillable": false,
              "isBilled": false,
              "state": "approved",
              "form1099": {
               "isForm1099": "true",
               "type": "MISC",
               "box": "3"
              },
              "paymentType": {
               "isNonreimbursable": false
              },
              "unitrate": "10",
              "lineNumber": 1,
              "currency": {
               "txnCurrency": "INR",
               "txnAmount": "100",
               "exchangeRateDate": "2021-03-11",
               "exchangeRateTypeId": "Intacct Daily Rate",
               "exchangeRate": "1"
              },
              "attachment": {
               "key": "1",
               "id": "1"
              },
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "name": "USA",
                "href": "/objects/company-config/location/1"
               },
               "department": {
                "key": "12",
                "id": "12",
                "name": "IT",
                "href": "/objects/company-config/department/12"
               },
               "class": {
                "key": "731",
                "id": "REST_CLS_001",
                "name": "Education",
                "href": "/objects/company-config/class/731"
               },
               "item": {
                "key": "13",
                "id": "13",
                "name": "Support",
                "href": "/objects/inventory-control/item/13"
               },
               "employee": {
                "key": "10",
                "id": "10",
                "href": "/objects/company-config/employee/10"
               },
               "vendor": {
                "key": "357",
                "id": "1605212096809",
                "name": "Boston Properties",
                "href": "/objects/accounts-payable/vendor/357"
               },
               "customer": {
                "key": "13",
                "id": "113",
                "name": "Jack In the Box",
                "href": "/objects/accounts-receivable/customer/13"
               },
               "project": {
                "key": "2",
                "id": "NET-XML30-2",
                "name": "Binford Implementation",
                "href": "/objects/projects/project/2"
               },
               "task": {
                "key": "2",
                "id": "tet",
                "name": "Implementation services",
                "href": "/objects/projects/task/2"
               },
               "warehouse": {
                "key": "6",
                "id": "WH01",
                "name": "WH01 Name",
                "href": "/objects/inventory-control/warehouse/6"
               }
              },
              "href": "/objects/expenses/employee-expense-line/288"
             }
            ],
            "memo": "Covered by customer",
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "href": "/objects/expenses/employee-expense/124"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee expense",
    "description": "Updates an existing employee expense by setting field values. Any fields not provided remain unchanged. Allowed values for the `state` field are `draft`, and `submitted`.",
    "tags": [
     "Expenses_Employee expenses"
    ],
    "operationId": "update-expenses-employee-expense-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense"
         },
         {
          "type": "object",
          "properties": {
           "reimbursement": {
            "properties": {
             "reimbursementCurrency": {
              "readOnly": true
             }
            }
           }
          }
         }
        ]
       },
       "examples": {
        "Updates an employee expense": {
         "value": {
          "memo": "Covered by customer"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated employee expense",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated employee expense": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense/124"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee expense",
    "description": "Deletes an employee expense.",
    "tags": [
     "Expenses_Employee expenses"
    ],
    "operationId": "delete-expenses-employee-expense-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/expenses/employee-expense/reverse": {
   "post": {
    "summary": "Reverse an employee expense",
    "description": "Reverses an employee expense that has a state of `posted`, `paid`, `partiallyPaid`, `approved`, or `selected`. When reversed, the employee expense transitions to `reversed`. Reversing an employee expense instead of deleting it creates a record for audit trail purposes.",
    "tags": [
     "Expenses_Employee expenses"
    ],
    "operationId": "reverse-expenses-employee-expense",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/expenses-employee-expense-actions-reverse-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "132",
          "reverseDate": "2026-03-03",
          "notes": "Reversed for reposting."
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/expenses-employee-expense-actions-reverse-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "132",
            "id": "132",
            "href": "/objects/expenses/employee-expense/132",
            "state": "reversed"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/expenses/employee-expense/recall": {
   "post": {
    "summary": "Recall an employee expense",
    "description": "Recalls an employee expense that has a state of `submitted`. When recalled, the employee expense transitions to `draft` so that it can be edited and resubmitted for approval.",
    "tags": [
     "Expenses_Employee expenses"
    ],
    "operationId": "recall-expenses-employee-expense",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/expenses-employee-expense-actions-recall-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "132"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/expenses-employee-expense-actions-recall-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "132",
            "id": "132",
            "href": "/objects/expenses/employee-expense/132",
            "state": "draft"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-line": {
   "get": {
    "summary": "List employee expense lines",
    "description": "Returns a collection with a key, ID, and link for each employee expense line.",
    "tags": [
     "Expenses_Employee expense lines"
    ],
    "operationId": "list-expenses-employee-expense-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "List of employee expense line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employee expense lines": {
          "value": {
           "ia::result": [
            {
             "key": "100",
             "id": "100",
             "href": "/objects/expenses/employee-expense-line/100"
            },
            {
             "key": "101",
             "id": "101",
             "href": "/objects/expenses/employee-expense-line/101"
            },
            {
             "key": "102",
             "id": "102",
             "href": "/objects/expenses/employee-expense-line/102"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee expense line",
    "description": "Creates a new employee expense line.",
    "tags": [
     "Expenses_Employee expense lines"
    ],
    "operationId": "create-expenses-employee-expense-line",
    "requestBody": {
     "description": "Creates an employee expense line",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-line"
         },
         {
          "$ref": "#/components/schemas/expenses-employee-expense-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an employee expense line": {
         "value": {
          "account": {
           "id": "6775.3"
          },
          "paidTo": "Stella Johnson",
          "paidFor": "Hotel stay",
          "isBillable": false,
          "form1099": {
           "isForm1099": "true",
           "type": "MISC",
           "box": "3"
          },
          "paymentType": {
           "key": "1",
           "id": "Non-reimburse",
           "isNonreimbursable": false
          },
          "quantity": "10",
          "unitrate": "20",
          "txnCurrency": "INR",
          "txnAmount": "100",
          "transactionToReimburseConversion": {
           "exchangeRateDate": "2021-03-11",
           "exchangeRateType": {
            "id": "Intacct Daily Rate"
           },
           "creditCardTxnLine": {
            "key": "128"
           }
          },
          "dimensions": {
           "location": {
            "id": "1"
           },
           "department": {
            "id": "12"
           },
           "class": {
            "id": "REST_CLS_001"
           },
           "item": {
            "id": "Case 13"
           },
           "employee": {
            "id": "10"
           },
           "vendor": {
            "id": "1605212096809"
           },
           "customer": {
            "id": "113"
           },
           "project": {
            "id": "NET-XML30-2"
           },
           "warehouse": {
            "id": "WH01"
           },
           "task": {
            "id": "tet"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New employee expense line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee expense line": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense-line/124"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the employee expense line.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an employee expense line",
    "description": "Returns detailed information for a specified employee expense line.",
    "tags": [
     "Expenses_Employee expense lines"
    ],
    "operationId": "get-expenses-employee-expense-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Details of the employee expense line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.expenses.employee-expense-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an employee expense line": {
          "value": {
           "ia::result": {
            "key": "312",
            "id": "312",
            "employeeExpense": {
             "id": "136",
             "key": "136",
             "href": "/objects/expenses/employee-expense/136"
            },
            "glAccount": {
             "key": "158",
             "id": "6775.30",
             "name": "Travel",
             "href": "/objects/account/158"
            },
            "entryDate": "2021-03-11",
            "paidTo": "Stella Johnson",
            "paidFor": "Hotel stay",
            "reimburseToBase": {
             "baseAmount": "1.38",
             "exchangeRateDate": "2021-03-11",
             "exchangeRateTypeId": "-1",
             "exchangeRate": "1.1899"
            },
            "dimensions": {
             "location": {
              "key": "1",
              "id": "1",
              "name": "USA",
              "href": "/objects/company-config/location/1"
             },
             "department": {
              "key": "12",
              "id": "12",
              "name": "IT",
              "href": "/objects/company-config/department/12"
             },
             "class": {
              "key": "731",
              "id": "REST_CLS_001",
              "name": "Enterprises",
              "href": "/objects/company-config/class/731"
             },
             "item": {
              "key": "13",
              "id": "Case 13",
              "name": "Platform pack",
              "href": "/objects/inventory-control/item/13"
             },
             "employee": {
              "key": "10",
              "id": "10",
              "name": "Thomas, Glenn",
              "href": "/objects/company-config/employee/10"
             },
             "vendor": {
              "key": "357",
              "id": "1605212096809",
              "name": "GenLab",
              "href": "/objects/accounts-payable/vendor/357"
             },
             "customer": {
              "key": "13",
              "id": "113",
              "name": "Jack In the Box",
              "href": "/objects/accounts-receivable/customer/13"
             },
             "project": {
              "key": "2",
              "id": "NET-XML30-2",
              "name": "Talcomp training",
              "href": "/objects/projects/project/2"
             },
             "task": {
              "key": "2",
              "id": "tet",
              "name": "Design",
              "href": "/objects/projects/task/2"
             },
             "warehouse": {
              "key": "6",
              "id": "WH01",
              "name": "WH01",
              "href": "/objects/inventory-control/warehouse/6"
             }
            },
            "lineNumber": 1,
            "expenseType": {
             "key": "Meals",
             "id": "6000"
            },
            "reimbursement": {
             "reimbursementAmount": "1.16",
             "totalSelected": "0",
             "totalPaid": "0"
            },
            "isBillable": false,
            "isBilled": false,
            "state": "approved",
            "form1099": {
             "isForm1099": "true",
             "type": "MISC",
             "box": "3"
            },
            "paymentType": {
             "key": "1",
             "id": "Non-reimburse",
             "isNonreimbursable": false
            },
            "quantity": "5",
            "unitRate": "20",
            "currency": {
             "txnCurrency": "INR",
             "txnAmount": "4444",
             "exchangeRateDate": "2021-03-11",
             "exchangeRateTypeId": "-1",
             "exchangeRate": "65",
             "userExchangeRate": "5"
            },
            "creditCardTxnLine": {
             "id": "128",
             "key": "128",
             "href": "/objects/cash-management/credit-card-txn-line/128"
            },
            "creditCardTxn": {
             "id": "124",
             "key": "124",
             "href": "/objects/cash-management/credit-card-txn/128"
            },
            "href": "/objects/expenses/employee-expense-line/312"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee expense line",
    "description": "Updates an existing employee expense line by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Expenses_Employee expense lines"
    ],
    "operationId": "update-expenses-employee-expense-line-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.expenses.employee-expense-line"
       },
       "examples": {
        "Update an employee expense line": {
         "value": {
          "paidTo": "Travel expense"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Updated employee expense line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated employee expense line": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense-line/124"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee expense line",
    "description": "Deletes an employee expense line.",
    "tags": [
     "Expenses_Employee expense lines"
    ],
    "operationId": "delete-expenses-employee-expense-line-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-summary": {
   "get": {
    "summary": "List employee expense summaries",
    "description": "Returns a collection with a key, ID, and link for each expense summary. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Expenses_Employee expense summaries"
    ],
    "operationId": "list-expenses-employee-expense-summary",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "List of employee expense summary objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employee expense summaries": {
          "value": {
           "ia::result": [
            {
             "key": "13",
             "id": "13",
             "href": "/objects/expenses/employee-expense-summary/13"
            },
            {
             "key": "15",
             "id": "15",
             "href": "/objects/expenses/employee-expense-summary/15"
            },
            {
             "key": "16",
             "id": "16",
             "href": "/objects/expenses/employee-expense-summary/16"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 3,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee expense summary",
    "description": "Creates a new employee expense summary.",
    "tags": [
     "Expenses_Employee expense summaries"
    ],
    "operationId": "create-expenses-employee-expense-summary",
    "requestBody": {
     "description": "Employee expense summary to create",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-summary"
         },
         {
          "$ref": "#/components/schemas/expenses-employeeExpenseSummaryRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an employee expense summary": {
         "value": {
          "name": "Expenses (USD) Q1 Batch",
          "title": "Expenses (USD) Q1 Batch",
          "postingDate": "2021-01-23",
          "totalAmount": "100",
          "recordType": "expense",
          "status": "active"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "New employee expense summary",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee expense summary": {
          "value": {
           "ia::result": {
            "key": "10",
            "id": "10",
            "href": "/objects/expenses/employee-expense-summary/10"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-summary/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the employee expense summary.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an employee expense summary",
    "description": "Returns detailed information for a specified employee expense summary.",
    "tags": [
     "Expenses_Employee expense summaries"
    ],
    "operationId": "get-expenses-employee-expense-summary-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Details of the employee expense summary",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.expenses.employee-expense-summary"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an employee expense summary": {
          "value": {
           "ia::result": {
            "key": "18",
            "id": "18",
            "title": "Expense reports for week 03",
            "postingDate": "2023-01-20",
            "totalAmount": "100",
            "state": "open",
            "recordType": "expense",
            "summaryCreationType": "manual",
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "bankAccount": {
             "key": "1",
             "id": "BOA",
             "href": "/objects/cash-management/bank-account/1"
            },
            "preventGLPosting": false,
            "href": "/objects/expenses/employee-expense-summary/18"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee expense summary",
    "description": "Updates an existing employee expense summary by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Expenses_Employee expense summaries"
    ],
    "operationId": "update-expenses-employee-expense-summary-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.expenses.employee-expense-summary"
       },
       "examples": {
        "Update an employee expense summary": {
         "value": {
          "name": "Expense report for January"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Updated employee expense summary",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated employee expense summary": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense-summary/124"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee expense summary",
    "description": "Deletes an employee expense summary.",
    "tags": [
     "Expenses_Employee expense summaries"
    ],
    "operationId": "delete-expenses-employee-expense-summary-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-type": {
   "get": {
    "summary": "List employee expense types",
    "description": "Returns a collection with a key, ID, and link for each employee expense type. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Expenses_Employee expense types"
    ],
    "operationId": "list-expenses-employee-expense-type",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "List of employee expense type objects.",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employee expense types": {
          "value": {
           "ia::result": [
            {
             "key": "46",
             "id": "Travel",
             "href": "/objects/expenses/employee-expense-type/46"
            },
            {
             "key": "44",
             "id": "Transportation",
             "href": "/objects/expenses/employee-expense-type/44"
            },
            {
             "key": "40",
             "id": "Compensation",
             "href": "/objects/expenses/employee-expense-type/40"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee expense type",
    "description": "Creates a new employee expense type.",
    "tags": [
     "Expenses_Employee expense types"
    ],
    "operationId": "create-expenses-employee-expense-type",
    "requestBody": {
     "description": "Creates an employee expense type.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-type"
         },
         {
          "$ref": "#/components/schemas/expenses-employee-expense-typeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an employee expense type": {
         "value": {
          "id": "Travel",
          "status": "active",
          "description": "Travel fare",
          "unitCurrency": "USD",
          "glAccount": {
           "id": "Travel expenses"
          },
          "unitRates": [
           {
            "rate": "200",
            "startDate": "2021-01-23"
           },
           {
            "rate": "100",
            "startDate": "2021-03-23"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "New employee expense type.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee expense type": {
          "value": {
           "ia::result": {
            "key": "10",
            "id": "Travel",
            "href": "/objects/expenses/employee-expense-type/10"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-type/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the employee expense type.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an employee expense type",
    "description": "Returns detailed information for a specified employee expense type.",
    "tags": [
     "Expenses_Employee expense types"
    ],
    "operationId": "get-expenses-employee-expense-type-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Details of the employee expense type.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.expenses.employee-expense-type"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an employee expense type": {
          "value": {
           "ia::result": {
            "key": "63",
            "audit": {
             "createdDateTime": "2023-12-21T08:40:05Z",
             "modifiedDateTime": "2023-12-21T08:47:08Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "id": "Travel",
            "description": "Travel fare",
            "glAccount": {
             "key": "5500",
             "id": "Travel expenses",
             "name": "Automobile expenses",
             "href": "/objects/general-ledger/account/5500"
            },
            "status": "active",
            "offsetGLAccount": {
             "key": "6000",
             "id": "Offset travel expenses",
             "name": "Offset automobile expenses",
             "href": "/objects/general-ledger/account/6000"
            },
            "item": {
             "key": "311",
             "id": "10",
             "name": "Laptop",
             "href": "/objects/inventory-control/item/311"
            },
            "form1099": {
             "type": "W-2G",
             "box": "1"
            },
            "unitCurrency": "USD",
            "unitRates": [
             {
              "id": "28",
              "key": "28",
              "employeeExpenseType": {
               "id": "63",
               "key": "63",
               "href": "/objects/expenses/employee-expense-type/63"
              },
              "rate": "200",
              "startDate": "2021-01-23",
              "audit": {
               "createdDateTime": "2023-12-21T08:47:08Z",
               "modifiedDateTime": "2023-12-21T08:47:08Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "createdBy": "1",
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "modifiedBy": "1"
              },
              "href": "/objects/expenses/unit-rate/28"
             },
             {
              "id": "29",
              "key": "29",
              "employeeExpenseType": {
               "id": "63",
               "key": "63",
               "href": "/objects/expenses/employee-expense-type/63"
              },
              "rate": "100",
              "startDate": "2021-01-23",
              "audit": {
               "createdDateTime": "2023-12-21T08:47:08Z",
               "modifiedDateTime": "2023-12-21T08:47:08Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "createdBy": "1",
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "modifiedBy": "1"
              },
              "href": "/objects/expenses/unit-rate/29"
             }
            ],
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "href": "/objects/expenses/employee-expense-type/63"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee expense type",
    "description": "Updates an existing employee expense type by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Expenses_Employee expense types"
    ],
    "operationId": "update-expenses-employee-expense-type-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-type"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an employee expense type": {
         "value": {
          "description": "Personal travel"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Updated employee expense type.",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated employee expense type": {
          "value": {
           "ia::result": {
            "key": "47",
            "id": "Travel",
            "href": "/objects/expenses/employee-expense-type/124"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee expense type",
    "description": "Deletes an employee expense type.",
    "tags": [
     "Expenses_Employee expense types"
    ],
    "operationId": "delete-expenses-employee-expense-type-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-payment-type": {
   "get": {
    "summary": "List employee expense payment types",
    "description": "Returns a collection with a key, ID, and link for each employee expense payment type.",
    "tags": [
     "Expenses_Employee expense payment types"
    ],
    "operationId": "list-expenses-employee-expense-payment-type",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List employee expense payment types",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employee expense payment types": {
          "value": {
           "ia::result": [
            {
             "key": "100",
             "id": "Non-reimburse",
             "href": "/objects/expenses/employee-expense-payment-type/100"
            },
            {
             "key": "101",
             "id": "Reimburse",
             "href": "/objects/expenses/employee-expense-payment-type/101"
            },
            {
             "key": "102",
             "id": "Billable",
             "href": "/objects/expenses/employee-expense-payment-type/102"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee expense payment type",
    "description": "Creates a new employee expense payment type.",
    "tags": [
     "Expenses_Employee expense payment types"
    ],
    "operationId": "create-expenses-employee-expense-payment-type",
    "requestBody": {
     "description": "Creates an employee expense payment type.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-payment-type"
         },
         {
          "$ref": "#/components/schemas/employeeExpensePaymentTypeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an employee expense payment type": {
         "value": {
          "id": "Non Reimburse",
          "status": "active",
          "description": "Non reimbursable payment type",
          "offsetAccount": {
           "id": "2420"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New employee expense payment type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee expense payment type": {
          "value": {
           "ia::result": {
            "key": "18",
            "id": "Non Reimburse",
            "href": "/objects/expenses/employee-expense-payment-type/12345"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-payment-type/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the employee expense payment type.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an employee expense payment type",
    "description": "Returns detailed information for a specified employee expense payment type.",
    "tags": [
     "Expenses_Employee expense payment types"
    ],
    "operationId": "get-expenses-employee-expense-payment-type-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the employee expense payment type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.expenses.employee-expense-payment-type"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an employee expense payment type": {
          "value": {
           "ia::result": {
            "key": "10",
            "id": "Non Reimburse",
            "description": "description",
            "isNonReimbursable": true,
            "offsetGLAccount": {
             "key": "70",
             "id": "2420",
             "name": "EE-Office Supplies",
             "href": "/objects/account/70"
            },
            "status": "active",
            "audit": {
             "createdDateTime": "2021-09-02T08:38:53Z",
             "modifiedDateTime": "2021-09-02T08:38:53Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "href": "/objects/expenses/employee-expense-payment-type/10"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee expense payment type",
    "description": "Updates an existing employee expense payment type by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Expenses_Employee expense payment types"
    ],
    "operationId": "update-expenses-employee-expense-payment-type-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-payment-type"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an employee expense payment type": {
         "value": {
          "status": "active",
          "description": "Non reimbursable payment type"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated employee expense payment type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated employee expense payment type": {
          "value": {
           "ia::result": {
            "key": "10",
            "id": "Non Reimburse",
            "href": "/objects/expenses/employee-expense-payment-type/10"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee expense payment type",
    "description": "Deletes an employee expense payment type.",
    "tags": [
     "Expenses_Employee expense payment types"
    ],
    "operationId": "delete-expenses-employee-expense-payment-type-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-adjustment": {
   "get": {
    "summary": "List employee expense adjustments",
    "description": "Returns a collection with a key, ID, and link for each employee expense adjustment.",
    "tags": [
     "Expenses_Employee expense adjustments"
    ],
    "operationId": "list-expenses-employee-expense-adjustment",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of employee expense adjustment objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "Get list of employee expense adjustments": {
          "value": {
           "ia::result": [
            {
             "key": "84",
             "id": "EXP-00001",
             "href": "/objects/expenses/employee-expense-adjustment/84"
            },
            {
             "key": "85",
             "id": "EXP-00002",
             "href": "/objects/expenses/employee-expense-adjustment/85"
            },
            {
             "key": "60",
             "id": "EXP-00003",
             "href": "/objects/expenses/employee-expense-adjustment/60"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee expense adjustment",
    "description": "Creates a new employee expense adjustment.\n\nYou must specify a unique employee expense ID when creating an employee expense unless document sequencing is configured, in which case the ID is auto-generated.",
    "tags": [
     "Expenses_Employee expense adjustments"
    ],
    "operationId": "create-expenses-employee-expense-adjustment",
    "requestBody": {
     "description": "Creates an employee expense adjustment",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-adjustment"
         }
        ]
       },
       "examples": {
        "Reference to new employee expense adjustment": {
         "value": {
          "state": "submitted",
          "expenseAdjustmentReportNumber": "EXP-00001",
          "employee": {
           "id": "10"
          },
          "createdDate": "2025-03-11",
          "expenseSummary": {
           "postingDate": "2025-01-31",
           "title": "Expenses - Q1 batch",
           "state": "open",
           "preventGLPosting": false
          },
          "basePayment": {
           "baseCurrency": "USD"
          },
          "reimbursement": {
           "reimbursementCurrency": "EUR"
          },
          "description": "Travel expense",
          "memo": "Paid by employee.",
          "lines": [
           {
            "paidTo": "De Anza Hotel",
            "paidFor": "Not used",
            "isBillable": false,
            "form1099": {
             "isForm1099": "true",
             "type": "MISC",
             "box": "3"
            },
            "paymentType": {
             "key": "1",
             "name": "Non-reimburse",
             "isNonReimbursable": false
            },
            "quantity": "1",
            "unitRate": "20",
            "txnCurrency": "INR",
            "txnAmount": "100",
            "transactionToReimburseConversion": {
             "exchangeRateDate": "2025-03-11",
             "exchangeRateTypeId": "Intacct Daily Rate"
            },
            "dimensions": {
             "location": {
              "id": "1"
             },
             "department": {
              "id": "12"
             },
             "class": {
              "id": "REST_CLS_001"
             },
             "item": {
              "id": "Case 13"
             },
             "employee": {
              "id": "10"
             },
             "vendor": {
              "id": "1605212096809"
             },
             "customer": {
              "id": "113"
             },
             "project": {
              "id": "NET-XML30-2"
             },
             "warehouse": {
              "id": "WH01"
             },
             "task": {
              "id": "tet"
             }
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New employee expense adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New employee expense adjustment": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense-adjustment/124"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-adjustment/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the employee-expense-adjustment.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an employee expense adjustment",
    "description": "Returns detailed information for a specified employee expense adjustment.",
    "tags": [
     "Expenses_Employee expense adjustments"
    ],
    "operationId": "get-expenses-employee-expense-adjustment-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the employee expense adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.expenses.employee-expense-adjustment"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the employee expense adjustment": {
          "value": {
           "ia::result": {
            "expenseAdjustmentReportNumber": "ER-0152",
            "employee": {
             "id": "10",
             "key": "10",
             "href": "/objects/company-config/employee/10"
            },
            "employeeContact": {
             "key": "977",
             "id": "Thomas Glenn",
             "firstName": "Thomas",
             "lastName": "Glenn",
             "href": "/objects/company-config/contact/977"
            },
            "key": "124",
            "id": "124",
            "createdDate": "2025-03-11",
            "expenseSummary": {
             "postingDate": "2025-01-31",
             "title": "Expenses - Q1 batch",
             "key": "3",
             "id": "3",
             "href": "/objects/expenses/employee-expense-summary/3"
            },
            "basePaymentInformation": {
             "totalEntered": "1.38",
             "totalPaid": "0",
             "totalSelected": "0",
             "totalDue": "1.38",
             "baseCurrency": "USD"
            },
            "state": "approved",
            "reimbursementInformation": {
             "totalEntered": "1.16",
             "totalSelected": "0",
             "totalPaid": "0",
             "totalDue": "1.16",
             "reimbursementCurrency": "EUR"
            },
            "description": "Supplies for customer training",
            "nonReimbursable": {
             "baseTotalEntered": "0",
             "reimbursementTotalEntered": "0"
            },
            "lines": [
             {
              "key": "288",
              "id": "288",
              "employee-expense": {
               "id": "136",
               "key": "136",
               "href": "/objects/expenses/employee-expense/136"
              },
              "quantity": "0",
              "glAccount": {
               "key": "158",
               "id": "6775.30",
               "name": "Travel",
               "href": "/objects/account/158"
              },
              "entryDate": "2025-03-11",
              "paidTo": "Hotel Westin",
              "paidFor": "Not used",
              "baseAmount": "1.38",
              "reimburseToBase": {
               "exchangeRateDate": "2025-03-11",
               "exchangeRateTypeId": "-1",
               "exchangeRate": "1.1899"
              },
              "expenseType": {
               "key": "Hotel",
               "id": "5000"
              },
              "reimbursementInformation": {
               "reimbursementAmount": "700.16",
               "totalSelected": "0",
               "totalPaid": "0"
              },
              "isBillable": false,
              "isBilled": false,
              "state": "approved",
              "form1099": {
               "isForm1099": "true",
               "type": "MISC",
               "box": "3"
              },
              "paymentType": {
               "key": "1",
               "name": "Non-reimburse",
               "isNonreimbursable": false
              },
              "unitRate": "10",
              "lineNumber": 1,
              "currency": {
               "txnCurrency": "INR",
               "txnAmount": "100",
               "exchangeRateDate": "2025-03-11",
               "exchangeRateTypeId": "Intacct Daily Rate",
               "exchangeRate": "1"
              },
              "attachment": {
               "key": "1",
               "id": "1"
              },
              "dimensions": {
               "location": {
                "key": "11",
                "id": "1",
                "name": "USA",
                "href": "/objects/company-config/location/11"
               },
               "department": {
                "key": "12",
                "id": "12",
                "name": "IT",
                "href": "/objects/company-config/department/12"
               },
               "class": {
                "key": "731",
                "id": "REST_CLS_001",
                "name": "Education",
                "href": "/objects/company-config/class/731"
               },
               "item": {
                "key": "13",
                "id": "13",
                "name": "Support",
                "href": "/objects/inventory-control/item/13"
               },
               "employee": {
                "key": "10",
                "id": "10",
                "href": "/objects/company-config/employee/10"
               },
               "vendor": {
                "key": "357",
                "id": "1605212096809",
                "name": "Boston Properties",
                "href": "/objects/accounts-payable/vendor/357"
               },
               "customer": {
                "key": "13",
                "id": "113",
                "name": "Jack In the Box",
                "href": "/objects/accounts-receivable/customer/13"
               },
               "project": {
                "key": "2",
                "id": "NET-XML30-2",
                "name": "Binford Implementation",
                "href": "/objects/projects/project/2"
               },
               "task": {
                "key": "2",
                "id": "tet",
                "name": "Implementation services",
                "href": "/objects/projects/task/2"
               },
               "warehouse": {
                "key": "6",
                "id": "WH01",
                "name": "WH01 Name",
                "href": "/objects/inventory-control/warehouse/6"
               }
              },
              "href": "/objects/expenses/employee-expense-adjustment-line/288"
             }
            ],
            "memo": "Covered by customer",
            "entity": {
             "key": "46",
             "id": "Western Region",
             "name": "Western Region",
             "href": "/objects/company-config/entity/46"
            },
            "adjustmentType": "debit",
            "referenceEmployeeExpense": {
             "id": "124",
             "key": "124",
             "href": "/objects/expenses/employee-expense/124"
            },
            "href": "/objects/expenses/employee-expense-adjustment/124"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee expense adjustment",
    "description": "Updates an existing employee expense adjustment by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Expenses_Employee expense adjustments"
    ],
    "operationId": "update-expenses-employee-expense-adjustment-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-adjustment"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Updates an employee expense adjustment": {
         "value": {
          "memo": "Covered by customer"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated employee expense adjustment",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated employee expense adjustment": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense-adjustment/124"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee expense adjustment",
    "description": "Deletes an employee expense adjustment.",
    "tags": [
     "Expenses_Employee expense adjustments"
    ],
    "operationId": "delete-expenses-employee-expense-adjustment-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-adjustment-line": {
   "get": {
    "summary": "List employee expense adjustment lines",
    "description": "Returns a collection with a key, ID, and link for each employee expense adjustment line. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Expenses_Employee expense adjustment lines"
    ],
    "operationId": "list-expenses-employee-expense-adjustment-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "List of employee expense adjustment line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of employee expense adjustment line objects": {
          "value": {
           "ia::result": [
            {
             "key": "100",
             "id": "100",
             "href": "/objects/expenses/employee-expense-adjustment-line/100"
            },
            {
             "key": "101",
             "id": "101",
             "href": "/objects/expenses/employee-expense-adjustment-line/101"
            },
            {
             "key": "102",
             "id": "102",
             "href": "/objects/expenses/employee-expense-adjustment-line/102"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an employee expense adjustment line",
    "description": "Creates a new employee expense adjustment line.",
    "tags": [
     "Expenses_Employee expense adjustment lines"
    ],
    "operationId": "create-expenses-employee-expense-adjustment-line",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-adjustment-line"
         }
        ]
       },
       "examples": {
        "Creates an employee expense adjustment line": {
         "value": {
          "account": {
           "id": "6775.3"
          },
          "paidTo": "Hotel Westin",
          "paidFor": "Not used",
          "isBillable": false,
          "form1099": {
           "isForm1099": "true",
           "type": "MISC",
           "box": "3"
          },
          "paymentType": {
           "key": "1",
           "name": "Non-reimburse",
           "isNonreimbursable": false
          },
          "quantity": "10",
          "unitrate": "20",
          "txnCurrency": "INR",
          "txnAmount": "100",
          "transactionToReimburseConversion": {
           "exchangeRateDate": "2025-03-11",
           "exchangeRateTypeId": "Intacct Daily Rate"
          },
          "dimensions": {
           "location": {
            "id": "1"
           },
           "department": {
            "id": "12"
           },
           "class": {
            "id": "REST_CLS_001"
           },
           "item": {
            "id": "Case 13"
           },
           "employee": {
            "id": "10"
           },
           "vendor": {
            "id": "1605212096809"
           },
           "customer": {
            "id": "113"
           },
           "project": {
            "id": "NET-XML30-2"
           },
           "warehouse": {
            "id": "WH01"
           },
           "task": {
            "id": "tet"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to new employee expense adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new employee expense adjustment line": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense-adjustment-line/124"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-adjustment-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the employee expense adjustment line.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an employee expense adjustment line",
    "description": "Returns detailed information for a specified employee expense adjustment line.",
    "tags": [
     "Expenses_Employee expense adjustment lines"
    ],
    "operationId": "get-expenses-employee-expense-adjustment-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Details of the employee expense adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.expenses.employee-expense-adjustment-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the employee expense adjustment line": {
          "value": {
           "ia::result": {
            "key": "312",
            "id": "312",
            "employee-expense": {
             "id": "136",
             "key": "136",
             "href": "/objects/expenses/employee-expense/136"
            },
            "glAccount": {
             "key": "158",
             "id": "6775.30",
             "name": "Travel",
             "href": "/objects/account/158"
            },
            "entryDate": "2025-03-11",
            "paidTo": "Hotel Westin",
            "paidFor": "Not used",
            "reimburseToBase": {
             "baseAmount": "1.38",
             "exchangeRateDate": "2025-03-11",
             "exchangeRateTypeId": "-1",
             "exchangeRate": "1.1899"
            },
            "dimensions": {
             "location": {
              "key": "1",
              "id": "1",
              "name": "USA",
              "href": "/objects/company-config/location/1"
             },
             "department": {
              "key": "12",
              "id": "12",
              "name": "IT",
              "href": "/objects/company-config/department/12"
             },
             "class": {
              "key": "731",
              "id": "REST_CLS_001",
              "name": "Enterprises",
              "href": "/objects/company-config/class/731"
             },
             "item": {
              "key": "13",
              "id": "Case 13",
              "name": "Platform pack",
              "href": "/objects/inventory-control/item/13"
             },
             "employee": {
              "key": "10",
              "id": "10",
              "href": "/objects/company-config/employee/10"
             },
             "employeeContact": {
              "key": 20,
              "id": "Thomas, Glenn",
              "firstName": "Glenn",
              "lastName": "Thomas",
              "href": "/objects/company-config/contact/20"
             },
             "vendor": {
              "key": "357",
              "id": "1605212096809",
              "name": "GenLab",
              "href": "/objects/accounts-payable/vendor/357"
             },
             "customer": {
              "key": "13",
              "id": "113",
              "name": "Jack In the Box",
              "href": "/objects/accounts-receivable/customer/13"
             },
             "project": {
              "key": "2",
              "id": "NET-XML30-2",
              "name": "Talcomp training",
              "href": "/objects/projects/project/2"
             },
             "task": {
              "key": "2",
              "id": "tet",
              "name": "Design",
              "href": "/objects/projects/task/2"
             },
             "warehouse": {
              "key": "6",
              "id": "WH01",
              "name": "WH01",
              "href": "/objects/inventory-control/warehouse/6"
             }
            },
            "lineNumber": 1,
            "expenseType": {
             "key": "Meals",
             "id": "6000"
            },
            "reimbursement": {
             "reimbursementAmount": "1.16",
             "totalSelected": "0",
             "totalPaid": "0"
            },
            "isBillable": false,
            "isBilled": false,
            "state": "approved",
            "form1099": {
             "isForm1099": "true",
             "type": "MISC",
             "box": "3"
            },
            "paymentType": {
             "key": "1",
             "name": "Non-reimburse",
             "isNonreimbursable": false
            },
            "quantity": "5",
            "unitRate": "20",
            "currency": {
             "txnCurrency": "INR",
             "txnAmount": "4444",
             "exchangeRateDate": "2025-03-11",
             "exchangeRateTypeId": "-1",
             "exchangeRate": "65",
             "userExchangeRate": "5"
            },
            "href": "/objects/expenses/employee-expense-adjustment-line/312"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an employee expense adjustment line",
    "description": "Updates an existing employee expense adjustment line by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Expenses_Employee expense adjustment lines"
    ],
    "operationId": "update-expenses-employee-expense-adjustment-line-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.expenses.employee-expense-adjustment-line"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Updates an employee expense adjustment line": {
         "value": {
          "id": "100",
          "paidTo": "Hotel Westin"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Updated employee expense adjustment line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated employee expense adjustment line": {
          "value": {
           "ia::result": {
            "key": "124",
            "id": "124",
            "href": "/objects/expenses/employee-expense-adjustment-line/124"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an employee expense adjustment line",
    "description": "Deletes an employee expense adjustment line.",
    "tags": [
     "Expenses_Employee expense adjustment lines"
    ],
    "operationId": "delete-expenses-employee-expense-adjustment-line-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-approval-record": {
   "get": {
    "summary": "List employee expense approval records",
    "description": "Returns a collection with a key, ID, and link for each employee expense approval record. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Expenses_Employee expense approval records"
    ],
    "operationId": "list-expenses-employee-expense-approval-record",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of employee expense approval record objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List employee expense approval records": {
          "value": {
           "ia::result": [
            {
             "key": "101",
             "id": "101",
             "href": "/objects/expenses/employee-expense-approval-record/101"
            },
            {
             "key": "102",
             "id": "102",
             "href": "/objects/expenses/employee-expense-approval-record/102"
            },
            {
             "key": "103",
             "id": "103",
             "href": "/objects/expenses/employee-expense-approval-record/103"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/expenses/employee-expense-approval-record/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the employee expense approval record.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "23"
    }
   ],
   "get": {
    "summary": "Get an employee expense approval record",
[...]
