{
 "openapi": "3.0.3",
 "info": {
  "title": "Fixed Assets Management",
  "version": "1",
  "description": "Use Fixed Assets Management to help efficiently track, manage, and analyze your organization's fixed assets. Use it to streamline the entire fixed asset life cycle from acquisition to disposal."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Fixed_Assets_Assets",
   "x-displayName": "Assets",
   "description": "Assets are resources used in the operations of a business, such as buildings, manufacturing equipment, office equipment, furniture, fixtures, and vehicles.\n\nThe asset object holds information about the asset, including the in-service date, asset cost, and dimensions required to post to the GL. These properties are used to automatically generate depreciation schedules. From period to period, post your depreciation schedule entries until the asset is fully depreciated or disposed.\n\nThe Fixed Assets Management application supports both depreciable and non-depreciable assets. Assets that are not depreciable do not have depreciation schedules."
  },
  {
   "name": "Fixed_Assets_Asset classifications",
   "x-displayName": "Asset classifications",
   "description": "Asset classifications contain information about General Ledger (GL) accounts and depreciation rules.\nUse asset classifications to ensure consistent treatment of similar assets."
  },
  {
   "name": "Fixed_Assets_Depreciation methods",
   "x-displayName": "Depreciation methods",
   "description": "Depreciation methods determine how an asset's depreciation expense is computed into periods over its useful life.\n\nThe following depreciation methods are supported: Straight line, Daily, 150% declining balance, 200% declining balance,\nCustom declining balance with true-up, and Custom declining balance without true-up."
  },
  {
   "name": "Fixed_Assets_Asset depreciation rules",
   "x-displayName": "Asset depreciation rules",
   "description": "Depreciation rules contain information about the depreciation method, convention, and useful life for an asset, which are used to calculate depreciation for an asset.\n\nWhen you assign a classification to an asset, the classification's depreciation rules are copied over to the asset. You can then create, update, or delete the depreciation rules on the asset to customize them as needed."
  },
  {
   "name": "Fixed_Assets_Classification depreciation rules",
   "x-displayName": "Classification depreciation rules",
   "description": "Depreciation rules contain information about the depreciation method, convention, and useful life for an asset.\nDepreciation rules in a classification serve as a standard default for how assets in that\nclassification are treated. However, you can override the depreciation rules at the asset level."
  },
  {
   "name": "Fixed_Assets_Depreciation schedules",
   "x-displayName": "Depreciation schedules",
   "description": "Depreciation schedule tracks the loss in value of an asset over the period of its useful life using a specified [depreciation rule](fixed-assets.asset-depreciation-rule)."
  },
  {
   "name": "Fixed_Assets_Depreciation schedule entries",
   "x-displayName": "Depreciation schedule entries",
   "description": "Line items in a [depreciation schedule](fixed-assets.depreciation-schedule), which denote the amount and posting date of depreciation entries for an asset."
  },
  {
   "name": "Fixed_Assets_Setups",
   "x-displayName": "Setups",
   "description": "Set up configuration details for the Fixed Assets Management application. Settings apply to all entities."
  },
  {
   "name": "Fixed_Assets_Setup posting rules",
   "x-displayName": "Setup posting rules",
   "description": "Use setup posting rules to identify the journal, useful life term, convention, and so forth, for fixed asset transactions."
  },
  {
   "name": "Fixed_Assets_Transfer histories",
   "x-displayName": "Transfer histories",
   "description": "Asset transfer history details, which capture the transfer date and dimension details after an asset transfer operation is performed. For more information see [Transfer an asset](https://www.intacct.com/ia/docs/en_US/help_action/FixedAssets/Assets/fa-asset-transfer.htm)."
  },
  {
   "name": "Fixed_Assets_Transfer journal entry maps",
   "x-displayName": "Transfer journal entry maps",
   "description": "This object provides information about journal entries created during an asset transfer."
  },
  {
   "name": "Fixed_Assets_Disposals",
   "x-displayName": "Disposals",
   "description": "This object provides details about asset disposal. You can dispose an entire asset, or dispose part of an asset while continuing to depreciate the remaining portion. See [Asset disposal](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_asset_disposal) in the Sage Intacct Help Center for additional information."
  },
  {
   "name": "Fixed_Assets_Disposal depreciation schedule maps",
   "x-displayName": "Disposal depreciation schedule maps",
   "description": "This object provides information about depreciation schedules modified during a full or partial asset disposal."
  }
 ],
 "paths": {
  "/objects/fixed-assets/asset": {
   "get": {
    "summary": "List assets",
    "description": "Returns a collection with a key, ID, and link for each asset. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Assets"
    ],
    "operationId": "list-fixed-assets-asset",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of asset objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List assets": {
          "value": {
           "ia::result": [
            {
             "key": "2",
             "id": "CE_ASSET-2",
             "href": "/objects/fixed-assets/asset/2"
            },
            {
             "key": "3",
             "id": "CE_ASSET-3",
             "href": "/objects/fixed-assets/asset/3"
            },
            {
             "key": "4",
             "id": "VEH_ASSET-1",
             "href": "/objects/fixed-assets/asset/4"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 3,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an asset",
    "description": "Creates a new asset.",
    "tags": [
     "Fixed_Assets_Assets"
    ],
    "operationId": "post-fixed-assets-asset",
    "requestBody": {
     "description": "Creates an asset",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.asset"
         },
         {
          "$ref": "#/components/schemas/fixed-assets-assetRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an asset": {
         "value": {
          "id": "CE_ASSET-1",
          "name": "Laptop",
          "serialNumber": "CE_ASSET-1",
          "assetTag": "ASSET_TAG-0001",
          "state": "inService",
          "inServiceDate": "2021-03-15",
          "status": "active",
          "assetCost": "5000",
          "salvageValue": "200",
          "acquisitionDate": "2020-04-22",
          "isDepreciable": true,
          "description": "Lenovo ThinkPad",
          "dimensions": {
           "location": {
            "key": "1"
           }
          },
          "classification": {
           "key": "3"
          },
          "allocation": {
           "key": "1"
          },
          "depreciationRules": [
           {
            "postingRule": {
             "key": "1"
            },
            "depreciationMethod": {
             "key": "-1"
            },
            "usefulLife": 5
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New asset",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New asset": {
          "value": {
           "ia::result": {
            "key": "11",
            "id": "CE_ASSET-2",
            "href": "/objects/fixed-assets/asset/11"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/asset/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the asset.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an asset",
    "description": "Returns detailed information for a specified asset.",
    "tags": [
     "Fixed_Assets_Assets"
    ],
    "operationId": "get-fixed-assets-asset-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the asset",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.asset"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the asset": {
          "value": {
           "ia::result": {
            "accumulatedDepreciationGLAccount": {
             "name": "Accumulated Depreciation",
             "id": "1901",
             "title": "Accumulated Depreciation",
             "key": "98"
            },
            "depreciationExpenseGLAccount": {
             "name": "Depreciation Expense",
             "id": "6350",
             "key": "270"
            },
            "assetGLAccount": {
             "name": "Computer Equipment",
             "id": "1500",
             "key": "93"
            },
            "provisionDerogatoryGLAccount": {
             "name": "Provision Derogatory",
             "id": "2131",
             "key": "22"
            },
            "accumulatedProvisionDerogatoryGLAccount": {
             "name": "Accumulated Provision Derogatory",
             "id": "3676",
             "key": "13"
            },
            "reversalDerogatoryGLAccount": {
             "name": "Reversal Derogatory",
             "id": "9494",
             "key": "14"
            },
            "classification": {
             "name": "Computer Equipment",
             "id": "CE-1",
             "key": "3"
            },
            "depreciationRules": [
             {
              "depreciationMethod": {
               "name": "Straight line",
               "id": "SL",
               "key": "-1"
              },
              "asset": {
               "name": "Laptop",
               "id": "CE_ASSET-1",
               "key": "2"
              },
              "depreciationSchedule": {
               "key": "1"
              },
              "postingRule": {
               "name": "NAME 3",
               "id": "ID3",
               "key": "3"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2022-11-02T05:12:15Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2022-11-02T05:12:19Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "id": "9",
              "key": "9",
              "historicalAccumulatedDepreciationAmount": "110.50",
              "usefulLife": 36,
              "coefficient": "1.25"
             },
             {
              "depreciationMethod": {
               "name": "Straight line",
               "id": "SL",
               "key": "-1"
              },
              "asset": {
               "name": "Laptop",
               "id": "CE_ASSET-1",
               "key": "2"
              },
              "depreciationSchedule": {
               "key": "2"
              },
              "postingRule": {
               "name": "NAME 2",
               "id": "ID2",
               "key": "2"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2022-11-02T05:12:15Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2022-11-02T05:12:19Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "id": "10",
              "key": "10",
              "historicalAccumulatedDepreciationAmount": "0",
              "usefulLife": 3,
              "coefficient": "1.25"
             }
            ],
            "audit": {
             "createdBy": "1",
             "createdDateTime": "2022-11-02T05:12:15Z",
             "modifiedBy": "1",
             "modifiedDateTime": "2022-11-02T05:12:19Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             }
            },
            "dimensions": {
             "item": {
              "name": "PC Computer",
              "id": "1",
              "key": "1"
             },
             "task": {
              "name": "Project coordination",
              "id": "01-041",
              "key": "8"
             },
             "vendor": {
              "name": "1099 Int",
              "id": "1099 Int",
              "key": "43"
             },
             "project": {
              "name": "Client Services - Power Aerospace Materials",
              "id": "8",
              "key": "8"
             },
             "location": {
              "name": "United States of America",
              "id": "1",
              "key": "1"
             },
             "department": {
              "name": "Engineering",
              "id": "3",
              "key": "3"
             },
             "employee": {
              "id": "1",
              "key": "1"
             },
             "warehouse": {
              "name": "WH01 Name",
              "id": "WH01",
              "key": "1"
             },
             "class": {
              "name": "Heath Care",
              "id": "3",
              "key": "1"
             },
             "customer": {
              "name": "Power Aerospace Materials",
              "id": "1",
              "key": "1"
             },
             "costType": {
              "name": "Labor",
              "id": "L",
              "key": "8"
             },
             "affiliateEntity": {
              "name": "United States of America",
              "id": "1",
              "key": "1"
             }
            },
            "splitParent": {
             "key": "1",
             "id": "1",
             "name": "Parent Asset (ROOT/USA)",
             "splitDate": "2022-04-1",
             "href": "/objects/fixed-assets/asset/1"
            },
            "splitDate": "2022-04-20",
            "splitAssets": [
             {
              "key": "626",
              "id": "ADJDEC0755",
              "name": "Child 17",
              "assetCost": "400",
              "salvageValue": "0",
              "href": "/objects/fixed-assets/asset/626"
             },
             {
              "key": "627",
              "id": "ADJDEC0756",
              "name": "Child 18",
              "assetCost": "200",
              "salvageValue": "0",
              "href": "/objects/fixed-assets/asset/627"
             }
            ],
            "acquisitionDate": "2020-01-01",
            "capitalizationDate": "2020-01-01",
            "assetCost": "3000",
            "quantity": 1,
            "serialNumber": "CE_ASSET-1",
            "assetTag": "ASSET_TAG-0001",
            "depreciableCost": "2700",
            "description": "Lenovo thinkpad",
            "type": "tangible",
            "name": "Laptop",
            "salvageValue": "300",
            "inServiceDate": "2020-01-01",
            "id": "CE_ASSET-1",
            "state": "inService",
            "isDepreciable": true,
            "key": "2",
            "status": "active"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an asset",
    "description": "Updates an existing asset by setting field values. Any fields not provided remain unchanged.\n\nThe asset `state` determines which fields of the asset may be edited. If the `state` is set to `disposed`, you may not edit any fields.\nSee [Editing assets](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Edit_asset) for more details.",
    "tags": [
     "Fixed_Assets_Assets"
    ],
    "operationId": "patch-fixed-assets-asset-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.asset"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "sourceTxn.txnType": {
            "readOnly": true
           },
           "sourceTxn.txnKey": {
            "readOnly": true
           },
           "sourceTxn.txnId": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an asset": {
         "value": {
          "state": "inService",
          "inServiceDate": "2021-12-28"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated asset",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated asset": {
          "value": {
           "ia::result": {
            "key": "3",
            "id": "CE_ASSET-2",
            "href": "/objects/fixed-assets/asset/3"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an asset",
    "description": "Deletes an asset.\n\nYou can delete assets that are in the `readyForReview` state. Assets that are `inService` or `disposed` cannot be deleted. Instead, consider changing their status to `inactive`.\n\nIf the asset you want to delete is assigned as a parent asset, edit the children assets to remove the parent association.",
    "tags": [
     "Fixed_Assets_Assets"
    ],
    "operationId": "delete-fixed-assets-asset-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/asset-classification": {
   "get": {
    "summary": "List asset classifications",
    "description": "Returns a collection with a key, ID, and link for each asset classification. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Asset classifications"
    ],
    "operationId": "list-fixed-assets-classification",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of asset-classification objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List asset classifications": {
          "value": {
           "ia::result": [
            {
             "key": "101",
             "id": "Classification Id 101",
             "href": "/objects/fixed-assets/asset-classification/101"
            },
            {
             "key": "102",
             "id": "Classification Id 102",
             "href": "/objects/fixed-assets/asset-classification/102"
            },
            {
             "key": "103",
             "id": "Classification Id 103",
             "href": "/objects/fixed-assets/asset-classification/103"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 3,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an asset classification",
    "description": "Creates a new asset classification.",
    "tags": [
     "Fixed_Assets_Asset classifications"
    ],
    "operationId": "post-fixed-assets-classification",
    "requestBody": {
     "description": "Creates an asset classification",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.asset-classification"
         },
         {
          "$ref": "#/components/schemas/fixed-assets-asset-classificationRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an asset classification": {
         "value": {
          "name": "Furniture & Fixtures",
          "id": "Classification Id 100",
          "status": "active",
          "assetGLAccount": {
           "key": "29",
           "id": "1014",
           "title": "Shared Banks"
          },
          "accumulatedDepreciationGLAccount": {
           "key": "9",
           "id": "1000",
           "title": "Bank of America A/c."
          },
          "depreciationExpenseGLAccount": {
           "key": "194",
           "id": "4000",
           "title": "Sales"
          },
          "disposalGLAccount": {
           "key": "101",
           "id": "1904",
           "title": "Computer Equipment"
          },
          "cipGLAccount": {
           "key": "207",
           "id": "5001",
           "title": "Construction"
          },
          "provisionDerogatoryGLAccount": {
           "name": "Provision Derogatory",
           "id": "2131",
           "key": "22"
          },
          "accumulatedProvisionDerogatoryGLAccount": {
           "name": "Accumulated Provision Derogatory",
           "id": "3676",
           "key": "13"
          },
          "reversalDerogatoryGLAccount": {
           "name": "Reversal Derogatory",
           "id": "9494",
           "key": "14"
          },
          "depreciationRules": [
           {
            "postingRule": {
             "key": "1"
            },
            "depreciationMethod": {
             "key": "-1"
            },
            "usefulLife": 60
           },
           {
            "postingRule": {
             "key": "2"
            },
            "depreciationMethod": {
             "key": "-2"
            },
            "usefulLife": 12
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New asset-classification object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New asset classification": {
          "value": {
           "ia::result": {
            "key": "981",
            "id": "Classification Id 100",
            "href": "/objects/fixed-assets/asset-classification/981"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/asset-classification/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the asset classification.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an asset classification",
    "description": "Returns detailed information for a specified asset classification.",
    "tags": [
     "Fixed_Assets_Asset classifications"
    ],
    "operationId": "get-fixed-assets-classification-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the asset-classification object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.asset-classification"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the asset classification": {
          "value": {
           "ia::result": {
            "name": "Furniture & Fixtures",
            "id": "Classification Id 100",
            "key": "100",
            "status": "active",
            "assetGLAccount": {
             "key": "29",
             "id": "1014",
             "title": "Shared Banks"
            },
            "accumulatedDepreciationGLAccount": {
             "key": "9",
             "id": "1000",
             "title": "Bank of America A/c."
            },
            "depreciationExpenseGLAccount": {
             "key": "194",
             "id": "4000",
             "title": "Sales"
            },
            "disposalGLAccount": {
             "key": "101",
             "id": "1904",
             "title": "Computer Equipment"
            },
            "cipGLAccount": {
             "key": "207",
             "id": "5001",
             "title": "Construction"
            },
            "provisionDerogatoryGLAccount": {
             "name": "Provision Derogatory",
             "id": "2131",
             "key": "22"
            },
            "accumulatedProvisionDerogatoryGLAccount": {
             "name": "Accumulated Provision Derogatory",
             "id": "3676",
             "key": "13"
            },
            "reversalDerogatoryGLAccount": {
             "name": "Reversal Derogatory",
             "id": "9494",
             "key": "14"
            },
            "depreciationRules": [
             {
              "depreciationMethod": {
               "name": "Straight line",
               "id": "SL",
               "key": "-1"
              },
              "journal": {
               "id": "GAAP",
               "title": "GAAP Accrual Book",
               "key": "45"
              },
              "classification": {
               "id": "Classification Id 100",
               "key": "100"
              },
              "id": "818",
              "key": "818",
              "usefulLife": 60,
              "coefficient": "1.25"
             },
             {
              "depreciationMethod": {
               "name": "200% declining balance",
               "id": "200DB",
               "key": "-2"
              },
              "journal": {
               "id": "TAX",
               "title": "TAX Accrual Book",
               "key": "46"
              },
              "classification": {
               "id": "Classification Id 100",
               "key": "100"
              },
              "id": "824",
              "key": "824",
              "usefulLife": 12,
              "coefficient": "1.25"
             }
            ]
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an asset classification",
    "description": "Updates an existing asset classification by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Fixed_Assets_Asset classifications"
    ],
    "operationId": "patch-fixed-assets-classification-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.asset-classification"
         },
         {
          "type": "object"
         }
        ]
       },
       "examples": {
        "Update an asset classification": {
         "value": {
          "name": "Updated Furniture",
          "id": "Classification Id 100",
          "accumulatedDepreciationGLAccount": {
           "key": "10"
          },
          "depreciationExpenseGLAccount": {
           "key": "11"
          },
          "provisionDerogatoryGLAccount": {
           "key": "12"
          },
          "accumulatedProvisionDerogatoryGLAccount": {
           "key": "13"
          },
          "reversalDerogatoryGLAccount": {
           "key": "14"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated asset-classification object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated asset classification": {
          "value": {
           "ia::result": {
            "key": "981",
            "id": "Classification Id 100",
            "href": "/objects/fixed-assets/asset-classification/981"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an asset classification",
    "description": "Deletes an asset classification.",
    "tags": [
     "Fixed_Assets_Asset classifications"
    ],
    "operationId": "delete-fixed-assets-classification-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/depreciation-method": {
   "parameters": [],
   "get": {
    "summary": "List depreciation methods",
    "description": "Returns a collection with a key, ID, and link for each depreciation method. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Depreciation methods"
    ],
    "operationId": "list-fixed-assets-depreciation-method",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of depreciation-method objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List depreciation methods": {
          "value": {
           "ia::result": [
            {
             "id": "CDB",
             "key": "-6",
             "href": "/objects/fixed-assets/depreciation-method/-6"
            },
            {
             "id": "CDBT",
             "key": "-5",
             "href": "/objects/fixed-assets/depreciation-method/-5"
            },
            {
             "id": "DR",
             "key": "-4",
             "href": "/objects/fixed-assets/depreciation-method/-4"
            },
            {
             "id": "150DB",
             "key": "-3",
             "href": "/objects/fixed-assets/depreciation-method/-3"
            },
            {
             "id": "200DB",
             "key": "-2",
             "href": "/objects/fixed-assets/depreciation-method/-2"
            },
            {
             "id": "SL",
             "key": "-1",
             "href": "/objects/fixed-assets/depreciation-method/-1"
            }
           ],
           "ia::meta": {
            "totalCount": 6,
            "totalSuccess": 6,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/depreciation-method/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the depreciation method.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a depreciation method",
    "description": "Returns detailed information for a specified depreciation method.",
    "tags": [
     "Fixed_Assets_Depreciation methods"
    ],
    "operationId": "list-fixed-assets-depreciation-method-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the depreciation-method",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.depreciation-method"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the depreciation method": {
          "value": {
           "ia::result": {
            "name": "Straight line",
            "id": "SL",
            "key": "-1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/asset-depreciation-rule": {
   "get": {
    "summary": "List asset depreciation rules",
    "description": "Returns a collection with a key, ID, and link for each asset depreciation rule. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Asset depreciation rules"
    ],
    "operationId": "list-fixed-assets-asset-depreciation-rule",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List asset-depreciation-rule objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List asset depreciation rules": {
          "value": {
           "ia::result": [
            {
             "id": "80",
             "key": "80",
             "href": "/objects/fixed-assets/asset-depreciation-rule/80"
            },
            {
             "id": "81",
             "key": "81",
             "href": "/objects/fixed-assets/asset-depreciation-rule/81"
            },
            {
             "id": "82",
             "key": "82",
             "href": "/objects/fixed-assets/asset-depreciation-rule/82"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 3,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an asset depreciation rule",
    "description": "Creates a new asset depreciation rule.",
    "operationId": "post-fixed-assets-asset-depreciation-rule",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.asset-depreciation-rule"
         },
         {
          "$ref": "#/components/schemas/fixed-assets-asset-depreciation-ruleRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an asset depreciation rule": {
         "value": {
          "key": "2",
          "id": "2",
          "depreciationMethod": {
           "name": "Straight line",
           "id": "SL",
           "key": "-1"
          },
          "postingRule": {
           "key": "1",
           "id": "1"
          },
          "asset": {
           "key": "2",
           "id": "CE_ASSET-1"
          },
          "usefulLife": 5
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New asset-depreciation-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New asset-depreciation-rule": {
          "value": {
           "ia::result": {
            "key": "871",
            "id": "871",
            "href": "/objects/fixed-assets/asset-depreciation-rule/871"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "tags": [
     "Fixed_Assets_Asset depreciation rules"
    ],
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/asset-depreciation-rule/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the asset depreciation rule.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an asset depreciation rule",
    "description": "Returns detailed information for a specified asset depreciation rule.",
    "operationId": "get-fixed-assets-asset-depreciation-rule-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the asset-depreciation-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.asset-depreciation-rule"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "List details of the asset depreciation rule": {
          "value": {
           "ia::result": {
            "depreciationMethod": {
             "name": "Straight line",
             "id": "SL",
             "key": "-1"
            },
            "asset": {
             "name": "Asset Name _~!@#$%^*()_+=-`1682315965",
             "id": "Asset Id 1682315965",
             "key": "860"
            },
            "depreciationSchedule": {
             "key": "387"
            },
            "postingRule": {
             "name": "NAME 1",
             "id": "ID1",
             "key": "1"
            },
            "audit": {
             "createdBy": "1",
             "createdDateTime": "2023-04-24T05:59:27Z",
             "modifiedBy": "1",
             "modifiedDateTime": "2023-04-24T05:59:27Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             }
            },
            "id": "1009",
            "key": "1009",
            "historicalAccumulatedDepreciationAmount": "100.00",
            "usefulLife": 5,
            "coefficient": "1.25"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "tags": [
     "Fixed_Assets_Asset depreciation rules"
    ],
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an asset depreciation rule",
    "description": "Updates an existing asset depreciation rule by setting field values. Any fields not provided remain unchanged.",
    "operationId": "patch-fixed-assets-asset-depreciation-rule-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "key": {
          "readOnly": true
         },
         "id": {
          "readOnly": true
         }
        }
       },
       "examples": {
        "Update an asset depreciation rule": {
         "value": {
          "depreciationMethod": {
           "id": "DB",
           "key": "-2"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated asset-depreciation-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated asset depreciation rule": {
          "value": {
           "ia::result": {
            "key": "1021",
            "id": "1021",
            "href": "/objects/fixed-assets/asset-depreciation-rule/1021"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "tags": [
     "Fixed_Assets_Asset depreciation rules"
    ],
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an asset depreciation rule",
    "description": "Deletes an asset depreciation rule.",
    "operationId": "delete-fixed-assets-asset-depreciation-rule-key",
    "responses": {
     "204": {
      "description": "No Content",
      "headers": {}
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "tags": [
     "Fixed_Assets_Asset depreciation rules"
    ],
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/classification-depreciation-rule": {
   "get": {
    "summary": "List classification depreciation rules",
    "description": "Returns a collection with a key, ID, and link for each classification depreciation rule. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Classification depreciation rules"
    ],
    "operationId": "list-fixed-assets-classification-depreciation-rule",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of classification-depreciation-rule objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List classification depreciation rules": {
          "value": {
           "ia::result": [
            {
             "key": "81",
             "id": "81",
             "href": "objects/fixed-assets/classification-depreciation-rule/81"
            },
            {
             "key": "82",
             "id": "82",
             "href": "objects/fixed-assets/classification-depreciation-rule/82"
            },
            {
             "key": "83",
             "id": "83",
             "href": "objects/fixed-assets/classification-depreciation-rule/83"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 3,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a classification depreciation rule",
    "description": "Creates a new classification depreciation rule.",
    "tags": [
     "Fixed_Assets_Classification depreciation rules"
    ],
    "operationId": "post-fixed-assets-classification-depreciation-rule",
    "requestBody": {
     "description": "Creates a classification depreciation rule",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.classification-depreciation-rule"
         },
         {
          "$ref": "#/components/schemas/fixed-assets-classification-depreciation-ruleRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a classification depreciation rule": {
         "value": {
          "id": "818",
          "journal": {
           "key": "45"
          },
          "depreciationMethod": {
           "key": "-1"
          },
          "classification": {
           "key": "100"
          },
          "usefulLife": 60
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New classification-depreciation-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New classification depreciation rule": {
          "value": {
           "ia::result": {
            "key": "818",
            "id": "818",
            "href": "/objects/fixed-assets/classification-depreciation-rule/818"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/classification-depreciation-rule/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the classification depreciation rule.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a classification depreciation rule",
    "description": "Returns detailed information for a specified classification depreciation rule.",
    "tags": [
     "Fixed_Assets_Classification depreciation rules"
    ],
    "operationId": "get-fixed-assets-classification-depreciation-rule-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the classification-depreciation-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.classification-depreciation-rule"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "List details of the classification depreciation rule": {
          "value": {
           "ia::result": {
            "depreciationMethod": {
             "name": "Straight line",
             "id": "SL",
             "key": "-1"
            },
            "journal": {
             "id": "GAAP",
             "title": "GAAP Accrual Book",
             "key": "45"
            },
            "classification": {
             "id": "Classification Id 100",
             "key": "100"
            },
            "id": "818",
            "key": "818",
            "usefulLife": 60,
            "coefficient": "1.25"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a classification depreciation rule",
    "description": "Updates an existing classification depreciation rule by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Fixed_Assets_Classification depreciation rules"
    ],
    "operationId": "patch-fixed-assets-classification-depreciation-rule-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.classification-depreciation-rule"
         },
         {
          "type": "object",
          "properties": {
           "key": {
            "readOnly": true
           },
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a classification depreciation rule": {
         "value": {
          "depreciationMethod": {
           "id": "DB",
           "key": "-2"
          },
          "classification": {
           "key": "1023"
          },
          "usefulLife": 20
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated classification-depreciation-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated classification depreciation rule": {
          "value": {
           "ia::result": {
            "key": "818",
            "id": "818",
            "href": "/objects/fixed-assets/classification-depreciation-rule/818"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a classification depreciation rule",
    "description": "Deletes a classification depreciation rule.",
    "tags": [
     "Fixed_Assets_Classification depreciation rules"
    ],
    "operationId": "delete-fixed-assets-classification-depreciation-rule-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/depreciation-schedule": {
   "get": {
    "summary": "List depreciation schedules",
    "description": "Returns a collection with a key, ID, and link for each depreciation schedule. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Depreciation schedules"
    ],
    "operationId": "list-fixed-assets-depreciation-schedule",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of depreciation-schedule objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List depreciation schedules": {
          "value": {
           "ia::result": [
            {
             "state": "inProgress",
             "key": "26",
             "href": "/objects/fixed-assets/depreciation-schedule/26"
            },
            {
             "state": "inProgress",
             "key": "27",
             "href": "/objects/fixed-assets/depreciation-schedule/27"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "totalSuccess": 2,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/depreciation-schedule/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the depreciation schedule.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a depreciation schedule",
    "description": "Returns detailed information for a specified depreciation schedule.",
    "tags": [
     "Fixed_Assets_Depreciation schedules"
    ],
    "operationId": "get-fixed-assets-depreciation-schedule-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the depreciation-schedule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.depreciation-schedule"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the depreciation schedule": {
          "value": {
           "ia::result": {
            "asset": {
             "assetCost": "200",
             "name": "Asset Name _~!@#$%^*()_+=-`1682323123",
             "salvageValue": "10",
             "id": "ADJDEC1277",
             "key": "16"
            },
            "assetDepreciationRule": {
             "useSalvageValue": true,
             "id": "23",
             "key": "23"
            },
            "depreciationScheduleEntries": [
             {
              "depreciationSchedule": {
               "id": "14",
               "key": "14"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2025-01-21T05:27:36Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2025-01-21T05:27:53Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "period": 1,
              "depreciationAmount": "71.25",
              "id": "84",
              "state": "canceled",
              "scheduledPostingDate": "2025-12-31",
              "key": "84"
             },
             {
              "depreciationSchedule": {
               "id": "14",
               "key": "14"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2025-01-21T05:27:36Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2025-01-21T05:27:53Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "period": 2,
              "depreciationAmount": "44.53",
              "id": "85",
              "state": "canceled",
              "scheduledPostingDate": "2026-12-31",
              "key": "85"
             },
             {
              "depreciationSchedule": {
               "id": "14",
               "key": "14"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2025-01-21T05:27:36Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2025-01-21T05:27:53Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "period": 3,
              "depreciationAmount": "27.83",
              "id": "86",
              "state": "canceled",
              "scheduledPostingDate": "2027-12-31",
              "key": "86"
             },
             {
              "depreciationSchedule": {
               "id": "14",
               "key": "14"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2025-01-21T05:27:36Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2025-01-21T05:27:53Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "period": 4,
              "depreciationAmount": "46.39",
              "id": "87",
              "state": "canceled",
              "scheduledPostingDate": "2028-12-31",
              "key": "87"
             }
            ],
            "audit": {
             "createdBy": "1",
             "createdDateTime": "2025-01-21T05:27:36Z",
             "modifiedBy": "1",
             "modifiedDateTime": "2025-01-21T05:27:53Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             }
            },
            "depreciableCost": "190",
            "historicalAccumulatedDepreciationAmount": "0",
            "id": "14",
            "state": "canceled",
            "key": "14",
            "totalAccumulatedDepreciationAmount": "0",
            "remainingDepreciationAmount": "0"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/depreciation-schedule-entry": {
   "get": {
    "summary": "List depreciation schedule entries",
    "description": "Returns a collection with a key, ID, and link for each depreciation schedule entry. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Depreciation schedule entries"
    ],
    "operationId": "list-fixed-assets-depreciation-schedule-entry",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of depreciation-schedule-entry objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List Depreciation Schedule Entries": {
          "value": {
           "ia::result": [
            {
             "id": "11",
             "key": "11",
             "href": "/objects/fixed-assets/depreciation-schedule-entry/11"
            },
            {
             "id": "12",
             "key": "12",
             "href": "/objects/fixed-assets/depreciation-schedule-entry/12"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "totalSuccess": 2,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/depreciation-schedule-entry/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the depreciation schedule entry.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a depreciation schedule entry",
    "description": "Returns detailed information for a specified depreciation schedule entry.",
    "operationId": "get-fixed-assets-depreciation-schedule-entry-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the depreciation-schedule-entry",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.depreciation-schedule-entry"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the depreciation schedule entry": {
          "value": {
           "ia::result": {
            "depreciationSchedule": {
             "id": "389",
             "key": "389"
            },
            "audit": {
             "createdBy": "1",
             "createdDateTime": "2023-04-24T07:58:45Z",
             "modifiedBy": "1",
             "modifiedDateTime": "2023-04-24T07:58:45Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             }
            },
            "depreciationAmount": "960",
            "decliningAmount": "960",
            "derogatoryProvisionAmount": "0",
            "derogatoryReversalAmount": "1.11",
            "derogatoryBalance": "12",
            "includeReverseHistoryEntries": false,
            "period": 1,
            "parent": {
             "key": "1",
             "id": "1",
             "href": "/objects/fixed-assets/depreciation-schedule-entry/1"
            },
            "id": "5564",
            "scheduledPostingDate": "2021-12-31",
            "actualPostingDate": "2022-01-05",
            "state": "notPosted",
            "key": "5564"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "tags": [
     "Fixed_Assets_Depreciation schedule entries"
    ],
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/setup": {
   "get": {
    "summary": "List setups",
    "description": "Returns a collection with a key, ID, and link for each setup. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Setups"
    ],
    "operationId": "list-fixed-assets-setup",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of Fixed Assets setup objects",
         "properties": {
          "ia::result": {
           "type": "object",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List setups": {
          "value": {
           "ia::result": {
            "id": "1",
            "key": "1",
            "href": "/objects/fixed-assets/setup/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a setup",
    "description": "Creates a new setup.",
    "tags": [
     "Fixed_Assets_Setups"
    ],
    "operationId": "post-fixed-assets-setup",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.setup"
         }
        ]
       },
       "examples": {
        "Create a setup": {
         "value": {
          "enableAutoPosting": false,
          "enableCIP": false,
          "enableDepreciationSummary": false,
          "journal": {
           "key": "46"
          },
          "setupPostingRules": [
           {
            "journal": {
             "key": "46"
            },
            "usefulLifeUnits": "months",
            "convention": "fullMonth",
            "isTax": true,
            "useSalvageValue": false,
            "name": "Tax Accrual Book"
           },
           {
            "journal": {
             "key": "43"
            },
            "usefulLifeUnits": "years",
            "convention": "halfYear",
            "isTax": false
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New setup",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New setup": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "ID1",
            "href": "/objects/fixed-assets/setup/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/setup/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the setup.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a setup",
    "description": "Returns detailed information for a specified setup.",
    "operationId": "get-fixed-assets-setup-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the setup",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.setup"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the setup": {
          "value": {
           "ia::result": {
            "journal": {
             "name": "TAX Accrual Book",
             "id": "TAX",
             "key": "46"
            },
            "gainLossGLAccount": {
             "name": "Investments in other Companies",
             "id": "1906",
             "key": "103"
            },
            "assetSequence": {
             "id": "ASSET",
             "printTitle": "ASSET",
             "key": "34"
            },
            "setupPostingRules": [
             {
              "setup": {
               "id": "117",
               "key": "117"
              },
              "journal": {
               "name": "TAX Accrual Book",
               "id": "TAX",
               "key": "46",
               "bookId": "TAXADJACCRUAL"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2022-09-25T01:21:35Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2023-04-06T06:15:48Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "convention": "fullMonth",
              "usefulLifeUnits": "months",
              "name": "NAME 1",
              "useSalvageValue": false,
              "isTax": true,
              "id": "ID1",
              "key": "1"
             },
             {
              "setup": {
               "id": "1",
               "key": "1"
              },
              "journal": {
               "name": "IFRS-Australia",
               "id": "IFRS-AUS",
               "key": "43",
               "bookId": "IFRSACCRUAL"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2022-09-25T01:22:00Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2023-04-06T06:15:48Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "convention": "fullMonth",
              "usefulLifeUnits": "months",
              "name": "NAME 2",
              "useSalvageValue": true,
              "isTax": true,
              "id": "ID2",
              "key": "2"
             },
             {
              "setup": {
               "id": "1",
               "key": "1"
              },
              "journal": {
               "name": "Accommodation Expenses",
               "id": "Others",
               "key": "39",
               "bookId": "CEACCRUAL"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2022-09-25T01:22:22Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2023-04-06T06:15:48Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "convention": "halfYear",
              "usefulLifeUnits": "years",
              "name": "NAME 3",
              "useSalvageValue": true,
              "isTax": true,
              "id": "ID3",
              "key": "3"
             },
             {
              "setup": {
               "id": "1",
               "key": "1"
              },
              "journal": {
               "name": "GAAP Accrual Book",
               "id": "GAAP",
               "key": "45",
               "bookId": "GAAPADJACCRUAL"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2023-01-06T23:29:55Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2023-04-06T06:15:48Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "convention": "fullYear",
              "usefulLifeUnits": "years",
              "name": "NAME 41",
              "useSalvageValue": true,
              "isTax": true,
              "id": "ID41",
              "key": "41"
             },
             {
              "setup": {
               "id": "1",
               "key": "1"
              },
              "journal": {
               "name": "Fixed Asset Journal",
               "id": "FAJ",
               "key": "47",
               "bookId": "ACCRUAL"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2023-04-06T06:15:48Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2023-04-06T06:15:48Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "convention": "fullYear",
              "usefulLifeUnits": "years",
              "name": "Tax Accrual Book",
              "useSalvageValue": true,
              "isTax": false,
              "key": "42"
             }
            ],
            "audit": {
             "createdBy": "1",
             "createdDateTime": "2022-09-22T01:00:18Z",
             "modifiedBy": "1",
             "modifiedDateTime": "2023-04-06T06:15:48Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             }
            },
            "enableAutoPosting": false,
            "enableAccountsPayable": false,
            "enablePurchasingTxns": false,
            "enableCIP": false,
            "enableDepreciationSummary": false,
            "goLiveDate": "2021-12-16",
            "historicalAccumulatedDepreciationType": "system",
            "journalEntryCorrectionOption": "reverse",
            "id": "117",
            "key": "117"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "tags": [
     "Fixed_Assets_Setups"
    ],
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a setup",
    "description": "Updates an existing setup by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Fixed_Assets_Setups"
    ],
    "operationId": "patch-fixed-assets-setup-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.setup"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a setup": {
         "value": {
          "setupPostingRules": [
           {
            "journal": {
             "key": "39"
            },
            "key": "1",
            "convention": "fullMonth",
            "usefulLifeUnits": "months",
            "isTax": false,
            "useSalvageValue": true,
            "name": "new name"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated setup",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated setup": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "1",
            "href": "/objects/fixed-assets/setup/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a setup",
    "description": "This operation is not supported.",
    "tags": [
     "Fixed_Assets_Setups"
    ],
    "operationId": "delete-fixed-assets-setup-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/setup-posting-rule": {
   "get": {
    "summary": "List setup posting rules",
    "description": "Returns a collection with a key, ID, and link for each setup posting rule. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Setup posting rules"
    ],
    "operationId": "list-fixed-assets-setup-posting-rule",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of setup-posting-rule objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of setup posting rules": {
          "value": {
           "ia::result": [
            {
             "id": "ID1",
             "key": "1",
             "href": "/objects/fixed-assets/setup-posting-rule/1"
            },
            {
             "id": "ID2",
             "key": "2",
             "href": "/objects/fixed-assets/setup-posting-rule/2"
            },
            {
             "id": "ID3",
             "key": "3",
             "href": "/objects/fixed-assets/setup-posting-rule/3"
            },
            {
             "id": "ID4",
             "key": "4",
             "href": "/objects/fixed-assets/setup-posting-rule/4"
            }
           ],
           "ia::meta": {
            "totalCount": 4,
            "totalSuccess": 4,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a setup posting rule",
    "description": "Creates a new setup posting rule.",
    "tags": [
     "Fixed_Assets_Setup posting rules"
    ],
    "operationId": "post-fixed-assets-setup-posting-rule",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.setup-posting-rule"
         },
         {
          "$ref": "#/components/schemas/fixed-assets-setup-posting-ruleRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a setup posting rule": {
         "value": {
          "journal": {
           "key": "47"
          },
          "setup": {
           "key": "1"
          },
          "id": "ID5",
          "usefulLifeUnits": "months",
          "convention": "fullMonth",
          "isTax": false,
          "useSalvageValue": false,
          "name": "Tax Accrual Book"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New setup-posting-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New setup posting rule": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "ID5",
            "href": "/objects/fixed-assets/setup-posting-rule/5"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/setup-posting-rule/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the setup posting rule.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a setup posting rule",
    "description": "Returns detailed information for a specified setup posting rule.",
    "tags": [
     "Fixed_Assets_Setup posting rules"
    ],
    "operationId": "get-fixed-assets-posting-rule-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the setup-posting-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.setup-posting-rule"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the setup posting rule": {
          "value": {
           "ia::result": {
            "setup": {
             "id": "1",
             "key": "1"
            },
            "journal": {
             "name": "IFRS-Australia",
             "id": "IFRS-AUS",
             "key": "43",
             "bookId": "IFRSACCRUAL"
            },
            "audit": {
             "createdBy": "1",
             "createdDateTime": "2022-09-25T01:22:00Z",
             "modifiedBy": "1",
             "modifiedDateTime": "2023-05-12T07:09:43Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "objects/company-config/user/1"
             }
            },
            "convention": "fullMonth",
            "usefulLifeUnits": "months",
            "name": "NAME 2",
            "useSalvageValue": true,
            "id": "ID2",
            "isTax": false,
            "key": "2"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a setup posting rule",
    "description": "Updates an existing setup posting rule by setting field values. Any fields not provided remain unchanged.\n\nBefore editing a setup posting rule, ensure that there are no depreciation rules using that posting rule. Edit the depreciation rule on the classification or asset to temporarily remove the posting rule first.\nFor more information, see [classification depreciation rule](fixed-assets.classification-depreciation-rule) or [asset depreciation rule](fixed-assets.asset-depreciation-rule).",
    "tags": [
     "Fixed_Assets_Setup posting rules"
    ],
    "operationId": "patch-fixed-assets-setup-posting-rule-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.fixed-assets.setup-posting-rule"
         },
         {
          "type": "object",
          "properties": {
           "key": {
            "readOnly": true
           },
           "id": {
            "readOnly": true
           },
           "setup.key": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a setup posting rule": {
         "value": {
          "key": "42",
          "id": "ID42",
          "journal": {
           "key": "1"
          },
          "setup": {
           "key": "1"
          },
          "usefulLifeUnits": "months",
          "convention": "fullMonth",
          "isTax": false,
          "useSalvageValue": false,
          "name": "Tax Accrual Book"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated setup-posting-rule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated setup posting rule": {
          "value": {
           "ia::result": {
            "key": "42",
            "id": "ID42",
            "href": "/objects/fixed-assets/setup-posting-rule/42"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a setup posting rule",
    "description": "Deletes a setup posting rule.\n\nBefore deleting a setup posting rule, ensure that there are no depreciation rules using that posting rule. Edit the depreciation rule on the classification or asset to remove the setup posting rule first.\nFor more information, see [classification depreciation rule](fixed-assets.classification-depreciation-rule) or [asset depreciation rule](fixed-assets.asset-depreciation-rule).",
    "tags": [
     "Fixed_Assets_Setup posting rules"
    ],
    "operationId": "delete-fixed-assets-setup-posting-rule-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/transfer-history": {
   "get": {
    "summary": "List transfer histories",
    "description": "Returns a collection with a key, ID, and link for each transfer operation. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Fixed_Assets_Transfer histories"
    ],
    "operationId": "list-fixed-assets-transfer-history",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of transfer-history objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List transfer histories": {
          "value": {
           "ia::result": [
            {
             "id": "1",
             "key": "1",
             "href": "/objects/fixed-assets/transfer-history/1"
            },
            {
             "id": "2",
             "key": "2",
             "href": "/objects/fixed-assets/transfer-history/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "totalSuccess": 2,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a transfer history",
    "description": "Creates a new transfer history.",
    "tags": [
     "Fixed_Assets_Transfer histories"
    ],
    "operationId": "post-fixed-assets-transfer-history",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.fixed-assets.transfer-history"
       },
       "examples": {
        "Create a transfer history": {
         "value": {
          "asset": {
           "key": "3"
          },
          "transferDate": "2024-11-15",
          "dimensions": {
           "location": {
            "key": "1"
           },
           "department": {
            "key": "3"
           },
           "customer": {
            "key": "1"
           },
           "item": {
            "key": "177"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Created transfer history",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Created transfer history": {
          "value": {
           "ia::result": {
            "key": "3",
            "id": "3",
            "href": "/objects/fixed-assets/transfer-history/3"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/fixed-assets/transfer-history/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the transfer history.",
     "in": "path",
     "required": true,
     "example": "1",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a transfer history",
    "description": "Returns detailed information for a specified transfer history.",
    "operationId": "get-fixed-assets-transfer-history-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the transfer history",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.fixed-assets.transfer-history"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the transfer history": {
          "value": {
           "ia::result": {
            "asset": {
             "name": "Laptop",
             "id": "ADJDEC0207",
             "state": "inService",
             "key": "2140"
            },
            "journalEntries": [
             {
              "journalEntry": {
               "id": "9",
               "key": "9",
               "txnNumber": 13
              },
              "transferHistory": {
               "id": "1",
               "key": "1"
              },
              "depreciationSchedule": {
               "id": "2",
               "key": "2"
              },
              "audit": {
               "createdBy": "1",
               "createdDateTime": "2025-01-20T06:08:40Z",
               "modifiedBy": "1",
               "modifiedDateTime": "2025-01-20T06:08:40Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "objects/company-config/user/1"
               }
              },
              "id": "25",
              "key": "25"
             },
             {
              "journalEntry": {
               "id": "7",
               "key": "7",
[...]
