{
 "openapi": "3.0.3",
 "info": {
  "title": "General Ledger",
  "version": "1",
  "description": "The General Ledger is where a company creates and maintains accounts, journals, and financial reports. You use the General Ledger to post journal entries, design and run reports, create budgets, and more. Other Sage Intacct subscriptions automatically post transactions to the General Ledger in real-time."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "General_Ledger_Accounts",
   "x-displayName": "Accounts",
   "description": "Companies post balance sheet, income statement, and statistical transactions to General Ledger accounts. Accounts make it easy to keep track of the transaction type, such as Accounts Payable, Accounts Receivable, Inventory, and the various sub-accounts for those transaction types. The comprehensive list of a company's General Ledger accounts is called its Chart of Accounts."
  },
  {
   "name": "General_Ledger_Account categories",
   "x-displayName": "Account categories",
   "description": "Account categories are high-level classifications that appear in a balance sheet or income statement. Sage Intacct provides ready-made account groups based on account categories for companies using the QuickStart template to simplify setup.\n"
  },
  {
   "name": "General_Ledger_Account ranges",
   "x-displayName": "Account ranges",
   "description": "Account ranges are used to define specific ranges of general ledger accounts. Account groups can include account ranges as group members, along with individual named accounts."
  },
  {
   "name": "General_Ledger_Account name entity maps",
   "x-displayName": "Account name entity maps",
   "description": "An account name entity map represents the mapping of an account name to a specific location and general ledger account in a multi-entity company. This lets you associate different account names with the same GL account for different locations, enabling location-specific financial reporting.\n\nFor more information, read about [account titles by entity](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Account_titles_by_entity) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Account allocations",
   "x-displayName": "Account allocations",
   "description": "Account allocations automatically distribute amounts across dimensions such as departments, locations, projects, or classes. To generate an allocation, first create an allocation definition that captures the rationale, source pool, basis, and target entry details. After the definition is set up, you can generate allocations.\n\nFor example, you might create a definition that distributes expenses across revenue-earning departments, and then generate the allocation for the desired dates.\n\nFor more information, read about [account (dynamic) allocations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_allocations) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Account allocation groups",
   "x-displayName": "Account allocation groups",
   "description": "When you have several allocations that run on the same interval (for example, at month end), creating an allocation group allows you to process these allocations efficiently. You can also order the members of an allocation group in the sequence they need to be processed in, for example, if an allocation is dependent on a different allocation being processed first."
  },
  {
   "name": "General_Ledger_Account allocation group members",
   "x-displayName": "Account allocation group members",
   "description": "Account allocation group members are the member accounts contained within an account allocation group. An account allocation group member contains the reference to the account allocation that is run as part of the account allocation group. Account allocation group member objects can only be created and updated through the owning account allocation group object.\n"
  },
  {
   "name": "General_Ledger_Account allocation runs",
   "x-displayName": "Account allocation runs",
   "description": "An account allocation run represents an execution of an account allocation or account allocation group to distribute amounts across configured dimensions.\nFor more information, read about [generating allocations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Generate_account_allocations) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Account allocation sources",
   "x-displayName": "Account allocation sources",
   "description": "The account allocation source pool determines the source accounts from which Intacct dynamically finds amounts to use in the account allocation. You can use dimension filters to narrow the scope of your allocation by limiting the source pool, for example, to a specific department or location group.\n"
  },
  {
   "name": "General_Ledger_Account allocation basis",
   "x-displayName": "Account allocation basis",
   "description": "The account allocation basis defines how the allocation splits your source pool amount into each allocation focused dimension, it is the blueprint used when calculating dynamic allocations.\n"
  },
  {
   "name": "General_Ledger_Account allocation targets",
   "x-displayName": "Account allocation targets",
   "description": "The account allocation target specifies where the amounts from the source pool are distributed when calculating the account allocation.\n"
  },
  {
   "name": "General_Ledger_Account allocation reversals",
   "x-displayName": "Account allocation reversals",
   "description": "Account allocation reverse creates offset entries to undo previous dynamic account allocation calculations.\n"
  },
  {
   "name": "General_Ledger_Recurring account allocations",
   "x-displayName": "Recurring account allocations",
   "description": "Recurring allocations automate the distribution of amounts across multiple accounts on a scheduled basis. You can build allocation definitions that specify how amounts are allocated from source accounts to target accounts using defined rules and criteria. By scheduling these allocations to run at regular intervals, you ensure that your financial data remains accurate and up-to-date with minimal manual effort.\n\nFor more information, read about [recurring account allocations](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Account_allocations_recurring) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Account groups",
   "x-displayName": "Account groups",
   "description": "All financial reports include account groups, these indicate which accounting data to include in your  reports. For example, a report might include the \"Accounts Payable\" account group for a specific customer or in a specific location. \n\nAccount groups organize accounts into re-usable structures, creating the groupings and amounts that you want to see on reports. You can create as many groups as you need, from large hierarchical structures like \"Net Income\" to flat account groups such as \"Cash and Cash Equivalents,\" and then use them across many different reports, graphs, and dashboard performance cards."
  },
  {
   "name": "General_Ledger_Account group purposes",
   "x-displayName": "Account group purposes",
   "description": "Account group purposes let you filter account groups according to why you might use them, which is particularly useful in financial reporting. You create account group purposes and then assign them to account groups when you create or update the groups."
  },
  {
   "name": "General_Ledger_Account group members",
   "x-displayName": "Account group members",
   "description": "Account group members are the member accounts contained within an account group."
  },
  {
   "name": "General_Ledger_Account group category members",
   "x-displayName": "Account group category members",
   "description": "Account group category members are accounts within a company's Chart of Accounts that have been organized into logical categories. For example, the Assets account group may contain account group category members, such as Cash, Accounts Receivable, and Inventory in the Current Assets category.\n"
  },
  {
   "name": "General_Ledger_Computation account groups",
   "x-displayName": "Computation account groups",
   "description": "Computation account groups consist of other account groups or individual accounts that you use as components in a mathematical equation; results of the equation display in financial reports. For more information, see [Account group types](https://www.intacct.com/ia/docs/en_US/help_action/Reporting/Setup/Account_groups/account-group-types.htm) in the Sage Intacct help center.\n"
  },
  {
   "name": "General_Ledger_Account group maps",
   "x-displayName": "Account group maps",
   "description": "Account group maps provide a view of the relationship between accounts and account groups in your chart of accounts. This correlation makes it easier to analyze financial data and generate reports based on account groupings. With account group maps, you can quickly identify which accounts belong to specific groups, facilitating better financial management and reporting.\n\nFor more information, read about [mapping accounts to account groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Mapping_of_accounts_to_account_groups) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Accounting sequences",
   "x-displayName": "Accounting sequences",
   "description": "Accounting sequences assign a unique sequential number to each posted transaction that affects the General Ledger (GL). This sequence is required for transactions posted to Accounts Payable (AP), Accounts Receivable (AR), Cash Management (CM), and Time and Expenses, as well as for any transaction directly posted to the General Ledger. For more information, see [Accounting sequences](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_accounting_sequence) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Accounting sequence lines",
   "x-displayName": "Accounting sequence lines",
   "description": "Accounting sequence lines associate a GL journal and a document numbering sequence with an accounting sequence. Each accounting sequence can have multiple lines for different journals. For more information, see [Accounting sequences](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_accounting_sequence) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Budgets",
   "x-displayName": "Budgets",
   "description": "Budgets help you to track company performance over time by comparing actual results against forecasted figures across pre-defined reporting periods. A budget represents a financial plan used to estimate company revenue and expenses. Each budget objects contains associated budget detail objects that correspond to specific reporting periods and include information such as location, department or other dimensions.\n\n Before you can create or import a budget, several items in Sage Intacct must be set up:\n\n* Reporting periods for budgeting: Budgets are typically created for reporting periods of 1 month. Reporting periods must exist and be available for inclusion in a budget. The dates of reporting periods selected for budgets cannot overlap. \n* Accounts: Each account for which you want to create a budget must exist in the Chart of Accounts.\n* Dimensions: Although using dimensions in budgets isn't required, dimensions such as Location, Department, or Employee can be included in a budget if they've been created in Intacct.\n\nTo learn more about the requirements for creating a budget, see [Before you create a budget](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Planning_Your_Intacct_Budgets) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Budget details",
   "x-displayName": "Budget details",
   "description": "Budget details for a general ledger account. Create and maintain budget details from the owning budget object. \n\nBudget details include reporting periods for the budget, the budget amount for each period and dimensions, such as departments or locations. Once saved, dimensions added to budget details cannot be changed. \n\nTo track budget data by dimension, create a separate budget detail for each dimension value. For example, to budget travel expenses across three locations, add three budget detail objects, one for each location.\n\nFor more information, read the [overview of creating budgets](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Creating_Editing_Viewing_Budgets) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Journals",
   "x-displayName": "Journals",
   "description": "Journals serve to categorize transactions that are directly entered in the General Ledger and the transactions that are posted from subledgers such as Accounts Payable. For more information see [What journals do you need?](https://www.intacct.com/ia/docs/en_US/help_action/General_Ledger/Setup/Journals/add-edit-journals.htm#Whatjournalsdoyouneed)"
  },
  {
   "name": "General_Ledger_User-defined books",
   "x-displayName": "User-defined books",
   "description": "User-defined books give you a way to manage different reporting standards beyond what's available with GAAP and tax books. After enabling them in the General Ledger, you can create one or more reporting books that you use to track specialized journal entries that are separate from your actual books. For example, a property management firm can create a Real Estate book for tracking and reporting on journal entries specific to that industry.\n\nFor more information, read about [user-defined books](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_user_defined_books_setup) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_User-defined journals",
   "x-displayName": "User-defined journals",
   "description": "User-defined journals are required for creating journal entries in user-defined books. They are also used for reporting and reference purposes.\n\nFor more information, read about [entries for user-defined books](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_user_defined_books) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Journal entries",
   "x-displayName": "Journal entries",
   "description": "Journal entries record accounting entries in the general ledger by specifying affected accounts, amounts and descriptions. Use them to create, update, or reverse entries while ensuring the general ledger remains balanced with offsetting debits and credits.\n\nIf GL Outlier Detection is enabled, Sage Intacct identifies journal entries and allocation splits that deviate from expected patterns. Outlier details are included when retrieving a journal entry object. "
  },
  {
   "name": "General_Ledger_Journal entry lines",
   "x-displayName": "Journal entry lines",
   "description": "Journal entry lines represent individual debit or credit line items within a [journal-entry](general-ledger.journal-entry). You can create or update line items by modifying the journal entry.\n\nWhen adding a line item to the journal entry, you can post it immediately or save it as a draft, which can be edited and posted later."
  },
  {
   "name": "General_Ledger_Journal entry tax entries",
   "x-displayName": "Journal entry tax entries",
   "description": "For VAT enabled transactions, journal entries will have tax entries. Providing multiple tax entries is allowed if the tax solution supports it (AU, GB, FR). For ZA, only one tax entry is allowed."
  },
  {
   "name": "General_Ledger_Journal entry transaction templates",
   "x-displayName": "Journal entry transaction templates",
   "description": "Journal entry transaction templates provide a simplified method for users to enter common journal transactions, without having to remember accounting details such as the GL journal to use and the debit and credit accounts. For more information, see [Transaction templates for journal entries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Creating_Editing_and_Viewing_Transaction_Templates) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Journal entry transaction template lines",
   "x-displayName": "Journal entry transaction template lines",
   "description": "Journal entry transaction template lines define the debit and credit accounts and related dimensions for a journal entry transaction template. Lines are managed through the parent template using the PATCH operation on the journal entry transaction template. For more information, see [Transaction templates for journal entries](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Creating_Editing_and_Viewing_Transaction_Templates) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Reporting periods",
   "x-displayName": "Reporting periods",
   "description": "Reporting periods are used when creating reports and budgets, and when opening and closing books. They limit the information in a report to specific time ranges."
  },
  {
   "name": "General_Ledger_Adjustment journals",
   "x-displayName": "Adjustment journals",
   "description": "General ledger adjustment journals represent journal entries that are used to make adjustments to closed accounting periods. Each adjustment journal contains its own line items, and you can create as many adjustment journals as needed. You can also control whether direct posting is allowed for each journal.\n\nFor more information, read about [adjustment journals](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Viewing_and_Managing_Adjustment_Journals) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_GAAP adjustment journals",
   "x-displayName": "GAAP adjustment journals",
   "description": "GAAP (Generally Accepted Accounting Principles) adjustment journals represent journal entries that are used to post adjustments without changing historical monthly amounts, which maintains the integrity of the operational reporting.\n\nFor more information, read about [GAAP adjustments](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_gaap_and_tax_adjustments) in the Sage Intacct Help Center."
  },
  {
   "name": "General_Ledger_Tax adjustment journals",
   "x-displayName": "Tax adjustment journals",
   "description": "Tax adjustment journals record tax changes for transactions already posted to the general ledger. They help correct errors, reflect tax law updates, and keep tax liability records accurate and compliant.\n\nFor more information, read about [tax adjustments](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_gaap_and_tax_adjustments) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Statistical accounts",
   "x-displayName": "Statistical accounts",
   "description": "Statistical accounts are used to track non-financial data, such as employee headcount, number of members, or even the number of rooms in a hotel."
  },
  {
   "name": "General_Ledger_Statistical journals",
   "x-displayName": "Statistical journals",
   "description": "Statistical journals hold all non-monetary journal entries, which do not have a debit or credit as a transaction. Instead, statistical journal entries simply increase or decrease a value.\n"
  },
  {
   "name": "General_Ledger_Statistical journal entries",
   "x-displayName": "Statistical journal entries",
   "description": "Statistical journal entries record and track non-financial data alongside financial transactions. They help measure key performance indicators and provide valuable insights for business reporting and analysis.\n\nUse statistical journal entries to add, edit, or reverse statistical transactions within a journal before posting them to the general ledger for reporting and analysis.\n"
  },
  {
   "name": "General_Ledger_Statistical journal entry lines",
   "x-displayName": "Statistical journal entry lines",
   "description": "Statistical journal entry lines represent transactions within a statistical journal entry and are created or updated by modifying the statistical journal-entry.\n\nWhen adding a line item, you can post it immediately or save it as a draft, which can be edited and posted later."
  },
  {
   "name": "General_Ledger_Statistical adjustment journals",
   "x-displayName": "Statistical adjustment journals",
   "description": "Use a statistical adjustment journal to store entries made to closed periods. You must create one or more statistical adjustment journals before creating statistical adjusting entries.\n\nFor more information, read about [statistical adjustment journals](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Stat_Adj_Jrnl_Info) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Transaction allocation templates",
   "x-displayName": "Transaction allocation templates",
   "description": "Transaction allocation templates (definitions) provide a way to save standard allocation combinations that are used routinely. You can define an allocation transaction to distribute amounts across multiple dimensions—such as departments, locations, projects, or classes—automatically.\n\nYou can allocate a percentage, a set (absolute) value, or a fixed amount with over/under logic. Each of these methods takes the transaction line amount and allocates it across the dimensions specified in the transaction allocation template. \n\nTransaction allocations are intended for use on single line items, allowing you to distribute amounts during entry of a transaction, usually a one-time action. Transaction allocations are only available for distribution across eight of the standard dimensions and have other restrictions as well.\n\nIf you want to automatically pull updated source balances and distribute them across dimensions according to defined basis calculations, you should use the Dynamic Allocations subscription. See Account Allocations for more info."
  },
  {
   "name": "General_Ledger_Transaction allocation template lines",
   "x-displayName": "Transaction allocation template lines",
   "description": "Transaction allocation template lines define how allocations are distributed. Allocation template lines can only be added, updated, and deleted through the owning txn-allocation-template object."
  },
  {
   "name": "General_Ledger_Financial graphs",
   "x-displayName": "Financial graphs",
   "description": "Financial graphs visualize financial data to help businesses assess performance, spot trends, and make better decisions. They can track metrics like revenue, expenses, profit margins, and cash flow, and compare results over time or against benchmarks. Overall, they provide clear, data-driven insight into financial health.\n\nFor more information, read about [financial graphs](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_financial_graphs) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Reporting accounts",
   "x-displayName": "Reporting accounts",
   "description": "Reporting accounts provide an optional reporting structure in the General Ledger, organized within reporting account sets. Each reporting account maps to either a general ledger account or a statistical account, allowing you to generate financial reports using custom account groupings.\n\nFor more information, read about [reporting accounts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Reporting_accounts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Reporting account maps",
   "x-displayName": "Reporting account maps",
   "description": "Reporting account maps represent the mapping of a reporting account to GL accounts (for financial reporting) or statistical accounts (for statistical reporting). Each reporting account map links one reporting account to one GL or statistical account.\n\nFor more information, read about [mapping GL accounts to reporting accounts](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Options_for_mapping_reporting_accounts) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Reporting account sets",
   "x-displayName": "Reporting account sets",
   "description": "Reporting account sets group reporting accounts for General Ledger financial and statistical reporting. Each set has an administrator who manages account mappings and controls user or user group access.\n\nFor more information, read about [reporting account sets](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Reporting_account_sets) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Reporting account set permissions",
   "x-displayName": "Reporting account set permissions",
   "description": "Reporting account set permissions define whether access to a reporting account set is allowed or denied for everyone, a specific user group, or an individual user. Each permission object identifies the reporting account set and the access level.\n\nFor more information, read about [reporting account sets](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Reporting_account_sets) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Report audiences",
   "x-displayName": "Report audiences",
   "description": "Report audiences define who a report is intended for, such as directors, board members, or internal users. Use report audiences to classify reports for filtering and access workflows.\n\nFor more information, read about [General Ledger reports](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=GL_reports_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Report types",
   "x-displayName": "Report types",
   "description": "Report types define the business category of a General Ledger report, such as balance sheet, income statement, cash flow, or trial balance. Assigning a report type helps users organize reports, apply consistent filters, and quickly find the right report for a specific financial analysis need.\n\nFor more information, read about [General Ledger reports](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=GL_reports_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Reporting categories",
   "x-displayName": "Reporting categories",
   "description": "Reporting categories are high-level classifications that appear in a balance sheet or income statement. Sage Intacct provides ready-made account groups based on reporting categories for companies using the QuickStart template to simplify setup.\n"
  },
  {
   "name": "General_Ledger_Account balance reports",
   "x-displayName": "Account balance reports",
   "description": "The General Ledger (GL) account balance report provides a snapshot of account balances for a specified period, showing opening balances, period activity, and closing balances across accounts and dimensions. This endpoint allows you to submit a request to generate the account balance report for processing. The response includes a `reportId` and `href` that can be used to check the processing status of the report.\n\nFor more information, read about the [account balances report](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Running_Account_Balances_Reports) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Account balance by dimension reports",
   "x-displayName": "Account balance by dimension reports",
   "description": "The General Ledger (GL) account balance by dimension report provides a detailed view of account balances across specified dimensions, such as location, department, and project, for a given period. This endpoint allows you to submit a request to generate the account balance by dimension report for processing. The response includes a `reportId` and `href` that can be used to check the processing status of the report.\n\nFor more information, read about the [dimension balances report](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_dim_bal_rpt) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Account group hierarchy reports",
   "x-displayName": "Account group hierarchy reports",
   "description": "The General Ledger (GL) account groups hierarchy report provides a structured view of your account groups, their member account groups, and the accounts within those groups. This report is useful for understanding the organization of your accounts and how they roll up into financial statements. The report can be customized with various parameters to filter and format the output according to your needs.\n\nFor more information, read about the [account group hierarchy report](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_acct_grp_hier_rpt) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_GL details reports",
   "x-displayName": "GL details reports",
   "description": "The General Ledger (GL) details report provides a comprehensive view of all transactions and activities recorded in the general ledger accounts for a specified period. This endpoint allows you to submit a request to generate the GL details report for processing. The response includes a `reportId` and `href` that can be used to check the processing status of the report.\n\nFor more information, read about the [General Ledger report](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_gl_report) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "General_Ledger_Trial balance reports",
   "x-displayName": "Trial balance reports",
   "description": "The General Ledger (GL) trial balance report provides a snapshot of account balances for a specified period, showing opening balances, period activity, and closing balances across accounts and dimensions. This endpoint allows you to submit a request to generate the trial balance report for processing. The response includes a `reportId` and `href` that can be used to check the processing status of the report.\n\nFor more information, read about the [trial balance report](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_trial_bal_rpt) in the Sage Intacct Help Center.\n"
  }
 ],
 "paths": {
  "/objects/general-ledger/account": {
   "get": {
    "summary": "List accounts",
    "description": "Returns a collection with a key, ID, and link for each account. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find accounts that meet certain criteria and to specify the properties that you want in the response.",
    "tags": [
     "General_Ledger_Accounts"
    ],
    "operationId": "list-general-ledger-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List accounts": {
          "value": {
           "ia::result": [
            {
             "key": "406",
             "id": "9999",
             "href": "/objects/general-ledger/account/406"
            },
            {
             "key": "407",
             "id": "1501.06",
             "href": "/objects/general-ledger/account/407"
            },
            {
             "key": "16",
             "id": "1007",
             "href": "/objects/general-ledger/account/16"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account",
    "description": "Creates a new General Ledger account.",
    "tags": [
     "General_Ledger_Accounts"
    ],
    "operationId": "create-general-ledger-account",
    "requestBody": {
     "description": "Account to create",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account"
         },
         {
          "$ref": "#/components/schemas/general-ledger-accountRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an account": {
         "value": {
          "id": "1501",
          "name": "Vehicle Spare parts - Transmission",
          "accountType": "balanceSheet",
          "closingType": "nonClosingAccount",
          "normalBalance": "debit",
          "alternativeGLAccount": "none",
          "isGermanTaxAccount": false,
          "status": "active",
          "requireDimensions": {
           "department": false,
           "location": false
          },
          "isTaxable": false,
          "disallowDirectPosting": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new account": {
          "value": {
           "ia::result": {
            "key": "356",
            "id": "1501",
            "href": "/objects/general-ledger/account/356"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the account.",
     "in": "path",
     "schema": {
      "type": "string"
     },
     "required": true,
     "example": "411"
    }
   ],
   "get": {
    "summary": "Get an account",
    "description": "Returns detailed information for a specified account.",
    "operationId": "get-general-ledger-account-key",
    "tags": [
     "General_Ledger_Accounts"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the account",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.general-ledger.account"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account": {
          "value": {
           "ia::result": {
            "key": "356",
            "id": "1501",
            "name": "Vehicle Spare parts - Transmission",
            "accountType": "balanceSheet",
            "normalBalance": "debit",
            "closingType": "nonClosingAccount",
            "closeToGLAccount": {
             "id": null,
             "key": null
            },
            "status": "active",
            "requireDimensions": {
             "department": false,
             "location": false,
             "project": false,
             "customer": false,
             "vendor": false,
             "employee": false,
             "item": false,
             "class": false,
             "contract": false,
             "warehouse": false
            },
            "isTaxable": false,
            "category": null,
            "taxCode": null,
            "mrcCode": null,
            "alternativeGLAccount": "none",
            "automaticAccount": false,
            "constructionCategory": "cost",
            "audit": {
             "createdDateTime": "2022-10-15T00:05:46Z",
             "modifiedDateTime": "2022-10-15T00:05:46Z",
             "createdByUser": {
              "key": "68",
              "id": "Abhi",
              "href": "/objects/company-config/user/68"
             },
             "createdBy": "68",
             "modifiedByUser": {
              "key": "68",
              "id": "Abhi",
              "href": "/objects/company-config/user/68"
             },
             "modifiedBy": "68"
            },
            "disallowDirectPosting": true,
            "enableGLMatching": false,
            "reconciliationSequence": null,
            "href": "/objects/general-ledger/account/356"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an account",
    "description": "Updates an existing account by setting field values. Any fields not provided remain unchanged.\n\nAn account `id` (account number) can only be changed if the General Ledger is configured to allow changes to account numbers and by users who have permission to change financial account numbers. Changing account numbers affects important aspects of Sage Intacct such as reports, data imports, historical information, and automation.",
    "tags": [
     "General_Ledger_Accounts"
    ],
    "operationId": "update-general-ledger-account-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account"
         }
        ]
       },
       "examples": {
        "Update account to enable direct posting": {
         "value": {
          "disallowDirectPosting": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Account updated",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated account": {
          "value": {
           "ia::result": {
            "key": "356",
            "id": "1501",
            "href": "/objects/general-ledger/account/356"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an account",
    "description": "Deletes an account. You cannot delete an account if the account is used in a book transaction. Deleted accounts cannot be recovered.",
    "tags": [
     "General_Ledger_Accounts"
    ],
    "operationId": "delete-general-ledger-account-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-category": {
   "get": {
    "summary": "List account categories",
    "description": "Returns a collection with a key, ID, and link for each account category.",
    "tags": [
     "General_Ledger_Account categories"
    ],
    "operationId": "list-general-ledger-account-category",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account categories",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account categories": {
          "value": {
           "ia::result": [
            {
             "key": "129",
             "id": "Patents",
             "href": "/objects/general-ledger/account-category/129"
            },
            {
             "key": "130",
             "id": "Trademark",
             "href": "/objects/general-ledger/account-category/130"
            },
            {
             "key": "131",
             "id": "Copyrights",
             "href": "/objects/general-ledger/account-category/131"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": 4,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-category/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the account category.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "178"
    }
   ],
   "get": {
    "summary": "Get an account category",
    "description": "Returns detailed information for a specified account category.",
    "tags": [
     "General_Ledger_Account categories"
    ],
    "operationId": "get-general-ledger-account-category-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the account category",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.general-ledger.account-category"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account category": {
          "value": {
           "ia::result": {
            "key": "129",
            "id": "Patents",
            "accountType": "Intangible Assets",
            "normalBalance": "debit",
            "href": "/objects/general-ledger/account-category/129"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-range": {
   "get": {
    "summary": "List account ranges",
    "description": "Returns a collection with a key, ID, and link for each account range.",
    "tags": [
     "General_Ledger_Account ranges"
    ],
    "operationId": "list-general-ledger-account-range",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account ranges",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account ranges": {
          "value": {
           "ia::result": [
            {
             "key": "57",
             "id": "57",
             "href": "/objects/general-ledger/account-range/130"
            },
            {
             "key": "58",
             "id": "58",
             "href": "/objects/general-ledger/account-range/132"
            },
            {
             "key": "59",
             "id": "59",
             "href": "/objects/general-ledger/account-range/133"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-range/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the account range.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "178"
    }
   ],
   "get": {
    "summary": "Get an account range",
    "description": "Returns detailed information for a specified account range.",
    "tags": [
     "General_Ledger_Account ranges"
    ],
    "operationId": "get-general-ledger-account-range-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the account range",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.general-ledger.account-range"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account range": {
          "value": {
           "ia::result": {
            "id": "130",
            "key": "130",
            "glAccountGroup": {
             "id": "Accounts Payable group",
             "key": "33",
             "href": "/objects/general-ledger/account-group/33"
            },
            "sortOrder": 0,
            "rangeFrom": "1000",
            "rangeTo": "1501",
            "audit": {
             "createdDateTime": "2022-03-11T09:21:52Z",
             "modifiedDateTime": "2022-03-11T09:21:52Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "href": "/objects/general-ledger/account-range/130"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-name-entity-map": {
   "get": {
    "summary": "List account name entity maps",
    "description": "Returns a collection with a key, ID, and link for each account name entity map. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "General_Ledger_Account name entity maps"
    ],
    "operationId": "list-account-title-by-location",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account name entity maps",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account name entity maps": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/general-ledger/account-name-entity-map/1"
            },
            {
             "key": "2",
             "id": "2",
             "href": "/objects/general-ledger/account-name-entity-map/2"
            },
            {
             "key": "5",
             "id": "5",
             "href": "/objects/general-ledger/account-name-entity-map/5"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account name entity map",
    "description": "Creates a new account name entity map.",
    "tags": [
     "General_Ledger_Account name entity maps"
    ],
    "operationId": "create-account-title-by-location",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account-name-entity-map"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         },
         {
          "$ref": "#/components/schemas/general-ledger-account-name-entity-mapRequiredProperties"
         }
        ]
       },
       "examples": {
        "Creates an account name entity map": {
         "value": {
          "name": "Bank of Tanjore (West India)",
          "location": {
           "id": "Western Region"
          },
          "glAccount": {
           "id": "1410.01"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to account name entity map",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to account name entity map": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "href": "/objects/general-ledger/account-name-entity-map/5"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-name-entity-map/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the account name entity map.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string",
      "example": "2"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an account name entity map",
    "description": "Returns detailed information for a specified account name entity map.",
    "tags": [
     "General_Ledger_Account name entity maps"
    ],
    "operationId": "get-account-title-by-location-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get an account name entity map",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.general-ledger.account-name-entity-map"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account name entity map": {
          "value": {
           "ia::result": {
            "key": "2",
            "id": "2",
            "name": "Bank of Tanjore (West India)",
            "glAccount": {
             "id": "1410.01",
             "key": "21",
             "name": "Corporation Bank of India A/c.",
             "href": "/objects/general-ledger/account/21"
            },
            "location": {
             "id": "Western Region",
             "key": "2",
             "href": "/objects/company-config/location/2"
            },
            "href": "/objects/general-ledger/account-name-entity-map/2"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an account name entity map",
    "description": "Updates an existing account name entity map by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "General_Ledger_Account name entity maps"
    ],
    "operationId": "update-account-title-by-location-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account-name-entity-map"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Updates an account name entity map": {
         "value": {
          "name": "Bank of Tanjore (West India)",
          "location": {
           "id": "Western Region"
          },
          "glAccount": {
           "id": "1003"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated account name entity map",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated account name entity map": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "href": "/objects/general-ledger/account-name-entity-map/5"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an account name entity map",
    "description": "Deletes an account name entity map.",
    "tags": [
     "General_Ledger_Account name entity maps"
    ],
    "operationId": "delete-account-title-by-location-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-allocation": {
   "get": {
    "summary": "List account allocations",
    "description": "Returns a collection with a key, ID, and link for each account allocation. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "General_Ledger_Account allocations"
    ],
    "operationId": "list-general-ledger-account-allocation",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account allocations",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account allocations": {
          "value": {
           "ia::result": [
            {
             "key": "23",
             "id": "23",
             "href": "/objects/general-ledger/account-allocation/23"
            },
            {
             "key": "27",
             "id": "27",
             "href": "/objects/general-ledger/account-allocation/27"
            },
            {
             "key": "21",
             "id": "21",
             "href": "/objects/general-ledger/account-allocation/21"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account allocation",
    "description": "Creates a new account allocation.",
    "tags": [
     "General_Ledger_Account allocations"
    ],
    "operationId": "create-general-ledger-account-allocation",
    "requestBody": {
     "description": "Create an account allocation.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account-allocation"
         },
         {
          "$ref": "#/components/schemas/general-ledger-account-allocationRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an account allocation": {
         "value": {
          "name": "Monthly Expenses RE",
          "description": "Monthly allocation of expenses",
          "methodology": "Monthly Expense allocation across revenue earning departments",
          "status": "active",
          "activityDelta": false,
          "autoReversePriorPostedJournalEntry": false,
          "dimensionTreatment": {
           "location": "preserveValues",
           "department": "allocationFocus",
           "project": "notConsidered",
           "customer": "notConsidered",
           "vendor": "notConsidered",
           "employee": "notConsidered",
           "item": "notConsidered",
           "class": "notConsidered",
           "contract": "notConsidered",
           "warehouse": "notConsidered"
          },
          "latestVersion": null,
          "allowAllocation": "withinOneEntity",
          "glAccountAllocationSource": [
           {
            "glAccountGroup": {
             "id": "Benefits"
            },
            "percentToAllocate": "100",
            "timePeriod": {
             "id": "Current Month"
            },
            "reportingBook": "accrual",
            "useAmountsFrom": "mainReportingBookAndAlternateBooks",
            "dimensions": {
             "location": {
              "id": "1"
             },
             "department": {
              "id": "3"
             },
             "employee": {
              "id": "1"
             }
            }
           }
          ],
          "glAccountAllocationBasis": [
           {
            "glAccountGroup": {
             "key": "29"
            },
            "accumulation": "activity",
            "timePeriod": {
             "id": "Current Month"
            },
            "allocationMethod": "dynamicRelativeAccountFinancial",
            "reportingBook": "accrual",
            "useAmountsFrom": "mainReportingBookAndAlternateBooks",
            "skipNegative": false,
            "dimensions": {
             "location": {
              "id": "1"
             },
             "employee": {
              "id": "1"
             }
            }
           }
          ],
          "glAccountAllocationTarget": [
           {
            "journal": {
             "id": "Others"
            },
            "glAccount": {
             "id": "1000"
            },
            "isBillable": false,
            "dimensions": {
             "location": {
              "id": "AZ"
             },
             "customer": {
              "id": "1"
             }
            }
           }
          ],
          "glAccountAllocationReverse": [
           {
            "useSourceAccount": true,
            "glAccount": {
             "id": "1000"
            },
            "dimensions": {
             "location": {
              "id": "AZ"
             },
             "department": {
              "id": "6"
             }
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New account allocation",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new account allocation": {
          "value": {
           "ia::result": {
            "id": "29",
            "key": "29",
            "href": "/objects/general-ledger/account-allocation/29"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-allocation/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the account allocation.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "178"
    }
   ],
   "get": {
    "summary": "Get an account allocation",
    "description": "Returns detailed information for a specified account allocation.",
    "tags": [
     "General_Ledger_Account allocations"
    ],
    "operationId": "get-general-ledger-account-allocation-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get an account allocation",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.general-ledger.account-allocation"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account allocation": {
          "value": {
           "ia::result": {
            "id": "6",
            "key": "6",
            "name": "Monthly Expenses RE",
            "numberPostedJournalEntries": null,
            "maxPostedJournalEntryDate": null,
            "description": "Monthly allocation of expenses",
            "methodology": "Monthly Expense allocation across revenue earning departments",
            "status": "active",
            "activityDelta": false,
            "autoReversePriorPostedJournalEntry": false,
            "dimensionTreatment": {
             "location": "preserveValues",
             "department": "allocationFocus",
             "project": "notConsidered",
             "customer": "notConsidered",
             "vendor": "notConsidered",
             "employee": "notConsidered",
             "item": "notConsidered",
             "class": "notConsidered",
             "contract": "notConsidered",
             "warehouse": "notConsidered"
            },
            "latestVersion": null,
            "audit": {
             "createdDateTime": "2026-05-26T17:20:20Z",
             "modifiedDateTime": "2026-05-26T17:20:20Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "Admin",
             "modifiedBy": "Admin"
            },
            "journal": {
             "id": "Others",
             "key": "39",
             "href": "/objects/general-ledger/journal/39"
            },
            "allowAllocation": "withinOneEntity",
            "attachment": {
             "id": null,
             "key": null
            },
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "glAccountAllocationSource": [
             {
              "id": "3",
              "key": "3",
              "glAccountAllocation": {
               "id": "6",
               "key": "6",
               "href": "/objects/general-ledger/account-allocation/6"
              },
              "glAccountGroup": {
               "id": "Benefits",
               "key": "53",
               "href": "/objects/general-ledger/account-group/53"
              },
              "percentToAllocate": "100",
              "timePeriod": {
               "id": "Current Month",
               "key": "2",
               "href": "/objects/general-ledger/reporting-period/2"
              },
              "reportingBook": "accrual",
              "useAmountsFrom": "mainReportingBookAndAlternateBooks",
              "currency": "USD",
              "audit": {
               "createdDateTime": "2026-05-26T17:20:20Z",
               "modifiedDateTime": "2026-05-26T17:20:20Z",
               "createdByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "createdBy": "159",
               "modifiedByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "modifiedBy": "159"
              },
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "name": "United States of America",
                "href": "/objects/company-config/location/1"
               },
               "department": {
                "key": "3",
                "id": "3",
                "name": "Engineering",
                "href": "/objects/company-config/department/3"
               },
               "project": {
                "key": null,
                "name": null,
                "id": null
               },
               "customer": {
                "key": null,
                "name": null,
                "id": null
               },
               "vendor": {
                "key": null,
                "name": null,
                "id": null
               },
               "employee": {
                "key": "1",
                "name": "John Smith",
                "id": "1",
                "href": "/objects/company-config/employee/1"
               },
               "item": {
                "key": null,
                "name": null,
                "id": null
               },
               "class": {
                "key": null,
                "name": null,
                "id": null
               },
               "contract": {
                "key": null,
                "name": null,
                "id": null
               },
               "warehouse": {
                "key": null,
                "name": null,
                "id": null
               }
              },
              "href": "/objects/general-ledger/account-allocation-source/3"
             }
            ],
            "glAccountAllocationBasis": [
             {
              "id": "3",
              "key": "3",
              "glAccountAllocation": {
               "id": "6",
               "key": "6",
               "href": "/objects/general-ledger/account-allocation/6"
              },
              "glAccountGroup": {
               "id": "Accounts Payable",
               "key": "29",
               "href": "/objects/general-ledger/account-group/29"
              },
              "accumulation": "activity",
              "timePeriod": {
               "id": "Current Month",
               "key": "2",
               "href": "/objects/general-ledger/reporting-period/2"
              },
              "allocationMethod": "dynamicRelativeAccountFinancial",
              "reportingBook": "accrual",
              "useAmountsFrom": "mainReportingBookAndAlternateBooks",
              "skipNegative": false,
              "audit": {
               "createdDateTime": "2026-05-26T17:20:21Z",
               "modifiedDateTime": "2026-05-26T17:20:21Z",
               "createdByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "createdBy": "159",
               "modifiedByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "modifiedBy": "159"
              },
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "name": "United States of America",
                "href": "/objects/company-config/location/1"
               },
               "department": {
                "key": null,
                "id": null,
                "name": null
               },
               "project": {
                "key": null,
                "name": null,
                "id": null
               },
               "customer": {
                "key": null,
                "name": null,
                "id": null
               },
               "vendor": {
                "key": null,
                "name": null,
                "id": null
               },
               "employee": {
                "key": "1",
                "name": "John Smith",
                "id": "1",
                "href": "/objects/company-config/employee/1"
               },
               "item": {
                "key": null,
                "name": null,
                "id": null
               },
               "class": {
                "key": null,
                "name": null,
                "id": null
               },
               "contract": {
                "key": null,
                "name": null,
                "id": null
               },
               "warehouse": {
                "key": null,
                "name": null,
                "id": null
               }
              },
              "href": "/objects/general-ledger/account-allocation-basis/3"
             }
            ],
            "glAccountAllocationTarget": [
             {
              "id": "3",
              "key": "3",
              "glAccountAllocation": {
               "id": "6",
               "key": "6",
               "href": "/objects/general-ledger/account-allocation/6"
              },
              "journal": {
               "key": "39",
               "title": "Accommodation Expenses",
               "id": "Others",
               "href": "/objects/general-ledger/journal/39"
              },
              "glAccount": {
               "id": "1000",
               "key": "9",
               "name": "Bank of America A/c.",
               "href": "/objects/general-ledger/account/9"
              },
              "isBillable": false,
              "audit": {
               "createdDateTime": "2026-05-26T17:20:21Z",
               "modifiedDateTime": "2026-05-26T17:20:21Z",
               "createdByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "createdBy": "159",
               "modifiedByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "modifiedBy": "159"
              },
              "exchangeRate": {
               "typeId": null
              },
              "dimensions": {
               "location": {
                "key": "72",
                "id": "AZ",
                "name": "Arizona",
                "href": "/objects/company-config/location/72"
               },
               "department": {
                "key": null,
                "id": null,
                "name": null
               },
               "project": {
                "key": null,
                "name": null,
                "id": null
               },
               "customer": {
                "key": "1",
                "name": "Power Aerospace Materials",
                "id": "1",
                "href": "/objects/accounts-receivable/customer/1"
               },
               "vendor": {
                "key": null,
                "name": null,
                "id": null
               },
               "employee": {
                "key": null,
                "name": null,
                "id": null
               },
               "item": {
                "key": null,
                "name": null,
                "id": null
               },
               "class": {
                "key": null,
                "name": null,
                "id": null
               },
               "contract": {
                "key": null,
                "name": null,
                "id": null
               },
               "warehouse": {
                "key": null,
                "name": null,
                "id": null
               }
              },
              "href": "/objects/general-ledger/account-allocation-target/3"
             }
            ],
            "glAccountAllocationReverse": [
             {
              "id": "3",
              "key": "3",
              "glAccountAllocation": {
               "id": "6",
               "key": "6",
               "href": "/objects/general-ledger/account-allocation/6"
              },
              "glAccount": {
               "id": null,
               "key": null,
               "name": null
              },
              "useSourceAccount": true,
              "audit": {
               "createdDateTime": "2026-05-26T17:20:21Z",
               "modifiedDateTime": "2026-05-26T17:20:21Z",
               "createdByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "createdBy": "159",
               "modifiedByUser": {
                "key": "159",
                "id": "Admin",
                "href": "/objects/company-config/user/159"
               },
               "modifiedBy": "159"
              },
              "dimensions": {
               "location": {
                "key": "72",
                "id": "AZ",
                "name": "Arizona",
                "href": "/objects/company-config/location/72"
               },
               "department": {
                "key": "6",
                "id": "6",
                "name": "Marketing",
                "href": "/objects/company-config/department/6"
               },
               "project": {
                "key": null,
                "name": null,
                "id": null
               },
               "customer": {
                "key": null,
                "name": null,
                "id": null
               },
               "vendor": {
                "key": null,
                "name": null,
                "id": null
               },
               "employee": {
                "key": null,
                "name": null,
                "id": null
               },
               "item": {
                "key": null,
                "name": null,
                "id": null
               },
               "class": {
                "key": null,
                "name": null,
                "id": null
               },
               "contract": {
                "key": null,
                "name": null,
                "id": null
               },
               "warehouse": {
                "key": null,
                "name": null,
                "id": null
               }
              },
              "href": "/objects/general-ledger/account-allocation-reverse/3"
             }
            ],
            "href": "/objects/general-ledger/account-allocation/6"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an account allocation",
    "description": "Updates an existing account allocation by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "General_Ledger_Account allocations"
    ],
    "operationId": "update-general-ledger-account-allocation-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account-allocation"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an account allocation": {
         "value": {
          "description": "Yearly allocation of expenses",
          "methodology": "Yearly Expense allocation across revenue earning departments",
          "activityDelta": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated account allocation",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated account allocation": {
          "value": {
           "ia::result": {
            "id": "29",
            "key": "29",
            "href": "/objects/general-ledger/account-allocation/29"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an account allocation",
    "description": "Deletes an account allocation.",
    "tags": [
     "General_Ledger_Account allocations"
    ],
    "operationId": "delete-general-ledger-account-allocation-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-allocation-group": {
   "get": {
    "summary": "List account allocation groups",
    "description": "Returns a collection with a key, ID, and link for each account allocation group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find allocation groups that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "General_Ledger_Account allocation groups"
    ],
    "operationId": "list-general-ledger-account-allocation-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account allocation groups",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account allocation groups": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/general-ledger/account-allocation-group/1"
            },
            {
             "key": "2",
             "id": "2",
             "href": "/objects/general-ledger/account-allocation-group/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account allocation group",
    "description": "Creates a new account allocation group.",
    "tags": [
     "General_Ledger_Account allocation groups"
    ],
    "operationId": "create-general-ledger-account-allocation-group",
    "requestBody": {
     "description": "Create a new account allocation group.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account-allocation-group"
         },
         {
          "$ref": "#/components/schemas/general-ledger-account-allocation-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an account allocation group": {
         "value": {
          "name": "Month end",
          "description": "All month end allocations for the company.",
          "errorProcessingMethod": "skipAndContinue",
          "lines": [
           {
            "glAccountAllocation": {
             "id": "1"
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New account allocation group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new account allocation group": {
          "value": {
           "ia::result": {
            "key": "28",
            "id": "28",
            "href": "/objects/general-ledger/account-allocation-group/28"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-allocation-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the account allocation group.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "178"
    }
   ],
   "get": {
    "summary": "Get an account allocation group",
    "description": "Returns detailed information for a specified account allocation group.",
    "tags": [
     "General_Ledger_Account allocation groups"
    ],
    "operationId": "get-general-ledger-account-allocation-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the account allocation group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.general-ledger.account-allocation-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account allocation group": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "name": "Month end",
            "description": "All month end allocations for the company.",
            "status": "active",
            "errorProcessingMethod": "skipAndContinue",
            "audit": {
             "createdDateTime": "2024-10-08T13:29:18Z",
             "modifiedDateTime": "2024-10-08T13:29:18Z",
             "createdByUser": {
              "key": "34",
              "id": "Admin",
              "href": "/objects/company-config/user/34"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Aman",
              "href": "/objects/company-config/user/1"
             }
            },
            "lines": [
             {
              "key": "6",
              "id": "6",
              "glAccountAllocationGroup": {
               "id": "Month end",
               "key": "5",
               "href": "/objects/general-ledger/account-allocation-group/5"
              },
              "glAccountAllocation": {
               "id": "8",
               "key": "8",
               "href": "/objects/general-ledger/account-allocation/8"
              },
              "status": "active",
              "audit": {
               "createdDateTime": "2024-10-08T13:29:18Z",
               "modifiedDateTime": "2024-10-08T13:29:18Z",
               "createdByUser": {
                "key": "34",
                "id": "Admin",
                "href": "/objects/company-config/user/34"
               },
               "modifiedByUser": {
                "key": "1",
                "id": "Aman",
                "href": "/objects/company-config/user/1"
               }
              },
              "href": "/objects/general-ledger/account-allocation-group-member/6"
             }
            ],
            "href": "/objects/general-ledger/account-allocation-group/5"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an account allocation group",
    "description": "Updates an existing account allocation group by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "General_Ledger_Account allocation groups"
    ],
    "operationId": "update-general-ledger-account-allocation-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account-allocation-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an account allocation group": {
         "value": {
          "name": "Interest allocation",
          "description": "Compute interest allocation."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated account allocation group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated account allocation group": {
          "value": {
           "ia::result": {
            "key": "21",
            "id": "21",
            "href": "/objects/general-ledger/account-allocation-group/21"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an account allocation group",
    "description": "Deletes an account allocation group.",
    "tags": [
     "General_Ledger_Account allocation groups"
    ],
    "operationId": "delete-general-ledger-account-allocation-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-allocation-group-member": {
   "get": {
    "summary": "List account allocation group members",
    "description": "Returns a collection with a key, ID, and link for each group member. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find allocation group members that meet specific criteria and to specify the properties that you want in the response.",
    "tags": [
     "General_Ledger_Account allocation group members"
    ],
    "operationId": "list-general-ledger-account-allocation-group-member",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account allocation group members",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account allocation group members": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/general-ledger/account-allocation-group-member/1"
            },
            {
             "key": "2",
             "id": "2",
             "href": "/objects/general-ledger/account-allocation-group-member/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-allocation-group-member/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the account allocation group member.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an account allocation group member",
    "description": "Returns detailed information for a specified account allocation group member.",
    "tags": [
     "General_Ledger_Account allocation group members"
    ],
    "operationId": "get-general-ledger-account-allocation-group-member-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the account allocation group member",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.general-ledger.account-allocation-group-member"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account allocation group member": {
          "value": {
           "ia::result": {
            "id": "1",
            "key": "1",
            "glAccountAllocationGroup": {
             "id": "Fringe Group",
             "key": "1",
             "href": "/objects/general-ledger/account-allocation-group/1"
            },
            "glAccountAllocation": {
             "name": "Fringe01",
             "id": "1",
             "key": "1",
             "href": "/objects/general-ledger/account-allocation/1"
            },
            "status": "active",
            "audit": {
             "createdDateTime": "2024-10-08T13:29:18Z",
             "modifiedDateTime": "2024-10-08T13:29:18Z",
             "createdByUser": {
              "key": "34",
              "id": "Admin",
              "href": "/objects/company-config/user/34"
             },
             "modifiedByUser": {
              "key": "1",
              "id": "Aman",
              "href": "/objects/company-config/user/1"
             }
            },
            "href": "/objects/general-ledger/account-allocation-group-member/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/general-ledger/account-allocation-run": {
   "get": {
    "summary": "List account allocation runs",
    "description": "Returns a collection with a key, ID, and link for each account allocation run. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "General_Ledger_Account allocation runs"
    ],
    "operationId": "list-general-ledger-account-allocation-run",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account-allocation-run objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account allocation runs": {
          "value": {
           "ia::result": [
            {
             "key": "105",
             "id": "105",
             "href": "/objects/general-ledger/account-allocation-run/105"
            },
            {
             "key": "106",
             "id": "106",
             "href": "/objects/general-ledger/account-allocation-run/106"
            },
            {
             "key": "108",
             "id": "108",
             "href": "/objects/general-ledger/account-allocation-run/108"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account allocation run",
    "description": "Creates a new account allocation run.",
    "tags": [
     "General_Ledger_Account allocation runs"
    ],
    "operationId": "create-general-ledger-account-allocation-run",
    "requestBody": {
     "description": "Create an account allocation run",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.general-ledger.account-allocation-run"
         },
         {
          "$ref": "#/components/schemas/general-ledger-account-allocation-runRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an account allocation run": {
         "value": {
          "asOfDate": "2024-08-24",
          "glPostingDate": "2024-10-25",
          "email": "angie.kuman@mycompany.com",
          "accountAllocationGroup": {
           "id": "5"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New account allocation run",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create a new account allocation run": {
          "value": {
           "ia::result": {
            "id": "97",
            "key": "97",
            "href": "/objects/general-ledger/account-allocation-run/97"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
[...]
