{
 "openapi": "3.0.3",
 "info": {
  "title": "Inventory Control",
  "version": "1",
  "description": "Use Inventory Control to track your merchandise and maintain and analyze your inventory. This subscription is fully integrated with the other Sage Intacct subscriptions, particularly Purchasing and Order Entry."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Inventory_Control_Aisles",
   "x-displayName": "Aisles",
   "description": "An aisle is one of four optional attributes (zone, aisle, row, and bin face) you can assign to a bin to make it easier to find in the warehouse."
  },
  {
   "name": "Inventory_Control_Bins",
   "x-displayName": "Bins",
   "description": "A bin identifies a specific location within a warehouse where items are or can be stored. Bins make it easier to find items during transaction processing."
  },
  {
   "name": "Inventory_Control_Bin faces",
   "x-displayName": "Bin faces",
   "description": "A bin face is one of four optional attributes (zone, aisle, row, and bin face) you can assign to a bin to make it easier to find within the warehouse."
  },
  {
   "name": "Inventory_Control_Bin sizes",
   "x-displayName": "Bin sizes",
   "description": "A bin size in an attribute you can assign to a bin to help determine whether the bin is suitable for storing certain items."
  },
  {
   "name": "Inventory_Control_Inventory cycles",
   "x-displayName": "Inventory cycles",
   "description": "Create and use inventory cycles to keep track of when to take physical inventory."
  },
  {
   "name": "Inventory_Control_Cycle counts",
   "x-displayName": "Cycle counts",
   "description": "Cycle counting is an inventory auditing procedure in which a small amount of inventory is regularly counted in the warehouse. The general goal is to count the entire inventory over a period of time and update the inventory at the end of each count.\n\nAn inventory control cycle count object contains high-level information about a cycle count, such as the warehouse where the count is being conducted and the employee that will count the inventory. The lines in a cycle count represent individual items being counted.\n\nFor more information, see [Cycle counts overview](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Cycle_counts_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Cycle count lines",
   "x-displayName": "Cycle count lines",
   "description": "Cycle count lines represent the items included in a cycle count. You can create or update line items by modifying the cycle count.\n\nA cycle count line records the quantity and location of an item included in a cycle count. Each line is associated with a specific cycle count through the `cycleCount` field.\n\nFor more information, see [Cycle counts overview](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Cycle_counts_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Inventory documents",
   "x-displayName": "Inventory documents",
   "description": "An Inventory Control document contains information about inventory transactions. An inventory transaction is usually an adjustment or a transfer. When you create a new document, it represents the first transaction in a workflow and it can only be converted to the next transaction in a workflow. \n\nFor more information, see [Define transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Create_Inventory_Transaction_Redirect) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Inventory document lines",
   "x-displayName": "Inventory document lines",
   "description": "Line information for inventory transactions, including opening balances and adjustments. Create and maintain document lines from the owning [document object](inventory-control.document)."
  },
  {
   "name": "Inventory_Control_Inventory document line details",
   "x-displayName": "Inventory document line details",
   "description": "This object contains warehouse inventory details for all or part of a document line, including serial number, aisle, bin, and row per item."
  },
  {
   "name": "Inventory_Control_Document line supplies details",
   "x-displayName": "Document line supplies details",
   "description": "This object provides inventory supplies details for document lines."
  },
  {
   "name": "Inventory_Control_Inventory document histories",
   "x-displayName": "Inventory document histories",
   "description": "An inventory document history contains one entry for each existing transaction in the workflow associated with the selected transaction."
  },
  {
   "name": "Inventory_Control_Inventory document subtotals",
   "x-displayName": "Inventory document subtotals",
   "description": "Details of subtotals, taxes, discounts, charges, and more for an inventory transaction."
  },
  {
   "name": "Inventory_Control_Supplies documents",
   "x-displayName": "Supplies documents",
   "description": "A supplies document lists purchasing requisition line items that are enabled for the Supplies workbench. The Supplies workbench helps manage internal supplies that employees need day-to-day, and program-related supplies that support a company's mission or operations. \n\nFor more information, see [Using the Supplies workbench](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=supplies-workbench) in the Sage Intacct Help Center.   \n"
  },
  {
   "name": "Inventory_Control_Supplies document details",
   "x-displayName": "Supplies document details",
   "description": "This object provides supplies requisition details for line items listed in a supplies document."
  },
  {
   "name": "Inventory_Control_Items",
   "x-displayName": "Items",
   "description": "Items are goods, services, or kits that you purchase from vendors or sell to customers. Items are used in Inventory Control, Order Entry, and Purchasing. The type of an item (`itemType`) affects other item parameters. \nPossible item types are:\n* `inventory` - Items that will be available in inventory, sales, and purchasing transactions.\n* `nonInventory` - Items that will be available in both sales and purchasing transactions or contracts.\n* `purchaseOnlyNonInventory` - Items that will only be available in purchasing transactions or contract expenses. \n* `salesOnlyNonInventory` - Items that will only be available in sales transactions or contracts.\n* `kit` - The parent item of a (non-stockable) kit (which is assembled from other items at the time of the order). This type is only available if Kits is enabled in either Order Entry or Inventory Control.\n* `stockableKit` - The parent item of a stockable kit (which is assembled from other items and stored before order). This type is only available if Stockable kits is enabled in Inventory Control.\n"
  },
  {
   "name": "Inventory_Control_Item cross references",
   "x-displayName": "Item cross references",
   "description": "An item cross reference associates an inventory item with a specific customer or vendor, or with another inventory item.\n\nWhen an inventory item is associated with a customer or vendor (known as an external cross-reference), the customer or vendor can provide their own identifiers for inventory items that can be used in transactions.\n\nWhen an inventory item is associated with another inventory item (known as an internal cross-reference), you can provide an alternate item to substitute, upgrade, downgrade, or complement that item in Order Entry transactions in Sage Intacct. For more information, see [Item cross references](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Item_cross_references_OE) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Item landed costs",
   "x-displayName": "Item landed costs",
   "description": "A landed cost item is a non-inventory item that represents a landed cost expense, such as freight, insurance, customs duties, or handling fees.\n\nThis object is valid when Inventory Control is configured to enable landed costs.\nFor more information, see [Landed costs overview](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Landed_costs_overview) in the Sage Intacct Help Center.\n\nCreate and maintain landed costs from the owning [item object](inventory-control.item).\n"
  },
  {
   "name": "Inventory_Control_Item vendors",
   "x-displayName": "Item vendors",
   "description": "This object provides details about an item that can be purchased from a particular vendor. Create and maintain item vendors from the owning [item object](inventory-control.item)."
  },
  {
   "name": "Inventory_Control_Item warehouse inventory information",
   "x-displayName": "Item warehouse inventory information",
   "description": "Warehouse inventory information is used with Inventory and Stockable Kit items. Sage Intacct uses the information from these records in the Inventory Reorders report."
  },
  {
   "name": "Inventory_Control_Item warehouse standard costs",
   "x-displayName": "Item warehouse standard costs",
   "description": "This object allows you to record different standard costs for different date ranges for item and warehouse combinations."
  },
  {
   "name": "Inventory_Control_Item warehouse vendors",
   "x-displayName": "Item warehouse vendors",
   "description": "Use this object to specify the vendor information you want to use in the replenishment calculations for the item in this warehouse."
  },
  {
   "name": "Inventory_Control_Item groups",
   "x-displayName": "Item groups",
   "description": "An item group categorizes item dimension records, mainly for the purpose of structuring financial reporting."
  },
  {
   "name": "Inventory_Control_Item GL groups",
   "x-displayName": "Item GL groups",
   "description": "Item GL groups are used to organize transaction definitions for posting to the general ledger."
  },
  {
   "name": "Inventory_Control_Item warehouse available inventories",
   "x-displayName": "Item warehouse available inventories",
   "description": "This object provides information about available quantities for items, including warehouse tracking information."
  },
  {
   "name": "Inventory_Control_Item tax group item maps",
   "x-displayName": "Item tax group item maps",
   "description": "An item tax group item map associates a tax schedule with items and item tax groups, which drive the taxes that are applied to a line item.\n\nApplicable when using Advanced Tax without the Taxes module. For more information see [Tax Schedule Maps](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/Sales_tax/Intacct_Advanced_Tax/Setup/advtax-tax-schedule-maps.htm).\n"
  },
  {
   "name": "Inventory_Control_Kit components",
   "x-displayName": "Kit components",
   "description": "Components are items included in a kit. Kits are common combinations of items that can be ordered and invoiced as a single item to simplify data entry. Kits can include inventory items, non-inventory items, and other kits."
  },
  {
   "name": "Inventory_Control_Price lists",
   "x-displayName": "Price lists",
   "description": "A price list is a container for price list entries. Each associated price list entry should have a unique combination of item or product line, currency, start and end date range, and, optionally, minimum and maximum quantity range. For more information about price lists, see [Price lists - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Price_lists_oe) and [Price lists - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_price_list) in the Sage Intacct Help Center."
  },
  {
   "name": "Inventory_Control_Price list entries",
   "x-displayName": "Price list entries",
   "description": "An inventory price list entry contains the pricing for a selected item within a selected price list. You can create price list entries for items whose prices are determined based on an amount, a discount or mark-up percentage, the quantity sold, and more."
  },
  {
   "name": "Inventory_Control_Product lines",
   "x-displayName": "Product lines",
   "description": "Product lines are groups of related products. Using product lines makes it easier to update prices and track inventory movement. See [Product lines](https://www.intacct.com/ia/docs/en_US/help_action/Order_Entry/Setting_up_Order_Entry/product-lines-OE.htm) for more information."
  },
  {
   "name": "Inventory_Control_Rows",
   "x-displayName": "Rows",
   "description": "A row is one of four optional attributes (zone, aisle, row, and bin face) you can assign to a bin to make it easier to find in the warehouse."
  },
  {
   "name": "Inventory_Control_Stockable kit documents",
   "x-displayName": "Stockable kit documents",
   "description": "Component items in a stockable kit are assembled together to make it an inventoried item. Stockable kit documents provide a record of stockable kit build and disassembly transactions.\n\nWhen stockable kits are built, the inventory of the components added to the stockable kit is reduced and the number of stockable kits is increased.\nWhen stockable kits are disassembled, the inventory of the components removed from the stockable kit is increased and the number of stockable kits is decreased.\n\nFor more information, see [Kits](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_kits) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Stockable kit document lines",
   "x-displayName": "Stockable kit document lines",
   "description": "Each stockable kit document line object lists the stockable kits that were built or disassembled and the component items that were included in the kits. These transactions are recorded for inventory management and tracking purposes.\n\nYou can create or update document line items by creating or modifying the [stockable kit document](inventory-control.stockable-kit-document).\n"
  },
  {
   "name": "Inventory_Control_Posting summaries",
   "x-displayName": "Posting summaries",
   "description": "An inventory control posting summary provides a summary of how an inventory transaction is posted to the general ledger (GL), including the resulting journal entry and related posting information.\n\n**When to use**: Use the posting summary object to retrieve information about a transaction definition after it posts to the general ledger, including the journal entry record number. \n\n**Relationships**: Posting summaries are derived from inventory transaction definitions and are associated with the resulting general ledger entries generated during posting.\n\n**Lifecycle context**: Posting summaries represent the final accounting outcome of the transaction and persist as part of the audit trail, supporting financial reporting, reconciliation, and traceability between operational inventory activity and financial records. \n"
  },
  {
   "name": "Inventory_Control_Inventory totals",
   "x-displayName": "Inventory totals",
   "description": "Use inventory totals to keep track of the items on hand that are available for sale. Sage Intacct is preconfigured with nine inventory totals for tracking inventory that's damaged, in transit, on hand, on hold, on order, requisitioned, or is scrap and spoilage. You can also create your own inventory totals as needed.\n\nAn inventory total can be assigned to a transaction definition so that the specified total is affected when a transaction with that definition template is saved. For more information and a detailed example, see [Inventory totals](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_Viewing_Inventory_Total_Information) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Landed cost categories",
   "x-displayName": "Landed cost categories",
   "description": "Landed cost categories are labels that identify the distribution method for proportionately applying the amount of a landed cost, either estimated costs or actual costs, to the applicable inventory items in the original purchase transactions.\n\nWhen you create a category, you can specify a distribution method of count, value, volume, or weight. For more information, see [Landed cost categories](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Landed_cost_categories) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Lot categories",
   "x-displayName": "Lot categories",
   "description": "Lot categories let you group a specific set of items that have something in common. For example, you can create categories for items with similar characteristics, such as perishable goods, chemicals, medical supplies, or health and beauty products.\n"
  },
  {
   "name": "Inventory_Control_Replenishment forecasts",
   "x-displayName": "Replenishment forecasts",
   "description": "When the expected demand for an inventory item fluctuates greatly over time, for example if the item is seasonal, use a replenishment forecast to more accurately predict your inventory needs. During the replenishment process, Sage Intacct uses the replenishment forecast to determine the forecasted demand of the item during the vendor lead times to determine if the item needs reordering.\n\nFor more information see, [Replenishment](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_replenishment_setup) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Inventory_Control_Replenishment forecast lines",
   "x-displayName": "Replenishment forecast lines",
   "description": "Line items of the replenishment forecast. Each line item represents the forecasted demand for an item in a warehouse on a specific date. You can create or update line items by modifying the owning replenishment forecast."
  },
  {
   "name": "Inventory_Control_Replenishment runs",
   "x-displayName": "Replenishment runs",
   "description": "This object contains details about purchase orders generated by an inventory replenishment run, including whether each requested purchase order was created successfully. \n\nA replenishment run record is generated each time you create purchase orders using the replenishment process to reorder items. For more information, see [Replenishment runs](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Replenishment_runs) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Replenishment run lines",
   "x-displayName": "Replenishment run lines",
   "description": "This line object represents the details of a purchase order generated from the owning replenishment run, such as the vendor, number of items, transaction amount, and creation state of the purchase order."
  },
  {
   "name": "Inventory_Control_Serial masks",
   "x-displayName": "Serial masks",
   "description": "Serial masks define the format for product serial numbers. Serial numbers are strings of alphanumeric characters used to identify particular inventory items.\n\nAfter creating a serial mask, you then assign the mask to appropriate inventory items. When users enter serial numbers for those items, the system checks that the numbers comply with the mask format. This helps ensure that serial numbers are consistent and valid across your inventory. \n\nFor more information, see [Serial masks](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_Viewing_Serial_Mask_Information) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Valuation maintenance objects",
   "x-displayName": "Valuation maintenance objects",
   "description": "Inventory Control valuation maintenance operations allow you to detect any issues that may exist for your inventory valuation, including current unit costs and cost of goods sold (COGS), and update these costs.\n\nUse the `action` property to specify whether you want to just analyze and report potential issues with your inventory valuation, or also update unit costs and COGS to resolve any issues detected. \n\nWhen you create a valuation maintenance object, you can choose to run it immediately or schedule it to run in the future. You can also specify filters to limit the scope of the operation, such as which warehouses, items, or cost methods to include. After the operation runs, you can view the results to see if any issues were detected and what actions were taken.\n\nFor more information, see [Schedule Inventory Valuation Maintenance](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Schedule_inventory_valuation_maintenance) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Inventory transaction definitions",
   "x-displayName": "Inventory transaction definitions",
   "description": "A transaction definition includes the accounting rules, workflow settings, security settings, and other characteristics for a transaction. For more information, see [Transaction Definitions - Inventory Control](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Inventory_transaction_definitions) in the Sage Intacct Help Center."
  },
  {
   "name": "Inventory_Control_Inventory transaction definition COGS GL details",
   "x-displayName": "Inventory transaction definition COGS GL details",
   "description": "The inventory transaction definition COGS GL detail object defines the general ledger account mappings used when an inventory transaction posts cost of goods sold (COGS) adjustments. It ensures that inventory transactions consistently generate the correct debit and credit entries in the general ledger based on configured rules and dimensions.\n**When to use**: Use this object when you need to define or retrieve how inventory transactions map to COGS and related GL accounts, particularly for integrations that require accurate financial posting behavior. It is also used when configuring or validating accounting rules tied to inventory transaction definitions.\n\n\n\n\n\n **Relationships**: This object is part of inventory transaction definition configuration and works with related objects that define totals, subtotals, sources, and entity settings, collectively determining both the operational and accounting behavior of inventory transactions.\n\n **Lifecycle context**: This object plays a role in the posting stage of the lifecycle, where processed inventory transactions generate financial entries and update the general ledger with COGS and related account impacts."
  },
  {
   "name": "Inventory_Control_Inventory transaction definition entity details",
   "x-displayName": "Inventory transaction definition entity details",
   "description": "This object contains entity-specific configuration settings for an inventory transaction definition, including which entities can create transactions and how those transactions are configured at the entity level. These settings are applicable to transaction definitions that are configured to create transactions at the \"Top level or entity\" or \"Entity only\" level.\n\n**When to use**: Use this object when you need to determine or configure how a transaction definition behaves for specific entities, such as identifying where a definition is available, how transactions are numbered, or which templates are applied within each entity.\n\n**Relationships**: Entity details are associated with an inventory transaction definition, which serves as the template governing the behavior of inventory transactions. They extend the base transaction definition by applying entity-level overrides and configurations in multi-entity companies.\n\n**Lifecycle context**: Entity details are defined as part of transaction definition setup and configuration, particularly in environments using entity-level or top-level transaction creation. They are applied before transactions are created and remain in effect throughout the lifecycle of transactions generated under the definition, influencing document creation, numbering, and presentation at the entity level.  \n"
  },
  {
   "name": "Inventory_Control_Inventory transaction definition sources",
   "x-displayName": "Inventory transaction definition sources",
   "description": "The inventory transaction definition source object defines how an inventory transaction can originate from other transaction types by specifying the document conversion rules and source relationships within a workflow. It ensures that transactions are created within the correct business context, with relevant data carried forward consistently and traceably.\n\n**When to use**: Use this object when you need to define or retrieve the valid source transactions for an inventory transaction definition, or when supporting document conversion workflows that rely on upstream transaction relationships.\n\n**Relationships**: This object is part of Inventory transaction definition configuration and works with related objects that define entity behavior, totals, subtotals, and accounting impacts, collectively shaping how transactions are created, processed, and posted.\n\n**Lifecycle context**: This object governs the conversion stage of the inventory transaction lifecycle, where upstream transactions are transformed into downstream transactions, ensuring that transitions between workflow stages follow defined and valid paths.  "
  },
  {
   "name": "Inventory_Control_Inventory transaction definition subtotal details",
   "x-displayName": "Inventory transaction definition subtotal details",
   "description": "Inventory transaction definition subtotal detail objects define the subtotal types supported by an inventory transaction definition and help structure how intermediate values are grouped within a transaction. Subtotal configuration shapes how transaction data is organized and presented as part of the overall transaction definition.\n\n**When to use**: Use this object when you need to define or retrieve the subtotal behavior for an inventory transaction definition, especially in integrations that depend on how transaction values are grouped before final totals are calculated. It is also relevant when you are documenting or validating transaction-definition configuration for inventory workflows.\n\n**Relationships**: This object is part of Inventory configuration and works alongside related objects that define sources, totals, entity-level settings, and accounting behavior for the same transaction definition. Together, these objects describe how an inventory transaction is configured, processed, and tracked across the workflow.\n\n**Lifecycle context**: This object plays its primary role during transaction-definition setup, where the structure and calculation behavior of inventory transactions are configured before users enter or process transactions. Its impact carries forward into transaction entry and processing by determining how subtotal information appears within the transaction's overall flow."
  },
  {
   "name": "Inventory_Control_Inventory transaction definition total details",
   "x-displayName": "Inventory transaction definition total details",
   "description": "The inventory transaction definition total detail object defines how an inventory transaction affects tracked inventory totals, such as on-hand or on-order quantities. It ensures that each transaction consistently updates inventory balances according to the rules configured in the transaction definition.\n\n**When to use**: Use this object when you need to define or retrieve how a transaction impacts inventory totals or when building integrations that depend on accurate inventory balance updates.\n\n**Relationships**: This object is part of Inventory configuration and works alongside related objects that define sources, subtotals, and accounting behavior to fully control how transactions are processed and recorded.\n\n**Lifecycle context**: This object plays a role in the processing and posting stages of the lifecycle, where inventory transactions update balances and reflect their impact on stock availability and tracking.  "
  },
  {
   "name": "Inventory_Control_Units of measure",
   "x-displayName": "Units of measure",
   "description": "Details for a unit of measure included in a unit of measure group. Sage Intacct places related units of measure into groups.\nFor example, the Count group includes related units of measure such as each, pair, and dozen. For more information, see [About unit of measure groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_uom_groups_oe).\n"
  },
  {
   "name": "Inventory_Control_Unit of measure groups",
   "x-displayName": "Unit of measure groups",
   "description": "Unit of measure group are provided for items handled under Inventory Control, Order Entry, and Purchasing. Intacct places related units of measure into groups.\nFor example, the Count group includes related units of each, pair, and dozen. \nThe unit of measure (UOM) groups that are provided with Sage Intacct cannot be deleted. Use the Sage Intacct UOM groups as is and create custom UOM groups. \nFor more information, see [About unit of measure groups](https://www.intacct.com/ia/docs/en_US/help_action/Order_Entry/Setting_up_Order_Entry/UOM_groups/about-UOM-groups-OE.htm).\n"
  },
  {
   "name": "Inventory_Control_Warehouses",
   "x-displayName": "Warehouses",
   "description": "A warehouse can be an actual warehouse, a store, or any type of stocking location or site that requires inventory tracking and management. Warehouse also serves as a dimension that can be set on transactions to expand report functionality and insight. See [Define warehouses](https://www.intacct.com/ia/docs/en_US/help_action/Inventory_Control/Setting_up_Inventory_Control/Warehouses/warehouses.htm) for more information.\n"
  },
  {
   "name": "Inventory_Control_Warehouse transfers",
   "x-displayName": "Warehouse transfers",
   "description": "Use warehouse transfers to transfer items between warehouses or to transfer items between bins in the same warehouse. When you post a warehouse transfer, Sage Intacct creates the underlying system transactions, which includes automatically propagating the costs of the items.\n\nYou cannot change the cost of the items when they move into the destination warehouse. For more information, see [Warehouse transfers overview](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Warehouse_transfer_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Warehouse transfer lines",
   "x-displayName": "Warehouse transfer lines",
   "description": "Lines in a warehouse transfer represent items included in the transfer and details about those items. You can create or update warehouse transfer lines by creating or modifying the [warehouse transfer](inventory-control.warehouse-transfer).\n"
  },
  {
   "name": "Inventory_Control_Warehouse groups",
   "x-displayName": "Warehouse groups",
   "description": "A warehouse group categorizes warehouse dimension records, mainly for the purpose of structuring financial reporting.\n\nFor more information, see [About warehouse groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=IC-warehouse-dimension-groups) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Zones",
   "x-displayName": "Zones",
   "description": "A zone is one of four optional attributes (zone, aisle, row, and bin face) you can assign to a bin to make it easier to find in the warehouse."
  },
  {
   "name": "Inventory_Control_Item activity reports",
   "x-displayName": "Item activity reports",
   "description": "An Item Activity report contains detailed information about which items are available (on-order, on-hand, and reserved quantity totals), and where they are located. Use the Item Activity report to view:\n* Items available in each warehouse.\n* Types of item transactions for a selected period.\n* Availability of items that are components of a kit (creating a sales order for a kit moves the component items to reserved status).\n\nFor more information, see [Item Activity report](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Running_Item_Activity_Reports) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Inventory_Control_Inventory valuation reports",
   "x-displayName": "Inventory valuation reports",
   "description": "An Inventory Valuation report displays a list of inventory items, quantities available, item cost, and costing method. The total of all items is the total inventory value on the balance sheet.\n\nThe report is divided into two sections: Summary and Detail. The Details section shows what's on the shelf, the summary section shows the value in a warehouse.\n\nFor more information, see [Inventory Valuation report](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Running_Inventory_Valuation_Reports) in the Sage Intacct Help Center. \n"
  }
 ],
 "paths": {
  "/objects/inventory-control/aisle": {
   "get": {
    "summary": "List aisles",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each aisle. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Inventory_Control_Aisles"
    ],
    "operationId": "list-inventory-control-aisle",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of aisle objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List aisles": {
          "value": {
           "ia::result": [
            {
             "key": "145",
             "id": "A12",
             "href": "/objects/inventory-control/aisle/145"
            },
            {
             "key": "146",
             "id": "A14",
             "href": "/objects/inventory-control/aisle/146"
            },
            {
             "key": "147",
             "id": "A16",
             "href": "/objects/inventory-control/aisle/147"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an aisle",
    "description": "Creates a new aisle.",
    "tags": [
     "Inventory_Control_Aisles"
    ],
    "operationId": "create-inventory-control-aisle",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.aisle"
         },
         {
          "$ref": "#/components/schemas/inventory-control-aisleRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an aisle": {
         "value": {
          "id": "A12",
          "description": "Aisle 12 Dishwashers"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New aisle",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create an aisle": {
          "value": {
           "ia::result": {
            "key": "145",
            "id": "AD12",
            "href": "/objects/inventory-control/aisle/145"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/aisle/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string",
      "example": "145"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the aisle.",
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an aisle",
    "description": "Returns detailed information for a specified aisle.",
    "tags": [
     "Inventory_Control_Aisles"
    ],
    "operationId": "get-inventory-control-aisle-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the aisle",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.inventory-control.aisle"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an aisle": {
          "value": {
           "ia::result": {
            "key": "145",
            "id": "A12",
            "description": "Aisle 12 of dishwashers",
            "audit": {
             "createdDateTime": "2021-05-07T01:15:23Z",
             "modifiedDateTime": "2021-05-07T01:15:23Z",
             "createdBy": "13",
             "modifiedBy": "13"
            },
            "href": "/objects/inventory-control/aisle/145"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an aisle",
    "description": "Updates an existing aisle by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Inventory_Control_Aisles"
    ],
    "operationId": "update-inventory-control-aisle-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.aisle"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a single value": {
         "value": {
          "description": "Aisle 1 dishwashers"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated aisle",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated aisle": {
          "value": {
           "ia::result": {
            "key": "145",
            "id": "A12",
            "href": "/objects/inventory-control/aisle/145"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an aisle",
    "description": "Deletes an aisle. You can delete an aisle if it is not being used and you no longer need it. Deleted aisles cannot be recovered.",
    "tags": [
     "Inventory_Control_Aisles"
    ],
    "operationId": "delete-inventory-control-aisle-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/bin": {
   "get": {
    "summary": "List bins",
    "description": "Returns up to 100 objects from the collection with a key, ID, and link for each bin. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Inventory_Control_Bins"
    ],
    "operationId": "list-inventory-control-bin",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of bin objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List bins": {
          "value": {
           "ia::result": [
            {
             "key": "12",
             "id": "Z4-A2-R3a-BF2-B10",
             "href": "/objects/inventory-control/bin/122"
            },
            {
             "key": "32",
             "id": "Z4-A2-R3a-BF2-B11",
             "href": "/objects/inventory-control/bin/132"
            },
            {
             "key": "44",
             "id": "Z4-A2-R3a-BF2-B12",
             "href": "/objects/inventory-control/bin/44"
            },
            {
             "key": "13",
             "id": "Z4-A2-R3a-BF2-B13",
             "href": "/objects/inventory-control/bin/13"
            }
           ],
           "ia::meta": {
            "totalCount": 4,
            "start": 1,
            "pageSize": 100,
            "next": 2,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a bin",
    "description": "Creates a new bin.",
    "tags": [
     "Inventory_Control_Bins"
    ],
    "operationId": "create-inventory-control-bin",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.bin"
         },
         {
          "$ref": "#/components/schemas/inventory-control-binRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a bin": {
         "value": {
          "id": "Z4-A2-R3a-BF2-B10",
          "description": "Bin Adapters 2",
          "sequenceNumber": "4432",
          "isPortable": true,
          "warehouse": {
           "id": "WA2"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New bin",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New bin": {
          "value": {
           "ia::result": {
            "key": "111",
            "id": "Z4-A2-R3a-BF2-B10",
            "href": "/objects/inventory-control/bin/111"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/bin/{key}": {
   "parameters": [
    {
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the bin.",
     "schema": {
      "type": "string",
      "example": "111"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a bin",
    "description": "Returns detailed information for a specified bin.",
    "tags": [
     "Inventory_Control_Bins"
    ],
    "operationId": "get-inventory-control-bin-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the bin",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.inventory-control.bin"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a bin": {
          "value": {
           "ia::result": {
            "key": "111",
            "id": "Z4-A2-R3a-BF2-B10",
            "description": "Bin of adapters 2",
            "warehouse": {
             "key": "2",
             "id": "WA2",
             "href": "/objects/inventory-control/warehouse/2"
            },
            "aisle": {
             "key": "13",
             "id": "A2",
             "href": "/objects/inventory-control/aisle/13"
            },
            "row": {
             "key": "23",
             "id": "R3a",
             "href": "/objects/inventory-control/row/23"
            },
            "zone": {
             "key": "12",
             "id": "Z4",
             "href": "/objects/inventory-control/zone/12"
            },
            "binFace": {
             "key": "3",
             "id": "BF2",
             "href": "/objects/inventory-control/bin-face/3"
            },
            "binSize": {
             "key": "5",
             "id": "B10",
             "href": "/objects/inventory-control/bin-size/5"
            },
            "href": "/objects/inventory-control/bin/111",
            "sequenceNumber": "1221",
            "status": "active",
            "isPortable": false,
            "audit": {
             "createdDateTime": "2021-05-07T21:30:03Z",
             "modifiedDateTime": "2021-05-07T21:30:03Z",
             "createdBy": "13",
             "modifiedBy": "13"
            }
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a bin",
    "description": "Updates an existing bin by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Inventory_Control_Bins"
    ],
    "operationId": "update-inventory-control-bin-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.bin"
         }
        ]
       },
       "examples": {
        "Update a single value": {
         "value": {
          "description": "Bin of adapters 3"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated bin",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated bin": {
          "value": {
           "ia::result": {
            "key": "2",
            "id": "Z4-A2-R3a-BF2-B10",
            "href": "/objects/inventory-control/bin/2"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a bin",
    "description": "Deletes a bin. You can delete a bin if it is not being used and you no longer need it.",
    "tags": [
     "Inventory_Control_Bins"
    ],
    "operationId": "delete-inventory-control-bin-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/error-response"
        },
        "examples": {
         "Response example": {
          "value": {
           "ia::result": {
            "ia::error": {
             "code": "invalidRequest",
             "message": "A POST request requires a payload",
             "errorId": "REST-1028",
             "additionalInfo": {
              "messageId": "IA.REQUEST_REQUIRES_A_PAYLOAD",
              "placeholders": {
               "OPERATION": "POST"
              },
              "propertySet": {}
             },
             "supportId": "Kxi78%7EZuyXBDEGVHD2UmO1phYXDQAAAAo"
            }
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 0,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/bin-face": {
   "get": {
    "summary": "List bin faces",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each bin face. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Inventory_Control_Bin faces"
    ],
    "operationId": "list-inventory-control-bin-face",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of bin-face objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List bin faces": {
          "value": {
           "ia::result": [
            {
             "key": "12",
             "id": "BF11",
             "href": "/objects/inventory-control/bin-face/12"
            },
            {
             "key": "14",
             "id": "BF22",
             "href": "/objects/inventory-control/bin-face/14"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a bin face",
    "description": "Creates a new bin face.",
    "tags": [
     "Inventory_Control_Bin faces"
    ],
    "operationId": "create-inventory-control-bin-face",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.bin-face"
         },
         {
          "$ref": "#/components/schemas/inventory-control-bin-faceRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a bin face": {
         "value": {
          "id": "BF2",
          "description": "Bin Face 2"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New bin-face",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create a bin face": {
          "value": {
           "ia::result": {
            "key": "22",
            "id": "BF2",
            "href": "/objects/inventory-control/bin-face/22"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/bin-face/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string",
      "example": "1232"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the bin-face.",
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a bin face",
    "description": "Returns detailed information for a specified bin face.",
    "tags": [
     "Inventory_Control_Bin faces"
    ],
    "operationId": "get-inventory-control-bin-face-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the bin-face",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.inventory-control.bin-face"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a bin face": {
          "value": {
           "ia::result": {
            "key": "1232",
            "id": "BF123",
            "description": "Bin Face 123",
            "audit": {
             "createdDateTime": "2021-05-07T01:15:23Z",
             "modifiedDateTime": "2021-05-07T01:15:23Z",
             "createdBy": "13",
             "modifiedBy": "13"
            },
            "href": "/objects/inventory-control/bin-face/1232"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a bin face",
    "description": "Updates an existing bin face by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Inventory_Control_Bin faces"
    ],
    "operationId": "update-inventory-control-bin-face-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.bin-face"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a single value": {
         "value": {
          "description": "W1 G1 Bestsellers"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated bin-face",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated bin face": {
          "value": {
           "ia::result": {
            "key": "1232",
            "id": "BF123",
            "href": "/objects/inventory-control/bin-face/1232"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a bin face",
    "description": "Deletes a bin face.",
    "tags": [
     "Inventory_Control_Bin faces"
    ],
    "operationId": "delete-inventory-control-bin-face-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/bin-size": {
   "get": {
    "summary": "List all bin sizes",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each bin size. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Inventory_Control_Bin sizes"
    ],
    "operationId": "list-inventory-control-bin-size",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of bin-size objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List bin sizes": {
          "value": {
           "ia::result": [
            {
             "key": "1322",
             "id": "BS14",
             "href": "/objects/inventory-control/bin-size/1322"
            },
            {
             "key": "1323",
             "id": "BS13",
             "href": "/objects/inventory-control/bin-size/1323"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a bin size",
    "description": "Creates a new bin size.",
    "tags": [
     "Inventory_Control_Bin sizes"
    ],
    "operationId": "create-inventory-control-bin-size",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.bin-size"
         },
         {
          "$ref": "#/components/schemas/inventory-control-bin-sizeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a bin size": {
         "value": {
          "id": "BS12",
          "description": "Bin size 12"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New bin-size",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New bin size": {
          "value": {
           "ia::result": {
            "key": "1323",
            "id": "BS12",
            "href": "/objects/inventory-control/bin-size/1323"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/bin-size/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string",
      "example": "1324"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the bin size.",
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a bin size",
    "description": "Returns detailed information for a specified bin size.",
    "tags": [
     "Inventory_Control_Bin sizes"
    ],
    "operationId": "get-inventory-control-bin-size-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the bin-size",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.inventory-control.bin-size"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a bin size": {
          "value": {
           "ia::result": {
            "key": "1324",
            "id": "BS132",
            "description": "Bin size 132",
            "audit": {
             "createdDateTime": "2021-05-07T01:15:23Z",
             "modifiedDateTime": "2021-05-07T01:15:23Z",
             "createdBy": "13",
             "modifiedBy": "13"
            },
            "href": "/objects/inventory-control/bin-size/1324"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a bin size",
    "description": "Updates an existing bin size by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Inventory_Control_Bin sizes"
    ],
    "operationId": "update-inventory-control-bin-size-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.bin-size"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a single value": {
         "value": {
          "description": "Size 1 2024 dimensions"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated bin-size",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated bin size": {
          "value": {
           "ia::result": {
            "key": "1324",
            "id": "BS132",
            "href": "/objects/inventory-control/bin-size/1324"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a bin size",
    "description": "Deletes a bin size. You can delete a bin size if it is not being used and you no longer need it.",
    "tags": [
     "Inventory_Control_Bin sizes"
    ],
    "operationId": "delete-inventory-control-bin-size-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/cycle": {
   "get": {
    "summary": "List inventory cycles",
    "description": "Returns a collection with a key, ID, and link for each inventory cycle.",
    "tags": [
     "Inventory_Control_Inventory cycles"
    ],
    "operationId": "list-inventory-control-cycle",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of inventory-cycle objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List inventory cycles": {
          "value": {
           "ia::result": [
            {
             "key": "145",
             "id": "A12",
             "href": "/objects/inventory-control/cycle/45"
            },
            {
             "key": "146",
             "id": "A14",
             "href": "/objects/inventory-control/cycle/46"
            },
            {
             "key": "147",
             "id": "A16",
             "href": "/objects/inventory-control/cycle/47"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an inventory cycle",
    "description": "Creates a new inventory cycle.",
    "tags": [
     "Inventory_Control_Inventory cycles"
    ],
    "operationId": "create-inventory-control-cycle",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.cycle"
         },
         {
          "$ref": "#/components/schemas/inventory-control-cycleRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an inventory cycle": {
         "value": {
          "id": "Monthly Cycle",
          "description": "Monthwise inventory cycle",
          "status": "active"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New inventory cycle",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new inventory cycle": {
          "value": {
           "ia::result": {
            "key": "48",
            "id": "Monthly Cycle",
            "href": "/objects/inventory-control/cycle/48"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/cycle/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the inventory cycle.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an inventory cycle",
    "description": "Returns detailed information for a specified inventory cycle.",
    "tags": [
     "Inventory_Control_Inventory cycles"
    ],
    "operationId": "get-inventory-control-cycle-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the inventory-cycle",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.inventory-control.cycle"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an inventory cycle": {
          "value": {
           "ia::result": {
            "key": "45",
            "id": "Weekly Cycle",
            "description": "Weekly inventory cycle",
            "status": "active",
            "audit": {
             "createdDateTime": "2024-05-07T01:15:23Z",
             "modifiedDateTime": "2024-05-07T01:15:23Z",
             "createdBy": "13",
             "modifiedBy": "13"
            },
            "href": "/objects/inventory-control/cycle/45"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an inventory cycle",
    "description": "Updates an existing inventory cycle by setting field values. Any fields not provided remain unchanged. The cycle ID cannot be modified.",
    "tags": [
     "Inventory_Control_Inventory cycles"
    ],
    "operationId": "update-inventory-control-cycle-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.cycle"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an inventory cycle": {
         "value": {
          "description": "Monthly inventory cycle",
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated inventory cycle",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated inventory cycle": {
          "value": {
           "ia::result": {
            "key": "48",
            "id": "Monthly Cycle",
            "href": "/objects/inventory-control/cycle/48"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an inventory cycle",
    "description": "Deletes an inventory cycle.",
    "tags": [
     "Inventory_Control_Inventory cycles"
    ],
    "operationId": "delete-inventory-control-inventory-cycle-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/cycle-count": {
   "get": {
    "summary": "List inventory control cycle counts",
    "description": "Returns a collection with a key, ID, and link for each inventory control cycle count. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Inventory_Control_Cycle counts"
    ],
    "operationId": "list-inventory-control-cycle-count",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of inventory control cycle count objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List cycle counts": {
          "value": {
           "ia::result": [
            {
             "key": "21",
             "id": "21",
             "href": "/objects/inventory-control/cycle-count/21"
            },
            {
             "key": "22",
             "id": "22",
             "href": "/objects/inventory-control/cycle-count/21"
            },
            {
             "key": "23",
             "id": "23",
             "href": "/objects/inventory-control/cycle-count/23"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an inventory control cycle count",
    "description": "Creates a new inventory control cycle count.",
    "tags": [
     "Inventory_Control_Cycle counts"
    ],
    "operationId": "create-inventory-control-cycle-count",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.cycle-count"
         },
         {
          "$ref": "#/components/schemas/inventory-control-cycle-countRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a cycle count": {
         "value": {
          "documentNumber": "ICCC-0000002",
          "description": "Inventory count for in-house laptops",
          "warehouse": {
           "id": "WH10001"
          },
          "assignedTo": {
           "id": "KIMMI"
          },
          "quantity": {
           "excludedAllocatedQuantity": true,
           "showQuantityOnHand": false
          },
          "lines": [
           {
            "item": {
             "id": "14 Inch laptop 32gb"
            },
            "tracking": {
             "bin": {
              "id": "B-12"
             },
             "lotNumber": "L0012"
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New inventory control cycle count",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new cycle count": {
          "value": {
           "ia::result": {
            "id": "207",
            "key": "207",
            "href": "/objects/inventory-control/cycle-count/207"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/cycle-count/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the inventory control cycle count.",
     "in": "path",
     "example": "207",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get an inventory control cycle count",
    "description": "Returns detailed information for a specified inventory control cycle count.",
    "tags": [
     "Inventory_Control_Cycle counts"
    ],
    "operationId": "get-inventory-control-cycle-count-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the inventory control cycle count",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.inventory-control.cycle-count"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a cycle count": {
          "value": {
           "ia::result": {
            "id": "213",
            "key": "213",
            "documentNumber": "ICC-000000079",
            "description": "Inventory count for in-house laptops",
            "warehouse": {
             "key": "3",
             "id": "WH10001",
             "href": "/objects/inventory-control/warehouse/3"
            },
            "assignedTo": {
             "key": "50",
             "id": "KIMMI",
             "href": "/objects/company-config/employee/50"
            },
            "state": "reconciled",
            "startDate": "2025-08-01",
            "endDate": "2025-08-29",
            "quantity": {
             "showQuantityOnHand": false,
             "adjustmentCount": 1,
             "damageAdjustmentCount": 1,
             "linesInCount": 1,
             "linesSkipped": 0,
             "excludedAllocatedQuantity": false
            },
            "audit": {
             "createdDateTime": "2025-08-29T23:06:25Z",
             "modifiedDateTime": "2025-08-29T23:06:25Z",
             "createdBy": "1",
             "modifiedBy": "1"
            },
            "adjustmentDate": "2025-08-29",
            "adjustmentPostDate": "2025-08-29",
            "quantityOnHandLastUpdateDate": null,
            "entity": {
             "key": "1",
             "id": "1",
             "name": "United States of America",
             "href": "/objects/company-config/entity/1"
            },
            "lines": [
             {
              "id": "72075",
              "key": "72075",
              "cycleCount": {
               "id": "213",
               "key": "213",
               "href": "/objects/inventory-control/cycle-count/213"
              },
              "item": {
               "key": "1064",
               "id": "#1776-CANDLE",
               "name": "Candle 1776",
               "costMethod": "FIFO",
               "href": "/objects/inventory-control/item/1064"
              },
              "tracking": {
               "bin": {
                "key": "33",
                "id": "B132",
                "href": "/objects/inventory-control/bin/33"
               },
               "aisle": {
                "key": null,
                "id": null
               },
               "zone": {
                "key": null,
                "id": null
               },
               "row": {
                "key": null,
                "id": null
               },
               "serialNumber": null,
               "lotNumber": "L10",
               "expirationDate": null
              },
              "unitOfMeasure": {
               "id": "Each",
               "key": "79",
               "href": "/objects/inventory-control/unit-of-measure/79"
              },
              "quantity": {
               "counted": "11.00",
               "damaged": "1.00",
               "onHand": "10.00",
               "actualAdjustment": "1.00",
               "actualDamagedQuantityAdjustment": 1,
               "onHandAtEnd": "10.00"
              },
              "adjustmentReason": "sitting on shelf but was damaged.",
              "countedBy": {
               "key": "50",
               "id": "KIMMI",
               "href": "/objects/company-config/employee/50"
              },
              "lineCountStatus": "counted",
              "cycle": {
               "id": "IMPORTED",
               "key": "10",
               "href": "/objects/inventory-control/cycle/10"
              },
              "productLine": {
               "id": null,
               "key": null
              },
              "audit": {
               "createdDateTime": "2025-05-30T06:23:40Z",
               "modifiedDateTime": "2025-05-30T06:23:40Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "unitCost": "12.32",
              "reviewComment": "sitting on shelf but was damaged.",
              "inventoryDocument": {
               "key": "6879",
               "id": "SYS-CC Adjustment Increase-ADJ-ICCC-0000002",
               "href": "/objects/inventory-control/document/6879"
              },
              "inventoryDocumentLine": {
               "id": "60541",
               "key": "60541",
               "href": "/objects/inventory-control/document-line/60541"
              },
              "dimensions": {
               "nsp::product_line1": {
                "key": null
               }
              },
              "href": "/objects/inventory-control/cycle-count-line/72075"
             }
            ],
            "href": "/objects/inventory-control/cycle-count/213"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an inventory control cycle count",
    "description": "Updates an existing inventory control cycle count by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Inventory_Control_Cycle counts"
    ],
    "operationId": "update-inventory-control-cycle-count-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.cycle-count"
         },
         {
          "type": "object",
          "properties": {
           "documentNumber": {
            "readOnly": true
           },
           "warehouse": {
            "readOnly": true
           },
           "assignedTo": {
            "readOnly": true
           },
           "description": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a cycle count": {
         "value": {
          "key": "207",
          "lines": [
           {
            "key": "72075",
            "quantity": {
             "counted": "11.00",
             "damaged": "1.00"
            },
            "adjustmentReason": "sitting on shelf but was damaged"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated inventory control cycle count",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated cycle count": {
          "value": {
           "ia::result": {
            "id": "207",
            "key": "207",
            "href": "/objects/inventory-control/cycle-count/207"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an inventory control cycle count",
    "description": "Deletes an inventory control cycle count.",
    "tags": [
     "Inventory_Control_Cycle counts"
    ],
    "operationId": "delete-inventory-control-cycle-count-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/cycle-count-line": {
   "get": {
    "summary": "List inventory control cycle count lines",
    "description": "Returns a collection with a key, ID, and link for each inventory control cycle count line. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Inventory_Control_Cycle count lines"
    ],
    "operationId": "list-inventory-control-cycle-count-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of inventory control cycle count line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List cycle count lines": {
          "value": {
           "ia::result": [
            {
             "key": "21",
             "id": "21",
             "href": "/objects/inventory-control/cycle-count-line/21"
            },
            {
             "key": "22",
             "id": "22",
             "href": "/objects/inventory-control/cycle-count-line/22"
            },
            {
             "key": "23",
             "id": "23",
             "href": "/objects/inventory-control/cycle-count-line/23"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/cycle-count-line/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the inventory control cycle count line.",
     "example": "21",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get an inventory control cycle count line",
    "description": "Returns detailed information for a specified inventory control cycle count line.",
    "tags": [
     "Inventory_Control_Cycle count lines"
    ],
    "operationId": "get-inventory-control-cycle-count-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the inventory control cycle count line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.inventory-control.cycle-count-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a cycle count line": {
          "value": {
           "ia::result": {
            "id": "72075",
            "key": "72075",
            "cycleCount": {
             "id": "213",
             "key": "213",
             "href": "/objects/inventory-control/cycle-count/213"
            },
            "item": {
             "key": "1064",
             "id": "#1776-CANDLE",
             "name": "Candle 1776",
             "costMethod": "FIFO",
             "href": "/objects/inventory-control/item/1064"
            },
            "tracking": {
             "bin": {
              "key": "33",
              "id": "B132",
              "href": "/objects/inventory-control/bin/33"
             },
             "aisle": {
              "key": null,
              "id": null
             },
             "zone": {
              "key": null,
              "id": null
             },
             "row": {
              "key": null,
              "id": null
             },
             "serialNumber": null,
             "lotNumber": "L10",
             "expirationDate": null
            },
            "unitOfMeasure": {
             "id": "Each",
             "key": "79",
             "href": "/objects/inventory-control/unit-of-measure/79"
            },
            "quantity": {
             "counted": "10.00",
             "damaged": "1.00",
             "onHand": "10.00",
             "actualAdjustment": "1.00",
             "actualDamagedQuantityAdjustment": 1,
             "onHandAtEnd": "10.00"
            },
            "adjustmentReason": "sitting on shelf but was damaged.",
            "countedBy": {
             "key": "50",
             "id": "KIMMI",
             "href": "/objects/company-config/employee/50"
            },
            "lineCountStatus": "counted",
            "cycle": {
             "id": "IMPORTED",
             "key": "10",
             "href": "/objects/inventory-control/cycle/10"
            },
            "productLine": {
             "id": null,
             "key": null
            },
            "audit": {
             "createdDateTime": "2025-05-30T06:23:40Z",
             "modifiedDateTime": "2025-05-30T06:23:40Z",
             "createdBy": "1",
             "modifiedBy": "1"
            },
            "unitCost": "12.32",
            "reviewComment": "sitting on shelf but was damaged.",
            "inventoryDocument": {
             "key": "6879",
             "id": "SYS-CC Adjustment Increase-ADJ-ICCC-0000002",
             "href": "/objects/inventory-control/document/6879"
            },
            "inventoryDocumentLine": {
             "id": "60541",
             "key": "60541",
             "href": "/objects/inventory-control/document-line/60541"
            },
            "dimensions": {
             "nsp::product_line1": {
              "key": null
             }
            },
            "href": "/objects/inventory-control/cycle-count-line/72075"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an inventory control cycle count line",
    "description": "Deletes an inventory control cycle count line.",
    "tags": [
     "Inventory_Control_Cycle count lines"
    ],
    "operationId": "delete-inventory-control-cycle-count-line-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/document": {
   "get": {
    "summary": "List inventory documents",
    "description": "Returns a collection with a key, ID, and link for each inventory document. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Inventory_Control_Inventory documents"
    ],
    "operationId": "list-inventory-control-document",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of inventory-control-document objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List inventory documents": {
          "value": {
           "ia::result": [
            {
             "key": "1477",
             "id": "SYS-Warehouse Transfer Out-WHXFER-000009-doc-Out",
             "href": "/objects/inventory-control/document::SYS-Warehouse%20Transfer%20Out/1477"
            },
            {
             "key": "1478",
             "id": "SYS-Warehouse Transfer In-WHXFER-000009-doc-In",
             "href": "/objects/inventory-control/document::SYS-Warehouse%20Transfer%20In/1478"
            },
            {
             "key": "298",
             "id": "Adjustment Decrease-007",
             "href": "/objects/inventory-control/document::Adjustment%20Decrease/298"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/inventory-control/document::{documentName}": {
   "parameters": [
    {
     "$ref": "#/components/parameters/documentName"
    }
   ],
   "get": {
    "summary": "List named inventory documents",
    "description": "Returns a collection with a key, ID, and link for each inventory document with the specified name. For example, to list all documents that are based on the Inventory Receipt transaction definition, specify `Inventory Receipt` as the `documentName` in the request URL.\n\nThis operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Inventory_Control_Inventory documents"
    ],
    "operationId": "list-inventory-control-named-document",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of Inventory Control documents",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List named inventory documents": {
          "value": {
           "ia::result": [
            {
             "key": "1132",
             "id": "Inventory Receipt-ADJINC0010",
             "href": "/objects/inventory-control/document::Inventory%20Receipt/1132"
            },
            {
             "key": "1183",
             "id": "Inventory Receipt-ADJINC0013",
             "href": "/objects/inventory-control/document::Inventory%20Receipt/1183"
            },
            {
             "key": "1203",
             "id": "Inventory Receipt-ADJINC0014",
             "href": "/objects/inventory-control/document::Inventory%20Receipt/1203"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an inventory document",
    "description": "Creates a new Inventory Control document. To create a new inventory document, specify the transaction definition that is the template for the new document as `documentName` in the request URL. To access a list of available transaction definitions, use the list operation of the [transaction definition](inventory-control.txn-definition) object. For example, to create a new inventory document that uses the Beginning Balance transaction definition as a template, specify `Beginning Balance` for the `documentName` in the request URL.\n\nYou can create a document if the **Create policy** for the associated transaction definition is not set to \"Convert only\".  If the transaction type that you want to create has a **Create policy** that's set to \"Convert only\", you have to convert an existing transaction into the desired transaction. \n",
    "tags": [
     "Inventory_Control_Inventory documents"
    ],
    "operationId": "create-inventory-control-document",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.inventory-control.document"
         },
         {
          "$ref": "#/components/schemas/inventory-control-documentRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an inventory document": {
         "value": {
          "state": "pending",
          "transactionDate": "2024-02-14",
          "referenceNumber": "HAMMER16 starting quantity",
          "memo": "Hammers already on hand",
          "baseCurrency": "USD",
          "txnCurrency": "USD",
          "lines": [
           {
            "unitOfMeasure": {
             "id": "Each"
            },
            "unitQuantity": "100",
            "unitCost": "10",
            "dimensions": {
             "item": {
              "id": "HAMMER16"
             },
             "warehouse": {
              "id": "WareHouse10004"
             },
             "location": {
              "id": "1"
             }
            },
            "trackingDetail": [
             {
              "quantity": "100",
              "bin": {
               "id": "B1004-001"
              }
             }
            ]
           }
[...]
