{
 "openapi": "3.0.3",
 "info": {
  "title": "Order Entry",
  "version": "1",
  "description": "Order Entry involves the creation and management of customer orders. Activities related to order entry include managing data related to customer orders, processing order transactions, and running reports on customer orders."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Order_Entry_Documents",
   "x-displayName": "Documents",
   "description": "An Order Entry document contains information about sales transactions. An order entry transaction can be a quote, order, shipper, invoice, or adjustment. When you create a new document, it represents the first transaction in a workflow, and it can only be converted to the next transaction in a workflow.\n\nSee [Transactions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_oe_transactions) in the Sage Intacct Help Center for more information.\n"
  },
  {
   "name": "Order_Entry_Document lines",
   "x-displayName": "Document lines",
   "description": "Line items in an Order Entry document represent Order Entry transactions."
  },
  {
   "name": "Order_Entry_Document line details",
   "x-displayName": "Document line details",
   "description": "Inventory tracking details including serial number, aisle, bin, and row per line item.\n\nCreate and maintain document line details by creating and updating the `trackingDetail` in the owning [document line objects](order-entry.document-line).\n"
  },
  {
   "name": "Order_Entry_Document line subtotals",
   "x-displayName": "Document line subtotals",
   "description": "Details of the subtotals, taxes, discounts, charges, and more for the document line."
  },
  {
   "name": "Order_Entry_Document histories",
   "x-displayName": "Document histories",
   "description": "An Order Entry document history contains one entry for each existing transaction in the workflow associated with the selected transaction."
  },
  {
   "name": "Order_Entry_Document subtotals",
   "x-displayName": "Document subtotals",
   "description": "Details of subtotals, taxes, discounts, charges, and more for an Order Entry transaction."
  },
  {
   "name": "Order_Entry_Document configuration preferences",
   "x-displayName": "Document configuration preferences",
   "description": "This object specifies configuration preferences for transaction definitions, including which journals to post to and the email template to use when sending emails from a transaction."
  },
  {
   "name": "Order_Entry_Price lists",
   "x-displayName": "Price lists",
   "description": "Order entry price lists contain the sales prices for products or services used in sales transactions. Create a price list and then create the price list entries associated with the list. See [Price lists &mdash; Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Order_Entry/Setting_up_Order_Entry/Price_lists/price-lists-OE.htm?TocPath=Applications%7COrder%20Entry%7CSetup%7CPrice%20lists%7C_____1) for more information."
  },
  {
   "name": "Order_Entry_Price list entries",
   "x-displayName": "Price list entries",
   "description": "Contains the pricing for a selected item within a selected price list. You can create price list entries for items whose prices are determined based on an amount, a discount or mark-up percentage, the quantity sold, and more.\n\nFor more information, see [Price list entries - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Price_list_entries_oe) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Price schedules",
   "x-displayName": "Price schedules",
   "description": "Price schedules are pricing groups that you can assign to one or more customers."
  },
  {
   "name": "Order_Entry_Renewal templates",
   "x-displayName": "Renewal templates",
   "description": "Order Entry renewal templates define the structure and rules for automating contract or subscription renewals. When you create a sales transaction from a transaction definition that has renewals enabled, you can select a renewal template to use for a particular transaction line item. To learn more, see [Renewal Templates - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Renewal_templates_OE) in the Sage Intacct Help Center."
  },
  {
   "name": "Order_Entry_Subtotal templates",
   "x-displayName": "Subtotal templates",
   "description": "Subtotal templates represent a reusable set of subtotal definitions that can be applied to order entry transaction definitions to control how intermediate totals, such as discounts, charges, or taxes, are calculated and displayed within a transaction.\n\n**When to use**: Use this object in multi-entity organizations when you need to standardize or manage how subtotals are calculated in order entry transactions, such as applying consistent discount structures, tax calculations, or grouped totals across different transaction definitions.\n\n**Relationships**: Subtotal templates are referenced by order entry transaction definitions, which use them to determine how subtotals are calculated and presented within transactions. Each template contains one or more subtotal lines that define calculation logic and posting behavior.\n\n**Lifecycle context**: Subtotal templates are created and configured as part of transaction definition setup, particularly in environments using advanced workflows. Once assigned to a transaction definition, they are applied during transaction creation to calculate subtotals, and changes to templates typically affect only new transaction definitions or configurations going forward."
  },
  {
   "name": "Order_Entry_Subtotal template lines",
   "x-displayName": "Subtotal template lines",
   "description": "Subtotal template lines represent individual subtotal definitions within a subtotal template, defining how a specific intermediate value, such as a discount, charge, or tax, is calculated, applied, and posted within an order entry transaction. Each subtotal template line specifies the calculation type, default value, application logic, and general ledger (GL) posting behavior for that subtotal.\n\n**When to use**: Use this object when you need to define or manage the calculation logic for individual subtotals within a template, such as configuring discount percentages, freight charges, or tax amounts, and controlling how these values are applied to transaction lines.\n\n**Relationships**: Subtotal template lines are components of a subtotal template, which is referenced by order entry transaction definitions. Each line contributes a single subtotal rule, and multiple lines together define the full set of subtotal calculations applied within a transaction.\n\n**Lifecycle context**: Subtotal template lines are created and maintained as part of subtotal template configuration. When a template is assigned to a transaction definition, its lines are applied during transaction processing to calculate intermediate totals, validate amounts, and generate corresponding GL postings. Changes to template lines typically affect only future configurations or newly created transaction definitions."
  },
  {
   "name": "Order_Entry_Customer GL groups",
   "x-displayName": "Customer GL groups",
   "description": "Customer GL groups are categories of customers grouped together so that transactions can be posted to specific GL accounts. Assign each customer record to a customer GL group. Finally, map the customer GL group to GL accounts within transaction definitions.\n"
  },
  {
   "name": "Order_Entry_Recurring documents",
   "x-displayName": "Recurring documents",
   "description": "A recurring document contains the transaction header, line item details, and schedule information that Sage Intacct uses to create recurring transactions. For more information about recurring transactions, see [About recurring transactions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_recurring_transactions_oe) in the Sage Intacct Help Center."
  },
  {
   "name": "Order_Entry_Recurring document lines",
   "x-displayName": "Recurring document lines",
   "description": "Line items in a recurring document represent recurring transactions."
  },
  {
   "name": "Order_Entry_Recurring document subtotals",
   "x-displayName": "Recurring document subtotals",
   "description": "Details of subtotals, taxes, discounts, charges, and more for the transaction."
  },
  {
   "name": "Order_Entry_Recurring schedules",
   "x-displayName": "Recurring schedules",
   "description": "Recurring schedules define how and when a sales transaction (such as an invoice or order) repeats over time. They automate the creation of multiple transactions from a single template, reducing manual effort for recurring billing scenarios. \n\nRecurring schedules are only used when a user converts a transaction by line item. For more information see, [Recurring schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Recurring_schedules_oe) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Transaction definitions",
   "x-displayName": "Transaction definitions",
   "description": "A transaction definition is the template for a sales transaction. It contains the accounting rules, workflow settings, and other configuration settings that determine a transaction's behavior.\n\nSee [About transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_OE_transaction_definitions) in the Sage Intacct Help Center for more information.\n"
  },
  {
   "name": "Order_Entry_Transaction definition additional GL details",
   "x-displayName": "Transaction definition additional GL details",
   "description": "Use this object for additional General Ledger account mapping. When additional GL posting is enabled for the owning transaction definition, the `postToGL` field is set to `true`, additional GL posting account mapping is available. \n\nThe item GL group and warehouse together form the criteria set for the account mapping. For more information, see [Transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Order_Entry_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Accounts Receivable or direct GL account details",
   "x-displayName": "Accounts Receivable or direct GL account details",
   "description": "If the owning Order Entry transaction definition has transaction posting set to either Accounts Receivable or General Ledger (the `txnPostingMethod` field is set to `toAR` or `toGL`), the applicable account mapping is defined using this object.\n\nThe item GL group, warehouse, and customer GL group together form the criteria set for the account mapping. For more information, see [Transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Order_Entry_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Transaction definition COGS details",
   "x-displayName": "Transaction definition COGS details",
   "description": "This object holds the COGS account and Inventory account mapping for the owning transaction definition. This account mapping is supported if:\n\n * Your company subscribes to Inventory Control. \n * Your company does not subscribe to Inventory Control, but `enableCosting` is set to `true` in the owning transaction definition.\n\nThe item GL group, warehouse, and customer GL group together form the criteria set for the account mapping. For more information, see [Transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Order_Entry_transaction_definitions) in the Sage Intacct Help Center.  \n"
  },
  {
   "name": "Order_Entry_Transaction definition entity details",
   "x-displayName": "Transaction definition entity details",
   "description": "The fields in this object are applicable if the owning transaction definition allows transactions to be created from the top level or entity (`topLevelOrEntity`) or entity level only (`entityOnly`). You can use this object to define different settings for each entity.\n\nFor more information, see [Transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Order_Entry_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Transaction definition inventory total details",
   "x-displayName": "Transaction definition inventory total details",
   "description": "Use this object to specify the inventory running total that will be affected by the transaction, whether to track quantity, value, or both, and whether the running total will increase or decrease when the user saves the transaction.\n\nFor more information, see [Transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Order_Entry_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Transaction definition source document details",
   "x-displayName": "Transaction definition source document details",
   "description": "Specifies the transaction definition from which the transaction can be converted.\n\nFor more information, see [Transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Order_Entry_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Transaction definition subtotal details",
   "x-displayName": "Transaction definition subtotal details",
   "description": "When `enableSubtotals` in the owning transaction definition is set to `true`, use this object to provide subtotal details for that transaction definition.\n\nFor more information, see [Transaction definitions - Order Entry](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Order_Entry_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Transaction buy to order preferences",
   "x-displayName": "Transaction buy to order preferences",
   "description": "Buy to order is a workflow that lets you automatically order stock to fill a customer sales order. With buy to order enabled, Sage Intacct allows the system to automatically create purchasing transactions for sales transaction line items that are selected for buy to order. The buy to order items are shipped to you or a third party for final finishing and shipping.\n\nThis object specifies the sales transaction definition and purchasing transaction definition that are associated with the buy to order workflow.\n\nFor more information, see [Set up a buy to order workflow](https://www.intacct.com/ia/docs/en_US/help_action/Order_Entry/Setting_up_Order_Entry/set-up-buy-to-order.htm?tocpath=Applications%7COrder%20Entry%7CSetup%7C_____5#) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Order_Entry_Transaction drop ship preferences",
   "x-displayName": "Transaction drop ship preferences",
   "description": "Drop ship is a workflow that lets you ship orders directly from a vendor to your customer, potentially saving inventory costs. When drop ship is enabled, Sage Intacct automatically creates a purchase transaction with the applicable information when you create a sales transaction and indicate drop ship.\n\nThis object specifies the sales transaction definition and purchasing transaction definition that are associated with the drop ship workflow. \n\nTo use drop ship, your company must be subscribed to Order Entry and Purchasing. To learn more, see [Set up a drop-ship workflow](https://www.intacct.com/ia/docs/en_US/help_action/Order_Entry/Setting_up_Order_Entry/set-up-drop-ship.htm?tocpath=Applications%7COrder%20Entry%7CSetup%7C_____6#) in the Sage Intacct Help Center.\n"
  }
 ],
 "paths": {
  "/objects/order-entry/document": {
   "get": {
    "summary": "List Order Entry documents",
    "description": "Returns a collection with a key, ID, and link for each order entry document. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Order_Entry_Documents"
    ],
    "operationId": "list-order-entry-document",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of order entry documents",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List documents": {
          "value": {
           "ia::result": [
            {
             "key": "453",
             "id": "Sales Invoice-SUBINV#0182#doc",
             "href": "/objects/order-entry/document::Sales%20Invoice/453"
            },
            {
             "key": "442",
             "id": "Sales Order-SO0023",
             "href": "/objects/order-entry/document::Sales%20Order/442"
            },
            {
             "key": "446",
             "id": "Sales Order-SO0024",
             "href": "/objects/order-entry/document::Sales%20Order/446"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/order-entry/document/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "description": "System-assigned key for the order entry document.",
     "example": "446"
    }
   ],
   "get": {
    "summary": "Get an Order Entry document",
    "description": "Returns detailed information for a specified Order Entry document.",
    "tags": [
     "Order_Entry_Documents"
    ],
    "operationId": "get-order-entry-document-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the order entry document",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.order-entry.document"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a document": {
          "value": {
           "ia::result": {
            "key": "453",
            "documentNumber": "SUBINV#0182#doc",
            "id": "Sales Invoice-SUBINV#0182#doc",
            "sourceDocument": {
             "id": "Sales Order-SO0026",
             "key": "451",
             "documentType": "Sales Order",
             "href": "/objects/order-entry/document::Sales%20Order/451"
            },
            "state": "pending",
            "txnDate": "2024-03-29",
            "audit": {
             "createdDateTime": "2024-11-10T18:36:30Z",
             "createdBy": "1",
             "modifiedBy": "1",
             "modifiedDateTime": "2024-11-10T18:36:32Z"
            },
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": "46",
             "id": "CORP",
             "name": "Corp",
             "href": "/objects/company-config/entity/46"
            },
            "status": "active",
            "dueDate": "2024-10-28",
            "documentType": "Sales Invoice",
            "txnDefinition": {
             "id": "Sales Invoice",
             "key": "188",
             "href": "/objects/order-entry-txn-definition::Sales%20Invoice/188"
            },
            "contacts": {
             "primary": {
              "key": "304",
              "id": "Power Aerospace Materials(C1)"
             },
             "shipTo": {
              "key": "304",
              "id": "Power Aerospace Materials(C1)"
             },
             "billTo": {
              "key": "304",
              "id": "Power Aerospace Materials(C1)"
             }
            },
            "isPrinted": false,
            "isBackordered": false,
            "subtotal": "750.44",
            "total": "742.54",
            "txnCurrency": "USD",
            "exchangeRate": {
             "date": "2024-03-29",
             "rate": "1"
            },
            "subtotalInTxnCurrency": "750.55",
            "totalInTxnCurrency": "742.5",
            "baseCurrency": "USD",
            "isSystemGeneratedDocument": false,
            "invoiceRun": {
             "key": "88",
             "id": "88"
            },
            "postingDate": "2024-03-29",
            "paymentStatus": "open",
            "customer": {
             "key": "1",
             "id": "1",
             "name": "Power Aerospace Materials",
             "href": "/objects/accounts-receivable/customer/1"
            },
            "attachment": {
             "key": "42",
             "id": "Supporting doc",
             "href": "/objects/company-config/attachment/42"
            },
            "sourceModule": "orderEntry",
            "lines": [
             {
              "id": "790",
              "key": "790",
              "documentHeader": {
               "key": "453",
               "id": "Sales Invoice-SUBINV#0182#doc",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document::Sales%20Invoice/453"
              },
              "documentType": "Sales Invoice",
              "lineNumber": 0,
              "dimensions": {
               "item": {
                "key": "1",
                "id": "1--PC Computer",
                "name": "PC Computer",
                "href": "/objects/inventory-control/item/1"
               },
               "warehouse": {
                "id": "1",
                "key": "1",
                "href": "/objects/inventory-control/warehouse/1"
               },
               "location": {
                "id": "1",
                "key": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1--Power Aerospace Materials",
                "name": "Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "item": {
               "key": "1",
               "id": "1--PC Computer",
               "href": "/objects/inventory-control/item/1"
              },
              "lineDescription": "PC Computer",
              "memo": null,
              "unit": "Each",
              "quantity": "1",
              "quantityConverted": "0",
              "retailPrice": "750",
              "price": "742.5",
              "audit": {
               "createdDateTime": "2024-05-27T06:22:06Z",
               "modifiedDateTime": "2024-05-27T06:22:09Z",
               "createdByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "createdBy": "1",
               "modifiedByUser": {
                "key": "1",
                "id": "Admin",
                "href": "/objects/company-config/user/1"
               },
               "modifiedBy": "1"
              },
              "status": "active",
              "costMethod": "standard",
              "unitQuantity": "1",
              "multiplier": 1,
              "unitPrice": "750",
              "txnCurrency": "USD",
              "baseCurrency": "USD",
              "priceInTxnCurrency": "750",
              "conversionType": "quantity",
              "allowDropShip": false,
              "allowBuyToOrder": false,
              "quantityRemaining": "1",
              "trackingDetail": [],
              "lineSubtotals": [],
              "timesheetNotes": "Worked extra hours on project",
              "timeType": {
               "id": "Design",
               "key": 11,
               "href": "/objects/time/time-type/11"
              },
              "employeeExpenseType": {
               "id": "Meals",
               "key": 4,
               "href": "/objects/expenses/employee-expense-type/4"
              },
              "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
             }
            ],
            "history": [
             {
              "id": "382",
              "key": "382",
              "convertedTo": {
               "key": "453",
               "id": "Sales Invoice-SUBINV#0182#doc",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document::Sales%20Invoice/453"
              },
              "convertedFrom": {
               "id": "Sales Order-SO0026",
               "key": "451",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "orderEntryDocument": {
               "key": "451",
               "id": "Sales Order-SO0026",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "href": "/objects/order-entry/document-history/382"
             },
             {
              "id": "380",
              "key": "380",
              "convertedTo": {
               "key": "451",
               "id": "Sales Order-SO0026",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "orderEntryDocument": {
               "key": "451",
               "id": "Sales Order-SO0026",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "href": "/objects/order-entry/document-history/380"
             }
            ],
            "subtotals": [
             {
              "id": "1204",
              "key": "1204",
              "description": "Sales Discount",
              "absoluteValue": "0",
              "total": "0",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1--Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "txnAbsoluteValue": "0",
              "txnTotal": "0",
              "documentLine": {
               "id": "790",
               "key": "790",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
              },
              "audit": {
               "createdDateTime": "2024-11-10T18:36:31Z",
               "modifiedDateTime": "2024-11-10T18:36:31Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "href": "/objects/order-entry/document-subtotal/1204"
             },
             {
              "id": "1205",
              "key": "1205",
              "description": "Discounted Totals",
              "absoluteValue": "7.5",
              "percentValue": "1",
              "total": "7.5",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1--Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "txnAbsoluteValue": "7.5",
              "txnTotal": "-7.5",
              "documentLine": {
               "id": "790",
               "key": "790",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
              },
              "audit": {
               "createdDateTime": "2024-11-10T18:36:31Z",
               "modifiedDateTime": "2024-11-10T18:36:31Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "href": "/objects/order-entry/document-subtotal/1205"
             },
             {
              "id": "1206",
              "key": "1206",
              "description": "Sales Tax",
              "absoluteValue": "0",
              "total": "0",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "txnAbsoluteValue": "0",
              "txnTotal": "0",
              "documentLine": {
               "id": "790",
               "key": "790",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
              },
              "audit": {
               "createdDateTime": "2024-11-10T18:36:31Z",
               "modifiedDateTime": "2024-11-10T18:36:31Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "href": "/objects/order-entry/document-subtotal/1206"
             }
            ],
            "href": "/objects/order-entry/document::Sales%20Invoice/453"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Get a document - Construction subscription": {
          "value": {
           "ia::result": {
            "key": "55",
            "id": "Sales Invoice-SI-O122",
            "href": "/objects/order-entry/document::Sales%20Invoice/55",
            "documentNumber": "SI-O122",
            "documentType": "Sales Invoice",
            "state": "draft",
            "isPrinted": true,
            "isBackordered": false,
            "subtotal": "50.10",
            "subtotalInTxnCurrency": "51.10",
            "total": "100.10",
            "totalInTxnCurrency": "100.11",
            "baseCurrency": "USD",
            "txnCurrency": "USD",
            "exchangeRate": {
             "date": "2023-01-23",
             "rate": "1.0789",
             "typeId": "1",
             "typeName": "Intacct Daily Rate"
            },
            "txnDate": "2024-04-04",
            "dueDate": "2024-04-04",
            "isSystemGeneratedDocument": true,
            "postingDate": "2024-04-04",
            "referenceNumber": "SALES-100",
            "notes": "Fast order",
            "memo": "Lowry solutions",
            "contractId": "CN100123",
            "contractDescription": "Sales & Service",
            "paymentStatus": "paid",
            "invoiceDate": "2024-04-04",
            "customerPONumber": "ABOTT-1001",
            "trackingNumber": "TK-1002",
            "shipByDate": "2024-04-04",
            "shippedDate": "2024-04-04",
            "serviceDeliveryDate": "2024-04-04",
            "cancelAfterDate": "2024-04-15",
            "doNotShipBeforeDate": "2024-04-03",
            "doNotShipAfterDate": "2024-04-15",
            "requestedShippingDate": "2024-04-04",
            "retainagePercent": 10,
            "scope": "Subcontractor agrees to provide labor and materials for utility trenching for Five Oaks Storage facilities according to contract.",
            "inclusions": "Includes drive through building",
            "exclusions": "Excludes additional purchase",
            "terms": "Follow all safety rules and security procedure that are in force and applicable during execution of work.",
            "schedule": {
             "scheduledStartDate": "2024-05-07",
             "scheduledCompletionDate": "2024-10-07",
             "actualStartDate": "2024-05-07",
             "actualCompletionDate": "2024-10-10",
             "revisedCompletionDate": "2024-11-01",
             "substantialCompletionDate": "2024-10-10",
             "noticeToProceedDate": "2024-10-10",
             "responseDueDate": "2024-10-10",
             "executedOnDate": "2024-10-10",
             "scheduleImpactNotes": "None"
            },
            "internalReference": {
             "referenceNumber": "INT-01",
             "initiatedBy": {
              "key": "2",
              "id": "dhatchet",
              "name": "David Hatcher",
              "href": "/objects/company-config/employee/2"
             },
             "verbalApprovalBy": {
              "key": "2",
              "id": "sdye",
              "name": "Sara Dye",
              "href": "/objects/company-config/employee/2"
             },
             "issuedBy": {
              "key": "25",
              "id": "amarquess",
              "name": "Adam Marquess",
              "href": "/objects/company-config/employee/25"
             },
             "issuedOnDate": "2023-05-30",
             "approvedBy": {
              "key": "1",
              "id": "treser",
              "name": "Tim Reser",
              "href": "/objects/company-config/employee/1"
             },
             "approvedOnDate": "2023-10-02",
             "signedBy": {
              "key": "32",
              "id": "broberts",
              "name": "Bob Roberts",
              "href": "/objects/company-config/employee/32"
             },
             "signedOnDate": "2023-05-31",
             "source": "Internal",
             "sourceReferenceNumber": "REF-INT-01"
            },
            "externalReference": {
             "referenceNumber": "A23",
             "verbalApprovalBy": {
              "key": "6",
              "id": "Johnson",
              "href": "/objects/company-config/contact/6"
             },
             "approvedBy": {
              "key": "51",
              "id": "Jagadish",
              "href": "/objects/company-config/contact/51"
             },
             "approvedOnDate": "2023-11-03",
             "signedBy": {
              "key": "200",
              "id": "Modulus Industries",
              "href": "/objects/company-config/contact/200"
             },
             "signedOnDate": "2023-12-01"
            },
            "performanceBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "1",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/1"
             }
            },
            "paymentBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "1",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/1"
             }
            },
            "revision": {
             "isDocumentChanged": false,
             "revisedTotal": "1000.00",
             "revisedSubTotal": "1000.00",
             "revisedTotalInTxnCurrency": "1000.00",
             "revisedSubTotalInTxnCurrency": "1000.00",
             "changeLogNumber": 1
            },
            "relatedDocumentNumber": "Sales Invoice-Sal#0140#inv",
            "postedChangesTotal": "1000.00",
            "projectContractBilling": {
             "externalReferenceNumber": "HGS-1024",
             "description": "Construction of clubhouse and offices",
             "contractDate": "2024-05-08",
             "billingThroughDate": "2024-05-08",
             "billingApplicationNumber": "IA-89115"
            },
            "billingSummary": {
             "originalContractAmount": "1000.00",
             "netChangesAmount": "1000.00",
             "revisedContractAmount": "1000.00",
             "balanceToFinishAmount": "1000.00",
             "lessPriorApplicationAmount": "1000.00",
             "currentDueAmount": "1000.00",
             "retainage": {
              "previousBalanceAmount": "1000.00",
              "balanceAmount": "1000.00",
              "billedAmount": "1000.00",
              "heldAmount": "1000.00",
              "completedAmount": "1000.00",
              "storedMaterialsAmount": "1000.00"
             },
             "billingTotals": {
              "completedToDateAmount": "1000.00",
              "storedMaterialsAmount": "1000.00",
              "heldAmount": "1000.00",
              "heldToDateAmount": "1000.00",
              "retainageOnThisInvoiceAmount": "1000.00",
              "earnedLessRetainageAmount": "1000.00",
              "lessRetainageHeldAmount": "1000.00",
              "netChangesAmount": "1000.00",
              "netChangesAdditionAmount": "1000.00",
              "netChangesDeductionAmount": "1000.00"
             },
             "totalChangesApprovedPriorMonth": {
              "additionsAmount": "1000.00",
              "deductionsAmount": "1000.00"
             },
             "totalChangesApprovedThisMonth": {
              "additionsAmount": "1000.00",
              "deductionsAmount": "1000.00"
             }
            },
            "architect": {
             "key": "1",
             "id": "Eberhardt",
             "href": "/objects/company-config/contact/12"
            },
            "projectContract": {
             "key": "1",
             "id": "BTI-01",
             "name": "Berkeley Technology Inc - Contract 01",
             "href": "/objects/construction/project-contract/1"
            },
            "contacts": {
             "primary": {
              "key": "13",
              "id": "contact"
             },
             "shipTo": {
              "key": "33",
              "id": "contact"
             },
             "billTo": {
              "key": "44",
              "id": "contact"
             }
            },
            "shippingMethod": {
             "key": "77",
             "id": "Air",
             "href": "/objects/accounts-receivable/shipping-method/77"
            },
            "printedByUser": {
             "key": "21",
             "id": "John",
             "href": "/objects/company-config/user/21"
            },
            "txnDefinition": {
             "key": "11",
             "id": "Sales Invoice",
             "href": "/objects/order-entry/txn-definition/11"
            },
            "sourceDocument": {
             "key": "44",
             "id": "Sales Order-SO0022",
             "documentType": "Sales Order",
             "href": "/objects/order-entry/document::Sales%20Order/44"
            },
            "customer": {
             "key": "1",
             "id": "1",
             "name": "Power Aerospace Materials",
             "href": "/objects/accounts-receivable/customer/15"
            },
            "contract": {
             "key": "46",
             "id": "CNRT1001",
             "href": "/objects/contracts/contract/46"
            },
            "project": {
             "key": "2",
             "id": "NET-XML30-2",
             "name": "Talcomp training",
             "href": "/objects/projects/project/2"
            },
            "paymentTerm": {
             "href": "/objects/term/75",
             "key": "75",
             "id": "10 Days"
            },
            "audit": {
             "createdDateTime": "2014-01-08T11:28:12Z",
             "modifiedDateTime": "2022-04-20T16:20:00Z",
             "createdBy": "1",
             "modifiedBy": "95"
            },
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": "46",
             "id": "CORP",
             "name": "Corp",
             "href": "/objects/company-config/entity/46"
            },
            "status": "active",
            "taxSolution": {
             "key": "44",
             "id": "Avalara",
             "href": "/objects/tax/tax-solution/44",
             "taxCalculationMethod": "noTax",
             "showMultilineTax": true
            },
            "projectContractBillingInvoiceSummary": {
             "originalContractAmount": "1000.0000000000",
             "netApprovedChangesAmount": "1000.0000000000",
             "revisedContractAmount": "1000.0000000000",
             "completedFromPriorApplicationAmount": "1000.0000000000",
             "completedToDateAmount": "1000.0000000000",
             "lessPreviousBillingAmount": "1000.0000000000",
             "currentDueAmount": "1000.0000000000",
             "balanceToFinishAmount": "1000.0000000000",
             "taxAmount": "1000.0000000000",
             "chargeAmount": "1000.0000000000",
             "discountAmount": "1000.0000000000",
             "changesApprovedPriorMonth": {
              "additionsAmount": "1000.0000000000",
              "deductionsAmount": "1000.0000000000"
             },
             "changesApprovedThisMonth": {
              "additionsAmount": "1000.0000000000",
              "deductionsAmount": "1000.0000000000"
             },
             "retainage": {
              "amountRetained": "1000.0000000000",
              "billedAmount": "1000.0000000000",
              "netChangeHeldAmount": "1000.0000000000",
              "heldToDateAmount": "1000.0000000000",
              "billedToDateAmount": "1000.0000000000",
              "balanceToDateAmount": "1000.0000000000",
              "previousBalanceAmount": "1000.0000000000",
              "totalEarnedLessAmount": "1000.0000000000"
             },
             "accountsReceivableInvoiceNumber": "INV1",
             "orderEntryDocumentId": "SO-AIA-Invoice01-Ord#0011#doc",
             "projectId": "DIM - HCS",
             "projectName": "Dimensions - Hands Computer Systems"
            },
            "lines": [
             {
              "key": "44",
              "id": "44",
              "href": "/objects/order-entry/document-line::Sales%20Invoice/44",
              "documentType": "Sales Invoice",
              "lineNumber": 1,
              "item": {
               "key": "10",
               "id": "MX001",
               "href": "/objects/inventory-control/item/10"
              },
              "itemAlias": {
               "key": "10",
               "id": "IXN",
               "href": "/objects/accounts-receivable/customer-item-cross-reference/10"
              },
              "lineDescription": "MX001",
              "memo": "Payment ACH",
              "priceCalculationMemo": "Fair value price list",
              "unit": "Each",
              "quantity": "40.10",
              "unitQuantity": "10.10",
              "unitPrice": "10.50",
              "price": "33.66",
              "quantityConverted": "5.10",
              "retailPrice": "10.44",
              "audit": {
               "createdDateTime": "2022-04-20T16:20:00Z",
               "modifiedDateTime": "2022-04-20T16:20:00Z",
               "createdBy": "1",
               "modifiedBy": "95"
              },
              "status": "active",
              "costMethod": "average",
              "discountPercent": "10.50",
              "multiplier": 1,
              "sourceDocument": {
               "key": "77",
               "id": "Sales Order-SO0022",
               "documentType": "Sales Order",
               "href": "/objects/order-entry-document::Sales%20Order/77"
              },
              "sourceDocumentLine": {
               "key": "2234",
               "id": "2234",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document-line::Sales%20Order/2234"
              },
              "isPriceProrated": true,
              "discountMemo": "Festival discount",
              "baseCurrency": "USD",
              "txnCurrency": "CAD",
              "priceInTxnCurrency": "10.00",
              "isBillable": true,
              "isBilled": true,
              "taxRate": "10.050",
              "taxInBaseCurrency": "10.50",
              "taxInTxnCurrency": "40.50",
              "discount": "10.25",
              "enableTax": false,
              "quantityRemaining": "10.10",
              "conversionType": "quantity",
              "dimensions": {
               "location": {
                "key": "22",
                "id": "LOC-22",
                "name": "California",
                "href": "/objects/company-config/location/22"
               },
               "department": {
                "key": "9",
                "id": "Sales",
                "name": "Sales and Marketing",
                "href": "/objects/company-config/department/9"
               },
               "employee": {
                "key": "10",
                "id": "EMP-10",
                "name": "Thomas, Glenn",
                "href": "/objects/company-config/employee/10"
               },
               "project": {
                "key": "2",
                "id": "NET-XML30-2",
                "name": "Talcomp training",
                "href": "/objects/projects/project/2"
               },
               "customer": {
                "key": "13",
                "id": "CUST-13",
                "name": "Jack In the Box",
                "href": "/objects/accounts-receivable/customer/13"
               },
               "vendor": {
                "key": "357",
                "id": "1605212096809",
                "name": "GenLab",
                "href": "/objects/accounts-payable/vendor/357"
               },
               "item": {
                "key": "13",
                "id": "Case 13",
                "name": "Platform pack",
                "href": "/objects/inventory-control/item/13"
               },
               "warehouse": {
                "key": "6",
                "id": "WH01",
                "name": "WH01",
                "href": "/objects/inventory-control/warehouse/6"
               },
               "class": {
                "key": "731",
                "id": "REST_CLS_001",
                "name": "Enterprises",
                "href": "/objects/company-config/class/731"
               },
               "task": {
                "id": "TSK01",
                "key": "1",
                "name": "Project Task",
                "href": "/objects/projects/task/1"
               },
               "costType": {
                "id": "2",
                "key": "2",
                "name": "Project Expense",
                "href": "/objects/construction/cost-type/2"
               },
               "asset": {
                "id": "A001",
                "key": "1",
                "name": "Laptop 1"
               },
               "contract": {
                "id": "CON-0045-1",
                "key": "12",
                "name": "ACME Widgets - Service",
                "href": "/objects/contracts/contract/12"
               }
              },
              "itemRenewalTemplate": {
               "key": "45",
               "id": "Sales Renewal Template",
               "href": "/objects/order-entry/renewal-template/45"
              },
              "revenueRecognitionStartDate": "2024-04-04",
              "revenueRecognitionEndDate": "2024-04-04",
              "requestedShippingDate": "2024-04-04",
              "shipByDate": "2024-04-15",
              "pickTicketPrintedDate": "2024-04-04",
              "cancelAfterDate": "2024-04-15",
              "doNotShipBeforeDate": "2024-04-03",
              "doNotShipAfterDate": "2024-04-15",
              "shippedDate": "2024-04-04",
              "servicePeriodStartDate": "2024-04-01",
              "servicePeriodEndDate": "2024-04-30",
              "allowDropShip": true,
              "allowBuyToOrder": true,
              "revision": {
               "unitQuantity": "10",
               "quantity": "10",
               "unitValue": "8.00",
               "value": "8.00",
               "valueInTxnCurrency": "10.00",
               "price": "10.00",
               "unitPrice": "10.00",
               "priceInTxnCurrency": "10.00"
              },
              "draft": {
               "unitQuantity": "10",
               "quantity": "10",
               "price": "10.00",
               "basePrice": "10.00"
              },
              "posted": {
               "quantity": "10.00",
               "price": "10.00",
               "basePrice": "10.00"
              },
              "addedByChangeDocument": false,
              "projectContractBilling": {
               "externalReferenceNumber": "HGS-1024",
               "description": "Construction of clubhouse and offices",
               "billingType": "timeAndMaterial",
               "contractLineValue": "1000.00",
               "priorApplicationAmount": "1000.00",
               "completedThisPeriodAmount": "1000.00",
               "storedMaterialsAmount": "1000.00",
               "completedToDateAmount": "1000.00",
               "completedToDatePercent": "10.00",
               "balanceRemaining": "1000.00",
               "totalConvertedAmount": "1000.00",
               "totalRemainingAmount": "1000.00",
               "isSummarized": false
              },
              "retainage": {
               "percentage": "10.00",
               "baseAmountRetained": "10.00",
               "txnAmountRetained": "10.00",
               "isReleaseLine": true,
               "previousBalanceAmount": "1000.00",
               "billAmount": "1000.00",
               "balanceAmount": "1000.00",
               "extendedPriceNetAmount": "1000.00",
               "extendedBasePriceNetAmount": "1000.00"
              },
              "reverseConversion": {
               "isReverseConversion": true,
               "price": "100.00",
               "quantity": "100",
               "standardPrice": "100.00",
               "standardQuantity": "100"
              },
              "relatedDocument": {
               "id": "5151",
               "key": "5151",
               "documentNumber": "Sales Order-SD-SO0550",
               "href": "/objects/order-entry/document/5151"
              },
              "relatedDocumentLine": {
               "key": "13965",
               "id": "1--0001",
               "href": "/objects/order-entry/document-line/13965"
              },
              "projectContract": {
               "key": "1",
               "id": "BTI-01",
               "name": "Berkeley Technology Inc - Contract 01",
               "href": "/objects/construction/project-contract/1"
              },
              "projectContractLine": {
               "key": "4",
               "id": "Project-Contract-Line-04",
               "name": "Project contract line 04",
               "href": "/objects/construction/project-contract-line/4"
              },
              "taxSchedule": {
               "key": "1",
               "id": "Sale Goods Standard",
               "href": "/objects/tax/order-entry-tax-schedule/1"
              },
              "buyToOrderContact": {
               "key": "13",
               "id": "contact"
              },
              "trackingDetail": [
               {
                "key": "55",
                "id": "55",
                "href": "/objects/order-entry/document-line-detail/55",
                "quantity": "10",
                "serialNumber": "S1001",
                "lotNumber": "L1001",
                "expirationDate": "2024-04-04",
                "aisle": {
                 "href": "/objects/inventory-control/aisle/10",
                 "key": "10",
                 "id": "AISLE1"
                },
                "bin": {
                 "href": "/objects/inventory-control/bin/20",
                 "key": "20",
                 "id": "BIN1"
                },
                "row": {
                 "href": "/objects/inventory-control/row/15",
                 "key": "15",
                 "id": "ROW1"
                },
                "item": {
                 "key": "10",
                 "id": "Battery",
                 "href": "/objects/inventory-control/item/10"
                },
                "audit": {
                 "createdDateTime": "2022-04-20T16:20:00Z",
                 "modifiedDateTime": "2022-04-20T16:20:00Z",
                 "createdBy": "1",
                 "modifiedBy": "95"
                },
                "orderEntryDocumentLine": {
                 "key": "23",
                 "id": "23",
                 "documentType": "Sales Order",
                 "href": "/objects/order-entry-document-line::Sales%20Order/23"
                }
               }
              ],
              "lineSubtotals": [],
              "timesheetNotes": "Worked extra hours on project",
              "timeType": {
               "id": "Design",
               "key": 11,
               "href": "/objects/time/time-type/11"
              },
              "employeeExpenseType": {
               "id": "Meals",
               "key": 4,
               "href": "/objects/expenses/employee-expense-type/4"
              },
              "documentHeader": {
               "key": "55",
               "id": "Sales Invoice-SO0066",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry-document::Sales%20Invoice/55"
              }
             }
            ],
            "subtotals": [
             {
              "key": "12",
              "id": "12",
              "href": "/objects/order-entry/document-subtotal/12",
              "description": "Tax",
              "percentValue": "10.50",
              "absoluteValue": "40.50",
              "txnAbsoluteValue": "44.78",
              "total": "500.10",
              "txnTotal": "400.10",
              "documentLine": {
               "key": "10",
               "documentType": "Sales Order",
               "id": "10",
               "href": "/objects/order-entry-document-line::Sales%20Order/10"
              },
              "audit": {
               "createdDateTime": "2022-04-20T16:20:00Z",
               "modifiedDateTime": "2022-04-20T16:20:00Z",
               "createdBy": "1",
               "modifiedBy": "95"
              },
              "dimensions": {
               "location": {
                "key": "22",
                "id": "LOC-22",
                "name": "California",
                "href": "/objects/company-config/location/22"
               },
               "department": {
                "key": "9",
                "id": "Accounting",
                "name": "Sales and Marketing",
                "href": "/objects/company-config/department/9"
               },
               "employee": {
                "key": "10",
                "id": "EMP-10",
                "name": "Thomas, Glenn",
                "href": "/objects/company-config/employee/10"
               },
               "project": {
                "key": "2",
                "id": "NET-XML30-2",
                "name": "Talcomp training",
                "href": "/objects/projects/project/2"
               },
               "customer": {
                "key": "13",
                "id": "CUST-13",
                "name": "Jack In the Box",
                "href": "/objects/accounts-receivable/customer/13"
               },
               "vendor": {
                "key": "357",
                "id": "1605212096809",
                "name": "GenLab",
                "href": "/objects/accounts-payable/vendor/357"
               },
               "item": {
                "key": "13",
                "id": "Case 13",
                "name": "Platform pack",
                "href": "/objects/inventory-control/item/13"
               },
               "warehouse": {
                "key": "6",
                "id": "WH01",
                "name": "WH01",
                "href": "/objects/inventory-control/warehouse/6"
               },
               "class": {
                "key": "731",
                "id": "REST_CLS_001",
                "name": "Enterprises",
                "href": "/objects/company-config/class/731"
               },
               "task": {
                "id": "1",
                "key": "1",
                "name": "Project Task",
                "href": "/objects/projects/task/1"
               },
               "costType": {
                "id": "2",
                "key": "2",
                "name": "Project Expense",
                "href": "/objects/construction/cost-type/2"
               },
               "asset": {
                "id": "A001",
                "key": "1",
                "name": "Laptop 1"
               },
               "contract": {
                "id": "CON-0045-1",
                "key": "12",
                "name": "ACME Widgets - Service",
                "href": "/objects/contracts/contract/12"
               }
              },
              "documentHeader": {
               "key": "23",
               "id": "23",
               "documentType": "Sales Order",
               "href": "/objects/order-entry-document::Sales%20Order/23"
              }
             }
            ],
            "history": [
             {
              "key": "11",
              "id": "11",
              "href": "/objects/order-entry/document-history/11",
              "convertedFrom": {
               "key": "22",
               "id": "Sales Order-ORINV#0182#doc",
               "documentType": "Sales Order",
               "href": "/objects/order-entry-document::Sales%20Order/22"
              },
              "convertedTo": {
               "key": "14",
               "id": "Sales Invoice-SUBINV#0182#doc",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry-document::Sales%20Invoice/14"
              },
              "orderEntryDocument": {
               "key": "23",
               "id": "Sales Order-ORINV#0182#doc",
               "documentType": "Sales Order",
               "href": "/objects/order-entry-document::Sales%20Order/22"
              }
             }
            ]
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/order-entry/document::{documentName}": {
   "parameters": [
    {
     "name": "documentName",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "description": "Document name"
    }
   ],
   "get": {
    "summary": "List named Order Entry documents",
    "description": "Returns a collection with a key, ID, and link for each Order Entry document with the specified name. For example, to list all documents that are based on the Sales Invoice transaction definition, specify `Sales Invoice` as the `documentName` in the request URL. \n\nThis operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Order_Entry_Documents"
    ],
    "operationId": "list-order-entry-named-document",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of order-entry-document objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List named 'Sales Invoice' documents": {
          "value": {
           "ia::result": [
            {
             "key": "171",
             "id": "Sales Invoice-SUBINV#0147#doc",
             "href": "/objects/order-entry/document::Sales%20Invoice/171"
            },
            {
             "key": "172",
             "id": "Sales Invoice-SUBINV#0148#doc",
             "href": "/objects/order-entry/document::Sales%20Invoice/172"
            },
            {
             "key": "155",
             "id": "Sales Invoice-SUBINV#0144#doc",
             "href": "/objects/order-entry/document::Sales%20Invoice/155"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an Order Entry document",
    "description": "Creates a new Order Entry document. To create a new document, specify the transaction definition that is the template for the new document as `documentName` in the request URL.\n\nWhen creating a new document, the field `state` must be set to one of these values: `pending`, `draft`, or `submitted`. If no value is specified for the `state` field, it defaults to `pending`.\n\nTo access a list of available transaction definitions, use the [list transaction definitions](order-entry.txn-definition:list-order-entry-txn-definition) operation. For example, to create a new order entry document that uses the Sales Invoice transaction definition as a template, specify `Sales Invoice` for the `documentName` in the request URL.\n",
    "tags": [
     "Order_Entry_Documents"
    ],
    "operationId": "create-order-entry-named-document",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.order-entry.document"
         },
         {
          "$ref": "#/components/schemas/order-entry-documentRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a document": {
         "value": {
          "customer": {
           "id": "1"
          },
          "state": "submitted",
          "txnDate": "2024-11-01",
          "dueDate": "2024-12-12",
          "txnCurrency": "USD",
          "baseCurrency": "USD",
          "sourceModule": "orderEntry",
          "lines": [
           {
            "dimensions": {
             "item": {
              "id": "1"
             },
             "warehouse": {
              "id": "1"
             },
             "location": {
              "id": "1"
             }
            },
            "unit": "Each",
            "unitQuantity": "1",
            "unitPrice": "650"
           }
          ]
         }
        },
        "Create a document for Construction": {
         "value": {
          "customer": {
           "id": "BTI"
          },
          "project": {
           "id": "DIM - BTI--Dimensions - Berkeley Technology Inc"
          },
          "state": "pending",
          "txnDate": "2024-05-21",
          "dueDate": "2024-12-12",
          "txnCurrency": "USD",
          "baseCurrency": "USD",
          "notes": "additional info order 01",
          "scope": "Subcontractor agrees to provide labor and materials for utility trenching for Five Oaks Storage facilities according to contract",
          "inclusions": "Includes drive through building",
          "exclusions": "Excludes additional purchase",
          "terms": "Follow all safety rules and security procedure that are in force and applicable during execution of work",
          "schedule": {
           "scheduledStartDate": "2024-05-01",
           "actualStartDate": "2024-05-03",
           "scheduledCompletionDate": "2024-05-31",
           "revisedCompletionDate": "2024-06-01",
           "substantialCompletionDate": "2024-05-20",
           "actualCompletionDate": "2024-05-30",
           "noticeToProceedDate": "2024-05-25",
           "responseDueDate": "2024-05-30",
           "executedOnDate": "2024-05-05",
           "scheduleImpactNotes": "NA"
          },
          "internalReference": {
           "referenceNumber": "INT-01",
           "initiatedBy": {
            "id": "10001"
           },
           "verbalApprovalBy": {
            "id": "10001"
           },
           "issuedBy": {
            "id": "10001"
           },
           "issuedOnDate": "2024-05-24",
           "approvedBy": {
            "id": "10001"
           },
           "approvedOnDate": "2024-05-24",
           "signedBy": {
            "id": "10001"
           },
           "signedOnDate": "2024-05-30",
           "source": "BTI-089",
           "sourceReferenceNumber": "88009890"
          },
          "externalReference": {
           "referenceNumber": "EXT-01",
           "verbalApprovalBy": {
            "id": "Berkeley Technology Inc"
           },
           "approvedBy": {
            "id": "Berkeley Technology Inc"
           },
           "approvedOnDate": "2024-05-24",
           "signedBy": {
            "id": "Berkeley Technology Inc"
           },
           "signedOnDate": "2024-05-30"
          },
          "performanceBond": {
           "isRequired": true,
           "isReceived": true,
           "amount": "4500.00",
           "vendor": {
            "id": "CITI"
           }
          },
          "paymentBond": {
           "isRequired": true,
           "isReceived": true,
           "amount": "5000.00",
           "vendor": {
            "id": "CITI"
           }
          },
          "lines": [
           {
            "dimensions": {
             "item": {
              "id": "0001--Design"
             },
             "warehouse": {
              "id": "1"
             },
             "location": {
              "id": "1"
             }
            },
            "unit": "Each",
            "unitQuantity": "1",
            "unitPrice": "650"
           }
          ]
         }
        },
        "Create a project contract billing document": {
         "value": {
          "customer": {
           "id": "HC"
          },
          "project": {
           "id": "DIM - BTI--Dimensions - Berkeley Technology Inc"
          },
          "state": "pending",
          "txnDate": "2024-05-21",
          "txnCurrency": "USD",
          "baseCurrency": "USD",
          "paymentTerm": {
           "id": "N15"
          },
          "dueDate": "2024-06-06",
          "retainagePercent": 15,
          "projectContract": {
           "id": "04 Sep A"
          },
          "projectContractBilling": {
           "externalReferenceNumber": "EXT_01",
           "description": "Contract 04 Sep A",
           "contractDate": "2024-05-30",
           "billingThroughDate": "2024-06-30",
           "billingApplicationNumber": "A1002"
          },
          "architect": {
           "id": "Berkeley Technology Inc"
          },
          "lines": [
           {
            "dimensions": {
             "item": {
              "id": "Design--Design"
             },
             "location": {
              "id": "1"
             },
             "warehouse": {
              "id": "1"
             }
            },
            "conversionType": "price",
            "unit": "Seconds",
            "unitQuantity": "1",
            "unitPrice": "200",
            "projectContract": {
             "id": "04 Sep A"
            },
            "projectContractLine": {
             "id": "L1 PB"
            },
            "projectContractBilling": {
             "completedThisPeriodAmount": "100.0000000000",
             "storedMaterialsAmount": "100.0000000000"
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New order entry document",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new document": {
          "value": {
           "ia::result": {
            "key": "13977",
            "id": "Sales Invoice-SUBINV#0193#doc",
            "documentType": "Sales Invoice",
            "href": "/objects/order-entry/document::Sales%20Invoice/469"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Reference to new Construction document": {
          "value": {
           "ia::result": {
            "key": "5150",
            "id": "SO-Order02-SO0549",
            "href": "/objects/order-entry/document::SO-Order02/5150"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Reference to new project contract billing document": {
          "value": {
           "ia::result": {
            "key": "5156",
            "id": "SO-AIA-Invoice01-Ord#0191#doc",
            "href": "/objects/order-entry/document::SO-AIA-Invoice01/5156"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/order-entry/document::{documentName}/{key}": {
   "parameters": [
    {
     "name": "documentName",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "description": "Document name",
     "example": "Sales Invoice"
    },
    {
     "name": "key",
     "description": "System-assigned key for the document.",
     "example": "41",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a named Order Entry document",
    "description": "Returns detailed information for a specified Order Entry document. For example, to return details about an order entry document that uses the Sales Invoice transaction definition as a template, specify `Sales Invoice` for the `documentName` in the request URL.",
    "tags": [
     "Order_Entry_Documents"
    ],
    "operationId": "get-order-entry-named-document-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the order entry document",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.order-entry.document"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a named document": {
          "value": {
           "ia::result": {
            "key": "453",
            "documentNumber": "SUBINV#0182#doc",
            "id": "Sales Invoice-SUBINV#0182#doc",
            "sourceDocument": {
             "id": "Sales Order-SO0026",
             "key": "451",
             "documentType": "Sales Order",
             "href": "/objects/order-entry/document::Sales Order/451"
            },
            "state": "pending",
            "txnDate": "2024-03-29",
            "audit": {
             "createdDateTime": "2024-11-10T18:36:30Z",
             "createdBy": "1",
             "modifiedBy": "1",
             "modifiedDateTime": "2024-11-10T18:36:32Z"
            },
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": "46",
             "id": "CORP",
             "name": "Corp",
             "href": "/objects/company-config/entity/46"
            },
            "status": "active",
            "dueDate": "2024-10-28",
            "documentType": "Sales Invoice",
            "txnDefinition": {
             "id": "Sales Invoice",
             "key": "188",
             "href": "/objects/order-entry-txn-definition::Sales%20Invoice/188"
            },
            "contacts": {
             "primary": {
              "key": "304",
              "id": "Power Aerospace Materials(C1)"
             },
             "shipTo": {
              "key": "304",
              "id": "Power Aerospace Materials(C1)"
             },
             "billTo": {
              "key": "304",
              "id": "Power Aerospace Materials(C1)"
             }
            },
            "isPrinted": false,
            "isBackordered": false,
            "subtotal": "750.66",
            "total": "742.54",
            "txnCurrency": "USD",
            "exchangeRate": {
             "date": "2024-03-29",
             "rate": "1"
            },
            "subtotalInTxnCurrency": "750.55",
            "totalInTxnCurrency": "742.5",
            "baseCurrency": "USD",
            "isSystemGeneratedDocument": false,
            "postingDate": "2024-03-29",
            "paymentStatus": "open",
            "customer": {
             "key": "1",
             "id": "1",
             "name": "Power Aerospace Materials",
             "href": "/objects/accounts-receivable/customer/1"
            },
            "lines": [
             {
              "id": "790",
              "key": "790",
              "documentHeader": {
               "key": "453",
               "id": "Sales Invoice-SUBINV#0182#doc",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document::Sales%20Invoice/453"
              },
              "documentType": "Sales Invoice",
              "lineNumber": 0,
              "dimensions": {
               "item": {
                "key": "1",
                "id": "1--PC Computer",
                "name": "PC Computer",
                "href": "/objects/inventory-control/item/1"
               },
               "warehouse": {
                "id": "1",
                "key": "1",
                "href": "/objects/inventory-control/warehouse/1"
               },
               "location": {
                "id": "1",
                "key": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1--Power Aerospace Materials",
                "name": "Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "item": {
               "key": "1",
               "id": "1--PC Computer",
               "href": "/objects/inventory-control/item/1"
              },
              "lineDescription": "PC Computer",
              "memo": "PC Computer",
              "unit": "Each",
              "quantity": "1",
              "quantityConverted": "0",
              "retailPrice": "750",
              "price": "742.5",
              "audit": {
               "createdDateTime": "2024-03-29T00:00:00Z",
               "modifiedDateTime": "2024-11-10T18:36:30Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "status": "active",
              "costMethod": "standard",
              "unitQuantity": "1",
              "multiplier": 1,
              "unitPrice": "750",
              "txnCurrency": "USD",
              "baseCurrency": "USD",
              "priceInTxnCurrency": "750",
              "conversionType": "quantity",
              "servicePeriodStartDate": null,
              "servicePeriodEndDate": null,
              "allowDropShip": false,
              "allowBuyToOrder": false,
              "quantityRemaining": "1",
              "trackingDetail": [],
              "lineSubtotals": [],
              "timesheetNotes": "Worked extra hours on project",
              "timeType": {
               "id": "Design",
               "key": 11,
               "href": "/objects/time/time-type/11"
              },
              "employeeExpenseType": {
               "id": "Meals",
               "key": 4,
               "href": "/objects/expenses/employee-expense-type/4"
              },
              "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
             }
            ],
            "history": [
             {
              "id": "382",
              "key": "382",
              "convertedTo": {
               "key": "453",
               "id": "Sales Invoice-SUBINV#0182#doc",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document::Sales%20Invoice/453"
              },
              "convertedFrom": {
               "id": "Sales Order-SO0026",
               "key": "451",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "orderEntryDocument": {
               "key": "451",
               "id": "Sales Order-SO0026",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "href": "/objects/order-entry/document-history/382"
             },
             {
              "id": "380",
              "key": "380",
              "convertedTo": {
               "key": "451",
               "id": "Sales Order-SO0026",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "orderEntryDocument": {
               "key": "451",
               "id": "Sales Order-SO0026",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document::Sales%20Order/451"
              },
              "href": "/objects/order-entry/document-history/380"
             }
            ],
            "subtotals": [
             {
              "id": "1204",
              "key": "1204",
              "description": "Sales Discount",
              "absoluteValue": "0",
              "total": "0",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1--Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "txnAbsoluteValue": "0",
              "txnTotal": "0",
              "documentLine": {
               "id": "790",
               "key": "790",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
              },
              "audit": {
               "createdDateTime": "2024-11-10T18:36:31Z",
               "modifiedDateTime": "2024-11-10T18:36:31Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "href": "/objects/order-entry/document-subtotal/1204"
             },
             {
              "id": "1205",
              "key": "1205",
              "description": "Discounted Totals",
              "absoluteValue": "7.5",
              "percentValue": "1",
              "total": "7.5",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1--Power Aerospace Materials",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "txnAbsoluteValue": "7.5",
              "txnTotal": "7.5",
              "documentLine": {
               "id": "790",
               "key": "790",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
              },
              "audit": {
               "createdDateTime": "2024-11-10T18:36:31Z",
               "modifiedDateTime": "2024-11-10T18:36:31Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "href": "/objects/order-entry/document-subtotal/1205"
             },
             {
              "id": "1206",
              "key": "1206",
              "description": "Sales Tax",
              "absoluteValue": "0",
              "total": "0",
              "dimensions": {
               "location": {
                "key": "1",
                "id": "1",
                "href": "/objects/company-config/location/1"
               },
               "customer": {
                "key": "1",
                "id": "1",
                "href": "/objects/accounts-receivable/customer/1"
               }
              },
              "txnAbsoluteValue": "0",
              "txnTotal": "0",
              "documentLine": {
               "id": "790",
               "key": "790",
               "documentType": "Sales Invoice",
               "href": "/objects/order-entry/document-line::Sales%20Invoice/790"
              },
              "audit": {
               "createdDateTime": "2024-11-10T18:36:31Z",
               "modifiedDateTime": "2024-11-10T18:36:31Z",
               "createdBy": "1",
               "modifiedBy": "1"
              },
              "href": "/objects/order-entry/document-subtotal/1206"
             }
            ],
            "href": "/objects/order-entry/document::Sales%20Invoice/453"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Get a named document - Construction subscription": {
          "value": {
           "ia::result": {
            "key": "55",
            "id": "Sales Invoice-SI-O122",
            "href": "/objects/order-entry/document::Sales%20Invoice/55",
            "documentNumber": "SI-O122",
            "documentType": "Sales Invoice",
            "state": "draft",
            "isPrinted": true,
            "isBackordered": false,
            "subtotal": "50.10",
            "subtotalInTxnCurrency": "51.10",
            "total": "100.10",
            "totalInTxnCurrency": "100.11",
            "baseCurrency": "USD",
            "txnCurrency": "USD",
            "exchangeRate": {
             "date": "2023-01-23",
             "rate": "1.0789",
             "typeId": "1",
             "typeName": "Intacct Daily Rate"
            },
            "txnDate": "2024-04-04",
            "dueDate": "2024-04-04",
            "isSystemGeneratedDocument": true,
            "postingDate": "2024-04-04",
            "referenceNumber": "SALES-100",
            "notes": "Fast order",
            "memo": "Lowry solutions",
            "contractId": "CN100123",
            "contractDescription": "Sales & Service",
            "paymentStatus": "paid",
            "invoiceDate": "2024-04-04",
            "customerPONumber": "ABOTT-1001",
            "trackingNumber": "TK-1002",
            "shipByDate": "2024-04-15",
            "shippedDate": "2024-04-04",
            "serviceDeliveryDate": "2024-04-04",
            "cancelAfterDate": "2024-04-15",
            "doNotShipBeforeDate": "2024-04-03",
            "doNotShipAfterDate": "2024-04-15",
            "requestedShippingDate": "2024-04-04",
            "retainagePercent": 10,
            "scope": "Subcontractor agrees to provide labor and materials for utility trenching for Five Oaks Storage facilities according to contract.",
            "inclusions": "Includes drive through building",
            "exclusions": "Excludes additional purchase",
            "terms": "Follow all safety rules and security procedure that are in force and applicable during execution of work.",
            "schedule": {
             "scheduledStartDate": "2024-05-07",
             "scheduledCompletionDate": "2024-10-07",
             "actualStartDate": "2024-05-07",
             "actualCompletionDate": "2024-10-10",
             "revisedCompletionDate": "2024-11-01",
             "substantialCompletionDate": "2024-10-10",
             "noticeToProceedDate": "2024-10-10",
             "responseDueDate": "2024-10-10",
             "executedOnDate": "2024-10-10",
             "scheduleImpactNotes": "None"
            },
            "internalReference": {
             "referenceNumber": "INT-01",
             "initiatedBy": {
              "key": "2",
              "id": "dhatchet",
              "name": "David Hatcher",
              "href": "/objects/company-config/employee/2"
             },
             "verbalApprovalBy": {
              "key": "2",
              "id": "sdye",
              "name": "Sara Dye",
              "href": "/objects/company-config/employee/2"
             },
             "issuedBy": {
              "key": "25",
              "id": "amarquess",
              "name": "Adam Marquess",
              "href": "/objects/company-config/employee/25"
             },
             "issuedOnDate": "2023-05-30",
             "approvedBy": {
              "key": "1",
              "id": "treser",
              "name": "Tim Reser",
              "href": "/objects/company-config/employee/1"
             },
             "approvedOnDate": "2023-10-02",
             "signedBy": {
              "key": "32",
              "id": "broberts",
              "name": "Bob Roberts",
              "href": "/objects/company-config/employee/32"
             },
             "signedOnDate": "2023-05-31",
             "source": "Internal",
             "sourceReferenceNumber": "REF-INT-01"
            },
            "externalReference": {
             "referenceNumber": "A23",
             "verbalApprovalBy": {
              "key": "6",
              "id": "Johnson",
              "href": "/objects/company-config/contact/6"
             },
             "approvedBy": {
              "key": "51",
              "id": "Jagadish",
              "href": "/objects/company-config/contact/51"
             },
             "approvedOnDate": "2023-11-03",
             "signedBy": {
              "key": "200",
              "id": "Modulus Industries",
              "href": "/objects/company-config/contact/200"
             },
             "signedOnDate": "2023-12-01"
            },
            "performanceBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "1",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/1"
             }
            },
            "paymentBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "1",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/1"
             }
            },
            "revision": {
             "isDocumentChanged": false,
             "revisedTotal": "1000.00",
             "revisedSubTotal": "1000.00",
             "revisedTotalInTxnCurrency": "1000.00",
             "revisedSubTotalInTxnCurrency": "1000.00",
             "changeLogNumber": 1
            },
            "relatedDocumentNumber": "Sales Invoice-Sal#0140#inv",
            "postedChangesTotal": "1000.00",
            "projectContractBilling": {
             "externalReferenceNumber": "HGS-1024",
             "description": "Construction of clubhouse and offices",
             "contractDate": "2024-05-08",
             "billingThroughDate": "2024-05-08",
             "billingApplicationNumber": "IA-89115"
            },
            "billingSummary": {
             "originalContractAmount": "1000.00",
             "netChangesAmount": "1000.00",
             "revisedContractAmount": "1000.00",
             "balanceToFinishAmount": "1000.00",
             "lessPriorApplicationAmount": "1000.00",
             "currentDueAmount": "1000.00",
             "retainage": {
              "previousBalanceAmount": "1000.00",
              "balanceAmount": "1000.00",
              "billedAmount": "1000.00",
              "heldAmount": "1000.00",
              "completedAmount": "1000.00",
              "storedMaterialsAmount": "1000.00"
             },
             "billingTotals": {
              "completedToDateAmount": "1000.00",
              "storedMaterialsAmount": "1000.00",
              "heldAmount": "1000.00",
              "heldToDateAmount": "1000.00",
              "retainageOnThisInvoiceAmount": "1000.00",
              "earnedLessRetainageAmount": "1000.00",
              "lessRetainageHeldAmount": "1000.00",
              "netChangesAmount": "1000.00",
              "netChangesAdditionAmount": "1000.00",
              "netChangesDeductionAmount": "1000.00"
             },
             "totalChangesApprovedPriorMonth": {
              "additionsAmount": "1000.00",
              "deductionsAmount": "1000.00"
             },
             "totalChangesApprovedThisMonth": {
              "additionsAmount": "1000.00",
              "deductionsAmount": "1000.00"
             }
            },
            "architect": {
             "key": "1",
             "id": "Eberhardt",
             "href": "/objects/company-config/contact/12"
            },
            "projectContract": {
             "key": "1",
             "id": "BTI-01",
             "name": "Berkeley Technology Inc - Contract 01",
             "href": "/objects/construction/project-contract/1"
            },
            "contacts": {
             "primary": {
              "key": "13",
              "id": "contact"
             },
             "shipTo": {
              "key": "33",
              "id": "contact"
             },
             "billTo": {
              "key": "44",
              "id": "contact"
             }
            },
            "shippingMethod": {
             "key": "77",
             "id": "Air",
             "href": "/objects/accounts-receivable/shipping-method/77"
            },
            "printedByUser": {
             "key": "21",
             "id": "John",
             "href": "/objects/company-config/user/21"
            },
            "txnDefinition": {
             "key": "11",
             "id": "Sales Invoice",
             "href": "/objects/order-entry/txn-definition/11"
            },
            "sourceDocument": {
             "key": "44",
             "id": "Sales Order-SO0022",
             "documentType": "Sales Order",
             "href": "/objects/order-entry/document::Sales%20Order/44"
            },
            "customer": {
             "key": "1",
             "id": "1",
             "name": "Power Aerospace Materials",
             "href": "/objects/accounts-receivable/customer/15"
            },
            "project": {
             "key": "2",
             "id": "NET-XML30-2",
             "name": "Talcomp training",
             "href": "/objects/projects/project/2"
            },
            "contract": {
             "key": "46",
             "id": "CNRT1001",
             "href": "/objects/contracts/contract/46"
            },
            "paymentTerm": {
             "href": "/objects/term/75",
             "key": "75",
             "id": "10 Days"
            },
            "audit": {
             "createdDateTime": "2014-01-08T11:28:12Z",
             "modifiedDateTime": "2022-04-20T16:20:00Z",
             "createdBy": "1",
             "modifiedBy": "95"
            },
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": "46",
             "id": "CORP",
             "name": "Corp",
             "href": "/objects/company-config/entity/46"
            },
            "status": "active",
            "taxSolution": {
             "key": "44",
             "id": "Avalara",
             "href": "/objects/tax/tax-solution/44",
             "taxCalculationMethod": "noTax",
             "showMultilineTax": true
            },
            "projectContractBillingInvoiceSummary": {
             "originalContractAmount": "1000.0000000000",
             "netApprovedChangesAmount": "1000.0000000000",
             "revisedContractAmount": "1000.0000000000",
             "completedFromPriorApplicationAmount": "1000.0000000000",
             "completedToDateAmount": "1000.0000000000",
             "lessPreviousBillingAmount": "1000.0000000000",
             "currentDueAmount": "1000.0000000000",
             "balanceToFinishAmount": "1000.0000000000",
             "taxAmount": "1000.0000000000",
             "chargeAmount": "1000.0000000000",
             "discountAmount": "1000.0000000000",
             "changesApprovedPriorMonth": {
              "additionsAmount": "1000.0000000000",
              "deductionsAmount": "1000.0000000000"
             },
             "changesApprovedThisMonth": {
              "additionsAmount": "1000.0000000000",
              "deductionsAmount": "1000.0000000000"
             },
             "retainage": {
              "amountRetained": "1000.0000000000",
              "billedAmount": "1000.0000000000",
              "netChangeHeldAmount": "1000.0000000000",
              "heldToDateAmount": "1000.0000000000",
              "billedToDateAmount": "1000.0000000000",
              "balanceToDateAmount": "1000.0000000000",
              "previousBalanceAmount": "1000.0000000000",
              "totalEarnedLessAmount": "1000.0000000000"
             },
             "accountsReceivableInvoiceNumber": "INV1",
             "orderEntryDocumentId": "SO-AIA-Invoice01-Ord#0011#doc",
             "projectId": "DIM - HCS",
             "projectName": "Dimensions - Hands Computer Systems"
            },
            "lines": [
             {
              "key": "44",
              "id": "44",
              "href": "/objects/order-entry/document-line::Sales%20Invoice/44",
              "documentType": "Sales Invoice",
              "lineNumber": 1,
              "item": {
               "key": "10",
               "id": "MX001",
               "href": "/objects/inventory-control/item/10"
              },
              "itemAlias": {
               "key": "10",
               "id": "IXN",
               "href": "/objects/accounts-receivable/customer-item-cross-reference/10"
              },
              "lineDescription": "MX001",
              "memo": "Payment ACH",
              "priceCalculationMemo": "Fair value price list",
              "unit": "Each",
              "quantity": "40.10",
              "unitQuantity": "10.10",
              "unitPrice": "10.50",
              "price": "33.66",
              "quantityConverted": "5.10",
              "retailPrice": "10.44",
              "audit": {
               "createdDateTime": "2022-04-20T16:20:00Z",
               "modifiedDateTime": "2022-04-20T16:20:00Z",
               "createdBy": "1",
               "modifiedBy": "95"
              },
              "status": "active",
              "costMethod": "average",
              "discountPercent": "10.50",
              "multiplier": 1,
              "sourceDocument": {
               "key": "77",
               "id": "Sales Order-SO0022",
               "documentType": "Sales Order",
               "href": "/objects/order-entry-document::Sales%20Order/77"
              },
              "sourceDocumentLine": {
               "key": "2234",
               "id": "2234",
               "documentType": "Sales Order",
               "href": "/objects/order-entry/document-line::Sales%20Order/2234"
              },
              "isPriceProrated": true,
              "discountMemo": "Festival discount",
              "baseCurrency": "USD",
              "txnCurrency": "CAD",
              "priceInTxnCurrency": "10.00",
              "isBillable": true,
              "isBilled": true,
              "taxRate": "10.050",
              "taxInBaseCurrency": "10.50",
              "taxInTxnCurrency": "40.50",
              "discount": "10.25",
              "enableTax": false,
              "quantityRemaining": "10.10",
              "conversionType": "quantity",
              "dimensions": {
               "location": {
                "key": "22",
                "id": "LOC-22",
                "name": "California",
                "href": "/objects/company-config/location/22"
               },
               "department": {
                "key": "9",
                "id": "Sales",
                "name": "Sales and Marketing",
                "href": "/objects/company-config/department/9"
               },
               "employee": {
                "key": "10",
                "id": "EMP-10",
                "name": "Thomas, Glenn",
                "href": "/objects/company-config/employee/10"
               },
               "project": {
                "key": "2",
                "id": "NET-XML30-2",
                "name": "Talcomp training",
                "href": "/objects/projects/project/2"
               },
               "customer": {
                "key": "13",
                "id": "CUST-13",
                "name": "Jack In the Box",
                "href": "/objects/accounts-receivable/customer/13"
               },
               "vendor": {
                "key": "357",
                "id": "1605212096809",
                "name": "GenLab",
                "href": "/objects/accounts-payable/vendor/357"
               },
               "item": {
                "key": "13",
                "id": "Case 13",
                "name": "Platform pack",
                "href": "/objects/inventory-control/item/13"
               },
               "warehouse": {
                "key": "6",
                "id": "WH01",
                "name": "WH01",
                "href": "/objects/inventory-control/warehouse/6"
               },
               "class": {
                "key": "731",
[...]
