{
 "openapi": "3.0.3",
 "info": {
  "title": "Project and Resource Management",
  "version": "1",
  "description": "Project and Resource Management enables services companies to automate many of the functions of financial project management."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Project_and_Resource_Management_Projects",
   "x-displayName": "Projects",
   "description": "Use projects in Sage Intacct to plan, manage, track, and report on work across your organization. Projects provide visibility into activities, costs, and outcomes, helping to ensure accountability and measure performance effectively. The project management capabilities in Sage Intacct enable organizations to streamline their project workflows, improve collaboration, and gain insights into project performance.\n\nFor more information, read [about projects](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Projects_overview) in the Sage Intacct Help Center.\n\nFor [Construction projects](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Construction_projects), Sage Intacct offers specialized features to manage the unique aspects of construction projects, including job costing, change order management, and compliance tracking. You must have a Construction subscription to access these features.\n"
  },
  {
   "name": "Project_and_Resource_Management_Project resources",
   "x-displayName": "Project resources",
   "description": "Project resources represent people or employees assigned to a project. You can assign a resource, typically an employee, to a project, including details such as billing rates, roles and assignment dates.\n\nFor more information, read about [assigning project resources](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_project_resources) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Project statuses",
   "x-displayName": "Project statuses",
   "description": "Project statuses let you track the progress of projects through different states, used to categorize and report on projects. You can also disable (prevent) certain types of transactions from occurring in specific states, such as not allowing timesheet entries when a project is in a \"Not Started\" state.\n\nFor more information, read about [project statuses](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_project_statuses) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Project types",
   "x-displayName": "Project types",
   "description": "Project types let you group projects into categories for reporting. After defining project types, you can set each project to one of the types and then group and query based on the type.\n\nFor more information, read [about projects](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Projects_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Project groups",
   "x-displayName": "Project groups",
   "description": "A project group is a specified set of projects, or a set of projects that meet certain criteria. You can use groups to filter or display information in multiple ways, for instance by showing data from only certain projects.\n\nFor more information, read [about projects](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Projects_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Project group members",
   "x-displayName": "Project group members",
   "description": "Project group members are used to define the projects that belong to a project group. A project group can include all projects that meet certain criteria, or specific projects selected by the user.\n\nFor more information, read [about projects](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Projects_overview) in the Sage Intacct Help Center."
  },
  {
   "name": "Project_and_Resource_Management_Project observed percent completed",
   "x-displayName": "Project observed percent completed",
   "description": "Project observed percent completed objects record dated progress updates for a project. Use these entries to track incremental progress over time based on observed completion values.\n\nFor more information, read about [observed percent complete based recognition](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Project_revenue_recognition) in the Sage Intacct Help Center."
  },
  {
   "name": "Project_and_Resource_Management_Standard tasks",
   "x-displayName": "Standard tasks",
   "description": "Use standard tasks to create a catalog (library) of definitions that can be used to populate new project tasks with specific values, improving consistency across an organization."
  },
  {
   "name": "Project_and_Resource_Management_Tasks",
   "x-displayName": "Tasks",
   "description": "Tasks simplify the process of capturing task data for projects as you enter transactions. The uniqueness of a task is bound to a specific project, meaning you cannot select a task without first identifying the project. Projects and tasks are available with the Construction subscription.\n\nUse tasks (a unit of work to be performed for a project) to:\n\n- Identify which tasks are billable to the customer.\n- Enter estimated and planned hours, track percent completed as the task progresses, and create recurring schedules.\n- Create task dependencies so one task doesn't start until another finishes.\n\nFor more information, read more about [task dimensions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Task_dimension_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Task groups",
   "x-displayName": "Task groups",
   "description": "Task groups categorize task dimension records, mainly for the purpose of structuring financial reporting. A task group is a type of dimension. A task group simplifies the process of capturing task data for projects as you enter transactions. A task group is bound to a specific project in the same way a task is bound to a project. This means you must first identify a project to be able to create a task group.\n\nFor more information, read [about task groups](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Proj-about-task-group) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Task resources",
   "x-displayName": "Task resources",
   "description": "Task resources represent employees assigned to project tasks. Use task resources to track staffing details and planned or actual work for a task.\n\nFor more information, read about [task resources](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_project_resources) in the Sage Intacct Help Center."
  },
  {
   "name": "Project_and_Resource_Management_Task observed percent completed",
   "x-displayName": "Task observed percent completed",
   "description": "Task observed percent completed objects capture dated progress updates for a task. Use these entries to track incremental progress over time based on observed completion values.\n\nFor more information, read about [observed percent complete based recognition](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Project_revenue_recognition) in the Sage Intacct Help Center."
  },
  {
   "name": "Project_and_Resource_Management_Standard cost types",
   "x-displayName": "Standard cost types",
   "description": "Define standard cost types to create a catalog of definitions that can be used to create new cost types pre-populated with specific values, such as for labor, materials, and subcontracts.\n\nNote: Construction companies record expenses using the work breakdown structure (WBS). In the industry, the WBS is traditionally defined as job/cost code/category. Sage Intacct uses project/task/cost type to reflect this structure."
  },
  {
   "name": "Project_and_Resource_Management_Cost types",
   "x-displayName": "Cost types",
   "description": "A cost type is a standard dimension used to capture and categorize project cost details in construction projects.\n\nEach project typically has different cost types related to labor, materials, rented equipment, and other operational costs. Standard cost types serve as templates for creating new cost types.\n\nEach cost type is associated with a task, which is in turn associated with a project. A cost type record is uniquely identified by the standard cost type used to create it, as well as the specific project and task it applies to.\n\nNote: In the construction industry, the cost type corresponds with the category in the work breakdown structure (WBS)."
  },
  {
   "name": "Project_and_Resource_Management_Project invoice runs",
   "x-displayName": "Project invoice runs",
   "description": "An invoice run record is created every time you generate an invoice for a project. The invoice run shows the status of offline requests before and during processing, and shows the results of both online and offline requests. The invoice run shows whether or not the requested invoice was created successfully. If there were errors during processing, the invoice run provides error details to help you identify and resolve the issues.\n"
  },
  {
   "name": "Project_and_Resource_Management_Project billing templates",
   "x-displayName": "Project billing templates",
   "description": "A billing template defines the rules that you want to use for invoicing a line item on a sales order, including whether the line item should be billed only when it's completed or at specific percentages of completion.\n\nFor more information, read the [billing template overview](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Billing_template_overview) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Project billing template milestones",
   "x-displayName": "Project billing template milestones",
   "description": "A project billing template milestone represents a specific billable event or checkpoint within a project billing template used for milestone billing. Each milestone defines a percentage of project completion that triggers an invoice to be sent to the client.\n\nFor more information, read about [fixed fee projects with percent complete billings](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Fixed_fee_percent_completed_projects) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Project_and_Resource_Management_Position skills",
   "x-displayName": "Position skills",
   "description": "A position-skill object contains the name and description of a position and skill level that can be assigned to employees for project planning."
  },
  {
   "name": "Project_and_Resource_Management_Employee out of office schedules",
   "x-displayName": "Employee out of office schedules",
   "description": "Employee out of office schedules Employee out of office records capture periods when project resources are unavailable for planned work. Use these schedules to plan project work and avoid scheduling conflicts. For example, if an employee is on vacation or attending a training session, you can create an employee out of office schedule to indicate that they are unavailable during that time period.\n\nFor more information, read about [employee out of office schedules](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Resource_Scheduling_OOO) in the Sage Intacct Help Center."
  },
  {
   "name": "Project_and_Resource_Management_Employee out of office lines",
   "x-displayName": "Employee out of office lines",
   "description": "Employee out of office lines represent individual date-range entries that record when a project resource is unavailable. These entries are used with the employee out of office header to support staffing and scheduling workflows.\n\nFor more information, read about [employee out of offices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Resource_Scheduling_OOO) in the Sage Intacct Help Center."
  }
 ],
 "paths": {
  "/objects/projects/project": {
   "get": {
    "summary": "List projects",
    "description": "Returns a collection with a key, ID, and link for each project. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Projects"
    ],
    "operationId": "list-projects-project",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List projects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List projects": {
          "value": {
           "ia::result": [
            {
             "key": "100",
             "id": "P-040",
             "href": "/objects/projects/project/100"
            },
            {
             "key": "101",
             "id": "P-050",
             "href": "/objects/projects/project/101"
            },
            {
             "key": "102",
             "id": "P-060",
             "href": "/objects/projects/project/102"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project",
    "description": "Creates a new project. If document sequencing is enabled for projects in the company, the `id` property is optional. If you do not provide an `id` value, the next value in the document sequence is used. If document sequencing is not enabled, the `id` value is required.\n",
    "tags": [
     "Project_and_Resource_Management_Projects"
    ],
    "operationId": "create-projects-project",
    "requestBody": {
     "description": "Create a project.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project"
         },
         {
          "$ref": "#/components/schemas/projects-projectRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a project": {
         "value": {
          "id": "P-0045",
          "name": "Implementation Project",
          "description": "Software Implementation Project",
          "projectCurrency": "USD",
          "category": "contract",
          "projectStatus": {
           "key": "1"
          },
          "startDate": "2025-01-23",
          "endDate": "2025-04-01",
          "budget": {
           "billingAmount": "10000.00",
           "budgetedDuration": "250.00",
           "budgetedCost": "10000.00"
          },
          "glBudget": {
           "key": "5"
          },
          "contractAmount": "15000.00",
          "actualAmount": "15000.00",
          "billingType": "timeAndMaterial",
          "salesOrderNumber": "SO-5478",
          "purchaseOrderNumber": "PO-7829",
          "purchaseOrderAmount": "4500.00",
          "purchaseQuoteNumber": "1453",
          "documentNumber": "1453",
          "parent": {
           "key": "9"
          },
          "invoiceWithParent": false,
          "customer": {
           "key": "13"
          },
          "salesContact": {
           "key": "10"
          },
          "projectType": {
           "key": "3"
          },
          "manager": {
           "key": "10"
          },
          "department": {
           "key": "10"
          },
          "location": {
           "key": "1"
          },
          "cipAsset": {
           "key": "1"
          },
          "customerUser": {
           "key": "1"
          },
          "class": {
           "key": "1"
          },
          "userRestrictions": "systemDefault",
          "isBillableEmployeeExpense": false,
          "isBillablePurchasingAPExpense": false,
          "ratesAndPricing": {
           "laborPricing": "billingRate",
           "laborMarkup": "10",
           "expensePricing": "billingRate",
           "expenseMarkup": "10",
           "defaultRate": "12"
          },
          "contacts": {
           "primary": {
            "key": "1"
           },
           "billTo": {
            "key": "2"
           }
          },
          "invoiceMessage": "Invoice for project",
          "invoiceCurrency": "USD",
          "billingOverMax": "preventBilling",
          "excludeExpenses": false,
          "grant": {
           "aln": "10.555",
           "fundedProjectName": "Undergraduate Programs",
           "agency": "US government",
           "payer": "federal",
           "otherId": "Other",
           "assistanceType": "cash",
           "revenueRestriction": "time",
           "restrictionExpiry": "1",
           "restrictionExpirationDate": "2021-01-23",
           "isTimeSatisfactionScheduled": false
          },
          "wipScheduleProject": {
           "key": "10"
          },
          "excludeFromWIPSchedule": false,
          "status": "active",
          "taxSolution": {
           "id": "Australia GST"
          },
          "taxSchedule": {
           "id": "Sale Goods Standard"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New project reference",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project": {
          "value": {
           "ia::result": {
            "key": "100",
            "id": "P-0045",
            "href": "/objects/projects/project/100"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the project.",
     "in": "path",
     "required": true,
     "example": "635",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a project",
    "description": "Returns detailed information for a specified project.",
    "tags": [
     "Project_and_Resource_Management_Projects"
    ],
    "operationId": "get-projects-project-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a project",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.projects.project"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project": {
          "value": {
           "ia::result": {
            "key": "106",
            "id": "P-0045",
            "name": "Implementation Project",
            "description": "Software Implementation Project",
            "projectCurrency": "USD",
            "category": "contract",
            "projectStatus": {
             "key": "1",
             "id": "In Progress",
             "disableTimesheetEntry": null,
             "disableExpenseEntry": null,
             "disablePurchasingAPEntry": null,
             "disableGenerateInvoice": null,
             "href": "/objects/projects/project-status/1"
            },
            "status": "active",
            "startDate": "2025-01-23",
            "endDate": "2025-04-01",
            "budget": {
             "billingAmount": "10000.00",
             "budgetedDuration": "250.00",
             "budgetedCost": "10000.00"
            },
            "contractAmount": "15000.00",
            "actualAmount": "15000.00",
            "progress": {
             "estimatedDuration": null,
             "actualDuration": null,
             "approvedDuration": null,
             "remainingDuration": null,
             "percentComplete": null,
             "observedPercentComplete": "0.00"
            },
            "billingType": "timeAndMaterial",
            "salesOrderNumber": "SO-5478",
            "purchaseOrderNumber": "PO-7829",
            "purchaseOrderAmount": "4500.00",
            "purchaseQuoteNumber": "1453",
            "salesforceKey": null,
            "parent": {
             "key": "9",
             "id": "9",
             "name": "Implementation - Logic Solutions",
             "href": "/objects/projects/project/9"
            },
            "invoiceWithParent": false,
            "customer": {
             "key": "13",
             "id": "OTC",
             "name": "One Time Customer",
             "href": "/objects/accounts-receivable/customer/13"
            },
            "salesContact": {
             "key": "10",
             "id": "MGR6",
             "name": "OPE Dept - Manager",
             "href": "/objects/company-config/employee/10"
            },
            "projectType": {
             "key": "3",
             "id": "2nd Level Project",
             "href": "/objects/projects/project-type/3"
            },
            "manager": {
             "key": "10",
             "id": "MGR6",
             "name": "OPE Dept - Manager",
             "href": "/objects/company-config/employee/10"
            },
            "department": {
             "key": "10",
             "id": "ACP",
             "name": "Accounts Payable",
             "href": "/objects/company-config/department/10"
            },
            "location": {
             "key": "1",
             "id": "1",
             "name": "United States of America",
             "href": "/objects/company-config/location/1"
            },
            "cipAsset": {
             "key": "1",
             "id": "CIP-COURSE-LAPTOP-001",
             "name": "Course Delivery Laptop - CIP Capital Equipment",
             "href": "/objects/fixed-assets/asset/1"
            },
            "contacts": {
             "site": {
              "id": "Jane",
              "key": "3",
              "href": "/objects/company-config/contact/3"
             },
             "primary": {
              "id": "Admin",
              "key": "1",
              "href": "/objects/company-config/contact/1"
             },
             "shipTo": {
              "id": null,
              "key": null
             },
             "billTo": {
              "id": "intacct",
              "key": "2",
              "href": "/objects/company-config/contact/2"
             }
            },
            "paymentTerm": {
             "key": null,
             "id": null
            },
            "documentNumber": "1453",
            "customerUser": {
             "key": "1",
             "id": "Admin",
             "href": "/objects/company-config/user/1"
            },
            "audit": {
             "createdDateTime": "2025-09-23T12:44:37Z",
             "modifiedDateTime": "2025-09-23T12:44:37Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "class": {
             "id": "3",
             "name": "Heath Care",
             "key": "1",
             "href": "/objects/company-config/class/1"
            },
            "userRestrictions": "systemDefault",
            "isBillableEmployeeExpense": false,
            "isBillablePurchasingAPExpense": false,
            "glBudget": {
             "id": "Employee Expense Budget",
             "key": "5",
             "href": "/objects/general-ledger/budget/5"
            },
            "ratesAndPricing": {
             "laborMarkup": null,
             "laborPricing": "billingRate",
             "expenseMarkup": null,
             "expensePricing": "billingRate",
             "defaultRate": "12",
             "purchasingAPPricing": "costPlusFee"
            },
            "invoiceMessage": "Invoice for project",
            "invoiceCurrency": "USD",
            "billingOverMax": "preventBilling",
            "excludeExpenses": false,
            "contract": {
             "key": null,
             "id": null
            },
            "attachment": {
             "id": null,
             "key": null
            },
            "rootProject": {
             "key": "9",
             "id": "9",
             "name": "Implementation - Logic Solutions",
             "href": "/objects/projects/project/9"
            },
            "grant": {
             "aln": null,
             "fundedProjectName": null,
             "agency": null,
             "payer": null,
             "otherId": null,
             "assistanceType": null,
             "revenueRestriction": null,
             "restrictionExpiry": null,
             "restrictionExpirationDate": null,
             "isTimeSatisfactionScheduled": false
            },
            "wipScheduleProject": {
             "key": "10",
             "id": "SI",
             "name": "Support Incidents - Network Shift Corp",
             "href": "/objects/projects/project/10"
            },
            "excludeFromWIPSchedule": false,
            "multiEntityLocation": {
             "key": null,
             "id": null,
             "name": null
            },
            "scopeDetails": {
             "scope": null,
             "inclusions": null,
             "exclusions": null,
             "terms": null
            },
            "scheduleDetails": {
             "scheduledStartDate": null,
             "actualStartDate": null,
             "scheduledCompletionDate": null,
             "revisedCompletionDate": null,
             "substantialCompletionDate": null,
             "actualCompletionDate": null,
             "noticeToProceedDate": null,
             "responseDueDate": null,
             "executedOnDate": null,
             "scheduleImpactNotes": null
            },
            "taxSchedule": {
             "id": "Sale Goods Standard",
             "key": "19",
             "href": "/objects/tax/order-entry-tax-schedule/19"
            },
            "taxSolution": {
             "key": "9",
             "id": "Australia GST",
             "href": "/objects/tax/tax-solution/9"
            },
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "href": "/objects/projects/project/106"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project",
    "description": "Updates an existing project by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Project_and_Resource_Management_Projects"
    ],
    "operationId": "update-projects-project-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a project": {
         "value": {
          "name": "Global Implementation Project",
          "description": "Global Software Implementation Project",
          "projectCurrency": "USD",
          "category": "contract"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated project",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project": {
          "value": {
           "ia::result": {
            "key": "106",
            "id": "P-0345",
            "href": "/objects/projects/project/106"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project",
    "description": "Deletes a project. You can only delete projects without posted transactions. If posted transactions exist for the project, you can make the project inactive but cannot delete it.",
    "tags": [
     "Project_and_Resource_Management_Projects"
    ],
    "operationId": "delete-projects-project-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-resource": {
   "get": {
    "summary": "List project resources",
    "description": "Returns a collection with a key, ID, and link for each resource. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find project resources that meet certain criteria and specify the properties that are returned.\n",
    "tags": [
     "Project_and_Resource_Management_Project resources"
    ],
    "operationId": "list-projects-project-resource",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project resources",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List project resources": {
          "value": {
           "ia::result": [
            {
             "key": "12345",
             "id": "12345",
             "href": "/objects/projects/project-resource/12345"
            },
            {
             "key": "85",
             "id": "EXP-00002",
             "href": "/objects/projects/employee-expense/85"
            },
            {
             "key": "60",
             "id": "EXP-00003",
             "href": "/objects/projects/employee-expense/60"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project resource",
    "description": "Creates a new project resource.",
    "tags": [
     "Project_and_Resource_Management_Project resources"
    ],
    "operationId": "create-projects-project-resource",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-resource"
         },
         {
          "$ref": "#/components/schemas/projects-project-resourceRequiredProperties"
         }
        ]
       },
       "examples": {
        "Creates a project resource": {
         "value": {
          "description": "Hourly resource",
          "startDate": "2025-04-01",
          "employee": {
           "key": "17"
          },
          "item": {
           "key": "23"
          },
          "pricing": {
           "laborRate": 100,
           "expenseRate": 110,
           "apPurchasingRate": 120
          },
          "project": {
           "key": "9"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New project-resource",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project resource": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "href": "/objects/projects/project-resource/5"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-resource/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for a project resource.",
     "in": "path",
     "required": true,
     "example": "23",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a project resource",
    "description": "Returns detailed information for a specified project resource.",
    "tags": [
     "Project_and_Resource_Management_Project resources"
    ],
    "operationId": "get-projects-project-resource-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a project resource",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.projects.project-resource"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project resource": {
          "value": {
           "ia::result": {
            "id": "5",
            "key": "5",
            "audit": {
             "createdDateTime": "2025-09-23T15:59:32Z",
             "modifiedDateTime": "2025-09-23T15:59:32Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "project": {
             "key": "9",
             "id": "9",
             "name": "Implementation - Logic Solutions",
             "href": "/objects/projects/project/9"
            },
            "employee": {
             "key": "17",
             "id": "EMP1-US",
             "href": "/objects/company-config/employee/17"
            },
            "employeeContact": {
             "id": "Restricted dept mgr's Hourly employee",
             "key": "24",
             "href": "/objects/company-config/contact/24"
            },
            "item": {
             "key": "23",
             "id": "Price_at_task",
             "name": "Price_at_task",
             "href": "/objects/inventory-control/item/23"
            },
            "description": "Hourly resource",
            "startDate": "2025-04-01",
            "pricing": {
             "laborPricingMethod": "billingRate",
             "laborRate": 100,
             "expensePricingMethod": "costPlusFee",
             "expenseRate": 110,
             "apPurchasingPricingMethod": "costPlusFee",
             "apPurchasingRate": 120
            },
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "href": "/objects/projects/project-resource/5"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project resource",
    "description": "Updates an existing project resource by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Project_and_Resource_Management_Project resources"
    ],
    "operationId": "update-projects-project-resource-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/objects.projects.project-resource"
       },
       "examples": {
        "Update a project resource": {
         "value": {
          "description": "Hourly Rate - Project Resource Updated"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated project resource",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project resource": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "5",
            "href": "/objects/projects/project-resource/5"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project resource",
    "description": "Deletes a project resource.",
    "tags": [
     "Project_and_Resource_Management_Project resources"
    ],
    "operationId": "delete-projects-project-resource-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-status": {
   "get": {
    "summary": "List project statuses",
    "description": "Returns a collection with a key, ID, and link for each project status. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Project statuses"
    ],
    "operationId": "list-projects-project-status",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project statuses",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List project statuses": {
          "value": {
           "ia::result": [
            {
             "key": "100",
             "id": "In Progress",
             "href": "/objects/projects/project-status/100"
            },
            {
             "key": "101",
             "id": "Completed",
             "href": "/objects/projects/project-status/101"
            },
            {
             "key": "102",
             "id": "Started",
             "href": "/objects/projects/project-status/102"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project status",
    "description": "Creates a new project status.",
    "tags": [
     "Project_and_Resource_Management_Project statuses"
    ],
    "operationId": "create-projects-project-status",
    "requestBody": {
     "description": "Create a new project status.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-status"
         },
         {
          "$ref": "#/components/schemas/projects-project-statusRequiredProperties"
         }
        ]
       },
       "examples": {
        "Creates a project status": {
         "value": {
          "id": "Pending Approval",
          "description": "Pending Project Manager approval",
          "disableTimesheetEntry": false,
          "disableExpenseEntry": false,
          "disablePurchasingAPEntry": false,
          "disableGenerateInvoice": false,
          "status": "active"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Create a project status",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create a project status": {
          "value": {
           "ia::result": {
            "key": "6",
            "id": "Pending Approval",
            "href": "/objects/projects/project-status/6"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-status/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the project status.",
     "in": "path",
     "required": true,
     "example": "1038",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a project status",
    "description": "Returns detailed information for a specified project status.",
    "tags": [
     "Project_and_Resource_Management_Project statuses"
    ],
    "operationId": "get-projects-project-status-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a project status",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.projects.project-status"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project status": {
          "value": {
           "ia::result": {
            "id": "Pending Approval",
            "description": "Pending Project Manager Approval",
            "disableTimesheetEntry": false,
            "disableExpenseEntry": false,
            "disablePurchasingAPEntry": false,
            "disableGenerateInvoice": false,
            "status": "active",
            "key": "6",
            "audit": {
             "createdDateTime": "2025-09-23T16:35:59Z",
             "modifiedDateTime": "2025-09-23T16:35:59Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "href": "/objects/projects/project-status/6"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project status",
    "description": "Updates an existing project status by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Project_and_Resource_Management_Project statuses"
    ],
    "operationId": "update-projects-project-status-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-status"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a project status": {
         "value": {
          "disableTimesheetEntry": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated project status",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project status": {
          "value": {
           "ia::result": {
            "key": "6",
            "id": "Pending Approval",
            "href": "/objects/projects/project-status/6"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project status",
    "description": "Deletes a project status.",
    "tags": [
     "Project_and_Resource_Management_Project statuses"
    ],
    "operationId": "delete-projects-project-status-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-type": {
   "get": {
    "summary": "List project types",
    "description": "Returns a collection with a key, ID, and link for each project type. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Project types"
    ],
    "operationId": "list-projects-project-type",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project types",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List project types": {
          "value": {
           "ia::result": [
            {
             "key": "100",
             "id": "Internal",
             "href": "/objects/projects/project-type/100"
            },
            {
             "key": "101",
             "id": "External",
             "href": "/objects/projects/project-type/101"
            },
            {
             "key": "102",
             "id": "Contract",
             "href": "/objects/projects/project-type/102"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 5,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project type",
    "description": "Creates a new project type.",
    "tags": [
     "Project_and_Resource_Management_Project types"
    ],
    "operationId": "create-projects-project-type",
    "requestBody": {
     "description": "Create a new project type.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-type"
         },
         {
          "$ref": "#/components/schemas/projects-project-typeRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a project type": {
         "value": {
          "id": "Internal",
          "parent": {
           "key": "1"
          },
          "status": "active"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New project type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project type": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "Internal",
            "href": "/objects/projects/project-type/5"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-type/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the project type.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "956"
    }
   ],
   "get": {
    "summary": "Get a project type",
    "description": "Returns detailed information for a specified project type.",
    "tags": [
     "Project_and_Resource_Management_Project types"
    ],
    "operationId": "get-projects-project-type-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a project type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.projects.project-type"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project type": {
          "value": {
           "ia::result": {
            "id": "Internal",
            "parent": {
             "id": "Top Level Project",
             "key": "1",
             "href": "/objects/projects/project-type/1"
            },
            "status": "active",
            "key": "5",
            "audit": {
             "createdDateTime": "2025-09-23T16:47:30Z",
             "modifiedDateTime": "2025-09-23T16:47:30Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "href": "/objects/projects/project-type/5"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project type",
    "description": "Updates an existing project type by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Project_and_Resource_Management_Project types"
    ],
    "operationId": "update-projects-project-type-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-type"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a project type": {
         "value": {
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated project type",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project type": {
          "value": {
           "ia::result": {
            "key": "5",
            "id": "Internal",
            "href": "/objects/projects/project-type/5"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project type",
    "description": "Deletes a project type.",
    "tags": [
     "Project_and_Resource_Management_Project types"
    ],
    "operationId": "delete-projects-project-type-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-group": {
   "get": {
    "summary": "List project groups",
    "description": "Returns a collection with a key, ID, and link for each project group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find project groups that meet certain criteria and specify the properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Project groups"
    ],
    "operationId": "list-projects-project-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project group objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List project groups": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/projects/project-group/1"
            },
            {
             "key": "3",
             "id": "3",
             "href": "/objects/projects/project-group/3"
            },
            {
             "key": "5",
             "id": "5",
             "href": "/objects/projects/project-group/5"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project group",
    "description": "Creates a new project group. Project groups created at the top level of a company can't include projects that belong to entities. You must create a project group from the entity to include those projects.",
    "tags": [
     "Project_and_Resource_Management_Project groups"
    ],
    "operationId": "create-projects-project-group",
    "requestBody": {
     "description": "Creates a new project group.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-group"
         },
         {
          "$ref": "#/components/schemas/projects-project-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a project group where group type is set to all": {
         "value": {
          "id": "P-GRP-01",
          "name": "Top Priority Projects",
          "description": "Group for top priority projects",
          "groupType": "all",
          "memberFilter": {
           "object": "projects/project",
           "filters": [
            {
             "$eq": {
              "status": "active"
             }
            },
            {
             "$in": {
              "projectStatus.id": [
               "In Progress",
               "Active"
              ]
             }
            }
           ],
           "filterExpression": "and",
           "orderBy": [
            {
             "id": "desc"
            }
           ]
          }
         }
        },
        "Creates a project group where group type is set to specific": {
         "value": {
          "id": "GLB-SER-GRP-OO1",
          "name": "Global Client Level 1 Project Group",
          "description": "Global Clients with Level 1 Projects",
          "groupType": "specific",
          "groupMembers": [
           {
            "id": "GLB SER - BTI"
           },
           {
            "id": "GLB SER - HCS"
           },
           {
            "id": "GLB SER - JHC"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New project group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project group": {
          "value": {
           "ia::result": {
            "key": "7",
            "id": "GLB-SER-GRP-OO1",
            "href": "/objects/projects/project-group/7"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the project group.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "46"
    }
   ],
   "get": {
    "summary": "Get a project group",
    "description": "Returns detailed information for a specified project group.",
    "tags": [
     "Project_and_Resource_Management_Project groups"
    ],
    "operationId": "get-projects-project-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a project group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.projects.project-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project group": {
          "value": {
           "ia::result": {
            "key": "7",
            "id": "GLB-SER-GRP-OO1",
            "name": "Global Client Level 1 Project Group",
            "description": "Global Clients with Level 1 Projects",
            "groupType": "specific",
            "audit": {
             "createdDateTime": "2025-09-23T15:22:59Z",
             "modifiedDateTime": "2025-09-23T15:22:59Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            },
            "isDimensionStructure": false,
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "groupMembers": [
             {
              "key": "32",
              "id": "GLB SER - BTI",
              "name": "Global Search - Berkeley Technology Inc",
              "status": "active",
              "href": "/objects/projects/project/32"
             },
             {
              "key": "33",
              "id": "GLB SER - HCS",
              "name": "Global Search - Hands Computer Systems",
              "status": "active",
              "href": "/objects/projects/project/33"
             },
             {
              "key": "34",
              "id": "GLB SER - JHC",
              "name": "Global Search - Jones Hogan Company",
              "status": "active",
              "href": "/objects/projects/project/34"
             }
            ],
            "memberFilter": {
             "object": "projects/project",
             "filterExpression": "and",
             "orderBy": [
              {
               "id": "asc"
              }
             ]
            },
            "href": "/objects/projects/project-group/7"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project group",
    "description": "Updates an existing project group by setting field values. Any fields not provided remain unchanged. Providing a new value for the `groupMembers` array replaces the entire array.",
    "tags": [
     "Project_and_Resource_Management_Project groups"
    ],
    "operationId": "update-projects-project-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a project group": {
         "value": {
          "name": "Global Client Level 1 Project Group - Updated",
          "description": "Global Client Level 1 Project Group - Updated",
          "groupMembers": [
           {
            "id": "GLB SER - BTI"
           },
           {
            "id": "GLB SER - HCS"
           },
           {
            "id": "GLB SER - JHC"
           },
           {
            "id": "GLB SER - LGX"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated project group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project group": {
          "value": {
           "ia::result": {
            "key": "7",
            "id": "GLB-SER-GRP-OO1",
            "href": "/objects/projects/project-group/7"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project group",
    "description": "Deletes a project group.",
    "tags": [
     "Project_and_Resource_Management_Project groups"
    ],
    "operationId": "delete-projects-project-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-group-member": {
   "get": {
    "summary": "List project group members",
    "description": "Returns a collection with a key, ID, and link for each project group member. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Project group members"
    ],
    "operationId": "list-projects-project-group-member",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project-group-members",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List project group members": {
          "value": {
           "ia::result": [
            {
             "key": "101",
             "id": "101",
             "href": "/objects/projects/project-group-member/101"
            },
            {
             "key": "102",
             "id": "102",
             "href": "/objects/projects/project-group-member/102"
            },
            {
             "key": "103",
             "id": "103",
             "href": "/objects/projects/project-group-member/103"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": 0,
            "previous": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-group-member/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the project group member.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "23"
    }
   ],
   "get": {
    "summary": "Get a project group member",
    "description": "Returns detailed information for a specified project group member.",
    "tags": [
     "Project_and_Resource_Management_Project group members"
    ],
    "operationId": "get-projects-project-group-member-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Get a project group member",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.projects.project-group-member"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project group member": {
          "value": {
           "ia::result": {
            "key": "23",
            "id": "23",
            "href": "/objects/projects/project-group-member/23",
            "projectGroup": {
             "key": "1",
             "id": "Sustainability initiatives",
             "href": "/objects/projects/project-group/1"
            },
            "sortOrder": "asc",
            "project": {
             "key": "1",
             "id": "DIM - BTI",
             "name": "Dimensions - Berkeley Technology Inc",
             "href": "/objects/projects/project/23",
             "status": "active"
            },
            "audit": {
             "createdDateTime": "2025-09-23T15:22:59Z",
             "modifiedDateTime": "2025-09-23T15:22:59Z",
             "createdByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "createdBy": "159",
             "modifiedByUser": {
              "key": "159",
              "id": "Admin",
              "href": "/objects/company-config/user/159"
             },
             "modifiedBy": "159"
            }
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-observed-percent-completed": {
   "get": {
    "summary": "List project observed percent completed",
    "description": "Returns a collection with a key, ID, and link for each project observed percent completed object. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Project observed percent completed"
    ],
    "operationId": "list-projects-project-observed-percent-completed",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of project observed percent completed objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List project observed percent completed objects": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/projects/project-observed-percent-completed/1"
            },
            {
             "key": "2",
             "id": "2",
             "href": "/objects/projects/project-observed-percent-completed/2"
            },
            {
             "key": "3",
             "id": "3",
             "href": "/objects/projects/project-observed-percent-completed/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": 101,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a project observed percent completed object",
    "description": "Creates a new project observed percent completed object.",
    "tags": [
     "Project_and_Resource_Management_Project observed percent completed"
    ],
    "operationId": "create-projects-project-observed-percent-completed",
    "requestBody": {
     "description": "Project observed percent completed object",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-observed-percent-completed"
         },
         {
          "$ref": "#/components/schemas/projects-project-observed-percent-completedRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a project observed percent completed object": {
         "value": {
          "project": {
           "key": "109"
          },
          "asOfDate": "2026-01-11",
          "percentComplete": "25",
          "notes": "Completed on 11th Jan 2026"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New project observed percent completed object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new project observed percent completed object": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "1",
            "href": "/objects/projects/project-observed-percent-completed/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/project-observed-percent-completed/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the project observed percent completed.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "23"
    }
   ],
   "get": {
    "summary": "Get a project observed percent completed object",
    "description": "Returns detailed information for a specified project observed percent completed object.",
    "tags": [
     "Project_and_Resource_Management_Project observed percent completed"
    ],
    "operationId": "get-projects-project-observed-percent-completed-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the project observed percent completed",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.projects.project-observed-percent-completed"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a project observed percent completed object": {
          "value": {
           "ia::result": {
            "project": {
             "key": "109",
             "id": "22-001",
             "name": "Implementation Project",
             "href": "/objects/projects/project/109"
            },
            "href": "/objects/projects/project-observed-percent-completed/23",
            "key": "23",
            "id": "23",
            "asOfDate": "2026-01-11",
            "percentComplete": "25",
            "notes": "Completed on 11th Jan 2026",
            "audit": {
             "createdDateTime": "2026-01-11T16:20:00Z",
             "modifiedDateTime": "2026-01-11T16:20:00Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            }
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a project observed percent completed object",
    "description": "Updates an existing project observed percent completed object by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Project_and_Resource_Management_Project observed percent completed"
    ],
    "operationId": "update-projects-project-observed-percent-completed-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.project-observed-percent-completed"
         },
         {
          "type": "object",
          "properties": {
           "key": {
            "readOnly": true
           },
           "project": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a project observed percent completed object": {
         "value": {
          "notes": "As of Jan 11, 2026"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated project observed percent completed object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated project observed percent completed object": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "1",
            "href": "/objects/projects/project-observed-percent-completed/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a project observed percent completed object",
    "description": "Deletes a project observed percent completed object.",
    "tags": [
     "Project_and_Resource_Management_Project observed percent completed"
    ],
    "operationId": "delete-projects-project-observed-percent-completed-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/standard-task": {
   "get": {
    "summary": "List standard tasks",
    "description": "Returns up to 100 object references from the collection with a key, ID, and link for each standard task. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Standard tasks"
    ],
    "operationId": "list-construction-standard-task",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of standard tasks",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "example-result-collection-of-standard-tasks": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1-000",
             "href": "/objects/construction/standard-task/1"
            },
            {
             "key": "2",
             "id": "3-010",
             "href": "/objects/construction/standard-task/2"
            },
            {
             "key": "3",
             "id": "1-020",
             "href": "/objects/construction/standard-task/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a standard task",
    "description": "Creates a new standard task.",
    "tags": [
     "Project_and_Resource_Management_Standard tasks"
    ],
    "operationId": "create-construction-standard-task",
    "requestBody": {
     "description": "Standard task to create",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.standard-task"
         },
         {
          "$ref": "#/components/schemas/construction-standard-taskRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a standard task": {
         "value": {
          "id": "1-010",
          "name": "Summary of Work",
          "description": "Summary of Work",
          "status": "active",
          "isBillable": false,
          "isMilestone": false,
          "isUtilized": false,
          "parent": {
           "id": "1-000"
          },
          "standardCostTypes": [
           {
            "id": "EQ"
           },
           {
            "id": "EQ-Owned"
           },
           {
            "id": "EQ-Rental"
           },
           {
            "id": "LAB"
           },
           {
            "id": "LAB-OT"
           },
           {
            "id": "LAB-REG"
           },
           {
            "id": "LAB-SALARY"
           },
           {
            "id": "LAB-BURDEN"
           },
           {
            "id": "MAT"
           },
           {
            "id": "OH"
           },
           {
            "id": "OTH"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to new standard task",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new standard task": {
          "value": {
           "ia::result": {
            "key": "2",
            "id": "1-010",
            "href": "/objects/construction/standard-task/2"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/construction/standard-task/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the standard task.",
     "in": "path",
     "required": true,
     "example": "312",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a standard task",
    "description": "Returns detailed information for a specified standard task.",
    "tags": [
     "Project_and_Resource_Management_Standard tasks"
    ],
    "operationId": "get-construction-standard-task-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the standard task",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.construction.standard-task"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the standard task": {
          "value": {
           "ia::result": {
            "key": "312",
            "id": "1-010",
            "name": "Summary of Work",
            "description": "General Conditions: Summary of Work",
            "productionUnitDescription": "days",
            "status": "active",
            "item": {
             "key": "318",
             "id": "Other",
             "name": "Other",
             "href": "/objects/inventory-control/item/318"
            },
            "isBillable": false,
            "isMilestone": false,
            "isUtilized": true,
            "timeType": {
             "key": "11",
             "id": "Design",
             "href": "/objects/construction/time-type/11"
            },
            "wbsCode": "S",
            "parent": {
             "key": "1",
             "id": "1-000",
             "name": "GENERAL CONDITIONS",
             "href": "/objects/construction/standard-task/1"
            },
            "class": {
             "key": "8",
             "id": "CON",
             "name": "Construction",
             "href": "/objects/company-config/class/8"
            },
            "audit": {
             "createdDateTime": "2021-11-23T23:57:52Z",
             "modifiedDateTime": "2021-11-29T23:15:38Z",
             "createdByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "1",
              "id": "Admin",
              "href": "/objects/company-config/user/1"
             },
             "modifiedBy": "1"
            },
            "standardCostTypes": [
             {
              "key": "1",
              "id": "EQ",
              "href": "/objects/construction/standard-cost-type/1"
             },
             {
              "key": "3",
              "id": "EQ-Owned",
              "href": "/objects/construction/standard-cost-type/3"
             }
            ],
            "href": "/objects/construction/standard-task/312"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a standard task",
    "description": "Updates an existing standard task by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Project_and_Resource_Management_Standard tasks"
    ],
    "operationId": "update-construction-standard-task-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.construction.standard-task"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update standard task and add standard cost type": {
         "value": {
          "description": "General Conditions: Summary of Work",
          "productionUnitDescription": "days",
          "isUtilized": true,
          "class": {
           "id": "3"
          },
          "standardCostTypes": [
           {
            "id": "SUB"
           }
          ]
         }
        },
        "Delete a standard cost type": {
         "value": {
          "standardCostTypes": [
           {
            "key": "13",
            "ia::operation": "delete"
           }
          ]
         }
        },
        "Update standard cost type": {
         "value": {
          "standardCostTypes": [
           {
            "key": "11",
            "id": "MAT"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Reference to updated standard task",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated standard task": {
          "value": {
           "ia::result": {
            "key": "2",
            "id": "1-010",
            "href": "/objects/construction/standard-task/2"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a standard task",
    "description": "Deletes a standard task.",
    "tags": [
     "Project_and_Resource_Management_Standard tasks"
    ],
    "operationId": "delete-construction-standard-task-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/task": {
   "get": {
    "summary": "List tasks",
    "description": "Returns a collection with a key, ID, and link for each task. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find tasks that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Project_and_Resource_Management_Tasks"
    ],
    "operationId": "list-projects-task",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List tasks",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List tasks": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "TASK-MERIDIAN-REQ-001",
             "href": "/objects/projects/task/1"
            },
            {
             "key": "2",
             "id": "TASK-NOVA-MIG-002",
             "href": "/objects/projects/task/2"
            },
            {
             "key": "3",
             "id": "TASK-TECHSOL-CONFIG-003",
             "href": "/objects/projects/task/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a task",
    "description": "Creates a new project task within a specified project. You may provide either a project task 'id' or a standard task `id`. If a standard task is used, `key` or `id` is optional - when provided, the task is created based on that standard task template. \n\nIf document sequencing is not enabled, `id` is required. If it is enabled, the task `id` is optional unless you wish to override the system-generated `id`.\n\nIf a parent task is provided, it must already exist in the project and defines the task hierarchy. If no parent task is specified, the system automatically creates any missing parent tasks based on the standard task hierarchy.\n\nTask fields inherit values from the standard task unless defined in the request. Associated cost types from the standard task are also created automatically.\n\nFor more information, read about [adding tasks](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Adding_Editing_and_Viewing_a_Task) in the Sage Intacct Help Center.",
    "tags": [
     "Project_and_Resource_Management_Tasks"
    ],
    "operationId": "create-projects-task",
    "requestBody": {
     "description": "New task definition",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.projects.task"
         },
         {
          "$ref": "#/components/schemas/projects-taskRequiredProperties"
         }
        ]
       },
       "examples": {
        "Creates a task": {
         "value": {
          "id": "NET-XML30-1-REQ-001",
          "name": "Requirements Gathering",
          "project": {
           "id": "NET-XML30-1"
          },
          "taskStatus": "planned",
          "taxSchedule": {
           "id": "Sale Goods Standard"
          },
          "overridePurchasingTaxSchedule": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New task reference",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new task": {
          "value": {
           "ia::result": {
            "key": "6",
            "id": "NET-XML30-1-REQ-001",
            "href": "/objects/projects/task/6"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/projects/task/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the task.",
     "in": "path",
     "required": true,
     "example": "497",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
[...]
