{
 "openapi": "3.0.3",
 "info": {
  "title": "Purchasing",
  "version": "1",
  "description": "Purchasing is used to automate purchasing transactions and monitor and manage merchandise acquisition."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Purchasing_Documents",
   "x-displayName": "Documents",
   "description": "A purchasing document contains information about purchasing transactions. A purchasing transaction can be a purchase requisition, purchase order, receipt, vendor invoice, or adjustment. When you create a new document, it represents the first transaction in a workflow, and it can only be converted to the next transaction in a workflow.\n\nSee [Add a purchase transaction](https://www.intacct.com/ia/docs/en_US/help_action/Purchasing/Using_Purchasing/Transactions/purchasing-transactions.htm?cshid=Purchasing_transactions#Addapurchasetransaction) in the Sage Intacct Help Center for more information.\n"
  },
  {
   "name": "Purchasing_Document lines",
   "x-displayName": "Document lines",
   "description": "Line items in a purchasing document represent purchasing transactions. Create and maintain document lines from the owning [document object](purchasing.document)."
  },
  {
   "name": "Purchasing_Document line details",
   "x-displayName": "Document line details",
   "description": "Inventory tracking details including serial number, aisle, bin, and row per line item.\n\nCreate and maintain document line details by creating and updating the `trackingDetail` in the owning [document line objects](order-entry.document-line).\n"
  },
  {
   "name": "Purchasing_Document line subtotals",
   "x-displayName": "Document line subtotals",
   "description": "Details of the subtotals, taxes, discounts, charges, and more for the document line."
  },
  {
   "name": "Purchasing_Document histories",
   "x-displayName": "Document histories",
   "description": "A purchasing document history contains one entry for each existing transaction in the workflow associated with the selected transaction."
  },
  {
   "name": "Purchasing_Document subtotals",
   "x-displayName": "Document subtotals",
   "description": "Details of subtotals, taxes, discounts, charges, and more for a purchasing transaction."
  },
  {
   "name": "Purchasing_Document configuration preferences",
   "x-displayName": "Document configuration preferences",
   "description": "Provides additional configuration information about transaction definitions."
  },
  {
   "name": "Purchasing_Transaction match tolerance preferences",
   "x-displayName": "Transaction match tolerance preferences",
   "description": "With match tolerances, Sage Intacct automatically compares the quantities and unit prices when you convert from one Purchasing transaction to the next. If the quantity or unit price in any line item is not within the tolerance range you set, Sage Intacct flags the draft or converted transaction with an exception."
  },
  {
   "name": "Purchasing_Transaction automation preferences",
   "x-displayName": "Transaction automation preferences",
   "description": "AP automation with Purchasing allows you to define the purchasing transactions to automate. With automation, purchasing documents no longer need to be manually added and converted. Instead, Sage Intacct creates incoming transactions from uploaded or emailed vendor invoice documents."
  },
  {
   "name": "Purchasing_Transaction automation without match preferences",
   "x-displayName": "Transaction automation without match preferences",
   "description": "AP automation with Purchasing allows you to define the purchasing transactions to automate. With transaction automation, purchasing documents no longer need to be manually added and converted. Instead, Sage Intacct creates incoming transactions from uploaded or emailed vendor invoice documents.\nTransaction automation without matching creates incoming transactions from vendor invoice documents without matching the vendor invoice to an existing purchasing transaction. For more information, see [About AP Automation with Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_PO_auto_match) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Purchasing_Price lists",
   "x-displayName": "Price lists",
   "description": "A purchasing price list is a container for price list entries. First create the price list and then the price list entries associated with the list. Price lists contain the prices for products or services purchased from vendors. Typically there is one price list per vendor, but multiple lists can be created as needed. See [Price lists &mdash; Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_price_list) in the Sage Intacct Help Center for more information.\n"
  },
  {
   "name": "Purchasing_Price list entries",
   "x-displayName": "Price list entries",
   "description": "A purchasing price list entry contains the pricing for a selected item within a selected price list. You can create price list entries for items whose prices are determined based on an amount, a discount or mark up percentage, the quantity sold, and more. See [Price list entries &mdash; Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Price_list_entries_po) in the Sage Intacct Help Center for more information."
  },
  {
   "name": "Purchasing_Price schedules",
   "x-displayName": "Price schedules",
   "description": "Purchasing price schedules are pricing groups that you can assign to one or more vendors. Discount items by assigning a vendor to a price schedule associated with a price list that contains different discounts for various items. Or define a price schedule with a 10% discount off all items and assign that price schedule to the vendor. See [Price schedules &mdash; Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Purchasing/Setting_up_Purchasing/Price_lists/price-schedules-po-ns.htm?tocpath=Applications%7CPurchasing%7CSetup%7CPrice%20lists%7C_____4) for more information.\n"
  },
  {
   "name": "Purchasing_Subtotal templates",
   "x-displayName": "Subtotal templates",
   "description": "When advanced workflows are enabled in a multi-entity company, subtotal templates allow you to create different sets of subtotals and then refer to them by name within a transaction definition. Subtotal templates simplify setting up and managing transactions definitions. \n\nFor more information, see [Subtotal templates &mdash; Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_subtotal_templates) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Purchasing_Subtotal template lines",
   "x-displayName": "Subtotal template lines",
   "description": "Line items in a subtotal template. When advanced workflows are enabled in a multi-entity company, subtotal templates allow you to create different sets of subtotals and then refer to them by name within a transaction definition. Subtotal templates simplify setting up and managing transactions definitions.\n\nFor more information, see [Subtotal templates &mdash; Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_subtotal_templates) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Purchasing_Secondary vendors",
   "x-displayName": "Secondary vendors",
   "description": "The secondary vendor object allows a general contractor to include a secondary vendor on a primary document, for compliance purposes. If joint checks is enabled in Accounts Payable, secondary vendors from the primary document are copied to an AP bill during invoice creation. Construction subscription is needed."
  },
  {
   "name": "Purchasing_Vendor GL groups",
   "x-displayName": "Vendor GL groups",
   "description": "Vendor GL groups are categories of vendors grouped together so that transactions can be posted to specific GL accounts. Assign each vendor record to a vendor GL group. Finally, map the vendor GL group to GL accounts within transaction definitions.\n"
  },
  {
   "name": "Purchasing_Transaction definitions",
   "x-displayName": "Transaction definitions",
   "description": "A purchasing transaction definition includes the accounting rules, workflow settings, security settings, and other characteristics for a transaction."
  },
  {
   "name": "Purchasing_Transaction definition additional GL details",
   "x-displayName": "Transaction definition additional GL details",
   "description": "Use this object for additional General Ledger account mapping. When additional GL posting is enabled for the owning transaction definition, the `postToGL` field is set to `true`, additional GL posting account mapping is available.\n\nThe item GL group and warehouse together form the criteria set for the account mapping. For more information, see [Transaction definitions - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_transaction_definitions) in the Sage Intacct Help Center.  \n"
  },
  {
   "name": "Purchasing_Accounts Payable or direct GL account details",
   "x-displayName": "Accounts Payable or direct GL account details",
   "description": "If the owning Purchasing transaction definition has transaction posting set to either Accounts Payable or General Ledger (the `txnPostingMethod` field is set to `toAP` or `toGL`), the applicable account mapping is defined using this object.\n\nThe item GL group and warehouse together form the criteria set for the account mapping. For more information, see [Transaction definitions - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Purchasing_Transaction definition inventory total details",
   "x-displayName": "Transaction definition inventory total details",
   "description": "Use this object to specify the inventory running total that will be affected by the transaction, whether to track quantity, value, or both, and whether the running total will increase or decrease when the user saves the transaction.\n\nFor more information, see [Transaction definitions - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_transaction_definitions) in the Sage Intacct Help Center. \n"
  },
  {
   "name": "Purchasing_Transaction definition subtotal details",
   "x-displayName": "Transaction definition subtotal details",
   "description": "When `enableSubtotals` in the owning transaction definition is set to `true`, use this object to provide subtotal details for that transaction definition.\n\nFor more information, see [Transaction definitions - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Purchasing_Transaction definition source document details",
   "x-displayName": "Transaction definition source document details",
   "description": "Specifies the transaction definition from which the transaction can be converted.\n\nFor more information, see [Transaction definitions - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Purchasing_Transaction definition entity details",
   "x-displayName": "Transaction definition entity details",
   "description": "The fields in this object are applicable if the owning transaction definition allows transactions to be created from the top level or entity (`topLevelOrEntity`) or entity level only (`entityOnly`). You can use this object to define different settings for each entity.\n\nFor more information, see [Transaction definitions - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Purchasing_transaction_definitions) in the Sage Intacct Help Center.\n"
  },
  {
   "name": "Purchasing_Recurring documents",
   "x-displayName": "Recurring documents",
   "description": "A recurring document contains the transaction header, line item details, and schedule information that Sage Intacct uses to create recurring transactions. For more information about recurring transactions, see [About recurring transactions - Purchasing](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=About_recurring_transactions_po) in the Sage Intacct Help Center."
  },
  {
   "name": "Purchasing_Recurring document lines",
   "x-displayName": "Recurring document lines",
   "description": "Line items in a recurring document represent recurring transactions."
  },
  {
   "name": "Purchasing_Recurring document subtotals",
   "x-displayName": "Recurring document subtotals",
   "description": "Details of subtotals, taxes, discounts, charges, and more for recurring transactions."
  }
 ],
 "paths": {
  "/objects/purchasing/document": {
   "get": {
    "summary": "List purchasing documents",
    "description": "Returns a collection with a key, ID, and link for each purchasing document. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "list-purchasing-document",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of document objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List of documents": {
          "value": {
           "ia::result": [
            {
             "key": "73",
             "id": "Vendor Invoice-Po-0204-Rec",
             "href": "/objects/purchasing/document::Vendor%20Invoice/73"
            },
            {
             "key": "76",
             "id": "PO Receiver Invoice-Po-0205-Rec",
             "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/76"
            },
            {
             "key": "77",
             "id": "PO Receiver Invoice-Po-0206-Rec",
             "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/77"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/purchasing/document/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a purchasing document",
    "description": "Returns detailed information for a specified purchasing document.",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "get-purchasing-document-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the document",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.purchasing.document"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a document": {
          "value": {
           "ia::result": {
            "id": "1428",
            "key": "1428",
            "documentNumber": "POIR-003",
            "documentId": "PO Receiver Invoice-POIR-003",
            "sourceDocument": {
             "id": "Purchase Order-PO-00063",
             "key": "1293",
             "documentType": "Purchase Order",
             "href": "/objects/purchasing/document::Purchase%20Order/1293"
            },
            "state": "pending",
            "txnDate": "2024-06-01",
            "audit": {
             "createdDateTime": "2024-10-03T23:08:54Z",
             "createdByUser": {
              "key": "39",
              "href": "/objects/company-config/user/39"
             },
             "createdBy": "39",
             "modifiedByUser": {
              "key": "39",
              "href": "/objects/company-config/user/39"
             },
             "modifiedBy": "39",
             "modifiedDateTime": "2024-10-03T23:08:57Z"
            },
            "dueDate": "2024-07-01",
            "referenceNumber": "Sales Order-SO-00173",
            "vendorDocumentNumber": null,
            "documentType": "PO Receiver Invoice",
            "txnDefinition": {
             "id": "PO Receiver Invoice",
             "key": "258",
             "href": "/objects/purchasing/txn-definition::PO%20Receiver%20Invoice/258"
            },
            "paymentTerm": {
             "key": "4",
             "id": "NET30",
             "href": "/objects/accounts-payable/term/4"
            },
            "notes": null,
            "shippingMethod": {
             "key": null,
             "id": null
            },
            "contacts": {
             "primary": {
              "key": "1367",
              "id": "HPD Inc",
              "href": "/objects/company-config/contact-version/1367"
             },
             "shipTo": {
              "key": "1349",
              "id": "Gupta, Raj",
              "href": "/objects/company-config/contact-version/1349"
             },
             "billTo": {
              "key": "1367",
              "id": "HPD Inc",
              "href": "/objects/company-config/contact-version/1367"
             },
             "deliverTo": {
              "key": null,
              "id": null
             }
            },
            "memo": "For MetroBank21 customers.",
            "isPrinted": false,
            "isBackordered": false,
            "subtotal": "1875.00",
            "total": "1875.00",
            "txnCurrency": "USD",
            "exchangeRate": {
             "date": "2025-03-29",
             "rate": "1.0000000000",
             "typeId": "1",
             "typeName": "Intacct Daily Rate"
            },
            "subtotalInTxnCurrency": "1875.00",
            "totalInTxnCurrency": "1875.00",
            "baseCurrency": "USD",
            "isSystemGeneratedDocument": false,
            "postingDate": "2024-06-01",
            "taxSolution": {
             "key": null,
             "id": null,
             "showMultilineTax": null,
             "taxCalculationMethod": null
            },
            "retainagePercent": null,
            "scope": "Subcontractor agrees to provide labor and materials for utility trenching for Five Oaks Storage facilities according to contract.",
            "inclusions": "Includes drive through building",
            "exclusions": "Excludes additional purchase",
            "terms": "Follow all safety rules and security procedure that are in force and applicable during execution of work.",
            "schedule": {
             "scheduledStartDate": "2024-05-07",
             "actualStartDate": "2024-05-07",
             "scheduledCompletionDate": "2024-10-07",
             "revisedCompletionDate": "2024-11-01",
             "substantialCompletionDate": "2024-10-10",
             "actualCompletionDate": "2024-10-10",
             "noticeToProceedDate": "2024-10-10",
             "responseDueDate": "2024-10-10",
             "executedOnDate": "2024-10-10",
             "scheduleImpactNotes": "None"
            },
            "internalReference": {
             "referenceNumber": "INT-01",
             "initiatedBy": {
              "key": "2",
              "id": "dhatchet",
              "name": "David Hatcher",
              "href": "/objects/company-config/employee/2"
             },
             "verbalApprovalBy": {
              "key": "2",
              "id": "sdye",
              "name": "Sara Dye",
              "href": "/objects/company-config/employee/2"
             },
             "issuedBy": {
              "key": "25",
              "id": "amarquess",
              "name": "Adam Marquess",
              "href": "/objects/company-config/employee/25"
             },
             "issuedOnDate": "2021-05-30",
             "approvedBy": {
              "key": "1",
              "id": "treser",
              "name": "Tim Reser",
              "href": "/objects/company-config/employee/1"
             },
             "approvedOnDate": "2021-10-02",
             "signedBy": {
              "key": "32",
              "id": "broberts",
              "name": "Bob Roberts",
              "href": "/objects/company-config/employee/32"
             },
             "signedOnDate": "2021-05-31",
             "source": "Internal",
             "sourceReferenceNumber": "REF-INT-01"
            },
            "externalReference": {
             "referenceNumber": "A23",
             "verbalApprovalBy": {
              "key": "6",
              "id": "Johnson",
              "href": "/objects/company-config/contact/6"
             },
             "approvedBy": {
              "key": "51",
              "id": "Jagadish",
              "href": "/objects/company-config/contact/51"
             },
             "approvedOnDate": "2021-11-03",
             "signedBy": {
              "key": "200",
              "id": "Modulus Industries",
              "href": "/objects/company-config/contact/200"
             },
             "signedOnDate": "2021-12-01"
            },
            "performanceBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "11",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/11"
             }
            },
            "paymentBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "21",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/21"
             }
            },
            "revision": {
             "isDocumentChanged": false,
             "revisedTotal": "1000.00",
             "revisedSubTotal": "1000.00",
             "revisedTotalInTxnCurrency": "1000.00",
             "revisedSubTotalInTxnCurrency": "1000.00",
             "changeLogNumber": 1
            },
            "postedChangesTotal": "0.00",
            "relatedDocumentNumber": "Invoice-PO#0140#inv",
            "project": {
             "key": "2",
             "id": "NET-XML30-2",
             "name": "Talcomp training",
             "href": "/objects/projects/project/2"
            },
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "paymentStatus": "selected",
            "requestedShippingDate": null,
            "doNotShipBeforeDate": null,
            "doNotShipAfterDate": null,
            "promisedDate": null,
            "contractStartDate": null,
            "contractEndDate": null,
            "cancelAfterDate": null,
            "draftChangesTotal": "1000.00",
            "originalAmount": "100.0000000000",
            "primaryDocumentDetails": {
             "totalQuantityConverted": "5.0000000000",
             "totalPriceConverted": "5.0000000000",
             "totalAmountConverted": "5.0000000000",
             "totalAmountRemaining": "5.0000000000",
             "totalQuantityRemaining": "5.0000000000",
             "scheduledStartDate": "2024-05-07",
             "actualStartDate": "2024-05-07",
             "revisedCompletionDate": "2024-11-01",
             "internalReferenceNumber": "INT-01",
             "internalApprovedOnDate": "2021-10-02",
             "internalApprovedBy": {
              "id": "timreser",
              "key": "1",
              "name": "Tim Reser",
              "href": "/objects/company-config/employee/1"
             },
             "externalReferenceNumber": "EXT-01",
             "externalApprovedBy": {
              "id": "Johnson",
              "key": "1",
              "href": "/objects/company-config/contact/1"
             },
             "externalApprovedOnDate": "2021-10-02"
            },
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "attachment": {
             "key": "41",
             "id": "Balance attachment",
             "href": "/objects/company-config/attachment/41"
            },
            "vendor": {
             "key": "48",
             "id": "202",
             "name": "Pac Bell",
             "href": "/objects/accounts-payable/vendor/48"
            },
            "lines": [
             {
              "id": "2371",
              "key": "2371",
              "documentHeader": {
               "key": "1428",
               "id": "PO Receiver Invoice-POIR-003",
               "documentType": "PO Receiver Invoice",
               "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/1428"
              },
              "documentType": "PO Receiver Invoice",
              "lineNumber": 0,
              "dimensions": {
               "item": {
                "key": "49",
                "id": "21Mon--21\" Monitor",
                "name": "21\" Monitor",
                "href": "/objects/inventory-control/item/49"
               },
               "warehouse": {
                "id": "Warehouse1001",
                "key": "1",
                "href": "/objects/inventory-control/warehouse/1"
               },
               "location": {
                "id": null,
                "key": null
               },
               "department": {
                "id": null,
                "key": null
               },
               "project": {
                "key": "1",
                "id": "MetroAtlantix-001",
                "href": "/objects/projects/project/1"
               },
               "task": {
                "key": "1",
                "id": "TSK-RT-0001--MetroAtlantix-001",
                "href": "/objects/projects/task/1"
               },
               "customer": {
                "key": "36",
                "id": "C-00045--MetroAtlantix, Inc.",
                "name": "MetroAtlantix, Inc.",
                "href": "/objects/accounts-receivable/customer/36"
               },
               "vendor": {
                "key": "510",
                "id": "V-00006--HPD Inc",
                "name": "HPD Inc",
                "href": "/objects/accounts-payable/vendor/510"
               },
               "employee": {
                "key": null,
                "id": null,
                "name": null
               },
               "class": {
                "key": "2",
                "id": "SS--Software & Services",
                "name": "Software & Services",
                "href": "/objects/company-config/class/2"
               },
               "costType": {
                "key": "16",
                "id": "EQR--Equipment Rental DIM-BTI 0001",
                "name": "Equipment Rental DIM-BTI 0001",
                "href": "/objects/construction/cost-type/16"
               },
               "contract": {
                "key": null,
                "id": null,
                "name": null
               }
              },
              "item": {
               "key": "49",
               "id": "21Mon--21\" Monitor",
               "href": "/objects/inventory-control/item/49"
              },
              "lineDescription": "Monitor",
              "unit": "Each",
              "memo": null,
              "quantity": "25.0000000000",
              "quantityConverted": "0.0000000000",
              "retailPrice": "75.0000000000",
              "price": "75.0000000000",
              "audit": {
               "createdDateTime": "2024-02-01T00:00:00Z",
               "modifiedDateTime": "2024-07-22T07:49:15Z",
               "createdByUser": {
                "key": "39",
                "href": "/objects/company-config/user/39"
               },
               "createdBy": "39",
               "modifiedByUser": {
                "key": "39",
                "href": "/objects/company-config/user/39"
               },
               "modifiedBy": "39"
              },
              "status": "active",
              "costMethod": "standard",
              "unitQuantity": "25.0000000000",
              "unitPrice": "75.0000000000",
              "extendedCost": "1875.0000000000",
              "sourceDocument": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "sourceDocumentLine": {
               "id": "2140",
               "key": "2140",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document-line::Purchase%20Order/2140"
              },
              "txnCurrency": "USD",
              "baseCurrency": "USD",
              "priceInTxnCurrency": "75.0000000000",
              "extendedPriceInTxnCurrency": "75.0000000000",
              "enableTax": null,
              "isBillable": null,
              "isBilled": null,
              "taxRate": null,
              "taxInBaseCurrency": null,
              "discountPercentage": null,
              "taxInTxnCurrency": null,
              "priceConverted": "0.0000000000",
              "conversionType": "quantity",
              "quantityToleranceVariance": null,
              "priceToleranceVariance": null,
              "requestedShippingDate": null,
              "doNotShipBeforeDate": null,
              "doNotShipAfterDate": null,
              "deliveryDueDate": null,
              "orderConfirmationDate": null,
              "cancelAfterDate": null,
              "relatedDocument": {
               "id": "5151",
               "key": "5151",
               "documentNumber": "PO0550",
               "href": "/objects/purchasing/document/5151"
              },
              "relatedDocumentLine": {
               "key": "13965",
               "id": "13965",
               "unitQuantity": "10.0000000000",
               "extendedPriceInTxnCurrency": "1294.3200000000",
               "extendedCost": "1560.0000000000",
               "href": "/objects/purchasing/document-line/13965"
              },
              "revision": {
               "unitQuantity": 10,
               "quantity": 10,
               "unitValue": "80.00",
               "value": "80.00",
               "valueInTxnCurrency": "100.00",
               "price": "100.0000000000",
               "unitPrice": "100.0000000000",
               "priceInTxnCurrency": "100.00"
              },
              "draft": {
               "unitQuantity": 10,
               "quantity": 10,
               "price": "20.0000000000",
               "basePrice": "20.0000000000"
              },
              "posted": {
               "quantity": "20.0000000000",
               "price": "10.0000000000",
               "basePrice": "10.0000000000"
              },
              "primaryDocument": {
               "key": "3669",
               "id": "3669",
               "documentNumber": "PO-Source01-R2-81",
               "href": "/objects/purchasing/document/3669"
              },
              "primaryDocumentLine": {
               "key": "9156",
               "id": "9156",
               "href": "/objects/purchasing/document-line/9156"
              },
              "addedByChangeDocument": false,
              "isReverseConversion": true,
              "reverseConversion": {
               "price": "100.0000000000",
               "quantity": "10.0000000000",
               "standardPrice": "100.0000000000",
               "standardQuantity": "10.0000000000",
               "totalConvertedAmount": "1000.0000000000",
               "totalRemainingAmount": "500.0000000000"
              },
              "retainage": {
               "percentage": "10.00",
               "baseAmountRetained": "10.00",
               "txnAmountRetained": "10.00",
               "extendedPriceNetAmount": "1000.0000000000",
               "extendedBasePriceNetAmount": "1000.0000000000"
              },
              "taxSchedule": {
               "key": "150",
               "id": "PO_TaxSchedule_2_5_Per",
               "href": "/objects/tax/purchasing-tax-schedule/150"
              },
              "allocation": {
               "id": null,
               "key": null
              },
              "quantityRemaining": "25.0000000000",
              "deliveryMethod": {
               "key": null,
               "id": null
              },
              "trackingDetail": [],
              "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/2371"
             }
            ],
            "history": [
             {
              "id": "1175",
              "key": "1175",
              "convertedTo": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "convertedFrom": {
               "id": null,
               "documentType": null,
               "key": null
              },
              "purchasingDocument": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "href": "/objects/purchasing/document-history/1175"
             },
             {
              "id": "1270",
              "key": "1270",
              "convertedTo": {
               "key": "1428",
               "id": "PO Receiver Invoice-POIR-003",
               "documentType": "PO Receiver Invoice",
               "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/1428"
              },
              "convertedFrom": {
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "key": "1293",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "purchasingDocument": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "href": "/objects/purchasing/document-history/1270"
             }
            ],
            "subtotals": [],
            "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/1428"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/purchasing/document::{documentName}": {
   "parameters": [
    {
     "name": "documentName",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "description": "Document Name"
    }
   ],
   "get": {
    "summary": "List named purchasing documents",
    "description": "Returns a collection with a key, ID, and link for each purchasing document with the specified name.\nFor example, to list all documents that are based on the Purchase Order transaction definition, specify `Purchase Order` as the `documentName` in the request URL.\n\nThis operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "list-purchasing-named-document",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of document objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List named purchasing documents": {
          "value": {
           "ia::result": [
            {
             "key": "1157",
             "id": "Purchase Order-PO-00037",
             "href": "/objects/purchasing/document::Purchase%20Order/1157"
            },
            {
             "key": "1158",
             "id": "Purchase Order-PO-00038",
             "href": "/objects/purchasing/document::Purchase%20Order/1158"
            },
            {
             "key": "1159",
             "id": "Purchase Order-PO-00039",
             "href": "/objects/purchasing/document::Purchase%20Order/1159"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a purchasing document",
    "description": "Creates a new purchasing document. To create a new purchasing document, specify the transaction definition that is the template for the new document as `documentName` in the request URL. \n\nWhen creating a new document, the field `state` must be set to one of these values: pending, draft, or submitted. \nIf no value is specified for the `state` field, it defaults to pending.\n\nTo access a list of available transaction definitions, use the list operation of the [transaction definition](purchasing.txn-definition) object. For example, to create a new purchasing document that uses the Purchase Requisition transaction definition as a template, specify `Purchase Requisition` for the `documentName` in the request URL.\n",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "create-purchasing-named-document",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.purchasing.document"
         },
         {
          "$ref": "#/components/schemas/purchasing-documentRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a document": {
         "value": {
          "vendor": {
           "id": "V-00013"
          },
          "txnDate": "2024-03-29",
          "dueDate": "2024-05-29",
          "lines": [
           {
            "dimensions": {
             "item": {
              "id": "00088"
             },
             "warehouse": {
              "id": "WH10004"
             },
             "location": {
              "id": "TX"
             }
            },
            "unit": "Each",
            "unitQuantity": "1",
            "unitPrice": "10.10"
           }
          ]
         }
        },
        "Create a document with a tax schedule": {
         "value": {
          "txnDate": "2025-08-25",
          "dueDate": "2025-10-11",
          "txnDefinition": {
           "id": "Vendor Invoice"
          },
          "paymentTerm": {
           "id": "NONE"
          },
          "memo": "Vendor invoice with tax schedule PO_TaxSchedule_2_5Per",
          "txnCurrency": "AUD",
          "baseCurrency": "AUD",
          "exchangeRate": {
           "date": "2025-08-25",
           "rate": "1.0000000000"
          },
          "vendor": {
           "id": "201"
          },
          "taxSolution": {
           "id": "Australia - GST"
          },
          "lines": [
           {
            "dimensions": {
             "item": {
              "id": "PO_TaxSchedule_2_5Per--PO_TaxSchedule_2_5Per"
             },
             "location": {
              "id": "4"
             },
             "vendor": {
              "id": "201--PG & E"
             }
            },
            "lineDescription": "PO_TaxSchedule_2_5Per",
            "unit": "Each",
            "memo": "Tax schedule PO_TaxSchedule_2_5Per",
            "unitQuantity": "10.0000000000",
            "unitPrice": "180.0000000000",
            "conversionType": "quantity",
            "taxSchedule": {
             "id": "PO_TaxSchedule_2_5_Per"
            }
           },
           {
            "dimensions": {
             "item": {
              "id": "PO_TaxSchedule_2_5Per--PO_TaxSchedule_2_5Per"
             },
             "location": {
              "id": "4"
             },
             "vendor": {
              "id": "201--PG & E"
             }
            },
            "lineDescription": "PO_TaxSchedule_2_5Per",
            "unit": "Each",
            "memo": "Tax schedule PO_TaxSchedule_2_5Per",
            "unitQuantity": "20.0000000000",
            "unitPrice": "180.0000000000",
            "conversionType": "quantity",
            "taxSchedule": {
             "id": "PO_TaxSchedule_2_5_Per"
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New document",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new purchasing document": {
          "value": {
           "ia::result": {
            "key": "1908",
            "id": "Purchase Requisition-12",
            "href": "/objects/purchasing/document::Purchase%20Requisition/1908"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         },
         "Reference to new document with a tax schedule": {
          "value": {
           "ia::result": {
            "id": "2201",
            "key": "2201",
            "href": "/objects/purchasing/document::Vendor%20Invoice/2201"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/purchasing/document::{documentName}/{key}": {
   "parameters": [
    {
     "name": "documentName",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "description": "Document Name"
    },
    {
     "name": "key",
     "description": "System-assigned unique key for the document.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a named purchasing document",
    "description": "Returns detailed information for a specified purchasing document. For example, to return details about a purchasing document that uses the PO Receiver Invoice transaction definition as a template, specify `PO Receiver Invoice` for the `documentName` in the request URL.\n",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "get-purchasing-named-document-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the purchasing document",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.purchasing.document"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a named purchasing document": {
          "value": {
           "ia::result": {
            "id": "1428",
            "key": "1428",
            "documentNumber": "POIR-003",
            "documentId": "PO Receiver Invoice-POIR-003",
            "sourceDocument": {
             "id": "Purchase Order-PO-00063",
             "key": "1293",
             "documentType": "Purchase Order",
             "href": "/objects/purchasing/document::Purchase%20Order/1293"
            },
            "state": "pending",
            "txnDate": "2024-06-01",
            "audit": {
             "createdDateTime": "2024-10-03T23:08:54Z",
             "createdByUser": {
              "key": "39",
              "href": "/objects/company-config/user/39"
             },
             "createdBy": "39",
             "modifiedByUser": {
              "key": "39",
              "href": "/objects/company-config/user/39"
             },
             "modifiedBy": "39",
             "modifiedDateTime": "2024-10-03T23:08:57Z"
            },
            "dueDate": "2024-07-01",
            "referenceNumber": "Sales Order-SO-00173",
            "vendorDocumentNumber": null,
            "documentType": "PO Receiver Invoice",
            "txnDefinition": {
             "id": "PO Receiver Invoice",
             "key": "258",
             "href": "/objects/purchasing/txn-definition::PO%20Receiver%20Invoice/258"
            },
            "paymentTerm": {
             "key": "4",
             "id": "NET30",
             "href": "/objects/accounts-payable/term/4"
            },
            "notes": null,
            "shippingMethod": {
             "key": null,
             "id": null
            },
            "contacts": {
             "primary": {
              "key": "1367",
              "id": "HPD Inc",
              "href": "/objects/company-config/contact-version/1367"
             },
             "shipTo": {
              "key": "1349",
              "id": "Gupta, Raj",
              "href": "/objects/company-config/contact-version/1349"
             },
             "billTo": {
              "key": "1367",
              "id": "HPD Inc",
              "href": "/objects/company-config/contact-version/1367"
             },
             "deliverTo": {
              "key": null,
              "id": null
             }
            },
            "memo": "For MetroBank21 customers.",
            "isPrinted": false,
            "isBackordered": false,
            "subtotal": "1875.00",
            "total": "1875.00",
            "txnCurrency": "USD",
            "exchangeRate": {
             "date": "2025-03-29",
             "rate": "1.0000000000",
             "typeId": "1",
             "typeName": "Intacct Daily Rate"
            },
            "subtotalInTxnCurrency": "1875.00",
            "totalInTxnCurrency": "1875.00",
            "baseCurrency": "USD",
            "isSystemGeneratedDocument": false,
            "postingDate": "2024-06-01",
            "taxSolution": {
             "key": null,
             "id": null,
             "showMultilineTax": null,
             "taxCalculationMethod": null
            },
            "retainagePercent": null,
            "scope": "Subcontractor agrees to provide labor and materials for utility trenching for Five Oaks Storage facilities according to contract.",
            "inclusions": "Includes drive through building",
            "exclusions": "Excludes additional purchase",
            "terms": "Follow all safety rules and security procedure that are in force and applicable during execution of work.",
            "schedule": {
             "scheduledStartDate": "2024-05-07",
             "actualStartDate": "2024-05-07",
             "scheduledCompletionDate": "2024-10-07",
             "revisedCompletionDate": "2024-11-01",
             "substantialCompletionDate": "2024-10-10",
             "actualCompletionDate": "2024-10-10",
             "noticeToProceedDate": "2024-10-10",
             "responseDueDate": "2024-10-10",
             "executedOnDate": "2024-10-10",
             "scheduleImpactNotes": "None"
            },
            "internalReference": {
             "referenceNumber": "INT-01",
             "initiatedBy": {
              "key": "2",
              "id": "dhatchet",
              "name": "David Hatcher",
              "href": "/objects/company-config/employee/2"
             },
             "verbalApprovalBy": {
              "key": "2",
              "id": "sdye",
              "name": "Sara Dye",
              "href": "/objects/company-config/employee/2"
             },
             "issuedBy": {
              "key": "25",
              "id": "amarquess",
              "name": "Adam Marquess",
              "href": "/objects/company-config/employee/25"
             },
             "issuedOnDate": "2021-05-30",
             "approvedBy": {
              "key": "1",
              "id": "treser",
              "name": "Tim Reser",
              "href": "/objects/company-config/employee/1"
             },
             "approvedOnDate": "2021-10-02",
             "signedBy": {
              "key": "32",
              "id": "broberts",
              "name": "Bob Roberts",
              "href": "/objects/company-config/employee/32"
             },
             "signedOnDate": "2021-05-31",
             "source": "Internal",
             "sourceReferenceNumber": "REF-INT-01"
            },
            "externalReference": {
             "referenceNumber": "A23",
             "verbalApprovalBy": {
              "key": "6",
              "id": "Johnson",
              "href": "/objects/company-config/contact/6"
             },
             "approvedBy": {
              "key": "51",
              "id": "Jagadish",
              "href": "/objects/company-config/contact/51"
             },
             "approvedOnDate": "2021-11-03",
             "signedBy": {
              "key": "200",
              "id": "Modulus Industries",
              "href": "/objects/company-config/contact/200"
             },
             "signedOnDate": "2021-12-01"
            },
            "performanceBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "11",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/11"
             }
            },
            "paymentBond": {
             "isRequired": false,
             "isReceived": false,
             "amount": "1000.00",
             "vendor": {
              "key": "21",
              "id": "VND-IND-0081",
              "name": "Vendor-India-0081",
              "href": "/objects/accounts-payable/vendor/21"
             }
            },
            "revision": {
             "isDocumentChanged": false,
             "revisedTotal": "1000.00",
             "revisedSubTotal": "1000.00",
             "revisedTotalInTxnCurrency": "1000.00",
             "revisedSubTotalInTxnCurrency": "1000.00",
             "changeLogNumber": 1
            },
            "postedChangesTotal": "0.00",
            "relatedDocumentNumber": "Invoice-PO#0140#inv",
            "project": {
             "key": "2",
             "id": "NET-XML30-2",
             "name": "Talcomp training",
             "href": "/objects/projects/project/2"
            },
            "invoiceType": "invoice",
            "invoiceMode": "b1",
            "eInvoiceStatus": "paymentReceived",
            "paymentStatus": "selected",
            "requestedShippingDate": null,
            "doNotShipBeforeDate": null,
            "doNotShipAfterDate": null,
            "promisedDate": null,
            "contractStartDate": null,
            "contractEndDate": null,
            "cancelAfterDate": null,
            "draftChangesTotal": "1000.00",
            "originalAmount": "100.0000000000",
            "primaryDocumentDetails": {
             "totalQuantityConverted": "5.0000000000",
             "totalPriceConverted": "5.0000000000",
             "totalAmountConverted": "5.0000000000",
             "totalAmountRemaining": "5.0000000000",
             "totalQuantityRemaining": "5.0000000000",
             "scheduledStartDate": "2024-05-07",
             "actualStartDate": "2024-05-07",
             "revisedCompletionDate": "2024-11-01",
             "internalReferenceNumber": "INT-01",
             "internalApprovedOnDate": "2021-10-02",
             "internalApprovedBy": {
              "id": "timreser",
              "key": "1",
              "name": "Tim Reser",
              "href": "/objects/company-config/employee/1"
             },
             "externalReferenceNumber": "EXT-01",
             "externalApprovedBy": {
              "id": "Johnson",
              "key": "1",
              "href": "/objects/company-config/contact/1"
             },
             "externalApprovedOnDate": "2021-10-02"
            },
            "webURL": "https://intacct.com/acct/ur.phtml?.r=ijVqUVXUX3TzexR2EcQNU3U7RuBoTavvJ5Pvp9qZZG0",
            "entity": {
             "key": null,
             "id": null,
             "name": null
            },
            "attachment": {
             "key": "41",
             "id": "Balance attachment",
             "href": "/objects/company-config/attachment/41"
            },
            "vendor": {
             "key": "48",
             "id": "202",
             "name": "Pac Bell",
             "href": "/objects/accounts-payable/vendor/48"
            },
            "lines": [
             {
              "id": "2371",
              "key": "2371",
              "documentHeader": {
               "key": "1428",
               "id": "PO Receiver Invoice-POIR-003",
               "documentType": "PO Receiver Invoice",
               "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/1428"
              },
              "documentType": "PO Receiver Invoice",
              "lineNumber": 0,
              "dimensions": {
               "item": {
                "key": "49",
                "id": "21Mon--21\" Monitor",
                "name": "21\" Monitor",
                "href": "/objects/inventory-control/item/49"
               },
               "warehouse": {
                "id": "Warehouse1001",
                "key": "1",
                "href": "/objects/inventory-control/warehouse/1"
               },
               "location": {
                "id": null,
                "key": null
               },
               "department": {
                "id": null,
                "key": null
               },
               "project": {
                "key": "1",
                "id": "MetroAtlantix-001",
                "href": "/objects/projects/project/1"
               },
               "task": {
                "key": "1",
                "id": "TSK-RT-0001--MetroAtlantix-001",
                "href": "/objects/projects/task/1"
               },
               "customer": {
                "key": "36",
                "id": "C-00045--MetroAtlantix, Inc.",
                "name": "MetroAtlantix, Inc.",
                "href": "/objects/accounts-receivable/customer/36"
               },
               "vendor": {
                "key": "510",
                "id": "V-00006--HPD Inc",
                "name": "HPD Inc",
                "href": "/objects/accounts-payable/vendor/510"
               },
               "employee": {
                "key": null,
                "id": null,
                "name": null
               },
               "class": {
                "key": "2",
                "id": "SS--Software & Services",
                "name": "Software & Services",
                "href": "/objects/company-config/class/2"
               },
               "costType": {
                "key": "16",
                "id": "EQR--Equipment Rental DIM-BTI 0001",
                "name": "Equipment Rental DIM-BTI 0001",
                "href": "/objects/construction/cost-type/16"
               },
               "contract": {
                "key": null,
                "id": null,
                "name": null
               }
              },
              "item": {
               "key": "49",
               "id": "21Mon--21\" Monitor",
               "href": "/objects/inventory-control/item/49"
              },
              "lineDescription": "Monitor",
              "unit": "Each",
              "memo": null,
              "quantity": "25.0000000000",
              "quantityConverted": "0.0000000000",
              "retailPrice": "75.0000000000",
              "price": "75.0000000000",
              "audit": {
               "createdDateTime": "2024-02-01T00:00:00Z",
               "modifiedDateTime": "2024-07-22T07:49:15Z",
               "createdByUser": {
                "key": "39",
                "href": "/objects/company-config/user/39"
               },
               "createdBy": "39",
               "modifiedByUser": {
                "key": "39",
                "href": "/objects/company-config/user/39"
               },
               "modifiedBy": "39"
              },
              "status": "active",
              "costMethod": "standard",
              "unitQuantity": "25.0000000000",
              "unitPrice": "75.0000000000",
              "extendedCost": "1875.0000000000",
              "sourceDocument": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "sourceDocumentLine": {
               "id": "2140",
               "key": "2140",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document-line::Purchase%20Order/2140"
              },
              "txnCurrency": "USD",
              "baseCurrency": "USD",
              "priceInTxnCurrency": "75.0000000000",
              "extendedPriceInTxnCurrency": "75.0000000000",
              "enableTax": null,
              "isBillable": null,
              "isBilled": null,
              "taxRate": null,
              "taxInBaseCurrency": null,
              "discountPercentage": null,
              "taxInTxnCurrency": null,
              "priceConverted": "0.0000000000",
              "conversionType": "quantity",
              "quantityToleranceVariance": null,
              "priceToleranceVariance": null,
              "requestedShippingDate": null,
              "doNotShipBeforeDate": null,
              "doNotShipAfterDate": null,
              "deliveryDueDate": null,
              "orderConfirmationDate": null,
              "cancelAfterDate": null,
              "relatedDocument": {
               "id": "5151",
               "key": "5151",
               "documentNumber": "PO0550",
               "href": "/objects/purchasing/document/5151"
              },
              "relatedDocumentLine": {
               "key": "13965",
               "id": "13965",
               "unitQuantity": "10.0000000000",
               "extendedPriceInTxnCurrency": "1294.3200000000",
               "extendedCost": "1560.0000000000",
               "href": "/objects/purchasing/document-line/13965"
              },
              "revision": {
               "unitQuantity": 10,
               "quantity": 10,
               "unitValue": "80.00",
               "value": "80.00",
               "valueInTxnCurrency": "100.00",
               "price": "100.0000000000",
               "unitPrice": "100.0000000000",
               "priceInTxnCurrency": "100.00"
              },
              "draft": {
               "unitQuantity": "10",
               "quantity": "10",
               "price": "20.0000000000",
               "basePrice": "20.0000000000"
              },
              "posted": {
               "quantity": "20.0000000000",
               "price": "10.0000000000",
               "basePrice": "10.0000000000"
              },
              "primaryDocument": {
               "key": "3669",
               "id": "3669",
               "documentNumber": "PO-Source01-R2-81",
               "href": "/objects/purchasing/document/3669"
              },
              "primaryDocumentLine": {
               "key": "9156",
               "id": "9156",
               "href": "/objects/purchasing/document-line/9156"
              },
              "addedByChangeDocument": false,
              "isReverseConversion": true,
              "reverseConversion": {
               "price": "100.0000000000",
               "quantity": "10.0000000000",
               "standardPrice": "100.0000000000",
               "standardQuantity": "10.0000000000",
               "totalConvertedAmount": "1000.0000000000",
               "totalRemainingAmount": "500.0000000000"
              },
              "retainage": {
               "percentage": "10.00",
               "baseAmountRetained": "10.00",
               "txnAmountRetained": "10.00",
               "extendedPriceNetAmount": "1000.0000000000",
               "extendedBasePriceNetAmount": "1000.0000000000"
              },
              "taxSchedule": {
               "key": "150",
               "id": "PO_TaxSchedule_2_5_Per",
               "href": "/objects/tax/purchasing-tax-schedule/150"
              },
              "allocation": {
               "id": null,
               "key": null
              },
              "quantityRemaining": "25.0000000000",
              "deliveryMethod": {
               "key": null,
               "id": null
              },
              "trackingDetail": [],
              "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/2371"
             }
            ],
            "history": [
             {
              "id": "1175",
              "key": "1175",
              "convertedTo": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "convertedFrom": {
               "id": null,
               "documentType": null,
               "key": null
              },
              "purchasingDocument": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "href": "/objects/purchasing/document-history/1175"
             },
             {
              "id": "1270",
              "key": "1270",
              "convertedTo": {
               "key": "1428",
               "id": "PO Receiver Invoice-POIR-003",
               "documentType": "PO Receiver Invoice",
               "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/1428"
              },
              "convertedFrom": {
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "key": "1293",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "purchasingDocument": {
               "key": "1293",
               "id": "Purchase Order-PO-00063",
               "documentType": "Purchase Order",
               "href": "/objects/purchasing/document::Purchase%20Order/1293"
              },
              "href": "/objects/purchasing/document-history/1270"
             }
            ],
            "subtotals": [],
            "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/1428"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a purchasing document",
    "description": "Updates an existing purchasing document by setting field values. Any fields not provided remain unchanged. With Edit permissions to Purchasing transactions, most details for a transaction that has a state of Draft or Pending can be edited.",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "update-purchasing-named-document-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.purchasing.document"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           },
           "primaryDocumentDetails": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a document": {
         "value": {
          "referenceNumber": "PURCHASE-100",
          "lines": [
           {
            "dimensions": {
             "warehouse": {
              "id": "WareHouse10004"
             },
             "location": {
              "id": "1"
             }
            },
            "unit": "10 Pack",
            "unitQuantity": "8",
            "multiplier": 1,
            "unitPrice": "100.0000000000"
           },
           {
            "key": "46",
            "unitQuantity": "11"
           },
           {
            "ia::operation": "delete",
            "key": "44"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated purchasing-document",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated purchasing document": {
          "value": {
           "ia::result": {
            "key": "70",
            "id": "PO Receiver Invoice-Po-0202-Rec",
            "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/70"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a purchasing document",
    "description": "Deletes a purchasing document. Several factors determine whether a purchasing transaction can be deleted. See [Purchasing transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_po_transactions) in the Sage Intacct Help Center for more information.",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "delete-purchasing-named-document-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/purchasing/document/submit": {
   "post": {
    "summary": "Submit a purchasing document",
    "description": "Submit a `draft` or `declined` purchasing document for approval to ensure that spending is authorized and correct. When a document is submitted for approval, the state changes to `submitted`.\n\nFor more information, see [Approve Purchasing transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Approving_Purchasing_Transactions) in the Sage Intacct Help Center. \n",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "submit-purchasing-document",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/purchasing-document-actions-submit-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "66"
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/purchasing-document-actions-submit-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "66",
            "id": "Purchase Invoice-PO-O122",
            "href": "/objects/purchasing/document::Purchase%20Invoice/66",
            "state": "submitted"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/purchasing/document/approve": {
   "post": {
    "summary": "Approve a purchasing document",
    "description": "Designated approvers can approve a `submitted` or `partiallyApproved` purchasing document after ensuring that the transactions within are correct. When a document is approved, the state changes from `submitted` or `partiallyApproved` to `approved`.\n\nFor more information, see [Approve Purchasing transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Approving_Purchasing_Transactions) in the Sage Intacct Help Center.  \n",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "approve-purchasing-document",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/purchasing-document-actions-approve-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "66",
          "notes": "Approved, ready for use",
          "lineKeys": [
           "101",
           "102"
          ]
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/purchasing-document-actions-approve-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "66",
            "id": "Purchase Invoice-PO-O122",
            "href": "/objects/purchasing/document::Purchase%20Invoice/66",
            "state": "approved"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/workflows/purchasing/document/decline": {
   "post": {
    "summary": "Decline a purchasing document",
    "description": "Designated approvers can decline a `submitted` or `partiallyApproved` purchasing document if the transactions within are not correct. When a document is declined, the state changes from `submitted` or `partiallyApproved` to `declined`.\n\nFor more information, see [Approve Purchasing transactions](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Approving_Purchasing_Transactions) in the Sage Intacct Help Center. \n",
    "tags": [
     "Purchasing_Documents"
    ],
    "operationId": "decline-purchasing-document",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/purchasing-document-actions-decline-request"
       },
       "examples": {
        "Request example": {
         "value": {
          "key": "132",
          "notes": "Declined, missing information",
          "lineKeys": [
           "101",
           "102"
          ]
         },
         "isAutoGenerated": true
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/purchasing-document-actions-decline-response"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "200 response example": {
          "value": {
           "ia::result": {
            "key": "66",
            "id": "Purchase Invoice-PO-O122",
            "href": "/objects/purchasing/document::Purchase%20Invoice/66",
            "state": "declined"
           },
           "ia::meta": {
            "totalCount": 3,
            "totalSuccess": 2,
            "totalError": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/purchasing/document-line": {
   "get": {
    "summary": "List document lines",
    "description": "Returns a collection with a key, ID, and link for each document line. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Purchasing_Document lines"
    ],
    "operationId": "list-purchasing-document-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of purchasing-document-line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List document lines": {
          "value": {
           "ia::result": [
            {
             "key": "43",
             "id": "43",
             "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/43"
            },
            {
             "key": "46",
             "id": "46",
             "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/46"
            },
            {
             "key": "52",
             "id": "52",
             "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/52"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/purchasing/document-line/{key}": {
   "parameters": [
    {
     "schema": {
      "type": "string"
     },
     "name": "key",
     "in": "path",
     "required": true,
     "example": "52",
     "description": "System-assigned key for the purchasing document line."
    }
   ],
   "get": {
    "summary": "Get a document line",
    "description": "Returns detailed information for a specified purchasing document line.",
    "tags": [
     "Purchasing_Document lines"
    ],
    "operationId": "get-purchasing-document-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the document line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.purchasing.document-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a document line": {
          "value": {
           "ia::result": {
            "id": "43",
            "key": "43",
            "documentHeader": {
             "key": "66",
             "id": "PO Receiver Invoice-Po-0201-Rec",
             "documentType": "PO Receiver Invoice",
             "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/66"
            },
            "documentType": "PO Receiver Invoice",
            "lineNumber": 0,
            "dimensions": {
             "item": {
              "key": "15",
              "id": "Car_Battery",
              "name": "Battery for Car",
              "href": "/objects/inventory-control/item/15"
             },
             "warehouse": {
              "id": "WareHouse10004",
              "key": "4",
              "href": "/objects/inventory-control/warehouse/4"
             },
             "location": {
              "id": "1",
              "key": "6",
              "href": "/objects/company-config/location/6"
             },
             "department": {
              "id": null,
              "key": null
             },
             "project": {
              "key": "1",
              "id": "DIM - BTI",
              "href": "/objects/projects/project/1"
             },
             "task": {
              "key": "1",
              "id": "TSK-RT-0001",
              "href": "/objects/projects/task/1"
             },
             "customer": {
              "key": "14",
              "id": "BTI",
              "name": "Berkeley Technology Inc",
              "href": "/objects/accounts-receivable/customer/14"
             },
             "vendor": {
              "key": "48",
              "id": "202",
              "name": "Pac Bell",
              "href": "/objects/accounts-payable/vendor/48"
             },
             "employee": {
              "key": null,
              "id": null,
              "name": null
             },
             "class": {
              "key": "2",
              "id": "SS",
              "name": "Software & Services",
              "href": "/objects/company-config/class/2"
             },
             "costType": {
              "key": "16",
              "id": "EQR",
              "name": "Equipment Rental DIM-BTI 0001",
              "href": "/objects/construction/cost-type/16"
             }
            },
            "item": {
             "key": "15",
             "id": "Car_Battery",
             "href": "/objects/inventory-control/item/15"
            },
            "lineDescription": "Computer",
            "unit": "10 Pack",
            "memo": "Computer",
            "quantity": "1.0000000000",
            "quantityConverted": "1.0000000000",
            "retailPrice": "0.0000000000",
            "price": "100.0000000000",
            "audit": {
             "createdDateTime": "2024-02-01T00:00:00Z",
             "modifiedDateTime": "2024-07-22T07:49:15Z",
             "createdByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "120",
              "href": "/objects/company-config/user/120"
             },
             "modifiedBy": "120"
            },
            "status": "active",
            "costMethod": "standard",
            "unitQuantity": "1.0000000000",
            "unitPrice": "100.0000000000",
            "extendedCost": "1560.00",
            "sourceDocument": {
             "key": null,
             "id": null,
             "documentType": null
            },
            "sourceDocumentLine": {
             "id": null,
             "key": null,
             "documentType": null
            },
            "txnCurrency": "USD",
            "baseCurrency": "USD",
            "priceInTxnCurrency": "100.0000000000",
            "extendedPriceInTxnCurrency": "1294.32",
            "enableTax": null,
            "isBillable": true,
            "isBilled": null,
            "taxRate": null,
            "taxInBaseCurrency": "0.00",
            "discount": null,
            "taxInTxnCurrency": null,
            "priceConverted": "0.0000000000",
            "conversionType": "quantity",
            "quantityToleranceVariance": null,
            "priceToleranceVariance": null,
            "requestedShippingDate": null,
            "doNotShipBeforeDate": null,
            "doNotShipAfterDate": null,
            "deliveryDueDate": null,
            "orderConfirmationDate": null,
            "approvalState": "approved",
            "cancelAfterDate": null,
            "relatedDocument": {
             "id": "5151",
             "key": "5151",
             "documentNumber": "PO0550",
             "href": "/objects/purchasing/document/5151"
            },
            "relatedDocumentLine": {
             "key": "13965",
             "id": "13965",
             "unitQuantity": "10.0000000000",
             "extendedPriceInTxnCurrency": "1294.3200000000",
             "extendedCost": "1560.0000000000",
             "href": "/objects/purchasing/document-line/13965"
            },
            "revision": {
             "unitQuantity": 10,
             "quantity": 10,
             "unitValue": "80.00",
             "value": "80.00",
             "valueInTxnCurrency": "100.00",
             "price": "100.0000000000",
             "unitPrice": "100.0000000000",
             "priceInTxnCurrency": "100.0000000000"
            },
            "draft": {
             "unitQuantity": 10,
             "quantity": 10,
             "price": "20.0000000000",
             "basePrice": "20.0000000000"
            },
            "posted": {
             "quantity": "20.0000000000",
             "price": "10.0000000000",
             "basePrice": "10.0000000000"
            },
            "primaryDocument": {
             "key": "3669",
             "id": "3669",
             "documentNumber": "PO-Source01-R2-81",
             "href": "/objects/purchasing/document/3669"
            },
            "primaryDocumentLine": {
             "key": "9156",
             "id": "9156",
             "href": "/objects/purchasing/document-line/9156"
            },
            "addedByChangeDocument": false,
            "isReverseConversion": true,
            "reverseConversion": {
             "price": "100.0000000000",
             "quantity": "10.0000000000",
             "standardPrice": "100.0000000000",
             "standardQuantity": "10.0000000000",
             "totalConvertedAmount": "1000.0000000000",
             "totalRemainingAmount": "500.0000000000"
            },
            "retainage": {
             "percentage": "10.00",
             "baseAmountRetained": "10.00",
             "txnAmountRetained": "10.00",
             "extendedPriceNetAmount": "1000.0000000000",
             "extendedBasePriceNetAmount": "1000.0000000000"
            },
            "taxSchedule": {
             "key": "150",
             "id": "PO_TaxSchedule_2_5_Per",
             "href": "/objects/tax/purchasing-tax-schedule/150"
            },
            "allocation": {
             "id": null,
             "key": null
            },
            "quantityRemaining": "10.0000000000",
            "deliveryMethod": {
             "key": null,
             "id": null
            },
            "amortizationTemplate": {
             "key": "315",
             "id": "Monthly_12_CCA",
             "href": "/objects/accounts-payable/amortization-template/315"
            },
            "amortizationStartDate": "2024-01-01",
            "amortizationEndDate": "2024-12-31",
            "trackingDetail": [],
            "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/43"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/purchasing/document-line::{documentName}": {
   "parameters": [
    {
     "name": "documentName",
     "in": "path",
     "required": true,
     "example": "Purchase Order",
     "schema": {
      "type": "string"
     },
     "description": "Document Name"
    }
   ],
   "get": {
    "summary": "List lines for named documents",
    "description": "Returns a collection with a key, ID, and link for each line that exists in purchasing documents with the specified name. For example, to list all lines within documents that are based on the Purchase Order transaction definition, specify `Purchase Order` as the `documentName` in the request URL.\n\nThis operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Purchasing_Document lines"
    ],
    "operationId": "list-purchasing-named-document-line",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of purchasing-document-line objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List lines for named documents": {
          "value": {
           "ia::result": [
            {
             "key": "43",
             "id": "43",
             "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/43"
            },
            {
             "key": "46",
             "id": "46",
             "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/46"
            },
            {
             "key": "52",
             "id": "52",
             "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/52"
            }
           ],
           "ia::meta": {
            "totalCount": 13,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a document line",
    "description": "Creates a new purchasing document line.",
    "tags": [
     "Purchasing_Document lines"
    ],
    "operationId": "create-purchasing-named-document-line",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.purchasing.document-line"
         },
         {
          "$ref": "#/components/schemas/purchasing-document-lineRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a document line": {
         "value": {
          "documentHeader": {
           "key": "356"
          },
          "dimensions": {
           "item": {
            "id": "1"
           },
           "warehouse": {
            "id": "42"
           },
           "location": {
            "id": "5"
           }
          },
          "unit": "Each",
          "unitQuantity": "1",
          "unitPrice": "650"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New document line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new document line": {
          "value": {
           "ia::result": {
            "key": "61",
            "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/61"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/purchasing/document-line::{documentName}/{key}": {
   "parameters": [
    {
     "name": "documentName",
     "in": "path",
     "required": true,
     "example": "Purchase Order",
     "schema": {
      "type": "string"
     },
     "description": "Document name"
    },
    {
     "name": "key",
     "description": "System-assigned unique key for the document line.",
     "in": "path",
     "required": true,
     "example": "52",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a line in a named document",
    "description": "Returns detailed information for a specified purchasing document line. For example, to get a line within a document that is based on the PO Receiver Invoice transaction definition, specify `PO Receiver Invoice` for the `documentName` in the request URL.",
    "tags": [
     "Purchasing_Document lines"
    ],
    "operationId": "get-purchasing-named-document-line-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the purchasing-document-line",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.purchasing.document-line"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a document line": {
          "value": {
           "ia::result": {
            "id": "43",
            "key": "43",
            "documentHeader": {
             "key": "66",
             "id": "PO Receiver Invoice-Po-0201-Rec",
             "documentType": "PO Receiver Invoice",
             "href": "/objects/purchasing/document::PO%20Receiver%20Invoice/66"
            },
            "documentType": "PO Receiver Invoice",
            "lineNumber": 0,
            "dimensions": {
             "item": {
              "key": "15",
              "id": "Car_Battery",
              "name": "Battery for Car",
              "href": "/objects/inventory-control/item/15"
             },
             "warehouse": {
              "id": "WareHouse10004",
              "key": "4",
              "href": "/objects/inventory-control/warehouse/4"
             },
             "location": {
              "id": "1",
              "key": "6",
              "href": "/objects/company-config/location/6"
             },
             "department": {
              "id": null,
              "key": null
             },
             "project": {
              "key": "1",
              "id": "DIM - BTI",
              "href": "/objects/projects/project/1"
             },
             "task": {
              "key": "1",
              "id": "TSK-RT-0001",
              "href": "/objects/projects/task/1"
             },
             "customer": {
              "key": "14",
              "id": "BTI",
              "name": "Berkeley Technology Inc",
              "href": "/objects/accounts-receivable/customer/14"
             },
             "vendor": {
              "key": "48",
              "id": "202",
              "name": "Pac Bell",
              "href": "/objects/accounts-payable/vendor/48"
             },
             "employee": {
              "key": null,
              "id": null,
              "name": null
             },
             "class": {
              "key": "2",
              "id": "SS",
              "name": "Software & Services",
              "href": "/objects/company-config/class/2"
             },
             "costType": {
              "key": "16",
              "id": "EQR",
              "name": "Equipment Rental DIM-BTI 0001",
              "href": "/objects/construction/cost-type/16"
             }
            },
            "item": {
             "key": "15",
             "id": "Car_Battery",
             "href": "/objects/inventory-control/item/15"
            },
            "lineDescription": "Computer",
            "unit": "10 Pack",
            "memo": "Computer",
            "quantity": "1.0000000000",
            "quantityConverted": "1.0000000000",
            "retailPrice": "0.0000000000",
            "price": "100.0000000000",
            "audit": {
             "createdDateTime": "2024-02-01T00:00:00Z",
             "modifiedDateTime": "2024-07-22T07:49:15Z",
             "createdByUser": {
              "key": "1",
              "href": "/objects/company-config/user/1"
             },
             "createdBy": "1",
             "modifiedByUser": {
              "key": "120",
              "href": "/objects/company-config/user/120"
             },
             "modifiedBy": "120"
            },
            "status": "active",
            "costMethod": "standard",
            "unitQuantity": "1.0000000000",
            "unitPrice": "100.0000000000",
            "extendedCost": "1560.00",
            "sourceDocument": {
             "key": null,
             "id": null,
             "documentType": null
            },
            "sourceDocumentLine": {
             "id": null,
             "key": null,
             "documentType": null
            },
            "txnCurrency": "USD",
            "baseCurrency": "USD",
            "priceInTxnCurrency": "100.0000000000",
            "extendedPriceInTxnCurrency": "1294.32",
            "enableTax": null,
            "isBillable": true,
            "isBilled": null,
            "taxRate": null,
            "taxInBaseCurrency": "0.00",
            "discount": null,
            "taxInTxnCurrency": null,
            "priceConverted": "0.0000000000",
            "conversionType": "quantity",
            "quantityToleranceVariance": null,
            "priceToleranceVariance": null,
            "requestedShippingDate": null,
            "doNotShipBeforeDate": null,
            "doNotShipAfterDate": null,
            "deliveryDueDate": null,
            "orderConfirmationDate": null,
            "cancelAfterDate": null,
            "relatedDocument": {
             "id": "5151",
             "key": "5151",
             "documentNumber": "PO0550",
             "href": "/objects/purchasing/document/5151"
            },
            "relatedDocumentLine": {
             "key": "13965",
             "id": "13965",
             "unitQuantity": "10.0000000000",
             "extendedPriceInTxnCurrency": "1294.3200000000",
             "extendedCost": "1560.0000000000",
             "href": "/objects/purchasing/document-line/13965"
            },
            "revision": {
             "unitQuantity": 10,
             "quantity": 10,
             "unitValue": "80.00",
             "value": "80.00",
             "valueInTxnCurrency": "100.00",
             "price": "100.0000000000",
             "unitPrice": "100.0000000000",
             "priceInTxnCurrency": "100.0000000000"
            },
            "draft": {
             "unitQuantity": 10,
             "quantity": 10,
             "price": "20.0000000000",
             "basePrice": "20.0000000000"
            },
            "posted": {
             "quantity": "20.0000000000",
             "price": "10.0000000000",
             "basePrice": "10.0000000000"
            },
            "primaryDocument": {
             "key": "3669",
             "id": "3669",
             "documentNumber": "PO-Source01-R2-81",
             "href": "/objects/purchasing/document/3669"
            },
            "primaryDocumentLine": {
             "key": "9156",
             "id": "9156",
             "href": "/objects/purchasing/document-line/9156"
            },
            "addedByChangeDocument": false,
            "isReverseConversion": true,
            "reverseConversion": {
             "price": "100.0000000000",
             "quantity": "10.0000000000",
             "standardPrice": "100.0000000000",
             "standardQuantity": "10.0000000000",
             "totalConvertedAmount": "1000.0000000000",
             "totalRemainingAmount": "500.0000000000"
            },
            "retainage": {
             "percentage": "10.00",
             "baseAmountRetained": "10.00",
             "txnAmountRetained": "10.00",
             "extendedPriceNetAmount": "1000.0000000000",
             "extendedBasePriceNetAmount": "1000.0000000000"
            },
            "taxSchedule": {
             "key": "150",
             "id": "PO_TaxSchedule_2_5_Per",
             "href": "/objects/tax/purchasing-tax-schedule/150"
            },
            "allocation": {
             "id": null,
             "key": null
            },
            "quantityRemaining": "10.0000000000",
            "deliveryMethod": {
             "key": null,
             "id": null
            },
            "trackingDetail": [],
            "href": "/objects/purchasing/document-line::PO%20Receiver%20Invoice/43"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
[...]
