{
 "openapi": "3.0.3",
 "info": {
  "title": "Tax",
  "version": "1",
  "description": "Sage Intacct provides support for determining, capturing, and reporting on sales tax, VAT, and GST."
 },
 "servers": [
  {
   "url": "https://api.intacct.com/ia/api/v1",
   "x-try-it": "sage-intacct-api"
  }
 ],
 "tags": [
  {
   "name": "Tax_Order Entry tax details",
   "x-displayName": "Order Entry tax details",
   "description": "Order Entry tax details describe a specific type of tax that applies to lines in Accounts Receivable and Order Entry transactions. When Sage Intacct calculates taxes, the tax schedule map applies the tax details to the taxable lines. See [Tax details&mdash;Taxes application](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/VAT_and_GST/Setup/Tax_objects/tax-details.htm) for more information.\n"
  },
  {
   "name": "Tax_Order Entry tax schedules",
   "x-displayName": "Order Entry tax schedules",
   "description": "An Order Entry tax schedule identifies the tax details that are applied when the schedule is referenced by an Order Entry tax schedule map. See [Tax schedules&mdash;Taxes application](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/VAT_and_GST/Setup/Tax_objects/tax-schedules.htm) for more information.\n"
  },
  {
   "name": "Tax_Order Entry tax schedule details",
   "x-displayName": "Order Entry tax schedule details",
   "description": "Use Order Entry tax schedule detail to associate a tax detail to the date when it becomes effective."
  },
  {
   "name": "Tax_Purchasing tax details",
   "x-displayName": "Purchasing tax details",
   "description": "Purchasing tax details describe a specific type of tax that applies to lines in Accounts Payable and Purchasing transactions. When Sage Intacct calculates taxes, the tax schedule map applies the tax details to the taxable lines. See [Tax details&mdash;Taxes application](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/VAT_and_GST/Setup/Tax_objects/tax-details.htm) for more information.\n"
  },
  {
   "name": "Tax_Purchasing tax schedules",
   "x-displayName": "Purchasing tax schedules",
   "description": "A Purchasing tax schedule identifies the tax details that are applied when the schedule is referenced by a Purchasing tax schedule map. See [Tax schedules&mdash;Taxes application](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/VAT_and_GST/Setup/Tax_objects/tax-schedules.htm) for more information.\n"
  },
  {
   "name": "Tax_Purchasing tax schedule details",
   "x-displayName": "Purchasing tax schedule details",
   "description": "Use Purchasing tax schedule detail to associate a tax detail to the date when it becomes effective."
  },
  {
   "name": "Tax_Tax authorities",
   "x-displayName": "Tax authorities",
   "description": "Tax authorities are agencies for whom you collect sales tax or other taxes. For example, in the United States, you might report and pay any tax you owe to city, county, and state agencies. Tax authorities are shared across Accounts Payable, Accounts Receivable, Order Entry, and Purchasing. See [Tax authorities&mdash;Taxes application](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/VAT_and_GST/Setup/Tax_objects/tax-authorities.htm) for more information.\n"
  },
  {
   "name": "Tax_Contact tax groups",
   "x-displayName": "Contact tax groups",
   "description": "Contact tax groups enable taxes to be applied to customers, vendors, and their contacts, according to their jurisdictions. Applicable only with Advanced Tax, for more information see [Contact Tax Groups-Advanced Tax](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/Sales_tax/Intacct_Advanced_Tax/Setup/advtax-contact-tax-groups.htm)."
  },
  {
   "name": "Tax_Item tax groups",
   "x-displayName": "Item tax groups",
   "description": "Item tax groups enable taxes to be applied to items. Applicable only with Advanced Tax, for more information see [Item Tax Groups-Advanced Tax](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/Sales_tax/Intacct_Advanced_Tax/Setup/advtax-item-tax-groups.htm)."
  },
  {
   "name": "Tax_Tax returns",
   "x-displayName": "Tax returns",
   "description": "You can submit a tax return through Sage Regulatory Reporting for Australia, Canada, South Africa, and the United Kingdom.\nMulti-entity companies typically submit taxes from the top level.\nYou can submit taxes for an individual entity only if the entity has a unique tax ID.\nFor more information, see [Submit taxes](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/VAT_and_GST/Use/Submit_taxes/submit-taxes.htm)."
  },
  {
   "name": "Tax_Tax solutions",
   "x-displayName": "Tax solutions",
   "description": "A tax solution provides the underlying mechanism (tax engine) for capturing and reporting taxes. A tax solution also includes information about the GL accounts for input and output taxes as well as the start date of the first tax submission period. Pre-configured tax solutions are only available for AU, CAN, FR, GB, and ZA."
  },
  {
   "name": "Tax_Account label tax groups",
   "x-displayName": "Account label tax groups",
   "description": "Account label tax groups organize account labels under one tax category. Along with tax schedule maps, they associate tax schedules with one or more combinations of contact tax groups and account label tax groups.\n\nApplicable when using Advanced Tax with the Accounts Receivable application without the Taxes application. For more information see [Item Tax Groups-Advanced Tax](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/Sales_tax/Intacct_Advanced_Tax/Setup/account-label-tax-groups.htm)."
  },
  {
   "name": "Tax_Tax details",
   "x-displayName": "Tax details",
   "description": "Tax details describe a specific type of tax that applies to lines in a transaction. When Sage Intacct calculates taxes, the tax schedule map applies the tax details to the taxable lines. See [Tax details&mdash;Taxes application](https://www.intacct.com/ia/docs/en_US/help_action/Taxes/Indirect_Tax/VAT_and_GST/Setup/Tax_objects/tax-details.htm) for more information."
  },
  {
   "name": "Tax_Tax records",
   "x-displayName": "Tax records",
   "description": "Tax records capture VAT or GST related tax entries for tax compliance and reporting."
  }
 ],
 "paths": {
  "/objects/tax/order-entry-tax-detail": {
   "get": {
    "summary": "List Order Entry tax details",
    "description": "Returns a collection with a key, ID, and link for each Order Entry tax detail. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Tax_Order Entry tax details"
    ],
    "operationId": "list-tax-order-entry-tax-detail",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of order-entry-tax-detail objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List Order Entry tax details": {
          "value": {
           "ia::result": [
            {
             "key": "82",
             "id": "UK Sale Goods Exempt Rate",
             "href": "/objects/tax/order-entry-tax-detail/82"
            },
            {
             "key": "83",
             "id": "UK Sale Goods Reduced Rate",
             "href": "/objects/tax/order-entry-tax-detail/83"
            },
            {
             "key": "84",
             "id": "UK Sale Goods Standard Rate",
             "href": "/objects/tax/order-entry-tax-detail/84"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an Order Entry tax detail",
    "description": "Creates a new Order Entry tax detail.",
    "tags": [
     "Tax_Order Entry tax details"
    ],
    "operationId": "create-tax-order-entry-tax-detail",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.order-entry-tax-detail"
         },
         {
          "$ref": "#/components/schemas/tax-order-entry-tax-detailRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an Order Entry tax detail": {
         "value": {
          "id": "UK General Export Reduced Rate",
          "taxUniqueId": "GB.ECOutput_GB.ExemptGB.VAT",
          "description": "Reduced Rate for UK General Export",
          "taxPercent": 10.02,
          "taxLimit": {
           "minTax": 10,
           "maxTax": 150,
           "minTaxable": 10,
           "maxTaxable": 2000
          },
          "amountToTax": "fullAmount",
          "salesGLAccount": {
           "id": "1200.01"
          },
          "taxAuthority": {
           "id": "California"
          },
          "taxSolution": {
           "id": "United Kingdom - VAT"
          },
          "status": "active",
          "taxRate": "standard",
          "useExpenseAccount": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New order-entry-tax-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New Order Entry tax detail": {
          "value": {
           "ia::result": {
            "key": "308",
            "id": "UK General Export Reduced Rate",
            "href": "/objects/tax/order-entry-tax-detail/308"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/order-entry-tax-detail/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the Order Entry tax detail.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "308"
    }
   ],
   "get": {
    "summary": "Get an Order Entry tax detail",
    "description": "Returns detailed information for a specified Order Entry tax detail.",
    "tags": [
     "Tax_Order Entry tax details"
    ],
    "operationId": "get-tax-order-entry-tax-detail-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the order-entry-tax-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.order-entry-tax-detail"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an Order Entry tax detail": {
          "value": {
           "ia::result": {
            "key": "308",
            "id": "UK General Export Reduced Rate",
            "taxUniqueId": "GB.ECOutput_GB.ExemptGB.VAT",
            "description": "Reduced Rate for UK General Export",
            "taxPercent": 10.02,
            "taxLimit": {
             "minTax": 10,
             "maxTax": 150,
             "minTaxable": 10,
             "maxTaxable": 2000
            },
            "amountToTax": "fullAmount",
            "salesGLAccount": {
             "id": "1200.01--Accounts Receivable - a/c label offset"
            },
            "accountLabel": {
             "id": "Accounting Fees",
             "key": "14"
            },
            "taxAuthority": {
             "id": "California",
             "key": "24",
             "href": "/objects/tax/tax-authority/24"
            },
            "status": "active",
            "isSystemGenerated": false,
            "reverseCharge": false,
            "germanTaxDetailKey": null,
            "taxRate": "standard",
            "taxSolution": {
             "id": "United Kingdom - VAT",
             "key": "1",
             "href": "/objects/tax/tax-solution/1"
            },
            "useExpenseAccount": false,
            "href": "/objects/tax/order-entry-tax-detail/308"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an Order Entry tax detail",
    "description": "Updates an existing Order Entry tax detail by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Order Entry tax details"
    ],
    "operationId": "update-tax-order-entry-tax-detail-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.order-entry-tax-detail"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an Order Entry tax detail": {
         "value": {
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated order-entry-tax-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated Order Entry tax detail": {
          "value": {
           "ia::result": {
            "key": "308",
            "id": "UK General Export Reduced Rate",
            "href": "/objects/tax/order-entry-tax-detail/308"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an Order Entry tax detail",
    "description": "Deletes an Order Entry tax detail. Deleted tax details are removed from the system and can't be recovered.",
    "tags": [
     "Tax_Order Entry tax details"
    ],
    "operationId": "delete-tax-order-entry-tax-detail-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/order-entry-tax-schedule": {
   "get": {
    "summary": "List Order Entry tax schedules",
    "description": "Returns a collection with a key, ID, and link for each Order Entry tax schedule. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Order Entry tax schedules"
    ],
    "operationId": "list-tax-order-entry-tax-schedule",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of order-entry-tax-schedule objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List Order Entry tax schedules": {
          "value": {
           "ia::result": [
            {
             "key": "8",
             "id": "8",
             "href": "/objects/tax/order-entry-tax-schedule/8"
            },
            {
             "key": "9",
             "id": "9",
             "href": "/objects/tax/order-entry-tax-schedule/9"
            },
            {
             "key": "10",
             "id": "10",
             "href": "/objects/tax/order-entry-tax-schedule/10"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an Order Entry tax schedule",
    "description": "Creates a new Order Entry tax schedule.",
    "tags": [
     "Tax_Order Entry tax schedules"
    ],
    "operationId": "create-tax-order-entry-tax-schedule",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.order-entry-tax-schedule"
         },
         {
          "$ref": "#/components/schemas/tax-order-entry-tax-scheduleRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an Order Entry tax schedule": {
         "value": {
          "name": "TaxSched-00004",
          "description": "Sales Tax for New York",
          "taxSolution": {
           "key": 10
          },
          "status": "active",
          "lines": [
           {
            "taxDetail": {
             "id": "New York Sales Tax"
            },
            "effectiveDate": "2022-02-26"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New order-entry-tax-schedule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New Order Entry tax schedule": {
          "value": {
           "ia::result": {
            "key": "308",
            "id": "308",
            "href": "/objects/tax/order-entry-tax-schedule/308"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/order-entry-tax-schedule/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the Order Entry tax schedule.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string",
      "example": "162"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an Order Entry tax schedule",
    "description": "Returns detailed information for a specified Order Entry tax schedule.",
    "tags": [
     "Tax_Order Entry tax schedules"
    ],
    "operationId": "get-tax-order-entry-tax-schedule-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the order-entry-tax-schedule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.order-entry-tax-schedule"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an Order Entry tax schedule": {
          "value": {
           "ia::result": {
            "id": "162",
            "name": "Sales Tax New York",
            "key": "162",
            "description": "Sales Tax for New York",
            "status": "active",
            "isSystemGenerated": false,
            "taxSolution": {
             "id": "Avalara Tax",
             "key": "1",
             "href": "/objects/tax/tax-solution/1"
            },
            "lines": [
             {
              "taxSchedule": {
               "key": "162",
               "id": "162",
               "name": "Sales Tax New York",
               "href": "/objects/tax/order-entry-tax-schedule/162"
              },
              "key": "44",
              "id": "44",
              "taxDetail": {
               "id": "New York State Sales Tax",
               "key": "22",
               "href": "/objects/tax/order-entry-tax-detail/22"
              },
              "effectiveDate": "2022-02-03",
              "href": "/objects/tax/order-entry-tax-schedule-detail/44"
             }
            ],
            "href": "/objects/tax/order-entry-tax-schedule/162"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an Order Entry tax schedule",
    "description": "Updates an existing Order Entry tax schedule by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Order Entry tax schedules"
    ],
    "operationId": "update-tax-order-entry-tax-schedule-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.order-entry-tax-schedule"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true,
            "example": "162"
           }
          }
         }
        ]
       },
       "examples": {
        "Update a single value": {
         "value": {
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated order-entry-tax-schedule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated order entry tax schedule": {
          "value": {
           "ia::result": {
            "key": "162",
            "href": "/objects/tax/order-entry-tax-schedule/162"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an Order Entry tax schedule",
    "description": "Deletes an Order Entry tax schedule. Delete a tax schedule if it is no longer needed. Deleting a tax schedule removes it from the system so that it can't be recovered.",
    "tags": [
     "Tax_Order Entry tax schedules"
    ],
    "operationId": "delete-tax-order-entry-tax-schedule-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/order-entry-tax-schedule-detail": {
   "get": {
    "summary": "List Order Entry tax schedule details",
    "description": "Returns a collection with a key, ID, and link for each Order Entry tax schedule detail. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Order Entry tax schedule details"
    ],
    "operationId": "list-tax-order-entry-tax-schedule-detail",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of order-entry-tax-schedule-detail objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List Order Entry tax schedule details": {
          "value": {
           "ia::result": [
            {
             "key": "8",
             "id": "8",
             "href": "/objects/tax/order-entry-tax-schedule-detail/8"
            },
            {
             "key": "9",
             "id": "9",
             "href": "/objects/tax/order-entry-tax-schedule-detail/9"
            },
            {
             "key": "10",
             "id": "10",
             "href": "/objects/tax/order-entry-tax-schedule-detail/10"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/order-entry-tax-schedule-detail/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the Order Entry tax schedule detail.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string",
      "default": "162",
      "example": "162"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an Order Entry tax schedule detail",
    "description": "Returns detailed information for a specified Order Entry tax schedule detail.",
    "tags": [
     "Tax_Order Entry tax schedule details"
    ],
    "operationId": "get-tax-order-entry-tax-schedule-detail-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the order-entry-tax-schedule-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.order-entry-tax-schedule-detail"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an Order Entry tax schedule detail": {
          "value": {
           "ia::result": {
            "taxSchedule": {
             "key": "162",
             "id": "162",
             "name": "Tax Florida",
             "href": "/objects/tax/order-entry-tax-schedule/162"
            },
            "key": "44",
            "id": "44",
            "taxDetail": {
             "id": "Sales Tax California",
             "key": "22",
             "href": "/objects/tax/order-entry-tax-detail/22"
            },
            "effectiveDate": "2022-02-03",
            "href": "/objects/tax/order-entry-tax-schedule-detail/44"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/purchasing-tax-detail": {
   "get": {
    "summary": "List Purchasing tax details",
    "description": "Returns a collection with a key, ID, and link for each purchasing tax detail. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Tax_Purchasing tax details"
    ],
    "operationId": "list-tax-purchasing-tax-detail",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of purchasing-tax-detail objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List Purchasing tax details": {
          "value": {
           "ia::result": [
            {
             "key": "4",
             "id": "State Tax Arkansas",
             "href": "/objects/tax/purchasing-tax-detail/4"
            },
            {
             "key": "2",
             "id": "State Tax Alaska",
             "href": "/objects/tax/purchasing-tax-detail/2"
            },
            {
             "key": "3",
             "id": "State Tax Arizona",
             "href": "/objects/tax/purchasing-tax-detail/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a Purchasing tax detail",
    "description": "Creates a new Purchasing tax detail.",
    "tags": [
     "Tax_Purchasing tax details"
    ],
    "operationId": "create-tax-purchasing-tax-detail",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.purchasing-tax-detail"
         },
         {
          "$ref": "#/components/schemas/tax-purchasing-tax-detailRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a new Purchasing tax detail": {
         "value": {
          "id": "UK Import Services Standard Rate",
          "taxUniqueId": "GB.ECOutput_GB.ExemptGB.VAT",
          "description": "Standard Rate for UK Import Services",
          "taxPercent": 10.02,
          "taxLimit": {
           "minTax": 10,
           "maxTax": 150,
           "minTaxable": 10,
           "maxTaxable": 2000
          },
          "amountToTax": "fullAmount",
          "purchaseGLAccount": {
           "id": "1200.01"
          },
          "taxAuthority": {
           "id": "California"
          },
          "taxSolution": {
           "id": "United Kingdom - VAT"
          },
          "status": "active",
          "taxRate": "standard",
          "useExpenseAccount": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New purchasing-tax-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New Purchasing tax detail": {
          "value": {
           "ia::result": {
            "key": "304",
            "id": "Purchasing Tax Detail New",
            "href": "/objects/tax/purchasing-tax-detail/304"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/purchasing-tax-detail/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the Purchasing tax detail.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "304"
    }
   ],
   "get": {
    "summary": "Get a Purchasing tax detail",
    "description": "Returns detailed information for a specified Purchasing tax detail.",
    "tags": [
     "Tax_Purchasing tax details"
    ],
    "operationId": "get-tax-purchasing-tax-detail-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the purchasing-tax-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.purchasing-tax-detail"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a Purchasing tax detail": {
          "value": {
           "ia::result": {
            "key": "304",
            "id": "UK Import Services Standard Rate",
            "taxUniqueId": "GB.ECOutput_GB.ExemptGB.VAT",
            "description": "Standard Rate for UK Import Services",
            "taxPercent": 10.02,
            "taxLimit": {
             "minTax": 10,
             "maxTax": 150,
             "minTaxable": 10,
             "maxTaxable": 2000
            },
            "amountToTax": "fullAmount",
            "purchaseGLAccount": {
             "id": "1200.01--Accounts Receivable - a/c label offset",
             "key": "57",
             "href": "/objects/account/57"
            },
            "taxAuthority": {
             "id": "California",
             "key": "24",
             "href": "/objects/tax/tax-authority/24"
            },
            "status": "active",
            "isSystemGenerated": false,
            "reverseCharge": false,
            "germanTaxDetailKey": null,
            "taxRate": "standard",
            "taxSolution": {
             "id": "United Kingdom - VAT",
             "key": "1",
             "href": "/objects/tax/tax-solution/1"
            },
            "useExpenseAccount": false,
            "href": "/objects/tax/purchasing-tax-detail/304"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a Purchasing tax detail",
    "description": "Updates an existing Purchasing tax detail by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Purchasing tax details"
    ],
    "operationId": "update-tax-purchasing-tax-detail-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.purchasing-tax-detail"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a Purchasing tax detail": {
         "value": {
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated purchasing-tax-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated Purchasing tax detail": {
          "value": {
           "ia::result": {
            "key": "304",
            "id": "UK Import Services Standard Rate",
            "href": "/objects/tax/purchasing-tax-detail/304"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a Purchasing tax detail",
    "description": "Deletes a Purchasing tax detail. Deleted tax details are removed from the system and can't be recovered.",
    "tags": [
     "Tax_Purchasing tax details"
    ],
    "operationId": "delete-tax-purchasing-tax-detail-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/purchasing-tax-schedule": {
   "get": {
    "summary": "List Purchasing tax schedules",
    "description": "Returns a collection with a key, ID, and link for each Purchasing tax schedule. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Purchasing tax schedules"
    ],
    "operationId": "list-tax-purchasing-tax-schedule",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of purchasing-tax-schedule objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List Purchasing tax schedules": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "1",
             "href": "/objects/tax/purchasing-tax-schedule/1"
            },
            {
             "key": "2",
             "id": "2",
             "href": "/objects/tax/purchasing-tax-schedule/2"
            },
            {
             "key": "3",
             "id": "3",
             "href": "/objects/tax/purchasing-tax-schedule/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a Purchasing tax schedule",
    "description": "Creates a new Purchasing tax schedule.",
    "tags": [
     "Tax_Purchasing tax schedules"
    ],
    "operationId": "create-tax-purchasing-tax-schedule",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.purchasing-tax-schedule"
         },
         {
          "$ref": "#/components/schemas/tax-purchasing-tax-scheduleRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a Purchasing tax schedule": {
         "value": {
          "name": "TaxSched-00005",
          "description": "Purchase Tax for New York City",
          "taxSolution": {
           "key": 10
          },
          "status": "active",
          "lines": [
           {
            "taxDetail": {
             "id": "New York City Sales Tax"
            },
            "effectiveDate": "2022-02-26"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New purchasing-tax-schedule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "New Purchasing tax schedule": {
          "value": {
           "ia::result": {
            "key": "308",
            "id": "308",
            "href": "/objects/tax/purchasing-tax-schedule/308"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/purchasing-tax-schedule/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the Purchasing tax schedule.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string",
      "example": "162"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a Purchasing tax schedule",
    "description": "Returns detailed information for a specified Purchasing tax schedule.",
    "tags": [
     "Tax_Purchasing tax schedules"
    ],
    "operationId": "get-tax-purchasing-tax-schedule-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the purchasing-tax-schedule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.purchasing-tax-schedule"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a Purchasing tax schedule": {
          "value": {
           "ia::result": {
            "name": "Tax Florida",
            "id": "165",
            "key": "165",
            "description": "Purchase tax for Florida",
            "status": "active",
            "isSystemGenerated": false,
            "taxSolution": {
             "id": "Avalara Tax",
             "key": "1",
             "href": "/objects/tax/tax-solution/1"
            },
            "lines": [
             {
              "taxSchedule": {
               "key": "165",
               "id": "165",
               "name": "Tax Florida",
               "href": "/objects/tax/purchasing-tax-schedule/165"
              },
              "key": "44",
              "id": "44",
              "taxDetail": {
               "id": "Sales Tax Florida",
               "key": "22",
               "href": "/objects/tax/purchasing-tax-detail/22"
              },
              "effectiveDate": "2022-02-03",
              "href": "/objects/tax/purchasing-tax-schedule-detail/44"
             }
            ],
            "href": "/objects/tax/purchasing-tax-schedule/167"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a Purchasing tax schedule",
    "description": "Updates an existing Purchasing tax schedule by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Purchasing tax schedules"
    ],
    "operationId": "update-tax-purchasing-tax-schedule-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.purchasing-tax-schedule"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true,
            "example": "162"
           }
          }
         }
        ]
       },
       "examples": {
        "Update a single value": {
         "value": {
          "status": "inactive"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated purchasing-tax-schedule",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated Purchasing tax schedule": {
          "value": {
           "ia::result": {
            "key": "162",
            "href": "/objects/tax/purchasing-tax-schedule/162"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a Purchasing tax schedule",
    "description": "Deletes a Purchasing tax schedule. Delete a tax schedule if it is no longer needed. Deleting a tax schedule removes it from the system so that it can't be recovered.",
    "tags": [
     "Tax_Purchasing tax schedules"
    ],
    "operationId": "delete-tax-purchasing-tax-schedule-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/purchasing-tax-schedule-detail": {
   "get": {
    "summary": "List Purchasing tax schedule details",
    "description": "Returns a collection with a key, ID, and link for each Purchasing tax schedule detail. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Purchasing tax schedule details"
    ],
    "operationId": "list-tax-purchasing-tax-schedule-detail",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of purchasing-tax-schedule-detail objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List Purchasing tax schedule details": {
          "value": {
           "ia::result": [
            {
             "key": "8",
             "id": "8",
             "href": "/objects/tax/purchasing-tax-schedule-detail/8"
            },
            {
             "key": "9",
             "id": "9",
             "href": "/objects/tax/purchasing-tax-schedule-detail/9"
            },
            {
             "key": "10",
             "id": "10",
             "href": "/objects/tax/purchasing-tax-schedule-detail/10"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/purchasing-tax-schedule-detail/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the Purchasing tax schedule detail.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string",
      "example": "162",
      "default": "162"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a Purchasing tax schedule detail",
    "description": "Returns detailed information for a specified Purchasing tax schedule detail.",
    "tags": [
     "Tax_Purchasing tax schedule details"
    ],
    "operationId": "get-tax-purchasing-tax-schedule-detail-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the purchasing-tax-schedule-detail",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.purchasing-tax-schedule-detail"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a Purchasing tax schedule detail": {
          "value": {
           "ia::result": {
            "taxSchedule": {
             "key": "162",
             "id": "162",
             "name": "Tax Florida",
             "href": "/objects/tax/purchasing-tax-schedule/162"
            },
            "key": "44",
            "id": "44",
            "taxDetail": {
             "id": "Sales Tax California",
             "key": "22",
             "href": "/objects/tax/purchasing-tax-detail/22"
            },
            "effectiveDate": "2022-02-03",
            "href": "/objects/tax/purchasing-tax-schedule-detail/44"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-authority": {
   "get": {
    "summary": "List tax authorities",
    "description": "Returns a collection with a key, ID, and link for each tax authority. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.\n",
    "tags": [
     "Tax_Tax authorities"
    ],
    "operationId": "list-tax-tax-authority",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of tax-authority objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List tax authorities": {
          "value": {
           "ia::result": [
            {
             "key": "2",
             "id": "Alaska",
             "href": "/objects/tax/tax-authority/2"
            },
            {
             "key": "5",
             "id": "California",
             "href": "/objects/tax/tax-authority/5"
            },
            {
             "key": "3",
             "id": "Arizona",
             "href": "/objects/tax/tax-authority/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a tax authority",
    "description": "Creates a new tax authority.",
    "tags": [
     "Tax_Tax authorities"
    ],
    "operationId": "create-tax-tax-authority",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.tax-authority"
         },
         {
          "$ref": "#/components/schemas/tax-tax-authorityRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a tax authority": {
         "value": {
          "id": "Texas",
          "description": "Texas tax authority",
          "vendor": {
           "id": "Vendor_Visa_C"
          },
          "parent": {
           "id": "5"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Create a tax-authority",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create a tax authority": {
          "value": {
           "ia::result": {
            "key": "105",
            "id": "Texas",
            "href": "/objects/tax/tax-authority/105"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-authority/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the tax authority.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string",
      "example": "105"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a tax authority",
    "description": "Returns detailed information for a specified tax authority.",
    "tags": [
     "Tax_Tax authorities"
    ],
    "operationId": "get-tax-tax-authority-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the tax-authority",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.tax-authority"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a tax authority": {
          "value": {
           "ia::result": {
            "key": "105",
            "id": "Texas",
            "description": "Texas tax authority",
            "vendor": {
             "id": "Vendor_Visa_C",
             "key": "518",
             "href": "/objects/accounts-payable/vendor/518"
            },
            "parent": {
             "name": "California",
             "href": "/objects/tax/tax-authority/24"
            },
            "href": "/objects/tax/tax-authority/105"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a tax authority",
    "description": "Updates an existing tax authority by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Tax authorities"
    ],
    "operationId": "update-tax-tax-authority-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.tax-authority"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a tax authority": {
         "value": {
          "description": "Updated description"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated tax-authority",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Updated tax authority": {
          "value": {
           "ia::result": {
            "key": "105",
            "id": "Texas",
            "href": "/objects/tax/tax-authority/105"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a tax authority",
    "description": "Delete a tax authority that is no longer in use. After a tax authority is deleted, it can't be recovered.",
    "tags": [
     "Tax_Tax authorities"
    ],
    "operationId": "delete-tax-tax-authority-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/contact-tax-group": {
   "get": {
    "summary": "List contact tax groups",
    "description": "Returns a collection with a key, ID, and link for each contact tax group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Contact tax groups"
    ],
    "operationId": "list-tax-contact-tax-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of contact-tax-group objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List contact tax groups": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "Auto Contact Tax",
             "href": "/objects/tax/contact-tax-group/1"
            },
            {
             "key": "2",
             "id": "Electronic Contact Tax",
             "href": "/objects/tax/contact-tax-group/2"
            },
            {
             "key": "3",
             "id": "Gardening Contact Tax",
             "href": "/objects/tax/contact-tax-group/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a contact tax group",
    "description": "Creates a new contact tax group.",
    "tags": [
     "Tax_Contact tax groups"
    ],
    "operationId": "create-tax-contact-tax-group",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.contact-tax-group"
         },
         {
          "$ref": "#/components/schemas/tax-contact-tax-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a contact tax group": {
         "value": {
          "id": "Auto Contact Tax",
          "taxSolution": {
           "id": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New contact-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create a contact tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Contact Tax",
            "href": "/objects/tax/contact-tax-group/1"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/contact-tax-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the contact tax group.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a contact tax group",
    "description": "Returns detailed information for a specified contact tax group.",
    "tags": [
     "Tax_Contact tax groups"
    ],
    "operationId": "get-tax-contact-tax-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the contact-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.contact-tax-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the contact tax group": {
          "value": {
           "ia::result": {
            "key": "126",
            "id": "Australian Export Customers",
            "isVATEnabled": true,
            "href": "/objects/tax/contact-tax-group/126"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a contact tax group",
    "description": "Updates an existing contact tax group by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Contact tax groups"
    ],
    "operationId": "update-tax-contact-tax-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.contact-tax-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a contact tax group": {
         "value": {
          "taxSolution": {
           "id": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated contact-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Update a contact tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Contact Tax",
            "href": "/objects/tax/contact-tax-group/1"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a contact tax group",
    "description": "Deletes a contact tax group.",
    "tags": [
     "Tax_Contact tax groups"
    ],
    "operationId": "delete-tax-contact-tax-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/item-tax-group": {
   "get": {
    "summary": "List item tax groups",
    "description": "Returns a collection with a key, ID, and link for each item tax group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Item tax groups"
    ],
    "operationId": "list-tax-item-tax-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of item-tax-group objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List item tax groups": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "Auto Item Tax",
             "href": "/objects/tax/item-tax-group/1"
            },
            {
             "key": "2",
             "id": "Electronic Item Tax",
             "href": "/objects/tax/item-tax-group/2"
            },
            {
             "key": "3",
             "id": "Gardening Item Tax",
             "href": "/objects/tax/item-tax-group/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an item tax group",
    "description": "Creates a new item tax group.",
    "tags": [
     "Tax_Item tax groups"
    ],
    "operationId": "create-tax-item-tax-group",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.item-tax-group"
         },
         {
          "$ref": "#/components/schemas/tax-item-tax-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an item tax group": {
         "value": {
          "id": "Auto Item Tax",
          "taxSolution": {
           "id": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New item-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Create an item tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Item Tax",
            "href": "/objects/tax/item-tax-group/1"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/item-tax-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the item tax group.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an item tax group",
    "description": "Returns detailed information for a specified item tax group.",
    "tags": [
     "Tax_Item tax groups"
    ],
    "operationId": "get-tax-item-tax-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the item-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.item-tax-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Details of the item tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Item Tax",
            "isVATEnabled": true,
            "href": "/objects/tax/item-tax-group/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an item tax group",
    "description": "Updates an existing item tax group by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Item tax groups"
    ],
    "operationId": "update-tax-item-tax-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.item-tax-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an item tax group": {
         "value": {
          "taxSolution": {
           "id": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated item-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Update an item tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Item Tax",
            "href": "/objects/tax/item-tax-group/1"
           },
           "ia-meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an item tax group",
    "description": "Deletes an item tax group.",
    "tags": [
     "Tax_Item tax groups"
    ],
    "operationId": "delete-tax-item-tax-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-return": {
   "get": {
    "summary": "List tax returns",
    "description": "Returns a collection with a key, ID, and link for each tax return. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Tax returns"
    ],
    "operationId": "list-tax-tax-return",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List tax returns",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List tax returns": {
          "value": {
           "ia::result": [
            {
             "key": "9",
             "id": "9",
             "href": "/objects/tax/tax-return/9"
            },
            {
             "key": "54",
             "id": "54",
             "href": "/objects/tax/tax-return/54"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create a tax return",
    "description": "Creates a new tax return.",
    "tags": [
     "Tax_Tax returns"
    ],
    "operationId": "create-tax-tax-return",
    "requestBody": {
     "description": "Tax return to be created",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.tax-return"
         },
         {
          "$ref": "#/components/schemas/tax-tax-returnRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create a tax return": {
         "value": {
          "name": "VAT_Sub",
          "taxSolution": {
           "key": "1"
          },
          "taxId": "445025391",
          "recipientEmail": "apiuser@sage.com"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New tax-return",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new tax return": {
          "value": {
           "ia::result": {
            "id": "626",
            "key": "626",
            "href": "/objects/tax/tax-return/626"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-return/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the tax return.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get a tax return",
    "description": "Returns detailed information for a specified tax return.",
    "tags": [
     "Tax_Tax returns"
    ],
    "operationId": "get-tax-tax-return-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the tax-return",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.tax-return"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get a tax return": {
          "value": {
           "ia::result": {
            "id": "9",
            "key": "9",
            "name": "Tax return ABCompany Q3",
            "taxId": "30 616 935 623",
            "recipientEmail": "first.last@abcompany.com",
            "submissionPeriodStartDate": "2019-06-01",
            "submissionPeriodEndDate": "2020-02-29",
            "submissionDate": "2020-03-03",
            "submittersEmail": "joe.smith@abcompany.com",
            "legalCountryCode": "au",
            "setEmailAddressAsDefault": true,
            "currentStepStage": "submitToGovernment",
            "currentStepStatus": "completed",
            "adjustmentNotes": "Verified using tax solution",
            "bundleNumber": "891204442498",
            "receiptId": "4c907ee0-a76f-42a7-b582-1a3fb78ae4b8",
            "reportingEntity": {
             "key": "1",
             "id": "1",
             "href": "/objects/company-config/entity/1"
            },
            "taxSolution": {
             "id": "Australia - GST",
             "key": "2",
             "href": "/objects/tax/tax-solution/2"
            },
            "submissionType": null,
            "taxProcessingSteps": [
             {
              "stage": "prepareTaxData",
              "status": "completed",
              "description": "11 records eligible for submission.",
              "recentActivityDate": "2020-04-02"
             },
             {
              "stage": "transmitTaxData",
              "status": "completed",
              "description": "Source data successfully transmitted to Sage Regulatory Reporting. Ready to prepare tax return in Regulatory Reporting.",
              "recentActivityDate": "2020-04-03"
             },
             {
              "stage": "prepareTaxReturn",
              "status": "completed",
              "description": "The BAS report was generated. A PDF copy is available in the Related files section of this page.",
              "recentActivityDate": "2020-04-04"
             },
             {
              "stage": "submitToGovernment",
              "status": "completed",
              "description": "Submitted to Government",
              "recentActivityDate": "2020-03-03"
             },
             {
              "stage": "manualAdjustment",
              "status": "notApplicable",
              "description": "Manual Adjustment",
              "recentActivityDate": "2020-03-03"
             }
            ],
            "relatedFiles": [
             {
              "stage": "Prepare source tax data",
              "fileName": "transactions.json",
              "creationDate": "2020-03-03"
             },
             {
              "stage": "Prepare source tax data",
              "fileName": "business_info.json",
              "creationDate": "2020-03-03"
             },
             {
              "stage": "Prepare tax return in Sage Regulatory Reporting",
              "fileName": "detailed_report.csv",
              "creationDate": "2020-03-03"
             },
             {
              "stage": "Prepare tax return in Sage Regulatory Reporting",
              "fileName": "late_tax.csv",
              "creationDate": "2020-03-03"
             },
             {
              "stage": "Submit to government",
              "fileName": "gst_BAS.pdf",
              "creationDate": "2020-03-03"
             },
             {
              "stage": "Submit to government",
              "fileName": "gst_calculation.pdf",
              "creationDate": "2020-03-03"
             },
             {
              "stage": "Submit to government",
              "fileName": "manual_adjustments.csv",
              "creationDate": "2020-03-03"
             },
             {
              "stage": "Submit to government",
              "fileName": "submitted_source_entries",
              "creationDate": "2020-03-03"
             }
            ],
            "href": "/objects/tax/tax-return/9"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update a tax return",
    "description": "Updates an existing tax return by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Tax returns"
    ],
    "operationId": "update-tax-tax-return-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.tax-return"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update a tax return": {
         "value": {
          "adjustmentNotes": "Tax Submission notes"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated tax-return",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated tax return": {
          "value": {
           "ia::result": {
            "key": "105",
            "id": "105",
            "href": "/objects/tax/tax-return/105"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a tax return",
    "description": "Deletes a tax return.",
    "tags": [
     "Tax_Tax returns"
    ],
    "operationId": "delete-tax-tax-return-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-solution": {
   "get": {
    "summary": "List tax solutions",
    "description": "Returns a collection with a key, ID, and link for each solution. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find tax solutions that meet certain criteria and specify the properties that are returned.",
    "tags": [
     "Tax_Tax solutions"
    ],
    "operationId": "list-tax-tax-solution",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of tax-solution objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List tax solutions": {
          "value": {
           "ia::result": [
            {
             "key": "265",
             "id": "Oregon",
             "href": "/objects/tax/tax-solution/265"
            },
            {
             "key": "263",
             "id": "Alaska",
             "href": "/objects/tax/tax-solution/263"
            },
            {
             "key": "264",
             "id": "Montana",
             "href": "/objects/tax/tax-solution/264"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-solution/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned key for the tax solution.",
     "in": "path",
     "required": true,
     "example": "43",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "summary": "Get a tax solution",
    "description": "Returns detailed information for a specified tax solution.",
    "tags": [
     "Tax_Tax solutions"
    ],
    "operationId": "get-tax-tax-solution-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the tax solution",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.tax-solution"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "GET": {
          "value": {
           "key": "1",
           "id": "Australia - GST",
           "description": "Australian tax solution",
           "taxCalculationMethod": "VAT",
           "status": "active",
           "taxSolutionType": "standard",
           "taxSubmissionStartDate": "2019-05-01",
           "enableMultilineTax": false,
           "purchaseGLAccount": {
            "key": "7",
            "id": "6850.03",
            "href": "/objects/general-ledger/account/23"
           },
           "salesGLAccount": {
            "key": "9",
            "id": "6500.05",
            "href": "/objects/general-ledger/account/13"
           },
           "alternativeSetup": false,
           "lastUpdatedTaxDate": null,
           "href": "/objects/tax/tax-solution/1"
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete a tax solution",
    "description": "Deletes a tax solution. You must first delete any dependent objects such as tax schedules, tax groups, and tax \ndetails.  Deleted tax solutions are removed from the system and can't be recovered.",
    "tags": [
     "Tax_Tax solutions"
    ],
    "operationId": "delete-tax-tax-solution-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/account-label-tax-group": {
   "get": {
    "summary": "List account label tax groups",
    "description": "Returns a collection with a key, ID, and link for each account label tax group. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Account label tax groups"
    ],
    "operationId": "list-tax-account-label-tax-group",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of account-label-tax-group objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List account label tax groups": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "Auto Account Label Tax",
             "href": "/objects/tax/account-label-tax-group/1"
            },
            {
             "key": "2",
             "id": "Electronic Account Label Tax",
             "href": "/objects/tax/account-label-tax-group/2"
            },
            {
             "key": "3",
             "id": "Gardening Account Label Tax",
             "href": "/objects/tax/account-label-tax-group/3"
            }
           ],
           "ia::meta": {
            "totalCount": 3,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "post": {
    "summary": "Create an account label tax group",
    "description": "Creates a new account label tax group.",
    "tags": [
     "Tax_Account label tax groups"
    ],
    "operationId": "create-tax-account-label-tax-group",
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.account-label-tax-group"
         },
         {
          "$ref": "#/components/schemas/tax-account-label-tax-groupRequiredProperties"
         }
        ]
       },
       "examples": {
        "Create an account label tax group": {
         "value": {
          "id": "Auto Account Label Tax",
          "taxSolution": {
           "id": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "New account-label-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to new account label tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Account Label Tax",
            "href": "/objects/tax/account-label-tax-group/1"
           },
           "ia::meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/account-label-tax-group/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the account label tax group.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "99"
    }
   ],
   "get": {
    "summary": "Get an account label tax group",
    "description": "Returns detailed information for a specified account label tax group.",
    "tags": [
     "Tax_Account label tax groups"
    ],
    "operationId": "get-tax-account-label-tax-group-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Details of the account-label-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/objects.tax.account-label-tax-group"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Get an account label tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Account Label Tax",
            "href": "/objects/tax/account-label-tax-group/1"
           },
           "ia::meta": {
            "totalCount": 1,
            "totalSuccess": 1,
            "totalError": 0
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "patch": {
    "summary": "Update an account label tax group",
    "description": "Updates an existing account label tax group by setting field values. Any fields not provided remain unchanged.",
    "tags": [
     "Tax_Account label tax groups"
    ],
    "operationId": "update-tax-account-label-tax-group-key",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "$ref": "#/components/schemas/objects.tax.account-label-tax-group"
         },
         {
          "type": "object",
          "properties": {
           "id": {
            "readOnly": true
           }
          }
         }
        ]
       },
       "examples": {
        "Update an account label tax group": {
         "value": {
          "taxSolution": {
           "id": "1"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Updated account-label-tax-group",
         "properties": {
          "ia::result": {
           "$ref": "#/components/schemas/object-reference"
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata"
          }
         }
        },
        "examples": {
         "Reference to updated account label tax group": {
          "value": {
           "ia::result": {
            "key": "1",
            "id": "Auto Account Label Tax",
            "href": "/objects/tax/account-label-tax-group/1"
           },
           "ia-meta": {
            "totalCount": 1
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   },
   "delete": {
    "summary": "Delete an account label tax group",
    "description": "Deletes an account label tax group.",
    "tags": [
     "Tax_Account label tax groups"
    ],
    "operationId": "delete-tax-account-label-tax-group-key",
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-detail": {
   "get": {
    "summary": "List tax details",
    "description": "Returns a collection with a key, ID, and link for each tax detail. This operation is mostly for use in testing; use the [query service](/intacct/apis/intacct/1/intacct-openapi/groups/common-resources/tags/common_resources_query) to find objects that meet certain criteria and to specify properties that are returned.",
    "tags": [
     "Tax_Tax details"
    ],
    "operationId": "list-tax-tax-detail",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "List of tax-detail objects",
         "properties": {
          "ia::result": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/object-reference"
           }
          },
          "ia::meta": {
           "$ref": "#/components/schemas/metadata-pages"
          }
         }
        },
        "examples": {
         "List tax details": {
          "value": {
           "ia::result": [
            {
             "key": "1",
             "id": "CGST",
             "href": "/objects/tax/tax-detail/1"
            },
            {
             "key": "2",
             "id": "SGST",
             "href": "/objects/tax/tax-detail/2"
            }
           ],
           "ia::meta": {
            "totalCount": 2,
            "start": 1,
            "pageSize": 100,
            "next": null,
            "previous": null
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/400error"
     }
    },
    "security": [
     {
      "OAuth2": []
     }
    ]
   }
  },
  "/objects/tax/tax-detail/{key}": {
   "parameters": [
    {
     "name": "key",
     "description": "System-assigned unique key for the tax detail.",
     "in": "path",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "304"
    }
   ],
   "get": {
    "summary": "Get a tax detail",
    "description": "Returns detailed information for a specified tax detail.",
[...]
